Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Switch function signature to ord from p
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

formatting
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin version of transformers
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update depth
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Pin deepspeed, not transformers
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

move import inside op_builder
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add deepspeek autotp
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin transformers on a6000 tests
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Test with 4.47.1
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Commit EOD 12/24
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Identify breaking commit 12/17
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Unpin transformers
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Update to EOD 12/18
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

EOD 12/20
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

EOD 12/19
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Add deepseek autotp (#6937)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

midday 12/19
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Add earlier comment
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update midday 12/18
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

BOD 12/18
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update to midday
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Add position_ids arg to OPTEmbedding forward function (#6939)
  .github/workflows/nv-ds-chat.yml
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update again
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update to 9a94dfe1239ddfb8010a654aa1e677d56c01eee0
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

commit 2c47618c1a282f925446506d53108dc6e82d9ef0
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Add information on security expectations with this software
  SECURITY.md
Due: check-torchdist, check-torchcuda

Formatting
  SECURITY.md
Due: check-torchdist, check-torchcuda

Add information on security expectations with this software (#6941)
  SECURITY.md
Due: check-torchdist, check-torchcuda

Update pinned to latest official relase
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Support pure meta model lm_head tp (#6812)
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add debugging for hangs on cpu torch
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist, check-extraindexurl

Move debug vars up
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist, check-extraindexurl

Remove op compilation flags due to perf issue
  op_builder/hpu/builder.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

remove outdated comments
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enhance unit test coverage
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

update ut
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

sequential some tests
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

format
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

use parameterized save path
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove op compilation flags due to perf issue (#6944)
  op_builder/hpu/builder.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
