Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

pre-commit fixes
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

reverted to match branch
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

added destroy_process_group and barrier to end of run script
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

reverted old value in test
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

renamed variables, added explanation on example, set seed
  deepspeed/runtime/data_pipeline/config.py
  deepspeed/runtime/data_pipeline/constants.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

typo
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert CI debugging
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

added training on multiple epochs
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

enable verbose by default, missing final check on LR scaling
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add tutel support for top2
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_copy.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/deepspeed4science/evoformer_attn/gemm/mma_from_smem.h
  csrc/deepspeed4science/evoformer_attn/gemm_kernel_utils.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_iterator_atomic.h
  csrc/includes/simd.h
  csrc/xpu/adam/multi_tensor_apply.dp.hpp
  csrc/xpu/common/custom_cuda_kernel.dp.cpp
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
  deepspeed/moe/sharded_moe.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix ds-chat CI regression (#7015)
  deepspeed/module_inject/layers.py
  deepspeed/runtime/hybrid_engine.py
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Experiment with updated branch in DSE
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

cleaner log, selective verbose on rank 0 only
  deepspeed/runtime/data_pipeline/config.py
  deepspeed/runtime/data_pipeline/constants.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

final print fix. all good.
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

put verbose arg back
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enable fp_quantizer on ROCm
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[Ulysses tutorial] typos
  docs/_tutorials/ds-sequence.md
Due: check-torchcuda

[Ulysses tutorial] typos (#7024)
  docs/_tutorials/ds-sequence.md
Due: check-torchcuda

Update back to master branch now that DSE is updated
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Update ds-sequence.md
  docs/_tutorials/ds-sequence.md
Due: check-torchcuda

Try merge conflicts
  docs/_tutorials/ds-sequence.md
Due: check-torchcuda

fix hostname -I for macOS #6497 (#6990)
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda, check-extraindexurl

format fixes
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update workflows to cuda 12.4 (#7000)
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist, check-extraindexurl

[ROCm] Enable fp_quantizer on ROCm (#7027)
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update to support pyproject.toml
  pyproject.toml
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version briefly
  pyproject.toml
Due: check-torchdist, check-torchcuda

Missing quotes on file name
  pyproject.toml
Due: check-torchdist, check-torchcuda

Clean up errors
  pyproject.toml
Due: check-torchdist, check-torchcuda

Update to setuptools
  pyproject.toml
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Changes to setup.py
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Add pyproject.toml
  pyproject.toml
Due: check-torchdist, check-torchcuda

Formatting fix
  pyproject.toml
Due: check-torchdist, check-torchcuda

Include torch
  pyproject.toml
Due: check-torchdist, check-torchcuda

add gds chinese blog
  blogs/deepspeed-gds/chinese/README.md
Due: check-torchdist, check-torchcuda

format
  blogs/deepspeed-gds/chinese/README.md
Due: check-torchdist, check-torchcuda

add gds chinese blog (#7034)
  blogs/deepspeed-gds/chinese/README.md
Due: check-torchdist, check-torchcuda

Add chinese blog for deepspeed windows, and fix format
  README.md
  blogs/windows/08-2024/README.md
  blogs/windows/08-2024/chinese/README.md
Due: check-torchdist, check-torchcuda

Add chinese blog for deepspeed windows, and fix format (#7035)
  README.md
  blogs/windows/08-2024/README.md
  blogs/windows/08-2024/chinese/README.md
Due: check-torchdist, check-torchcuda
