Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Update release.yml
  .github/workflows/release.yml
Due: check-torchdist

Fix incorrect assignment of self.quantized_nontrainable_weights (#4399)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Meaningful param names that are stable across runs
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
  deepspeed/runtime/swap_tensor/pipelined_optimizer_swapper.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

NVMe checkpoint saving
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

NVMe checkpoint load
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Reset swap state post load
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Allow env var for timeout
  deepspeed/constants.py
Due: check-torchdist, check-license, check-torchcuda

Introduce pydantic_v1 compatibility module for pydantic>=2.0.0 support
  deepspeed/comm/config.py
  deepspeed/inference/config.py
  deepspeed/monitor/config.py
  deepspeed/pydantic_v1.py
  deepspeed/runtime/config_utils.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/offload_config.py
  environment.yml
  requirements/requirements-readthedocs.txt
  requirements/requirements.txt
  tests/unit/runtime/test_ds_config_model.py
Due: check-torchdist, check-license, check-torchcuda

fix format error
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

update deepspeed4science blog
  blogs/deepspeed4science/chinese/README.md
  blogs/deepspeed4science/japanese/README.md
  blogs/deepspeed4science/media/Figure2-1.jpg
  blogs/deepspeed4science/media/Figure2-1.png
Due: check-torchdist, check-torchcuda

update deepspeed4science blog (#4408)
  blogs/deepspeed4science/chinese/README.md
  blogs/deepspeed4science/japanese/README.md
  blogs/deepspeed4science/media/Figure2-1.jpg
  blogs/deepspeed4science/media/Figure2-1.png
Due: check-torchdist, check-torchcuda

add coresponding func in cclbackend
  csrc/cpu/comm/ccl.cpp
  deepspeed/comm/ccl.py
Due: check-torchdist, check-license, check-torchcuda

add coresponding pybind func
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

Update csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/common/deepspeed_aio_common.cpp
Due: check-torchdist, check-license, check-torchcuda

Get Ubuntu version info
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

id to name
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Add license header
  deepspeed/pydantic_v1.py
Due: check-torchdist, check-license, check-torchcuda

Update nv-transformers workflow to use cu11.6
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Add torch no grad condition (#4391)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Update nv-transformers workflow to use cu11.6 (#4412)
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Add condition when dimension is greater than 2 (#4390)
  deepspeed/runtime/zero/linear.py
Due: check-torchdist, check-license, check-torchcuda

add CPU autotp UT (#4263)
  .github/workflows/cpu-inference.yml
  tests/unit/hybrid_engine/test_he_all.py
  tests/unit/hybrid_engine/test_he_llama.py
  tests/unit/hybrid_engine/test_he_lora.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Fixup check release version script
  release/check_release_version.py
  release/release.sh
Due: check-torchdist, check-license, check-torchcuda

support baichuan model (#14)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

fix lm head overriden issue, move it from checkpoint in-loop loading to out loop
  deepspeed/module_inject/load_checkpoint.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

add license
  op_builder/npu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda

add a white change that breaks formatting
  setup.py
Due: check-torchdist, check-license

Add forgotten checkpoint copy logic
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

add version check and change format
  csrc/aio/common/deepspeed_aio_common.cpp
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda

Update formatting
  release/check_release_version.py
Due: check-torchdist, check-license, check-torchcuda

fix: wrong documentation of `ignore_unused_parameters`
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda

Revert "add CPU autotp UT (#4263)"
  .github/workflows/cpu-inference.yml
  tests/unit/hybrid_engine/test_he_all.py
  tests/unit/hybrid_engine/test_he_llama.py
  tests/unit/hybrid_engine/test_he_lora.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Fix cpu_inference
  .github/workflows/cpu-inference.yml
Due: check-torchdist

fix cpu loading model partition OOM (#4353)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Missing -m
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Revert change to yml
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Skip all of test inference
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Remove allow module level
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Update cp_inf wokrflow
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
