Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Try without checkout action uses
  .github/workflows/amd-mi200.yml
Due: check-torchdist

refactor torch version check function
  tests/unit/checkpoint/test_moe_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/compression/test_compression.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
  tests/unit/moe/test_moe.py
  tests/unit/moe/test_moe_tp.py
  tests/unit/profiling/flops_profiler/test_flops_profiler.py
  tests/unit/runtime/half_precision/onebit/test_onebit.py
  tests/unit/runtime/half_precision/test_fp16.py
  tests/unit/runtime/test_ds_initialize.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

use cpu adam to implement fused adam
  csrc/cpu/adam/fused_adam.cpp
Due: check-torchdist, check-license, check-torchcuda

enable zero stage 1 and 2 for synchronized accelerator (a.k.a. CPU)
  accelerator/cpu_accelerator.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

remove unused parameters
  csrc/cpu/adam/cpu_adam.h
  csrc/cpu/adam/fused_adam.cpp
Due: check-torchdist, check-license, check-torchcuda

remove skip FusedAdamBuilder; add suported_dtypes
  accelerator/cpu_accelerator.py
  deepspeed/runtime/engine.py
  tests/unit/checkpoint/test_latest_checkpoint.py
  tests/unit/comm/test_dist.py
  tests/unit/elasticity/test_elastic.py
Due: check-torchdist, check-license, check-torchcuda

Update tests/unit/comm/test_dist.py
  tests/unit/comm/test_dist.py
Due: check-license, check-torchcuda

fix format
  op_builder/cpu/fused_adam.py
  tests/unit/checkpoint/test_latest_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Rename file
  .github/ISSUE_TEMPLATE/ci_failure_report.md
Due: check-torchdist, check-torchcuda

Add dtype from accelerator interface
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Update util.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Engine side fix for loading llama checkpoint fine-tuned with zero3
  deepspeed/module_inject/containers/llama.py
Due: check-torchdist, check-license, check-torchcuda

Removing need to grad_reduc attribute.
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Update variables
  .github/ISSUE_TEMPLATE/ci_failure_report.md
Due: check-torchdist, check-torchcuda

cleanup mics
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

cleanup mics
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

replace get_accelerator().current_device()
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Switch to torch.linalg.norm
  deepspeed/compression/basic_layer.py
  deepspeed/runtime/comm/mpi.py
  deepspeed/runtime/comm/nccl.py
  deepspeed/runtime/fp16/onebit/lamb.py
  tests/unit/hybrid_engine/test_he_lora.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting
  deepspeed/runtime/fp16/onebit/lamb.py
Due: check-torchdist, check-license, check-torchcuda

Update issue template
  .github/ISSUE_TEMPLATE/ci_failure_report.md
Due: check-torchdist, check-torchcuda

different port ranges for xdist workers (#3975)
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

fix duplicated unit test issue (#3951)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Confirm removing permissions still work
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Switch to torch.linalg.norm (#3984)
  deepspeed/compression/basic_layer.py
  deepspeed/runtime/comm/mpi.py
  deepspeed/runtime/comm/nccl.py
  deepspeed/runtime/fp16/onebit/lamb.py
  tests/unit/hybrid_engine/test_he_lora.py
Due: check-torchdist, check-license, check-torchcuda

Revert "Confirm removing permissions still work"
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Re-enable permissions
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Remove PR trigger for AMD MI200 tests
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Revert "Remove PR trigger for AMD MI200 tests"
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Test update_existing
  .github/workflows/amd-mi200.yml
Due: check-torchdist

fix format error
  csrc/cpu/adam/cpu_adam.h
  csrc/cpu/adam/fused_adam.cpp
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

Change the unimplemented builder name to the same for each backend
  accelerator/cpu_accelerator.py
  accelerator/npu_accelerator.py
  op_builder/cpu/__init__.py
  op_builder/cpu/no_impl.py
  op_builder/npu/__init__.py
  op_builder/npu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda

Simplify chain comparisons, remove redundant parentheses (#3912)
  deepspeed/compression/scheduler.py
  deepspeed/elasticity/elasticity.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda

Cleanup
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

support HBM in utils/numa.py (#3918)
  accelerator/cpu_accelerator.py
  deepspeed/utils/numa.py
Due: check-torchdist, check-license, check-torchcuda

Fix checkpoint conversion when model layers share weights (#3825)
  deepspeed/runtime/engine.py
  tests/unit/checkpoint/test_shared_weights.py
Due: check-torchdist, check-license, check-torchcuda

Remove adam class
  csrc/cpu/adam/cpu_adam.h
  csrc/cpu/adam/fused_adam.cpp
Due: check-torchdist, check-license, check-torchcuda

fix format
  csrc/cpu/adam/cpu_adam.h
  csrc/cpu/adam/fused_adam.cpp
Due: check-torchdist, check-license, check-torchcuda

Revert "fix format"
  accelerator/cpu_accelerator.py
  csrc/cpu/adam/cpu_adam.h
  csrc/cpu/adam/fused_adam.cpp
  csrc/cpu/adam/simd.h
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/stage_1_and_2.py
  op_builder/cpu/__init__.py
  op_builder/cpu/fused_adam.py
  tests/unit/checkpoint/test_latest_checkpoint.py
  tests/unit/comm/test_dist.py
  tests/unit/elasticity/test_elastic.py
Due: check-torchdist, check-license, check-torchcuda

add model specific func to auto_tp_model_utils.py
  deepspeed/inference/engine.py
  deepspeed/module_inject/auto_tp_model_utils.py
Due: check-torchdist, check-license, check-torchcuda

support stage3
  accelerator/cpu_accelerator.py
  csrc/cpu/comm/ccl.cpp
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
