Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

add multiGPU fpdt unit test
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Increase ci content for Gaudi2
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Merge LoCo with Zero++
  csrc/includes/quantization.h
  csrc/includes/quantization_utils.h
  csrc/quantization/pt_binding.cpp
  csrc/quantization/quant_reduce.cu
  csrc/quantization/swizzled_quantize.cu
  deepspeed/runtime/comm/coalesced_collectives.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix the typo issue for cpu adam
  csrc/adagrad/cpu_adagrad.cpp
  csrc/adam/cpu_adam_impl.cpp
  csrc/includes/cpu_adagrad.h
  csrc/includes/cpu_adam.h
  csrc/includes/cpu_lion.h
  csrc/lion/cpu_lion_impl.cpp
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.15.4 release (#6731)
  version.txt
Due: check-torchdist, check-torchcuda

add domino
  deepspeed/__init__.py
  deepspeed/runtime/domino/__init__.py
  deepspeed/runtime/domino/transformer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add several kernels to speed up training llama-based MoE model architectures
  deepspeed/tops/__init__.py
  deepspeed/tops/includes/moe_gating.h
  deepspeed/tops/includes/reduction_utils.h
  deepspeed/tops/includes/rope.h
  deepspeed/tops/includes/swiglu.h
  deepspeed/tops/includes/tops_context.h
  deepspeed/tops/includes/utils.h
  deepspeed/tops/moe_gating/__init__.py
  deepspeed/tops/moe_gating/moe_gather.py
  deepspeed/tops/moe_gating/moe_gating.cpp
  deepspeed/tops/moe_gating/moe_gating.py
  deepspeed/tops/moe_gating/test_moe_gating.py
  deepspeed/tops/moe_gating/top1_moe_gating.cu
  deepspeed/tops/moe_gating/top2_moe_gating.cu
  deepspeed/tops/rope/__init__.py
  deepspeed/tops/rope/rope-test.py
  deepspeed/tops/rope/rope.cpp
  deepspeed/tops/rope/rope.cu
  deepspeed/tops/rope/rope.py
  deepspeed/tops/swiglu/__init__.py
  deepspeed/tops/swiglu/swiglu.cpp
  deepspeed/tops/swiglu/swiglu.cu
  deepspeed/tops/swiglu/swiglu.py
  deepspeed/tops/swiglu/test_swiglu.py
  deepspeed/tops/tops.cpp
  op_builder/tops.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

use mark parametrize for test
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update workflow tests
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Move formatting to 22.04
  .github/workflows/formatting.yml
Due: check-torchdist, check-extraindexurl

Update GH hosted workflows to 24.04 (#6717)
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/no-torch.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

Update formatting workflow to Ubuntu 24.02
  .github/workflows/formatting.yml
Due: check-torchdist, check-extraindexurl

AMD Apex fork updated, no longer needs specific branch
  .github/workflows/amd-mi200.yml
Due: check-torchdist, check-extraindexurl

Update flake8 version
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

Add COMMITTER file
  COMMITTERS.md
Due: check-torchdist, check-torchcuda

Fix formatting
  COMMITTERS.md
Due: check-torchdist, check-torchcuda

Add COMMITTER file (#6741)
  COMMITTERS.md
Due: check-torchdist, check-torchcuda

Update AMD apex version (#6739)
  .github/workflows/amd-mi200.yml
Due: check-torchdist, check-extraindexurl

add bf16 check
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix Type Name Inconsistency & Typo in cpu_adam (#6732)
  csrc/adagrad/cpu_adagrad.cpp
  csrc/adam/cpu_adam_impl.cpp
  csrc/includes/cpu_adagrad.h
  csrc/includes/cpu_adam.h
  csrc/includes/cpu_lion.h
  csrc/lion/cpu_lion_impl.cpp
Due: check-torchdist, check-license, check-torchcuda

Add Domino code (#6733)
  deepspeed/__init__.py
  deepspeed/runtime/domino/__init__.py
  deepspeed/runtime/domino/transformer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

opt loop
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add data type check for bf16 (#6742)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add zero3 ```module_granularity_threshold ``` to zero optimization. (#6649)
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/__init__.py
  deepspeed/utils/z3_leaf_module.py
  docs/_pages/config-json.md
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Adjust BingBertSquad path and sanitize inputs to eval()
  tests/model/BingBertSquad/run_BingBertSquad.sh
  tests/model/BingBertSquad/run_BingBertSquad_sanity.sh
Due: check-torchdist, check-torchcuda, check-extraindexurl

Update path for BingBertSquad from DeepSpeedExamples
  docs/_tutorials/bert-finetuning.md
  docs/_tutorials/onebit-adam.md
  tests/model/BingBertSquad/run_tests.sh
  tests/model/BingBertSquad/test_e2e_squad.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

AIO File Offsets (#6641)
  accelerator/cpu_accelerator.py
  csrc/aio/common/deepspeed_aio_utils.cpp
  csrc/aio/common/deepspeed_aio_utils.h
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/aio/py_test/ds_aio_handle.py
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  csrc/gds/py_lib/py_ds_gds.cpp
  deepspeed/runtime/swap_tensor/utils.py
  deepspeed/utils/numa.py
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update the other paths
  tests/model/BingBertSquad/run_BingBertSquad.sh
  tests/model/BingBertSquad/run_BingBertSquad_sanity.sh
Due: check-torchdist, check-torchcuda, check-extraindexurl

Update path for BingBertSquad from DeepSpeedExamples (#6746)
  docs/_tutorials/bert-finetuning.md
  docs/_tutorials/onebit-adam.md
  tests/model/BingBertSquad/run_BingBertSquad.sh
  tests/model/BingBertSquad/run_BingBertSquad_sanity.sh
  tests/model/BingBertSquad/run_tests.sh
  tests/model/BingBertSquad/test_e2e_squad.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use fast fetch only for the case of z3_leaf_module with fine-grained module
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Sanitize inputs to eval() (#6745)
  tests/model/BingBertSquad/run_BingBertSquad.sh
Due: check-torchdist, check-torchcuda, check-extraindexurl

Adding the governance doc
  GOVERNANCE.md
Due: check-torchdist, check-torchcuda

update
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
