Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

fig
  blogs/deepspeed-ulysses/media/hero2.png
Due: check-torchdist, check-torchcuda

changed default ssh port to None
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

adding kwargs
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

chinese version of long sequence blog
  blogs/deepspeed-ulysses/chinese/README.md
Due: check-torchdist, check-torchcuda

fix images
  blogs/deepspeed-ulysses/chinese/README.md
Due: check-torchdist, check-torchcuda

DeepSpeed Ulysses release (#4198)
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/sequence/__init__.py
  deepspeed/sequence/layer.py
  deepspeed/utils/groups.py
Due: check-torchdist, check-license, check-torchcuda

Deepspeed-Ulysses blog (#4201)
  blogs/deepspeed-ulysses/README.md
  blogs/deepspeed-ulysses/media/convg.png
  blogs/deepspeed-ulysses/media/fig2Ulysses.png
  blogs/deepspeed-ulysses/media/fig3Ulysses.png
  blogs/deepspeed-ulysses/media/fig4Ulysses.png
  blogs/deepspeed-ulysses/media/hero1.png
  blogs/deepspeed-ulysses/media/hero2.png
  blogs/deepspeed-ulysses/media/image3.png
Due: check-torchdist, check-torchcuda

Update README.md
  README.md
Due: check-torchdist, check-torchcuda

Update index.md
  docs/index.md
Due: check-torchcuda

Ds ulysses news (#4202)
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

[docs] fix pypi badge
  README.md
Due: check-torchdist, check-torchcuda

fix identation
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

fix formatting
  README.md
Due: check-torchdist, check-torchcuda

DS-Ulysses formating (#4204)
  README.md
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

reflect use_parallel_residual to mlp_after_attn
  deepspeed/module_inject/containers/gptneox.py
Due: check-torchdist, check-license, check-torchcuda

Update README.md
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

fix fig
  blogs/deepspeed-ulysses/japanese/README.md
Due: check-torchdist, check-torchcuda

add ulysses blog index
  docs/_posts/2023-08-24-ulysses-chinese.md
  docs/_posts/2023-08-24-ulysses-japanese.md
  docs/_posts/2023-08-24-ulysses.md
Due: check-torchcuda

Update stage_1_and_2.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

support model with n_heads in model_config
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

add Japanese blog of DS-Ulysses
  blogs/deepspeed-ulysses/japanese/README.md
Due: check-torchdist, check-torchcuda

Format fix
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

addressing Conglong's feedback
  blogs/deepspeed-ulysses/chinese/README.md
Due: check-torchdist, check-torchcuda

Update Ulyssess (#4205)
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

Chinese translation with Conglong's feedback
  blogs/deepspeed-ulysses/chinese/README.md
Due: check-torchdist, check-torchcuda

fix format
  blogs/deepspeed-ulysses/chinese/README.md
Due: check-torchdist, check-torchcuda

fix lm head overriden issue, move it from checkpoint in-loop loading to out loop
  deepspeed/module_inject/load_checkpoint.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Update README.md (#4211)
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

Fixes timer error referenced in #4212
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Move to runtime folder
  tests/unit/runtime/test_mup_optimizers.py
Due: check-torchdist, check-license, check-torchcuda

Add Japanese blog of DS-Ulysses (#4209)
  blogs/deepspeed-ulysses/japanese/README.md
Due: check-torchdist, check-torchcuda

name changes
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

DeepSpeed Ulysses Chinese blog translation (#4210)
  blogs/deepspeed-ulysses/chinese/README.md
Due: check-torchdist, check-torchcuda

formatting changes
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

add ulysses blog index (#4215)
  docs/_posts/2023-08-24-ulysses-chinese.md
  docs/_posts/2023-08-24-ulysses-japanese.md
  docs/_posts/2023-08-24-ulysses.md
Due: check-torchcuda

Rework to match new format
  tests/unit/runtime/test_mup_optimizers.py
Due: check-torchdist, check-license, check-torchcuda

missing comma
  tests/unit/runtime/test_mup_optimizers.py
Due: check-torchdist, check-license, check-torchcuda

hidden dim fix
  tests/unit/runtime/test_mup_optimizers.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
