Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

TestLowCpuMemUsage UT get device by device_name
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Store/Load CIFAR from local/offline
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Store/Load CIFAR from local/offline
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Correct op_builder path to xpu files for trigger XPU tests
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Correct op_builder path to xpu files for trigger XPU tests (#6398)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

add pip install cutlass version check (#6393)
  op_builder/evoformer_attn.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] API align with new intel pytorch extension release (#6395)
  op_builder/xpu/inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting checks
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update tests/unit/alexnet_model.py
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert "Update tests/unit/alexnet_model.py"
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update to prepare for next release
  version.txt
Due: check-torchdist, check-torchcuda

Pydantic v2 migration (#5167)
  .github/workflows/nv-a6000.yml
  deepspeed/comm/config.py
  deepspeed/inference/config.py
  deepspeed/inference/v2/config_v2.py
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
  deepspeed/inference/v2/ragged/manager_configs.py
  deepspeed/monitor/config.py
  deepspeed/pydantic_v1.py
  deepspeed/runtime/config_utils.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/offload_config.py
  deepspeed/runtime/zero/stage_1_and_2.py
  requirements/requirements-readthedocs.txt
  requirements/requirements.txt
  tests/unit/inference/v2/ragged/test_manager_configs.py
  tests/unit/runtime/test_ds_config_dict.py
  tests/unit/runtime/test_ds_config_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix torch check
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix torch check (#6402)
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.15.0 release (#6403)
  version.txt
Due: check-torchdist, check-torchcuda

fix type mismatch
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
Due: check-torchdist, check-license, check-torchcuda

with pre-commit formatter
  deepspeed/checkpoint/deepspeed_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refine code
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

file offset for gds
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  csrc/gds/py_lib/py_ds_gds.cpp
  deepspeed/runtime/swap_tensor/partitioned_param_swapper.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

update thread cxt for gds handle
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
Due: check-torchdist, check-license, check-torchcuda

Fix Type Mismatch (#6410)
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
Due: check-torchdist, check-license, check-torchcuda

fix condition issue in ccl.py
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda, check-extraindexurl

add npu setup guide
  docs/_tutorials/accelerator-abstraction-interface.md
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Increase ds_repot result
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Restore Gemfile
  docs/Gemfile
Due: check-torchcuda

Add default value to "checkpoint_folder" in load_state_dict
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow triton==3.0.x for fp_quantizer
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix redundant seq data parallel grp argument in Z3/MiCS (#5352)
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Change NPU to Huawei Ascend NPU
  docs/_tutorials/accelerator-abstraction-interface.md
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Fix variable name
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

use instance of to check
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda, check-extraindexurl

DeepNVMe tutorial
  blogs/deepspeed-gds/README.md
  docs/_data/navigation.yml
  docs/_tutorials/accelerator-abstraction-interface.md
  docs/_tutorials/accelerator-setup-guide.md
  docs/_tutorials/deepnvme.md
  docs/assets/images/deepnvme_ops_report.png
Due: check-torchdist, check-torchcuda, check-extraindexurl

Spell check
  docs/_tutorials/deepnvme.md
Due: check-torchcuda

Fix link
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Lint some fixes
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Modify pre-commit to allow spelling of CANN
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

Add exception for torch cuda
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

Create workflow that does not install torch to test before releases
  .github/workflows/no-torch.yml
Due: check-torchdist, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
