Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Fix broken model names in inference CI (#5053)
  .github/workflows/nv-inference.yml
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

[NPU] Change log level to debug (#5051)
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

Add missed use_rts type hint
  deepspeed/moe/layer.py
Due: check-torchdist, check-license, check-torchcuda

use no zero + no compile as baseline for tests
  tests/unit/runtime/compile/common.py
  tests/unit/runtime/compile/test_compile_zero.py
Due: check-torchdist, check-license, check-torchcuda

disable memory_efficient_linear when torch.compile is enabled
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

pass only tensors to z3 hooks to prevent dynamo from displaying errors
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda

Update host to device mem copy
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/bias_activations.cpp
Due: check-torchdist, check-license, check-torchcuda

Delay reduce-scatter for ZeRO3 leaf modules (#5008)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/utils.py
  deepspeed/utils/__init__.py
  deepspeed/utils/z3_leaf_module.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda

update import for changes to latest diffusers
  deepspeed/module_inject/containers/unet.py
Due: check-torchdist, check-license, check-torchcuda

Optimize grad_norm calculations by reducing device/host dependency (#4974)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

load linear layer weight with given dtype (#4044)
  deepspeed/module_inject/load_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Update import for changes to latest diffusers (#5065)
  deepspeed/module_inject/containers/unet.py
Due: check-torchdist, check-license, check-torchcuda

adding hccl to init_distributed function description (#5034)
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

fix exception used in test
  tests/unit/runtime/compile/common.py
  tests/unit/runtime/compile/test_compile_zero.py
Due: check-torchdist, check-license, check-torchcuda

Run formatter
  deepspeed/moe/layer.py
Due: check-torchdist, check-license, check-torchcuda

take suggestions
  deepspeed/runtime/comm/coalesced_collectives.py
Due: check-license, check-torchcuda

typo
  deepspeed/runtime/comm/coalesced_collectives.py
Due: check-license, check-torchcuda

format
  deepspeed/runtime/comm/coalesced_collectives.py
Due: check-license, check-torchcuda

Fix all-to-all bug
  deepspeed/runtime/comm/coalesced_collectives.py
  tests/unit/runtime/comm/test_coalesced_collectives.py
Due: check-torchdist, check-license, check-torchcuda

Add checker code - all activations passing
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/bias_activations.cpp
Due: check-torchdist, check-license, check-torchcuda

increse tolerance in tests
  tests/unit/runtime/compile/common.py
Due: check-torchdist, check-license, check-torchcuda

add check for bf16
  tests/unit/runtime/compile/test_compile_zero.py
Due: check-torchdist, check-license, check-torchcuda

enable accelerator check for bf16
  tests/unit/runtime/compile/test_compile_zero.py
Due: check-torchdist, check-license, check-torchcuda

Fix UserWarning: The torch.cuda.*DtypeTensor constructors are no longer recommended. It's best to use methods such as torch.tensor(data, dtype=*, device='cuda') to create tensors.
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

Split is_synchronized_device api to multiple apis more specific to use case
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/hpu_accelerator.py
  accelerator/npu_accelerator.py
  accelerator/xpu_accelerator.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda

Make batch size documentation clearer
  docs/_pages/config-json.md
Due: check-torchcuda

default stage3_param_persistence_threshold is wrong in the doc
  docs/_pages/config-json.md
Due: check-torchcuda

fix verification for z3 leaf module
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

move naive all reduce into seperate function
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

NPU Zero infinity feature
  csrc/aio/common/deepspeed_aio_common.cpp
Due: check-torchdist, check-license, check-torchcuda

interface finetune
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

seperate allreduce outer loop and inner loop into different functions
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

skeleton for ring allreduce
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

stop tracking backward chain of broadcast in initialization
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

initial ring allreduce implementation (no sync yet)
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

ring allreduce can run (correctness not ensured)
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

[Zero++ qgZ] Fall back to reduce_scatter if `tensor.numel() % (2 * global_world_size) != 0` (#5056)
  deepspeed/runtime/comm/coalesced_collectives.py
  tests/unit/runtime/comm/test_coalesced_collectives.py
Due: check-torchdist, check-license, check-torchcuda

Make batch size documentation clearer (#5072)
  docs/_pages/config-json.md
Due: check-torchcuda

[doc/1-line change] default stage3_param_persistence_threshold is wrong in the doc (#5073)
  docs/_pages/config-json.md
Due: check-torchcuda

Add profiling
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/bias_activations.cpp
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/input.txt
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/log.txt
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/test.csv
Due: check-torchdist, check-license, check-torchcuda
