Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

Update A6000 workflows to use newer docker container - 24.09 vs 24.03 (#6967)
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-flash-attn.yml
  .github/workflows/nv-human-eval.yml
Due: check-torchdist, check-extraindexurl

Allow NVIDIA Blackwell (#6991)
  op_builder/builder.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove assumption that padding only occurs on last rank (#6974)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use ds-specific module id to avoid conflicts (#6847)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update CNAME
  docs/CNAME
Due: check-torchcuda

[XPU] max1100 workflow update for docker and softwares (#7003)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Fix ds-chat CI regression (#7015)
  deepspeed/module_inject/layers.py
  deepspeed/runtime/hybrid_engine.py
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix hostname -I for macOS #6497 (#6990)
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda, check-extraindexurl

Update A6000 tests transformers version (#7016)
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

import triton files when triton is supported and installed (#6989)
  deepspeed/model_implementations/transformers/ds_transformer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[Ulysses tutorial] typos (#7024)
  docs/_tutorials/ds-sequence.md
Due: check-torchcuda

autotp training(fix dco) (#7004)
  deepspeed/__init__.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/inference/engine.py
  deepspeed/module_inject/__init__.py
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/load_checkpoint.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/tensor_parallel/__init__.py
  deepspeed/runtime/tensor_parallel/config.py
  deepspeed/runtime/tensor_parallel/tp_manager.py
  deepspeed/runtime/utils.py
  deepspeed/utils/groups.py
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add chinese blog for deepspeed windows, and fix format (#7035)
  README.md
  blogs/windows/08-2024/README.md
  blogs/windows/08-2024/chinese/README.md
Due: check-torchdist, check-torchcuda

[ROCm] Enable fp_quantizer on ROCm (#7027)
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add gds chinese blog (#7034)
  blogs/deepspeed-gds/chinese/README.md
Due: check-torchdist, check-torchcuda

AIO on ROCM (#7023)
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update workflows to cuda 12.4 (#7000)
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist, check-extraindexurl

minor fix
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

bugfix for offload_states
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add vectorized update API
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/__init__.py
  deepspeed/utils/tensor_fragment.py
  docs/code-docs/source/zero3.rst
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add forgotten ; for cuda 12.x
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Control trace cache warnings (#7039)
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
  docs/_pages/config-json.md
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update CUDA compute capability to support Blackwell (#7047)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Update comments on rocm cupy
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Update setup.py handling of ROCm cupy (#7051)
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

nv-ds-chat breaks with latest transformers
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

nv-ds-chat bisect fa56dcc2ab748a2d98218b4918742e25454ef0d2
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Fix, pipeline model with moe, send and recv grad use same buffer will cause error when moe loss not in position 1
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Typo
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Git bisect 48a309d0d21383f72a461d3c5e9b4c639f373bb9
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

nv-ds-chat breaks with latest transformers (#7052)
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

git bisect 336dc69d63d56f232a183a3e7f52790429b871ef
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

git bisect dd16acb8a3e93b643aa374c9fb80749f5235c1a6"
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

git bisect 96f01a36ac60c57be279cb7f027eac7e37fa90e8
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

git bisect 1931a351408dbd1d0e2c4d6d7ee0eb5e8807d7bf
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Test with non legacy backend
  pyproject.toml
Due: check-torchdist, check-torchcuda

Need legacy backend to execute setup.py, though it executes it differently, so we aren't seeing cupy installed.
  pyproject.toml
Due: check-torchdist, check-torchcuda

Update to actually use legacy backend
  pyproject.toml
Due: check-torchdist, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
