Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Test with updated transformers (PR created)
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

changing ds_id naming in Zero 3
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

get_grad_norm_direct: fix a case of empty norm group (#5148)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Distributed in-memory map-reduce for data analyzer (#5129)
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

Revert "Fix UserWarning: The torch.cuda.*DtypeTensor constructors are no long… (#5018)"
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

first iteration
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

initial changes to migrate to pydantic V2
  deepspeed/comm/config.py
  deepspeed/inference/config.py
  deepspeed/inference/v2/config_v2.py
  deepspeed/inference/v2/ragged/manager_configs.py
  deepspeed/monitor/config.py
  deepspeed/pydantic_v1.py
  deepspeed/runtime/compiler.py
  deepspeed/runtime/config_utils.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/offload_config.py
  tests/unit/runtime/test_ds_config_dict.py
  tests/unit/runtime/test_ds_config_model.py
Due: check-torchdist, check-license, check-torchcuda

update requirements
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

fix migration bug
  .github/workflows/python.yml
  deepspeed/runtime/zero/offload_config.py
Due: check-torchdist, check-license, check-torchcuda

DeepSpeedZeroOptimizer_Stage3: remove cuda specific optimizer (#5138)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Fix save checkpoint when TP > 1 (#5157)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Fix gradient clipping (#5150)
  deepspeed/runtime/utils.py
  tests/unit/runtime/test_runtime_utils.py
Due: check-torchdist, check-license, check-torchcuda

Use ninja to speed up build (#5088)
  deepspeed/inference/v2/kernels/core_ops/bias_activations/bias_activation_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_layer_norm/layer_norm_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_rms_norm/rms_norm_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/gated_activations/gated_activation_kernels_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/embed/embed_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/logits_gather/logits_gather_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/moe_gather/moe_gather_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/moe_scatter/moe_scatter_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating_cuda.cu
  op_builder/builder.py
  op_builder/cpu/builder.py
  op_builder/hpu/builder.py
  op_builder/inference_core_ops.py
  op_builder/ragged_ops.py
  op_builder/xpu/builder.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

Fix incorrect pytest.skip in test_compression.py.
  tests/unit/compression/test_compression.py
Due: check-torchdist, check-license, check-torchcuda

perform allreduce on FP32 when BF16 optimizer is enabled
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

updated with add_items
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
  deepspeed/runtime/data_pipeline/data_sampling/indexed_dataset.py
Due: check-torchdist, check-license, check-torchcuda

added add_items
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

Update indexed_dataset.py
  deepspeed/runtime/data_pipeline/data_sampling/indexed_dataset.py
Due: check-torchdist, check-license, check-torchcuda

Update flops profiler to handle attn and __matmul__ (#4724)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

fix inference config type annotations
  deepspeed/inference/config.py
  deepspeed/runtime/config_utils.py
Due: check-torchdist, check-license, check-torchcuda

update RTD reqs
  requirements/requirements-readthedocs.txt
Due: check-torchdist, check-torchcuda

MOE: Support top2 with disable token dropping
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

MOE: Fix capacity when using TP for non-MoE
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

MOE: Fix top2 aux loss
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

MOE: Support disable top2 2nd expert sampling
  deepspeed/moe/layer.py
  deepspeed/moe/sharded_moe.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Fix gate conversion to fp32
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

Fix allreduce for BF16 and ZeRO0 (#5170)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix error in offload config
  deepspeed/runtime/zero/offload_config.py
Due: check-torchdist, check-license, check-torchcuda

final fixes and updates to remove deprecated warnings from pydantic
  deepspeed/comm/config.py
  deepspeed/inference/config.py
  deepspeed/runtime/config_utils.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/offload_config.py
  tests/unit/runtime/test_ds_config_model.py
Due: check-torchdist, check-license, check-torchcuda

Revert "MOE: Fix top2 aux loss"
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

Rename files to match 1.11
  .github/workflows/nv-torch111-p40.yml
  .github/workflows/nv-torch111-v100.yml
Due: check-torchdist

Fully rename files to use torch 1.11
  .github/workflows/nv-torch111-p40.yml
  .github/workflows/nv-torch111-v100.yml
Due: check-torchdist

Update README
  README.md
Due: check-torchdist, check-torchcuda

add new models in autotp workflow and enable gptj, baichuan
  .github/workflows/autotp.yml
Due: check-torchdist

Fix typos
  blogs/deepspeed-chat/README.md
  blogs/deepspeed-chat/chinese/README.md
  blogs/deepspeed-chat/japanese/README.md
Due: check-torchdist, check-torchcuda

formatting
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

Write multiple items to output file at once, in distributed data analyzer. (#5169)
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
  deepspeed/runtime/data_pipeline/data_sampling/indexed_dataset.py
Due: check-torchdist, check-license, check-torchcuda

Fix typos in blogs/ (#5172)
  blogs/deepspeed-chat/README.md
  blogs/deepspeed-chat/chinese/README.md
  blogs/deepspeed-chat/japanese/README.md
Due: check-torchdist, check-torchcuda

Update torch download URL in nv-ds-chat workflow
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

Update human eval unit test
  tests/unit/inference/test_human_eval.py
Due: check-torchdist, check-license, check-torchcuda
