Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Remove SD model download script
  download_sd_model.py
Due: check-torchdist, check-license, check-torchcuda

Remove call to SD download script
  .github/workflows/nv-sd.yml
Due: check-torchdist

Skip if diffusers isn't installed
  tests/unit/inference/test_stable_diffusion.py
Due: check-torchdist, check-license, check-torchcuda

Change how test is skipped
  tests/pytest.ini
  tests/unit/inference/test_stable_diffusion.py
Due: check-torchdist, check-license, check-torchcuda

Update requirements-sd
  .github/workflows/nv-sd.yml
  requirements/requirements-sd.txt
Due: check-torchdist, check-torchcuda

Update PR triggers
  .github/workflows/nv-sd.yml
Due: check-torchdist

feat: to check if current accelerator is supported
  accelerator/__init__.py
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

feat: assert if current accelerator is supported
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

feat: add npu support for bf16_required_version_check
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Initial implementation
  deepspeed/inference/v2/model_implementations/inference_model_base.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/ragged/kv_cache.py
  deepspeed/inference/v2/ragged/manager_configs.py
  deepspeed/inference/v2/ragged/ragged_manager.py
  deepspeed/inference/v2/ragged/sequence_descriptor.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/ragged/kv_cache.py
  deepspeed/inference/v2/ragged/ragged_manager.py
  deepspeed/inference/v2/ragged/sequence_descriptor.py
  tests/unit/inference/v2/kernels/ragged_ops/ragged_testing_utils.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  op_builder/xpu/builder.py
  op_builder/xpu/cpu_adagrad.py
  op_builder/xpu/cpu_adam.py
  op_builder/xpu/multi_tensor_apply.dp.hpp
Due: check-torchdist, check-license, check-torchcuda

fix using torch.half with transformers
  deepspeed/model_implementations/transformers/ds_transformer.py
Due: check-torchdist, check-license, check-torchcuda

Fix code format and spell issue
  csrc/adagrad/cpu_adagrad.cpp
  csrc/adam/cpu_adam_impl.cpp
  csrc/includes/cpu_adagrad.h
  csrc/includes/cpu_adam.h
  csrc/includes/cpu_lion.h
  csrc/lion/cpu_lion_impl.cpp
  deepspeed/env_report.py
  op_builder/npu/builder.py
Due: check-torchdist, check-license, check-torchcuda

fix: solve pre-commit hooks problems
  accelerator/real_accelerator.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

add allgather opt
  deepspeed/comm/torch.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.12.3 release (#4673)
  version.txt
Due: check-torchdist, check-torchcuda

Update job name from unit-tests to sd-tests
  .github/workflows/nv-sd.yml
Due: check-torchdist

[MII] catch error wrt HF version and Mistral (#4634)
  deepspeed/inference/v2/engine_factory.py
Due: check-torchdist, check-license, check-torchcuda

[NPU] Add NPU support for unit test (#4569)
  accelerator/__init__.py
  accelerator/real_accelerator.py
  tests/unit/alexnet_model.py
  tests/unit/common.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

[op-builder] use unique exceptions for cuda issues (#4653)
  op_builder/builder.py
Due: check-torchdist, check-license

Add stable diffusion unit test (#2496)
  .github/workflows/nv-sd.yml
  requirements/requirements-sd.txt
  tests/pytest.ini
  tests/unit/inference/test_stable_diffusion.py
Due: check-torchdist, check-license, check-torchcuda

Duplicate import
  deepspeed/inference/v2/engine_factory.py
Due: check-torchdist, check-license, check-torchcuda

Update engine_factory.py
  deepspeed/inference/v2/engine_factory.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/inference/v2/engine_factory.py
Due: check-torchdist, check-license, check-torchcuda

Finish propagating the rename
  deepspeed/inference/v2/__init__.py
Due: check-torchdist, check-license, check-torchcuda

Finish propagating the rename v2
  deepspeed/inference/__init__.py
Due: check-torchdist, check-license, check-torchcuda

add all-reduce optimization for large-scale traning with many GPUs
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

efficient communication layout for training MoE architecture at large scale
  deepspeed/moe/layer.py
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/utils/groups.py
Due: check-torchdist, check-license, check-torchcuda

fuse the all_to_all for the seq-parallel into one and use all_to_all_single
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

[CANN] Support cpu offload optimizer for Ascend NPU (#4568)
  csrc/adagrad/cpu_adagrad.cpp
  csrc/adam/cpu_adam_impl.cpp
  csrc/includes/cpu_adagrad.h
  csrc/includes/cpu_adam.h
  csrc/includes/cpu_lion.h
  csrc/lion/cpu_lion_impl.cpp
  deepspeed/env_report.py
  op_builder/npu/__init__.py
  op_builder/npu/builder.py
  op_builder/npu/cpu_adagrad.py
  op_builder/npu/cpu_adam.py
  op_builder/npu/cpu_lion.py
  op_builder/npu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda

Update transformers verison
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

KV Cache Improved Flexibility (#4668)
  deepspeed/inference/v2/engine_v2.py
  deepspeed/inference/v2/model_implementations/common_architectures/__init__.py
  deepspeed/inference/v2/model_implementations/inference_model_base.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/ragged/kv_cache.py
  deepspeed/inference/v2/ragged/manager_configs.py
  deepspeed/inference/v2/ragged/ragged_manager.py
  deepspeed/inference/v2/ragged/sequence_descriptor.py
  tests/unit/inference/inference_test_utils.py
  tests/unit/inference/v2/kernels/ragged_ops/ragged_testing_utils.py
Due: check-torchdist, check-license, check-torchcuda

Formatting whitespace
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

Add back collections -> dict back in to fix import issue
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

add local api
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/__init__.py
  deepspeed/utils/tensor_fragment.py
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

fixed UTs
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
