Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

add get_shard_size function
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

cleanup
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

added port argument for ssh
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

doc: explain the introduction of `non_reentrant_checkpoint`
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

doc: explain the test of `non_reentrant_checkpoint`
  tests/unit/runtime/activation_checkpointing/test_activation_checkpointing_non_reentrant.py
Due: check-torchdist, check-license, check-torchcuda

Fix Issue 4083 (#4084)
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Add ops
  docs/_tutorials/advanced-install.md
Due: check-torchcuda

Add ops (#4119)
  docs/_tutorials/advanced-install.md
Due: check-torchcuda

Switch back to previously working way
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
  .github/workflows/open-issue-on-fail/action.yml
Due: check-torchdist

Test permission changes
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Revert "Test permission changes"
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Update existing bugs with newest build failure link
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Remove PR triggers for that were used for testing.
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Fix torch19 tests
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Update nightly workflows to open an issue if CI fails (#3952)
  .github/ISSUE_TEMPLATE/ci_failure_report.md
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist, check-torchcuda

skip quantization for tensor smaller than 500k
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Add DS Chat CI workflow
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

update
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

fix formatting
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

changed arg name; moved PDSH arg; added if-else for arg
  deepspeed/launcher/multinode_runner.py
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

clean up
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

zero infinity xpu support
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/py_lib/deepspeed_aio_thread.cpp
  csrc/aio/py_lib/deepspeed_aio_thread.h
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  deepspeed/runtime/swap_tensor/async_swapper.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
  deepspeed/runtime/swap_tensor/partitioned_param_swapper.py
  deepspeed/runtime/swap_tensor/utils.py
Due: check-torchdist, check-license, check-torchcuda

Modify review commit
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Modify expert grads reduce
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

modify sharding mechanism according to latest auto TP
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/replace_module.py
  deepspeed/utils/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda

Respect memory pinning config
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Bug fix
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

test pip list and --no-build-isolation
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Enable verbosity
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

fix indent
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

pin to older accelerate version
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Update oldest tested torch to 1.10
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Properly rename directories
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
Due: check-torchdist

Return PR tests to CI again.
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
Due: check-torchdist

Remove -vv
  .github/workflows/nv-torch110-v100.yml
Due: check-torchdist

Update torch1.9 tests to 1.10 to match latest accelerate. (#4126)
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
Due: check-torchdist

correct inference with some debug codes.
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/module_inject/containers/__init__.py
  deepspeed/module_inject/containers/internlm.py
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/replace_policy.py
  deepspeed/module_inject/utils.py
  deepspeed/ops/transformer/inference/ds_attention.py
  deepspeed/ops/transformer/inference/op_binding/qkv_gemm.py
Due: check-torchdist, check-license, check-torchcuda

remove prints
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/module_inject/replace_module.py
  deepspeed/ops/transformer/inference/ds_attention.py
  deepspeed/ops/transformer/inference/op_binding/qkv_gemm.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
