Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Clean code.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear.py
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  tests/unit/inference/v2/modules/test_quantizied_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

Update according to review comments.
  debug/run_pipeline.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/configs.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_matmul.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_reduction.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_cp.async.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_mma.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_core.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_gmem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_paralleldequant.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/weight_prepacking.h
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  op_builder/inference_core_ops.py
  tests/unit/inference/v2/modules/test_quantizied_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

Fix the bug of subnormal FP6 casting and the 2bit/4bit tensor allocation.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/Launcher.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  tests/unit/inference/v2/modules/test_quantizied_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

Deal with the subnormal FP6 and FP16 values and refine the UT.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  tests/unit/inference/v2/modules/test_quantizied_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

Update FP6 kernels.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/Configs.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/PTX_cp.async.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/PTX_mma.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/Utils_Core.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/Utils_GMem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/Utils_ParallelDequant.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_matmul.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_reduction.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/weight_prepacking.h
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  op_builder/inference_core_ops.py
Due: check-torchdist, check-license, check-torchcuda

Update README.md (#635)
  blogs/deepspeed-fp6/03-05-2024/README.md
Due: check-torchdist, check-torchcuda

Update README.md
  blogs/deepspeed-fp6/03-05-2024/README.md
Due: check-torchdist, check-torchcuda

Fix the GPU architecture requirement of FP6 kernel.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cu
  op_builder/inference_core_ops.py
  tests/unit/inference/v2/modules/test_quantized_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

Skip test when its fp16
  tests/unit/checkpoint/test_lr_scheduler.py
  tests/unit/checkpoint/test_other_optimizer.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/compression/test_dequantization.py
Due: check-torchdist, check-license, check-torchcuda

fix elastic test
  tests/unit/elasticity/test_elastic.py
Due: check-torchdist, check-license, check-torchcuda

Better dequantization skipping
  tests/unit/compression/test_dequantization.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/compression/test_dequantization.py
Due: check-torchdist, check-license, check-torchcuda

Add discription of the supported architecture. (#636)
  blogs/deepspeed-fp6/03-05-2024/README.md
Due: check-torchdist, check-torchcuda

update
  blogs/deepspeed-fp6/03-05-2024/assets/hero-figure.png
Due: check-torchdist, check-torchcuda

Update deepspeed/inference/v2/config_v2.py
  deepspeed/inference/v2/config_v2.py
Due: check-torchdist, check-license, check-torchcuda

refactor fp6 tests, fix import error
  deepspeed/inference/v2/config_v2.py
  tests/unit/inference/v2/modules/test_quantized_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

update
  blogs/deepspeed-fp6/03-05-2024/README.md
Due: check-torchdist, check-torchcuda

Update deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
Due: check-torchdist, check-license, check-torchcuda

Update requirements.txt
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

revert testing to fix A6000 test
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

fix fused_qkv model accuracy issue (#5217)
  deepspeed/module_inject/fusedqkv_utils.py
Due: check-torchdist, check-license, check-torchcuda

Update now that PR is merged to transformers main
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

type conversions for fp8
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Update pydantic version
  .github/workflows/nv-a6000.yml
Due: check-torchdist

fix pydantic import
  tests/unit/inference/v2/ragged/test_manager_configs.py
Due: check-torchdist, check-license, check-torchcuda

Fix some review comments.
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  op_builder/inference_core_ops.py
  tests/unit/inference/v2/modules/test_quantized_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.13.5 release (#5229)
  version.txt
Due: check-torchdist, check-torchcuda

Pin pydantic to latest version
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Add the missed torch import.
  op_builder/inference_core_ops.py
Due: check-torchdist, check-license, check-torchcuda

Fix the name of citation. (#637)
  blogs/deepspeed-fp6/03-05-2024/README.md
Due: check-torchdist, check-torchcuda

add numactl into dependency
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist

update and fix comments
  blogs/deepspeed-fp6/03-05-2024/README.md
  blogs/deepspeed-fp6/03-05-2024/assets/hero-figure.png
Due: check-torchdist, check-torchcuda

changed to no_alloc_cast
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

changed to no_alloc_cast (#5230)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
