Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

chore: Update .gitignore [Adding comments , Improved documentation]
  .gitignore
Due: check-torchdist, check-torchcuda

Revert "allow cuda mismatch exceptions to be triggered"
  op_builder/builder.py
Due: check-torchdist, check-license

Catch error wrt HF version and Mistral
  deepspeed/inference/v2/model_implementations/mistral/policy.py
Due: check-torchdist, check-license, check-torchcuda

Update .gitignore
  .gitignore
Due: check-torchdist, check-torchcuda

address comment
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/mistral/policy.py
Due: check-torchdist, check-license, check-torchcuda

Switch torch latest CPU to latest torch
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

Fix config format (#4594)
  deepspeed/runtime/activation_checkpointing/config.py
Due: check-torchdist, check-license, check-torchcuda

Guanhua/partial offload rebase v2 (#590)
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/offload_config.py
  deepspeed/runtime/zero/stage3.py
  docs/_pages/config-json.md
  tests/small_model_debugging/partial_offload_test.py
  tests/unit/ops/adam/test_hybrid_adam.py
  tests/unit/runtime/zero/test_zero_offloadpp.py
Due: check-torchdist, check-license, check-torchcuda

offload++ blog (#623)
  blogs/deepspeed-offloadpp/README.md
  blogs/deepspeed-offloadpp/images/a100-8.png
  blogs/deepspeed-offloadpp/images/cpu-offload.png
  blogs/deepspeed-offloadpp/images/h100-8.png
  blogs/deepspeed-offloadpp/images/twin-offload.png
Due: check-torchdist, check-torchcuda

format
  blogs/deepspeed-offloadpp/README.md
Due: check-torchdist, check-torchcuda

Formatting
  op_builder/builder.py
Due: check-torchdist, check-license

Revert "Formatting"
  op_builder/builder.py
Due: check-torchdist, check-license

Reset the torch CPU check
  op_builder/builder.py
Due: check-torchdist, check-license

Guanhua/partial offload rebase v2 (#590) (#4636)
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/offload_config.py
  deepspeed/runtime/zero/stage3.py
  docs/_pages/config-json.md
  tests/small_model_debugging/partial_offload_test.py
  tests/unit/ops/adam/test_hybrid_adam.py
  tests/unit/runtime/zero/test_zero_offloadpp.py
Due: check-torchdist, check-license, check-torchcuda

offload++ blog (#623) (#4637)
  blogs/deepspeed-offloadpp/README.md
  blogs/deepspeed-offloadpp/images/a100-8.png
  blogs/deepspeed-offloadpp/images/cpu-offload.png
  blogs/deepspeed-offloadpp/images/h100-8.png
  blogs/deepspeed-offloadpp/images/twin-offload.png
Due: check-torchdist, check-torchcuda

update news items
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

Update README.md
  blogs/deepspeed-offloadpp/README.md
Due: check-torchdist, check-torchcuda

Update README in offloadpp blog
  blogs/deepspeed-offloadpp/README.md
Due: check-torchdist, check-torchcuda

Update README in offloadpp blog (#4641)
  blogs/deepspeed-offloadpp/README.md
Due: check-torchdist, check-torchcuda

Remove from CUDAOpBuilder
  op_builder/builder.py
Due: check-torchdist, check-license

added 'more news' section
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

init draft
  blogs/deepspeed-fastgen/chinese/README.md
Due: check-torchdist, check-torchcuda

Update README.md
  blogs/deepspeed-fastgen/chinese/README.md
Due: check-torchdist, check-torchcuda

polished and img fix
  blogs/deepspeed-fastgen/chinese/README.md
Due: check-torchdist, check-torchcuda

fixes
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

fix url
  docs/index.md
Due: check-torchcuda

[docs] update news items (#4640)
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

Set this flag for CUDAOpBuilder too
  op_builder/builder.py
Due: check-torchdist, check-license

format fix
  blogs/deepspeed-fastgen/chinese/README.md
Due: check-torchdist, check-torchcuda

enable z3 allgather for multiple dtyps
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

update oneccl_bind_pt installation steps
  .github/workflows/cpu-inference.yml
Due: check-torchdist

edit
  blogs/deepspeed-fastgen/chinese/README.md
Due: check-torchdist, check-torchcuda

pointers
  README.md
  docs/_posts/2023-11-06-deepspeed-fastgen-chinese.md
  docs/_posts/2023-11-06-deepspeed-fastgen.md
  docs/index.md
Due: check-torchdist, check-torchcuda

fix
  blogs/deepspeed-fastgen/chinese/README.md
Due: check-torchdist, check-torchcuda

DeepSpeed-FastGen Chinese Blog (#4642)
  README.md
  blogs/deepspeed-fastgen/chinese/README.md
  docs/_posts/2023-11-06-deepspeed-fastgen-chinese.md
  docs/_posts/2023-11-06-deepspeed-fastgen.md
  docs/index.md
Due: check-torchdist, check-torchcuda

fix issue #4649
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

format variable name
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

fix warning
  csrc/deepspeed4science/evoformer_attn/gemm/custom_mma_multistage.h
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
