Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

Disable failing python tests (#6758)
  .github/workflows/python.yml
Due: check-torchdist, check-extraindexurl

Pin transformers version to work around latest torch requirements (#6759)
  .github/workflows/hpu-gaudi2.yml
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

A faster and more memory-efficient implementation of `zero_to_fp32` (#6658)
  deepspeed/utils/zero_to_fp32.py
  tests/unit/checkpoint/test_convert_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix setup.py bash cmd generation to correctly extract git info (#6762)
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Enable torch compile on _allgather_params (#6769)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Removes unnecessary cloning (#6761)
  deepspeed/checkpoint/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix potential memory issues when use deepspeed Z3 (#6726)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  tests/unit/runtime/zero/test_zero_multiple_run.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use `json_schema_extra` instead of extra keyword in `Field` (#6764)
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add explicit parameters for torch.load (#6751)
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/checkpoint/zero_checkpoint.py
  deepspeed/inference/engine.py
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
  deepspeed/inference/v2/model_implementations/inference_policy_base.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/base_optimizer.py
  deepspeed/runtime/checkpoint_engine/nebula_checkpoint_engine.py
  deepspeed/runtime/checkpoint_engine/torch_checkpoint_engine.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/zero_to_fp32.py
  tests/unit/checkpoint/common.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Domino Blog (#6776)
  blogs/deepspeed-domino/README.md
  blogs/deepspeed-domino/images/design-base.png
  blogs/deepspeed-domino/images/design-column.png
  blogs/deepspeed-domino/images/design-hybrid.png
  blogs/deepspeed-domino/images/design-row.png
  blogs/deepspeed-domino/images/domino-hero.png
  blogs/deepspeed-domino/images/domino-logo.png
  blogs/deepspeed-domino/images/gpt3-scale.png
  blogs/deepspeed-domino/images/implement-bwd.png
  blogs/deepspeed-domino/images/implement-fwd.png
  blogs/deepspeed-domino/images/tp-ar.png
  blogs/deepspeed-domino/images/tp-comm-overhead.png
Due: check-torchdist, check-torchcuda

Unpin with latest transformers fixes (#6763)
  .github/workflows/hpu-gaudi2.yml
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Cleanup code docs warnings (#6783)
  docs/code-docs/source/index.rst
  docs/code-docs/source/inference-engine.rst
  docs/code-docs/source/initialize.rst
  docs/code-docs/source/moe.rst
  docs/code-docs/source/schedulers.rst
  docs/code-docs/source/zero3.rst
Due: check-torchcuda

docs: fix HF links (#6780)
  README.md
  blogs/deepspeed-chat/japanese/README.md
  deepspeed/autotuning/README.md
  docs/_tutorials/getting-started.md
  docs/index.md
  examples/README.md
Due: check-torchdist, check-torchcuda

Fix Doc Error: ZeRO Stage 2 gradient partitioning (#6775)
  docs/_tutorials/zero.md
  docs/code-docs/source/zero3.rst
Due: check-torchcuda

Domino news update on readme.md (#6815)
  README.md
Due: check-torchdist, check-torchcuda

Update version.txt before release (#6784)
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.16.0 release (#6786)
  version.txt
Due: check-torchdist, check-torchcuda

Fix zero checkpoint (#6792)
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert release workflow (#6785)
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

Pin transformers to avoid errors with latest version (#6820)
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Update python version but now we need to include setuptools on our own (#6787)
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

Ulyssess offload blog (#6814)
  blogs/ulysses-offload/README.md
  blogs/ulysses-offload/media/image1.png
  blogs/ulysses-offload/media/image2.png
  blogs/ulysses-offload/media/image3.png
  blogs/ulysses-offload/media/image4.png
  blogs/ulysses-offload/media/image5.png
Due: check-torchdist, check-torchcuda

add FPDT tutorial (#6813)
  docs/_tutorials/ulysses-offload.md
Due: check-torchcuda

Adding the new feature of FPDT (#6462)
  .github/workflows/nv-flash-attn.yml
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/sequence/fpdt_layer.py
  deepspeed/sequence/layer.py
  requirements/requirements.txt
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.16.1 release (#6826)
  version.txt
Due: check-torchdist, check-torchcuda

Pin HPU tests (#6831)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Update README.md (#6825)
  README.md
Due: check-torchdist, check-torchcuda

Update README.md (#6824)
  blogs/ulysses-offload/README.md
Due: check-torchdist, check-torchcuda

Pin transformers version in cpu-torch-latest due to multiprocessing error. (#6823)
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist, check-extraindexurl

Update pre-commit version (#6821)
  .pre-commit-config.yaml
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda, check-extraindexurl

Unpin pytest-subtests now that 0.14.1 is released (#6844)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Flops profiler support einops.einsum (#6755)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Inference UTs check for trition support from accelerator (#6782)
  tests/unit/ops/transformer/inference/test_attention.py
  tests/unit/ops/transformer/inference/test_gelu.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
  tests/unit/ops/transformer/inference/test_matmul.py
  tests/unit/ops/transformer/inference/test_residual_add.py
  tests/unit/ops/transformer/inference/test_softmax.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin pytest-subtests version for accelerate tests (#6842)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Merge LoCo with Zero++ (#6730)
  csrc/includes/quantization.h
  csrc/includes/quantization_utils.h
  csrc/quantization/pt_binding.cpp
  csrc/quantization/quant_reduce.cu
  csrc/quantization/swizzled_quantize.cu
  deepspeed/runtime/comm/coalesced_collectives.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/comm/test_coalesced_collectives.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix nv-torch-nightly test by pinning transformers (#6849)
  .github/workflows/nv-torch-nightly-v100.yml
Due: check-torchdist, check-extraindexurl

Avoid poisoning process with CUDA calls as soon as importing (#6810)
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove broken links to non-active site (#6854)
  README.md
Due: check-torchdist, check-torchcuda

Fix uneven head sequence parallelism bug (#6774) (#6797)
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix type error in `ZeROOrderedDict` (#6794)
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
