Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

debug output format
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

save | literal in table
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

cleanup
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix formatting
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

remove duplication of alltoall
  deepspeed/sequence/fpdt_layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

remove duplication of pos
  deepspeed/sequence/fpdt_layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix format
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/sequence/fpdt_layer.py
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update docs; Improve DS logging consistency
  deepspeed/runtime/engine.py
  deepspeed/utils/tensor_fragment.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Improve DS log control
  deepspeed/runtime/engine.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Disable steps_per_print by default
  deepspeed/runtime/constants.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Cleanup CODEOWNERS
  CODEOWNERS
Due: check-torchdist, check-torchcuda

Cleanup CODEOWNERS file to be valid (#6603)
  CODEOWNERS
Due: check-torchdist, check-torchcuda

Add SSF Best practices badge
  README.md
Due: check-torchdist, check-torchcuda

Add SSF Best practices badge (#6604)
  README.md
Due: check-torchdist, check-torchcuda

Update nv-lightning to run on Cuda 11.8/7?
  .github/workflows/nv-lightning-v100.yml
Due: check-torchdist, check-extraindexurl

Test moving some workflows up to cuda 12.1
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Specify newer torch version
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Update README.md
  README.md
Due: check-torchdist, check-torchcuda

Update all workflows that need updating to move off 11.7 cuda
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist, check-extraindexurl

Move V100 workflows from cuda 11.1/11.7 to 12.1 (#6607)
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist, check-extraindexurl

Fix SD workflow
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

clean inflight registry when invalidating trace
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin accelerate to fix CI failures/issues
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Fix SD workflow (#6609)
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

functions for replicated code
  deepspeed/runtime/lr_schedules.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin accelerate to fix CI failures/issues (#6610)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Add llama3.2 vision autotp (#6577)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Improve DS logging control (#6602)
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Unpin accelerate and update nv-lightning tests since they no longer require node16
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-lightning-v100.yml
Due: check-torchdist, check-extraindexurl

Fix device selection using CUDA_VISIBLE_DEVICES (#6530)
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Handle when `backend` is also in compile_kwargs (#6502)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

async_io operator for CPU accelerator
  accelerator/cpu_accelerator.py
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_pin_tensor.cpp
  csrc/aio/py_lib/deepspeed_pin_tensor.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  op_builder/cpu/__init__.py
  op_builder/cpu/async_io.py
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting; Use int64_t
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/common/deepspeed_aio_common.h
  csrc/aio/common/deepspeed_aio_utils.cpp
  csrc/aio/common/deepspeed_aio_utils.h
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_pin_tensor.cpp
  csrc/aio/py_lib/deepspeed_pin_tensor.h
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  op_builder/cpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Accept btl_tcp_if_include option through launcher_args
  deepspeed/launcher/multinode_runner.py
  tests/unit/launcher/test_multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix init_device_mesh for torch 2.4
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

Skip fp16 tests on CPU
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Unpin accelerate tests, update lightning with node16 removal. (#6611)
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-lightning-v100.yml
Due: check-torchdist, check-extraindexurl

Enabled Qwen2-MoE Tensor Parallelism (TP) inference (#6551)
  deepspeed/module_inject/auto_tp.py
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Clean up prefetched parameters (#6557)
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
