Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Update to 4.39.0
  .github/workflows/nv-nightly.yml
Due: check-torchdist

Test with 4.39.1, 4.39.0 failed
  .github/workflows/nv-nightly.yml
Due: check-torchdist

Use commit to test
  .github/workflows/nv-nightly.yml
Due: check-torchdist

Add NFS path check for default cache directory in Triton autotune
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda

add comple.disable to z3 function
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Increase coverage for HPU
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

move loading function to ZeROOptimizer
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/runtime/__init__.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

refactor to avoid circular import
  deepspeed/__init__.py
  deepspeed/runtime/__init__.py
  deepspeed/runtime/base_optimizer.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/fp16/unfused_optimizer.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/runtime/base_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

delete space
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda

fix method calls
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Improve universal checkpoint (#5289)
  deepspeed/__init__.py
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/checkpoint/zero_checkpoint.py
  deepspeed/runtime/__init__.py
  deepspeed/runtime/base_optimizer.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/fp16/unfused_optimizer.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/checkpoint/common.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

BF16 optimizer: Clear lp grads after updating hp grads in hook
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Remove dtype(fp16) condition check for residual_add ctest
  tests/unit/ops/transformer/inference/test_residual_add.py
Due: check-torchdist, check-license, check-torchcuda

Increase coverage for HPU (#5324)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Test with new commit 2f9a3edbb93ab5b7ec2b107a67e9b6c980277a38
  .github/workflows/nv-nightly.yml
Due: check-torchdist

Test with 174aecd099764920cf173703961d99d814fe9a75
  .github/workflows/nv-nightly.yml
Due: check-torchdist

Add NFS path check for default deepspeed triton cache directory (#5323)
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda

Test with bf3dfd11605d8aa9e87bf872f076ef517399c7e4
  .github/workflows/nv-nightly.yml
Due: check-torchdist

Update to use ROCm 5.7
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Formatting
  csrc/cpu/comm/ccl.cpp
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

resolve format check
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda

test
  README.md
Due: check-torchdist, check-torchcuda

fp[6,8,12] quantizer op
  csrc/fp_quantizer/includes/context.h
  csrc/fp_quantizer/includes/quantize.h
  csrc/fp_quantizer/quantize.cpp
  csrc/fp_quantizer/quantize.cu
  csrc/includes/memory_access_utils.h
  csrc/includes/reduction_utils.h
  deepspeed/ops/fp_quantizer/__init__.py
  deepspeed/ops/fp_quantizer/quantize.py
  requirements/requirements-dev.txt
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda

op builder
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda

cleanup
  README.md
Due: check-torchdist, check-torchcuda

fp quantizer assumes ampere and above arch, also disable ninja for pre-compile
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda

ifdef bf16 in reduction utils
  .github/workflows/nv-pre-compile-ops.yml
  csrc/includes/reduction_utils.h
Due: check-torchdist, check-license, check-torchcuda

skip on cpu
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda

cannot run fp quant on v100
  .github/workflows/nv-pre-compile-ops.yml
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda

fix missing import
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda

move qtorch import to be after pytest skip
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda

Create xpu.yml
  .github/workflows/xpu.yml
Due: check-torchdist

Update xpu.yml
  .github/workflows/xpu.yml
Due: check-torchdist

fix sort of zero checkpoint files
  deepspeed/checkpoint/reshape_utils.py
Due: check-torchdist, check-license, check-torchcuda

improve parallel process of universal checkpoint conversion
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

using explicit get logger
  deepspeed/elasticity/elastic_agent.py
Due: check-license, check-torchcuda

Correct typo in checking on bf16 unit test support (#5317)
  tests/unit/checkpoint/test_lr_scheduler.py
Due: check-torchdist, check-license, check-torchcuda

Run AMD PR tests when paths are modified
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Rename test group from amd-test to unit-tests to make rrequired when enabled and running on PRs
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
