Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

fix unit test
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

Adding class.MD
  class.MD
Due: check-torchdist, check-torchcuda

Add (now/newly required) batch_dim_idx to unit test
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_copy.cpp
  csrc/aio/py_test/ds_aio_handle.py
  csrc/deepspeed4science/evoformer_attn/gemm_kernel_utils.h
  csrc/includes/simd.h
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
Due: check-torchdist, check-license, check-torchcuda

Formatting and Typo fixes
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.h
  csrc/aio/py_test/ds_aio_basic.py
  csrc/aio/py_test/ds_aio_handle.py
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
Due: check-torchdist, check-license, check-torchcuda

Update docs/_tutorials/accelerator-setup-guide.md
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

fix xpu part description
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Update LICENSE
  LICENSE
Due: check-torchdist, check-torchcuda

Fix GDS issues
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_py_copy.cpp
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_access_iterator_residual_last.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  csrc/gds/py_lib/py_ds_gds.cpp
  csrc/gds/py_test/validate_gds.py
  csrc/includes/simd.h
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
  op_builder/async_io.py
  op_builder/gds.py
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda

Formatting fixes
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/deepspeed4science/evoformer_attn/gemm_kernel_utils.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_access_iterator_residual_last.h
Due: check-torchdist, check-license, check-torchcuda

fix format
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

Log operator warnings only in verbose mode
  op_builder/evoformer_attn.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/sparse_attn.py
  op_builder/spatial_inference.py
  op_builder/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda

Avoid xpu regression (#4130)
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda

Fix incorrect patch in zero.init
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Fix typo
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

microbenchmark updates
  csrc/aio/py_test/ds_aio_handle.py
  csrc/aio/py_test/run_read_sweep.sh
Due: check-torchdist, check-license, check-torchcuda

Better solution to handle _init_subclass as well
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

add torch version detect
  deepspeed/runtime/eigenvalue.py
Due: check-torchdist, check-license, check-torchcuda

add more unit tests to test post-initialization validations
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

Fix pre-commit format errors
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Fix formating
  deepspeed/__init__.py
  deepspeed/comm/torch.py
  deepspeed/runtime/engine.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda

Revert "Fix the bug of deepspeed sequence parallel working with batch size larger than 1 (#5823)"
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

Upgrade HPU image to v1.16.2. (#5610)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

OptimizedLinear updates (#5791)
  deepspeed/linear/__init__.py
  deepspeed/linear/config.py
  deepspeed/linear/context_manager.py
  deepspeed/linear/optimized_linear.py
  deepspeed/linear/quantization.py
  deepspeed/ops/fp_quantizer/quantize.py
  deepspeed/runtime/engine.py
  tests/unit/linear/test_ctx.py
Due: check-torchdist, check-license, check-torchcuda

Update HPU Gaudi docker version again
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Log operator warnings only in verbose mode (#5917)
  op_builder/evoformer_attn.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/sparse_attn.py
  op_builder/spatial_inference.py
  op_builder/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda

Use `torch.nan_to_num` replace numpy wrapper one (#5877)
  deepspeed/runtime/eigenvalue.py
Due: check-torchdist, check-license, check-torchcuda

HPUAccelerator: remove support in set_visible_devices_envs
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Update container version for Gaudi2 CI
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

[Zero2] Reduce the unnecessary all-reduce when tensor size is 0. (#5868)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Fix missing ds_id bug (#5824)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Update container version for Gaudi2 CI (#5937)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Update LR scheduler configuration (#5846)
  deepspeed/runtime/engine.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

HPUAccelerator: remove support in set_visible_devices_envs (#5929)
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Add accelerator setup guides (#5827)
  docs/_tutorials/accelerator-abstraction-interface.md
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Z3: optimizations for grad norm calculation and gradient clipping (#5504)
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero_offloadpp.py
Due: check-torchdist, check-license, check-torchcuda
