Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

update xpu fusedadam opbuilder for pytorch 2.3 (#5702)
  csrc/xpu/adam/multi_tensor_apply.dp.hpp
Due: check-torchdist, check-license, check-torchcuda

[INF] Enable torch compile for inference (#5612)
  deepspeed/inference/engine.py
Due: check-torchdist, check-license

Update node16 check on self-hosted runners and remove python 3.6 (#5756)
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
  .github/workflows/python.yml
Due: check-torchdist

Update checkout action for nv-human-eval workflow (#5757)
  .github/workflows/nv-human-eval.yml
Due: check-torchdist

DeepSpeed Universal Checkpointing: Blog and Tutorial (#5711)
  README.md
  blogs/deepspeed-ucp/README.md
  blogs/deepspeed-ucp/japanese/README.md
  blogs/deepspeed-ucp/media/flowchart.png
  blogs/deepspeed-ucp/media/image1.png
  blogs/deepspeed-ucp/media/image2.png
  blogs/deepspeed-ucp/media/image3.png
  blogs/deepspeed-ucp/media/image4.png
  blogs/deepspeed-ucp/media/image5.png
  blogs/deepspeed-ucp/media/image6.png
  blogs/deepspeed-ucp/media/image7.png
  blogs/deepspeed-ucp/media/image8.png
  docs/_tutorials/universal-checkpointing.md
  docs/index.md
Due: check-torchdist, check-torchcuda

Add Windows scripts (deepspeed, ds_report). (#5699)
  bin/deepspeed.bat
  bin/ds_report.bat
  build_win.bat
  deepspeed/env_report.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

UCP Chinese Blog (#5713)
  blogs/deepspeed-ucp/chinese/README.md
Due: check-torchdist, check-torchcuda

fix the missing argument in test and typo (#5730)
  deepspeed/checkpoint/ds_to_universal.py
  tests/unit/checkpoint/test_universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Fix README font. Add DataStates URL.
  deepspeed/datastates/README.md
Due: check-torchdist, check-torchcuda

Fix readme example view
  deepspeed/datastates/README.md
Due: check-torchdist, check-torchcuda

Fix memory leak for pipelined optimizer swapper
  deepspeed/runtime/swap_tensor/pipelined_optimizer_swapper.py
Due: check-torchdist, check-license, check-torchcuda

Add fp8-fused gemm kernel
  deepspeed/ops/fp_quantizer/fp8_gemm.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda

add get_scale function
  csrc/fp_quantizer/fp_quantize.cpp
  deepspeed/ops/fp_quantizer/__init__.py
  deepspeed/ops/fp_quantizer/quantize.py
Due: check-torchdist, check-license, check-torchcuda

fix phi3 mini load error
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

[bugfix] promote state in bf16_optimizer
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Unit Test: Add error handling for rate limit exceeded in model list (#5715)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

fix a few things to run the test
  csrc/fp_quantizer/fp_quantize.cpp
  deepspeed/ops/__init__.py
  deepspeed/ops/fp_quantizer/fp8_gemm.py
  deepspeed/ops/fp_quantizer/quantize.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda

Use accelerator to replace cuda in setup and runner
  deepspeed/launcher/runner.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

fixes for optim linear
  deepspeed/linear/quantization.py
  tests/unit/linear/test_quant_param.py
Due: check-torchdist, check-license, check-torchcuda

bug fix in setup.py
  setup.py
Due: check-torchdist, check-license

Added wrappers for hpu tensors based on dtype
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Added required imports
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

fix illegal memory corner cases with an extra condition for reading scales
  deepspeed/ops/fp_quantizer/fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda

Fix memory leak for pipelined optimizer swapper (#5700)
  deepspeed/runtime/swap_tensor/pipelined_optimizer_swapper.py
Due: check-torchdist, check-license, check-torchcuda

Remove duplicated variable (#5727)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Fix phi3 mini 128k load error (#5765)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

[CPU] Allow deepspeed.comm.inference_all_reduce in torch.compile graph (#5604)
  csrc/cpu/comm/shm_interface.cpp
  deepspeed/comm/torch.py
Due: check-torchdist, check-license, check-torchcuda

Set flash attn as required and required torch version
  deepspeed/runtime/engine.py
  deepspeed/utils/groups.py
  tests/small_model_debugging/test_ulysses_hf.py
Due: check-torchdist, check-license, check-torchcuda

Added wrappers for hpu tensors based on dtype (#5771)
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

[bugfix] promote state in bf16_optimizer (#5767)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

[FIX] fix deadlock in PipeEngine._exec_recv_grads
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Update the list of supported models in the Chinese README of deepspeed-fastgen.
  blogs/deepspeed-fastgen/chinese/README.md
Due: check-torchdist, check-torchcuda

Launcher mode with SSH bypass (#5728)
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Update the list of supported models in the Chinese README of fastgen (#5773)
  blogs/deepspeed-fastgen/chinese/README.md
Due: check-torchdist, check-torchcuda

Clean up debug statement, clarify log msg
  deepspeed/runtime/engine.py
  tests/small_model_debugging/test_ulysses_hf.py
Due: check-torchdist, check-license, check-torchcuda

remove circular dependency
  deepspeed/runtime/zero/__init__.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/utils.py
  tests/unit/runtime/zero/test_zero_context.py
Due: check-torchdist, check-license, check-torchcuda

Remove deprecated test file
  tests/simple_trainer_ulysses.py
Due: check-torchdist, check-license, check-torchcuda

Remove deprecated test bash script
  tests/run_ulysses_finetune.sh
Due: check-torchdist, check-torchcuda

progress
  deepspeed/linear/config.py
  deepspeed/linear/optimized_linear.py
  deepspeed/linear/quantization.py
  deepspeed/ops/fp_quantizer/quantize.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

lora fixes + initial ckpt signal
  deepspeed/linear/optimized_linear.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda
