Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

add domino navigation (#6866)
  docs/_data/navigation.yml
Due: check-torchcuda, check-extraindexurl

Update TSC (#6867)
  COMMITTERS.md
Due: check-torchdist, check-torchcuda

Domino updates (#6861)
  docs/_tutorials/domino.md
  docs/index.md
Due: check-torchcuda

Fix xpu tests workflow failure by changing pip index url (#6864)
  .github/workflows/xpu-compile.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Update real_accelerator.py (#6845)
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove warnings from autodoc and sphinx (#6788)
  deepspeed/runtime/fp16/onebit/zoadam.py
  deepspeed/runtime/lr_schedules.py
  docs/code-docs/source/monitor.rst
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update transformers ops unit tests to use `requried_torch_version` (#6884)
  tests/unit/ops/transformer/inference/test_bias_geglu.py
  tests/unit/ops/transformer/inference/test_bias_gelu.py
  tests/unit/ops/transformer/inference/test_bias_relu.py
  tests/unit/ops/transformer/inference/test_gelu.py
  tests/unit/ops/transformer/inference/test_matmul.py
  tests/unit/ops/transformer/inference/test_softmax.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix assertion for offloading states (#6855)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove pin from transformers version and fix Processing/Threading issues in tests (#6822)
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
Due: check-torchdist, check-extraindexurl

Add MLP/lm_head tp grain size setting. (#6828)
  deepspeed/inference/config.py
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix --enable_each_rank_log when used with PDSH multi-node runner (#6863)
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow to compile collective for PT>2.3 (#6899)
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

Update code owners (#6890)
  CODEOWNERS
Due: check-torchdist, check-torchcuda

Add arctic model support by adding w2 to all_reduce (#6856)
  deepspeed/module_inject/auto_tp.py
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.16.2 release (#6893)
  version.txt
Due: check-torchdist, check-torchcuda

Don't error out when cpu accelerator doesn't have torch (as default for whl building) (#6886)
  .github/workflows/no-torch.yml
  accelerator/cpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Zero2: avoid graph breaks in torch.compile by using param_idx (#6803)
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Stage3: Use new torch grad accumulation hooks API (#6773)
  deepspeed/runtime/compiler.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/torch.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update Gaudi2 jobs to latest 1.19 build (#6905)
  .github/workflows/hpu-gaudi2-nightly.yml
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Change compile for pipeline module torch.compile (#6478)
  deepspeed/runtime/pipe/module.py
  tests/unit/pipe/test_pipe_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix error caused by all_reduce call in domino (#6880)
  deepspeed/runtime/domino/transformer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

hpu_accelerator: use torch.use_deterministic_algorithms (#6897)
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Cleanup ops/transformer/inference tests (#6925)
  tests/unit/ops/transformer/inference/inference_test_utils.py
  tests/unit/ops/transformer/inference/test_attention.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Cleanup ops/transformer/inference tests (#6830)
  tests/unit/ops/transformer/inference/test_bias_add.py
  tests/unit/ops/transformer/inference/test_bias_gelu.py
  tests/unit/ops/transformer/inference/test_matmul.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Reduce the device bubble introduced by heavy loop synchronization in coalesced fetch/release(z3_leaf_module) (#6694)
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix `checkpointable_layers` Logic (#6881)
  deepspeed/runtime/pipe/module.py
  tests/unit/runtime/activation_checkpointing/test_activation_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add fp8_gemm fallback for non-triton systems (#6916)
  deepspeed/ops/fp_quantizer/__init__.py
  deepspeed/ops/fp_quantizer/fp8_gemm.py
  deepspeed/ops/fp_quantizer/fp8_gemm_triton.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[BUG FIX]:fix get torch.version.cuda error when cuda is None in rocm (#6909)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Fix building on Windows with presence of Triton (#6749)
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use `torch.log1p` (#6930)
  deepspeed/sequence/fpdt_layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

inference: remove unused _validate_args function (#5505)
  deepspeed/inference/engine.py
Due: check-torchdist, check-license, check-extraindexurl

Check transformers version in BLOOM for inference v1 (#6766)
  deepspeed/module_inject/containers/bloom.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update python version classifiers (#6933)
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Add deepseek autotp (#6937)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add position_ids arg to OPTEmbedding forward function (#6939)
  .github/workflows/nv-ds-chat.yml
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Support pure meta model lm_head tp (#6812)
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add information on security expectations with this software (#6941)
  SECURITY.md
Due: check-torchdist, check-torchcuda

Fix windows blog examples (#6934)
  blogs/windows/08-2024/README.md
Due: check-torchdist, check-torchcuda

`warn` to `warning` (#6952)
  accelerator/real_accelerator.py
  deepspeed/runtime/base_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/lr_schedules.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove op compilation flags due to perf issue (#6944)
  op_builder/hpu/builder.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
