Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Update GaudiSW
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Update profiler registration check
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add info to tag
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

sequence parallel for uneven heads (#6392)
  deepspeed/module_inject/tp_shard.py
  deepspeed/sequence/layer.py
  deepspeed/utils/groups.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

shorten process group timeout
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

test prefetching while switching modes
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

set device
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add fallback for is_compiling (#6663)
  deepspeed/runtime/compiler.py
  deepspeed/utils/logging.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add support for H100/sm_90 arch compilation
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Run on specialized runner
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

set blank to NCCL_SOCKET_IFNAME
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Update profiler registration check (#6668)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

change test parameter
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix memcpy issue on backward for zero-infinity
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Faster and more memory-efficient impl of zero_to_fp32
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow to compile collective for PT > 2.3
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

Add no_sync context manager
  .pre-commit-config.yaml
  csrc/deepspeed4science/evoformer_attn/attention_back.cu
  csrc/deepspeed4science/evoformer_attn/attention_cu.cu
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_access_iterator_residual_last.h
  csrc/deepspeed4science/evoformer_attn/transform/bias_broadcast.h
  csrc/includes/type_shim.h
  csrc/xpu/includes/type_shim.h
  deepspeed/inference/v2/kernels/ragged_ops/ragged_helpers/ragged_dtypes.h
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating_cuda.cu
  deepspeed/inference/v2/model_implementations/layer_container_base.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add unit tests
  .pre-commit-config.yaml
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add support for H100/sm_90 arch compilation (#6669)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

add option to disable mixed precision
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Set version backto torch 2.3.1
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

fix formatting
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

Prevent reentry
  .pre-commit-config.yaml
  deepspeed/runtime/engine.py
  tests/unit/runtime/test_no_sync_ctxt.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Format fixes
  .pre-commit-config.yaml
  tests/unit/runtime/test_no_sync_ctxt.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update Gaudi2 docker image (#6677)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Update to version 1.18 firmware
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Formatting fixes
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_copy.cpp
  csrc/deepspeed4science/evoformer_attn/gemm_kernel_utils.h
  csrc/includes/simd.h
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
  deepspeed/inference/v2/model_implementations/phi3small/model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert "Formatting fixes"
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_copy.cpp
  csrc/deepspeed4science/evoformer_attn/gemm_kernel_utils.h
  csrc/includes/simd.h
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
  deepspeed/inference/v2/model_implementations/phi3small/model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

pass error in test to parent process
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Format fixes
  deepspeed/inference/v2/model_implementations/phi3small/model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Align clang-format
  csrc/deepspeed4science/evoformer_attn/attention_back.cu
  csrc/deepspeed4science/evoformer_attn/attention_cu.cu
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_access_iterator_residual_last.h
  csrc/deepspeed4science/evoformer_attn/transform/bias_broadcast.h
  csrc/includes/type_shim.h
  csrc/xpu/includes/type_shim.h
  deepspeed/inference/v2/kernels/ragged_ops/ragged_helpers/ragged_dtypes.h
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating_cuda.cu
Due: check-torchdist, check-license, check-torchcuda

Update gaudi2 docker version to latest release (1.18) (#6648)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Update all a6000 workflows that used a docker image with python 3.8 to one with python 3.10 as transformers dropped support for python 3.8
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-human-eval.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

removing commented code
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
Due: check-torchdist, check-license, check-torchcuda

Update torch-ver in the sd-tests
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update torch_ver in nv-a6000 workflow as well
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update final torch_ver
  .github/workflows/nv-human-eval.yml
Due: check-torchdist, check-extraindexurl

Switch order to check status of MII tests
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update container to 24.03
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Support repeated contexts
  tests/unit/runtime/test_no_sync_ctxt.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
