Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

update news for domino
  README.md
Due: check-torchdist, check-torchcuda

fix typo
  README.md
Due: check-torchdist, check-torchcuda

add fpdt tutorial link
  docs/_tutorials/fpdt.md
Due: check-torchcuda

Domino news update on readme.md (#6815)
  README.md
Due: check-torchdist, check-torchcuda

Formatting
  docs/_tutorials/fpdt.md
Due: check-torchcuda

Codespell
  docs/_tutorials/fpdt.md
Due: check-torchcuda

Formatting
  blogs/ulysses-offload/README.md
Due: check-torchdist, check-torchcuda

Update pre-commit version
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

Update to pre-commit 5
  .pre-commit-config.yaml
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda, check-extraindexurl

update ulysses-offload tutorial
  docs/_tutorials/ulysses-offload.md
Due: check-torchcuda

Word smitting
  blogs/ulysses-offload/README.md
Due: check-torchdist, check-torchcuda

developing our own cuda op
  csrc/aio/py_lib/deepspeed_aio_thread.h
  csrc/aio/py_lib/deepspeed_cuda_op.cpp
  csrc/aio/py_lib/deepspeed_cuda_op.h
  csrc/aio/py_lib/deepspeed_pin_tensor.cpp
  csrc/aio/py_lib/deepspeed_pin_tensor.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/aio/py_lib/py_ds_aio.cpp
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Naming + fix broken link
  blogs/ulysses-offload/README.md
Due: check-torchdist, check-torchcuda

Fix typos
  blogs/ulysses-offload/README.md
Due: check-torchdist, check-torchcuda

add dataloader check
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refactor autoTP step1
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

unify booleans to use scatter_idx
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix zero checkpoint (#6792)
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update formatting
  docs/_tutorials/ulysses-offload.md
Due: check-torchcuda

Update python version but now we need to include setuptools on our own (#6787)
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

out of order completion queue for thread pools
  csrc/aio/py_lib/deepspeed_aio_pool.cpp
  csrc/aio/py_lib/deepspeed_aio_pool.h
  csrc/aio/py_lib/deepspeed_aio_thread.cpp
  csrc/aio/py_lib/deepspeed_aio_thread.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
Due: check-torchdist, check-license, check-torchcuda

Adding the new feature of FPDT (#6462)
  .github/workflows/nv-flash-attn.yml
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/sequence/fpdt_layer.py
  deepspeed/sequence/layer.py
  requirements/requirements.txt
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin transformers to avoid errors with latest version
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Update README.md
  blogs/ulysses-offload/README.md
Due: check-torchdist, check-torchcuda

rm parallel_states
  deepspeed/utils/parallel_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add additional fix and unit test
  deepspeed/runtime/pipe/module.py
  tests/unit/pipe/test_pipe_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Change compile for pipeline module torch.compile
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refactor autoTP step2
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/load_checkpoint.py
  deepspeed/utils/__init__.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add tp grain size
  deepspeed/inference/config.py
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin transformers to avoid errors with latest version (#6820)
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Ulyssess offload blog (#6814)
  blogs/ulysses-offload/README.md
  blogs/ulysses-offload/media/image1.png
  blogs/ulysses-offload/media/image2.png
  blogs/ulysses-offload/media/image3.png
  blogs/ulysses-offload/media/image4.png
  blogs/ulysses-offload/media/image5.png
Due: check-torchdist, check-torchcuda

add FPDT tutorial (#6813)
  docs/_tutorials/ulysses-offload.md
Due: check-torchcuda

Remove pin from transformers versio
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Pin transformers version - latest 4.47 release breaks CI due to changes in processing/threading
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist, check-extraindexurl

Update README.md
  README.md
Due: check-torchdist, check-torchcuda
