Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

adding all the offsets
  csrc/aio/common/deepspeed_aio_utils.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
Due: check-torchdist, check-license, check-torchcuda

fixing compiles
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/gds/py_lib/py_ds_gds.cpp
  deepspeed/runtime/swap_tensor/utils.py
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

pytest additions
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/gds/py_lib/py_ds_gds.cpp
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix formatting
  csrc/aio/py_lib/py_ds_aio.cpp
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add support only for warpsize 64
  csrc/transformer/inference/csrc/apply_rotary_pos_emb.cu
Due: check-torchdist, check-license, check-torchcuda

use same deepspeed_cpu_op with cuda
  csrc/xpu/aio/deepspeed_cpu_op.cpp
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

upgrade xpu-1100 CI
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

z3 coalesced fetch
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/z3_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix format
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/z3_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update gaudi2 docker version to latest release
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

fix default value
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix default
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] upgrade xpu max1100 CI workflow to pytorch2.3 (#6646)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

[XPU] host timer check version from Torch 2.5 to Torch 2.6 (#6633)
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add attribute check for language_model when replace last linear module
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] [DeepNVMe] use same cpu_op_desc_t with cuda (#6645)
  csrc/xpu/aio/deepspeed_cpu_op.cpp
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.15.3 release (#6652)
  version.txt
Due: check-torchdist, check-torchcuda

fix format
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

unpin torch version
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist, check-extraindexurl

Fix expert grad scaling problem with ZeRO optimizer (#6546)
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/moe/test_moe.py
  tests/unit/simple_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix ut
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

support the conversion from ZeRO checkpoints to FP32/FP16/BF16 parameter weights in parallel via UCP
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

not change the function name for compatibility
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

nit
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

use one param coordinator for both train/inference modes
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add attribute check for language_model when replace last linear module (#6650)
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix init_device_mesh for torch 2.4 (#6614)
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

fix initial trace mode
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

stop tracing for compiler from modifying prefetch info
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

remove arg to choose param coordinator
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add fallback for is_compiling func
  deepspeed/runtime/compiler.py
  deepspeed/utils/logging.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

set file path for filestore
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

use /dev/shm for filestore
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Test with updated workflow
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Fix dynamo issue (#6527)
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add fallback for is_compiling (#6663)
  deepspeed/runtime/compiler.py
  deepspeed/utils/logging.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update Gaudi2 workflow docker image to 1.17.1
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

fix formatting issue
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update to torch 2.4
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
