Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

feat: Add global_comm_cache configuration and initialization in comm/comm.py
  comm/comm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix errors when set zero3 leaf modules
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

modify streams
  deepspeed/sequence/fpdt_layer.py
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

adding perf debugging
  csrc/aio/common/deepspeed_aio_common.cpp
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

modify streams
  deepspeed/sequence/fpdt_layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

init
  .github/workflows/xpu-compile.yml
  tests/torch_compile/ds_config.json
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add reset_cache to workspace
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/ops/transformer/inference/op_binding/workspace.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin to pre 4.0.0 versio
  requirements/requirements-1bit-mpi.txt
Due: check-torchdist, check-torchcuda

Install mpi4py requirements in accelerate flow
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Skip problematic new tests in accelerate
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Whitespace
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Skip failing newly added tests in accelerate (#6574)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Use msgpack for p2p comm (#6547)
  deepspeed/runtime/pipe/p2p.py
  requirements/requirements.txt
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

format fix & adding env variable
  .github/workflows/xpu-compile.yml
  tests/torch_compile/ds_config.json
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Changed linear filter of qwen2-moe from _replace_module() to _replace() for uniform code management. Both have the same function and the same result.
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

DeepNVMe perf tuning (#6560)
  bin/ds_io
  bin/ds_nvme_tune
  deepspeed/nvme/__init__.py
  deepspeed/nvme/ds_aio_args.py
  deepspeed/nvme/ds_aio_basic.py
  deepspeed/nvme/ds_aio_handle.py
  deepspeed/nvme/ds_aio_job.py
  deepspeed/nvme/parse_nvme_stats.py
  deepspeed/nvme/perf_generate_param.py
  deepspeed/nvme/perf_run_sweep.py
  deepspeed/nvme/perf_sweep_utils.py
  deepspeed/nvme/test_ds_aio.py
  deepspeed/nvme/test_ds_aio_utils.py
  deepspeed/nvme/validate_async_io.py
  docs/_tutorials/deepnvme.md
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[Accelerator] Cambricon MLU support (#6472)
  accelerator/mlu_accelerator.py
  accelerator/real_accelerator.py
  op_builder/mlu/__init__.py
  op_builder/mlu/builder.py
  op_builder/mlu/cpu_adagrad.py
  op_builder/mlu/cpu_adam.py
  op_builder/mlu/fused_adam.py
  op_builder/mlu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix gradient accumulation for Z2+offload (#6550)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix errors when setting zero3 leaf modules with torch.compile (#6564)
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix check on supported_dtypes
  deepspeed/inference/engine.py
Due: check-torchdist, check-license, check-extraindexurl

Formatting fixes
  deepspeed/inference/engine.py
Due: check-torchdist, check-license, check-extraindexurl

[XPU] Support DeepNVMe new code structure (#6532)
  csrc/xpu/aio/deepspeed_cpu_op.cpp
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

lr step should go before optimizer step for proper updates
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add APIs to offload states of model, optimizer, and engine (#6011)
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/offload_config.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/utils.py
  docs/code-docs/source/zero3.rst
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add bfloat16 to inference support dtypes (#6528)
  deepspeed/inference/engine.py
Due: check-torchdist, check-license, check-extraindexurl

Added Qwen2-MoE to the model list of auto_tp
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchcuda

[COMPILE] workflow for deepspeed + torch.compile (#6570)
  .github/workflows/xpu-compile.yml
  tests/torch_compile/ds_config.json
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add llama vision support
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add logging of multiprocessing
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Support safetensors export
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add huawei-ascend-npu.yml
  .github/workflows/huawei-ascend-npu.yml
  README.md
  requirements/requirements-npu.txt
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fixes on the accelerate side mean we do not need to skip this test
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Fixes on the accelerate side mean we do not need to skip this test (#6583)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Fix MLU op builder torch install
  op_builder/mlu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update triggers for no-torch test
  .github/workflows/no-torch.yml
Due: check-torchdist, check-extraindexurl

Formatting/syntax error
  op_builder/mlu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix syntax
  op_builder/mlu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refactor to extract API to get devices of offload states
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/offload_states.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix import and add license
  deepspeed/runtime/zero/offload_states.py
  deepspeed/runtime/zero/stage3.py
  docs/code-docs/source/zero3.rst
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix document
  docs/code-docs/source/zero3.rst
Due: check-torchcuda
