Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Remove old Makefile
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/Makefile.old
Due: check-torchdist, check-torchcuda

Remove hip_ops folder
  deepspeed/inference/v2/kernels/core_ops/hip_ops/bias_activations/bias_activation_cpp_hip.cpp
  deepspeed/inference/v2/kernels/core_ops/hip_ops/bias_activations/bias_activation_cu_hip.cpp
Due: check-torchdist, check-license, check-torchcuda

Further refactor deepspeed.moe.utils + deepspeed.moe.layer type hints (#5060)
  deepspeed/moe/layer.py
  deepspeed/moe/utils.py
Due: check-torchdist, check-license, check-torchcuda

Remove old vector add code
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/vectoradd_hip.cpp
Due: check-torchdist, check-license, check-torchcuda

Fix verification for ZeRO3 leaf module (#5074)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Stop tracking backward chain of broadcast in initialization (#5075)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

update DistributedTest to work with torch.compile tests
  tests/unit/common.py
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
  tests/unit/runtime/compile/test_load_config.py
  tests/unit/runtime/compile/util.py
Due: check-torchdist, check-license, check-torchcuda

remove unused global
  tests/unit/runtime/compile/util.py
Due: check-torchdist, check-license, check-torchcuda

Add x86 accelerator
  accelerator/real_accelerator.py
  accelerator/x86_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Add backwards compatibility w/ older versions of diffusers (<0.25.0)
  deepspeed/module_inject/containers/vae.py
Due: check-torchdist, check-license, check-torchcuda

First draft triton fused bias activation kernel
  deepspeed/ops/transformer/inference/triton/biased_act.py
  tests/unit/ops/transformer/inference/test_bias_act_relu.py
Due: check-torchdist, check-license, check-torchcuda

Second draft :)
  deepspeed/ops/transformer/inference/triton/bias_act.py
Due: check-torchdist, check-license, check-torchcuda

Add accelerator
  accelerator/cuda_accelerator.py
  accelerator/x86_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Wrong branch
  .github/workflows/nv-h100.yml
Due: check-torchdist

Wrong branch take 2
  .github/workflows/nv-h100.yml
Due: check-torchdist

Formatting
  accelerator/x86_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Update nv-torch-latest-version
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

Revert "Update nv-torch-latest-version"
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

Update torch version
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

Update to latest unpinned torch
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

Triton fused_bias_activation function for gelu,relu and silu
  deepspeed/ops/transformer/inference/triton/__init__.py
  deepspeed/ops/transformer/inference/triton/bias_act.py
  deepspeed/ops/transformer/inference/triton/biased_act.py
  tests/unit/ops/transformer/inference/test_bias_act_relu.py
Due: check-torchdist, check-license, check-torchcuda

Simplify if-else, add comments
  deepspeed/module_inject/containers/vae.py
Due: check-torchdist, check-license, check-torchcuda

Further simplify if-else chain
  deepspeed/module_inject/containers/vae.py
Due: check-torchdist, check-license, check-torchcuda

Renamed the test file and functions
  tests/unit/ops/transformer/inference/test_fused_bias_activation.py
Due: check-torchdist, check-license, check-torchcuda

Update torch version for nv-torch-latest-cpu (#5086)
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

Add backwards compatibility w/ older versions of diffusers (<0.25.0) (#5083)
  deepspeed/module_inject/containers/vae.py
Due: check-torchdist, check-license, check-torchcuda

Renamed the function.
  deepspeed/ops/transformer/inference/triton/__init__.py
  deepspeed/ops/transformer/inference/triton/fused_bias_act.py
  tests/unit/ops/transformer/inference/test_fused_bias_activation.py
Due: check-torchdist, check-license, check-torchcuda

Removed older bias_act
  deepspeed/ops/transformer/inference/triton/bias_act.py
Due: check-torchdist, check-license, check-torchcuda

Changed all the names in the test.
  tests/unit/ops/transformer/inference/test_fused_bias_activation.py
Due: check-torchdist, check-license, check-torchcuda

Enable torch.compile with ZeRO (Experimental) (#4878)
  deepspeed/__init__.py
  deepspeed/comm/torch.py
  deepspeed/runtime/compiler.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/utils.py
  tests/unit/common.py
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
  tests/unit/runtime/compile/test_load_config.py
  tests/unit/runtime/compile/util.py
Due: check-torchdist, check-license, check-torchcuda

change barrier to sync
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

use ninja to speed up build
  deepspeed/inference/v2/kernels/core_ops/bias_activations/bias_activation_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_layer_norm/layer_norm_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_rms_norm/rms_norm_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/gated_activations/gated_activation_kernels_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/embed/embed_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/logits_gather/logits_gather_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/moe_gather/moe_gather_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/moe_scatter/moe_scatter_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating_cuda.cu
  op_builder/builder.py
  op_builder/cpu/builder.py
  op_builder/hpu/builder.py
  op_builder/inference_core_ops.py
  op_builder/ragged_ops.py
  op_builder/xpu/builder.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

Accept code review suggestions
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/hpu_accelerator.py
  accelerator/npu_accelerator.py
  accelerator/xpu_accelerator.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Pin torch on cpu-inference tests
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Refactor Allocator class and add caching for empty_from method
  deepspeed/inference/v2/allocator.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/inference/v2/allocator.py
Due: check-torchdist, check-license, check-torchcuda

Update nv-accelerate to latest torch (#5040)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist

Update x86 memory management and remove last of cuda references, update default
  accelerator/real_accelerator.py
  accelerator/x86_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Forgot to import psutil
  accelerator/x86_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Add check to exempt 'torch.cuda' from pre-commit formatting checks - this is needed to determine which torch accelerator, cpu or cuda we are using
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
