Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

move more files to folder op_builder\cuda
  deepspeed/ops/adagrad/cpu_adagrad.py
  deepspeed/ops/adam/cpu_adam.py
  deepspeed/ops/aio/__init__.py
  op_builder/cuda/__init__.py
  op_builder/cuda/async_io.py
  op_builder/cuda/builder.py
  op_builder/cuda/cpu_adagrad.py
  op_builder/cuda/cpu_adam.py
  op_builder/cuda/cpu_lion.py
  op_builder/cuda/sparse_attn.py
  tests/unit/checkpoint/test_lr_scheduler.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/ops/adagrad/test_cpu_adagrad.py
  tests/unit/ops/adam/test_hybrid_adam.py
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/lion/test_cpu_lion.py
  tests/unit/ops/lion/test_lion.py
  tests/unit/runtime/half_precision/test_bf16.py
  tests/unit/runtime/half_precision/test_fp16.py
  tests/unit/runtime/zero/test_ignore_unused_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Pin accelerate version to 0.30.1
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

move files to op_builder\cuda
  op_builder/cuda/__init__.py
  op_builder/cuda/async_io.py
  op_builder/cuda/builder.py
  op_builder/cuda/cpu_adagrad.py
  op_builder/cuda/cpu_adam.py
  op_builder/cuda/cpu_lion.py
  op_builder/cuda/evoformer_attn.py
  op_builder/cuda/fp_quantizer.py
  op_builder/cuda/fused_adam.py
  op_builder/cuda/fused_lamb.py
  op_builder/cuda/fused_lion.py
  op_builder/cuda/inference_core_ops.py
  op_builder/cuda/inference_cutlass_builder.py
  op_builder/cuda/quantizer.py
  op_builder/cuda/ragged_ops.py
  op_builder/cuda/ragged_utils.py
  op_builder/cuda/random_ltd.py
  op_builder/cuda/sparse_attn.py
  op_builder/cuda/spatial_inference.py
  op_builder/cuda/stochastic_transformer.py
  op_builder/cuda/transformer.py
  op_builder/cuda/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda

Pin transformers version for MII tests
  .github/workflows/nv-mii.yml
Due: check-torchdist

remove unuseful import
  op_builder/__init__.py
Due: check-torchdist, check-license, check-torchcuda

Pin transformers version for MII tests (#5629)
  .github/workflows/nv-mii.yml
Due: check-torchdist

Ideally, we want to move cuda specific builder info from folder op_builder to folder cuda, but the current implementation is a bit hard to spit, so will need to revisit it.
  op_builder/__init__.py
  op_builder/builder.py
  op_builder/cuda/builder.py
Due: check-torchdist, check-license, check-torchcuda

add missing args to softmax context
  csrc/transformer/inference/csrc/pt_binding.cpp
Due: check-torchdist, check-license, check-torchcuda

stage_1_and_2: optimize clip calculation to use clamp
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Monitor was always enabled causing performance degradation
  deepspeed/monitor/config.py
Due: check-torchdist, check-license, check-torchcuda

more fixed
  csrc/fp_quantizer/includes/quantize.h
  csrc/fp_quantizer/quantize.cpp
  csrc/fp_quantizer/quantize.cu
  deepspeed/ops/fp_quantizer/quantize.py
Due: check-torchdist, check-license, check-torchcuda

WA for Torch-compile-Z3-act-apt accuracy issue from the Pytorch repo (#5590)
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

stage_1_and_2: optimize clip calculation to use clamp (#5632)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Fix overlap communication of ZeRO stage 1 and 2 (#5606)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

the current test logic for optim state does not work for ZeRO3
  tests/unit/checkpoint/test_universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Improve _configure_optimizer() final optimizer log (#5528)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Enhance testing: Skip fused_optimizer tests if not supported. (#5159)
  tests/unit/elasticity/test_elastic.py
  tests/unit/ops/adam/test_cpu_adam.py
  tests/unit/ops/adam/test_hybrid_adam.py
  tests/unit/runtime/half_precision/test_dynamic_loss_scale.py
  tests/unit/runtime/half_precision/test_fp16.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

rocblas -> hipblas changes for ROCm (#5401)
  csrc/includes/cublas_wrappers.h
  csrc/includes/feed_forward.h
  csrc/includes/gemm_test.h
  csrc/includes/strided_batch_gemm.h
  csrc/transformer/cublas_wrappers.cu
  csrc/transformer/inference/csrc/pt_binding.cpp
  csrc/transformer/inference/includes/inference_cublas_wrappers.h
  deepspeed/inference/v2/kernels/core_ops/blas_kernels/blas_utils.h
  deepspeed/inference/v2/kernels/core_ops/gated_activations/gated_activation_kernels_cuda.cu
Due: check-torchdist, check-license, check-torchcuda

Skip the UT cases that use unimplemented op builders. (#5372)
  tests/unit/elasticity/test_elastic.py
  tests/unit/ops/accelerators/test_accelerator_backward.py
  tests/unit/ops/accelerators/test_accelerator_forward.py
  tests/unit/ops/lion/test_cpu_lion.py
  tests/unit/ops/lion/test_lion.py
  tests/unit/runtime/half_precision/test_dynamic_loss_scale.py
  tests/unit/runtime/half_precision/test_fp16.py
Due: check-torchdist, check-license, check-torchcuda

Rocm warp size fix (#5402)
  csrc/includes/ds_kernel_utils.h
  csrc/random_ltd/token_sort.cu
  csrc/transformer/inference/csrc/apply_rotary_pos_emb.cu
  deepspeed/inference/v2/kernels/includes/ds_kernel_utils.h
  op_builder/builder.py
Due: check-torchdist, check-license, check-torchcuda

Optimize zero3 fetch params using all_reduce (#5420)
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Fix the TypeError for XPU Accelerator (#5531)
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

CPUAdam fp16 and bf16 support (#5409)
  csrc/adagrad/cpu_adagrad.cpp
  csrc/adam/cpu_adam.cpp
  csrc/adam/cpu_adam_impl.cpp
  csrc/common/custom_cuda_kernel.cu
  csrc/includes/cpu_adagrad.h
  csrc/includes/cpu_adam.h
  csrc/includes/cpu_lion.h
  csrc/includes/custom_cuda_layers.h
  csrc/includes/simd.h
  csrc/lion/cpu_lion.cpp
  csrc/lion/cpu_lion_impl.cpp
  deepspeed/ops/adagrad/cpu_adagrad.py
  deepspeed/ops/adam/cpu_adam.py
  deepspeed/ops/lion/cpu_lion.py
  op_builder/builder.py
  op_builder/cpu/builder.py
  op_builder/cpu_adagrad.py
  op_builder/cpu_adam.py
  op_builder/cpu_lion.py
  op_builder/hpu/builder.py
  op_builder/hpu/cpu_adam.py
  tests/perf/adam_test1.py
  tests/unit/common.py
  tests/unit/ops/adagrad/test_cpu_adagrad.py
  tests/unit/ops/adam/test_cpu_adam.py
  tests/unit/ops/adam/test_hybrid_adam.py
  tests/unit/ops/lion/test_cpu_lion.py
Due: check-torchdist, check-license, check-torchcuda

Fix RuntimeError for moe on XPU: tensors found at least two devices (#5519)
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

Remove synchronize calls from allgather params (#5516)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Avoid overwrite of compiled module wrapper attributes (#5549)
  deepspeed/runtime/compiler.py
Due: check-torchdist, check-license, check-torchcuda

Adapt doc for #4405 (#5552)
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

Small typos in functions set_none_gradients_to_zero (#5557)
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Update to HF_HOME from TRANSFORMERS_CACHE (#4816)
  .github/workflows/cpu-inference.yml
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/setup-venv/action.yml
  tests/unit/inference/test_checkpoint_sharding.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

[INF] DSAttention allow input_mask to have false as value (#5546)
  deepspeed/ops/transformer/inference/ds_attention.py
Due: check-torchdist, check-license, check-torchcuda

Add Ulysses DistributedAttention compatibility (#5525)
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

Add throughput timer configuration (#5363)
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/utils/config.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda

Add hybrid_engine.py as path to trigger the DS-Chat GH workflow (#5562)
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

Rename files in fp_quantize op from quantize.* to fp_quantize.* (#5577)
  csrc/fp_quantizer/fp_quantize.cpp
  csrc/fp_quantizer/fp_quantize.cu
  csrc/fp_quantizer/includes/fp_quantize.h
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda

Update HPU docker version (#5566)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

[MiCS] Remove the handle print on DeepSpeed side (#5574)
  deepspeed/runtime/zero/mics.py
Due: check-torchdist, check-license, check-torchcuda

DeepSpeedCheckpoint: support custom final ln idx (#5506)
  deepspeed/checkpoint/deepspeed_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Update minor CUDA version compatibility (#5591)
  op_builder/builder.py
Due: check-torchdist, check-license

Update to fix sidebar over text (#5567)
  docs/_sass/minimal-mistakes/_sidebar.scss
Due: check-torchcuda

estimate_zero2_model_states_mem_needs: fixing memory estiamtion (#5099)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda
