Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Skip on architecture where it is unsupported
  tests/unit/inference/quantization/test_intX_quantization.py
Due: check-torchdist, check-license, check-torchcuda

Remove skips
  tests/unit/inference/quantization/test_intX_quantization.py
Due: check-torchdist, check-license, check-torchcuda

Enable tests
  .github/workflows/nv-inference.yml
Due: check-torchdist

Revert "Enable tests"
  .github/workflows/nv-inference.yml
Due: check-torchdist

Re-enable more tests
  .github/workflows/nv-inference.yml
Due: check-torchdist

Test with cu11.3, torch 1.11
  .github/workflows/nv-torch113-p40.yml
  .github/workflows/nv-torch113-v100.yml
Due: check-torchdist

use env vars to avoid hardcoding the value of use_ninja and nvcc_threads
  op_builder/builder.py
  setup.py
Due: check-torchdist, check-license

added main as example
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

add sum over batch
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

fixing previous commit
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

get_grad_norm_direct: fix a case of empty norm group
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

handle formatting issues
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Update data_analyzer.py
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

first working version. idx files differ
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

fix gradient clipping
  deepspeed/runtime/utils.py
  tests/unit/runtime/test_runtime_utils.py
Due: check-torchdist, check-license, check-torchcuda

udpate fp32 master params of bf16 optimizer after allreduce
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

added missing static function
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

removed/added breaklines to match base code
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

corrected comment
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

imports
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

removed main
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

reverted main
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

Enhance testing: Skip fused_optimizer tests if not supported by the accelerator.
  tests/unit/compression/test_compression.py
  tests/unit/elasticity/test_elastic.py
  tests/unit/ops/adam/test_cpu_adam.py
  tests/unit/ops/adam/test_hybrid_adam.py
  tests/unit/runtime/half_precision/test_dynamic_loss_scale.py
  tests/unit/runtime/half_precision/test_fp16.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

Enhancement: Introduce support for skipping Inference V2 tests when the accelerator is not compatible.
  tests/unit/inference/v2/inference_test_utils.py
  tests/unit/inference/v2/kernels/core_ops/test_bias_activation.py
  tests/unit/inference/v2/kernels/core_ops/test_blas_linear.py
  tests/unit/inference/v2/kernels/core_ops/test_gated_activation.py
  tests/unit/inference/v2/kernels/core_ops/test_post_ln.py
  tests/unit/inference/v2/kernels/core_ops/test_pre_ln.py
  tests/unit/inference/v2/kernels/core_ops/test_rms_norm.py
  tests/unit/inference/v2/kernels/cutlass_ops/test_moe_gemm.py
  tests/unit/inference/v2/kernels/ragged_ops/test_atom_builder.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_flash.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_kv_copy.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_rotary_emb.py
  tests/unit/inference/v2/kernels/ragged_ops/test_logits_gather.py
  tests/unit/inference/v2/kernels/ragged_ops/test_moe_gather.py
  tests/unit/inference/v2/kernels/ragged_ops/test_moe_scatter.py
  tests/unit/inference/v2/kernels/ragged_ops/test_ragged_embed.py
  tests/unit/inference/v2/kernels/ragged_ops/test_top_k_gating.py
  tests/unit/inference/v2/model_implementations/parameters/test_contiguify.py
  tests/unit/inference/v2/model_implementations/parameters/test_layer_inheritance.py
  tests/unit/inference/v2/model_implementations/parameters/test_mapping.py
  tests/unit/inference/v2/model_implementations/parameters/test_multi_parameter_layer.py
  tests/unit/inference/v2/model_implementations/parameters/test_parameter_list.py
  tests/unit/inference/v2/model_implementations/sharding/test_attn_out_sharding.py
  tests/unit/inference/v2/model_implementations/sharding/test_mlp_sharding.py
  tests/unit/inference/v2/model_implementations/sharding/test_qkv_sharding.py
  tests/unit/inference/v2/modules/test_blas_linear_module.py
  tests/unit/inference/v2/modules/test_blocked_attn.py
  tests/unit/inference/v2/modules/test_cuda_pre_ln_module.py
  tests/unit/inference/v2/modules/test_custom_module.py
  tests/unit/inference/v2/modules/test_cutlass_moe.py
  tests/unit/inference/v2/modules/test_post_ln_module.py
  tests/unit/inference/v2/modules/test_pre_rms_module.py
  tests/unit/inference/v2/ragged/test_blocked_allocator.py
  tests/unit/inference/v2/ragged/test_manager_configs.py
  tests/unit/inference/v2/ragged/test_ragged_wrapper.py
Due: check-torchdist, check-license, check-torchcuda

Enhance testing: Added support for skipping Inference V2 tests when the accelerator is not compatible.
  tests/unit/inference/v2/inference_test_utils.py
  tests/unit/inference/v2/kernels/core_ops/test_bias_activation.py
  tests/unit/inference/v2/kernels/core_ops/test_blas_linear.py
  tests/unit/inference/v2/kernels/core_ops/test_gated_activation.py
  tests/unit/inference/v2/kernels/core_ops/test_post_ln.py
  tests/unit/inference/v2/kernels/core_ops/test_pre_ln.py
  tests/unit/inference/v2/kernels/core_ops/test_rms_norm.py
  tests/unit/inference/v2/kernels/cutlass_ops/test_moe_gemm.py
  tests/unit/inference/v2/kernels/ragged_ops/test_atom_builder.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_flash.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_kv_copy.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_rotary_emb.py
  tests/unit/inference/v2/kernels/ragged_ops/test_logits_gather.py
  tests/unit/inference/v2/kernels/ragged_ops/test_moe_gather.py
  tests/unit/inference/v2/kernels/ragged_ops/test_moe_scatter.py
  tests/unit/inference/v2/kernels/ragged_ops/test_ragged_embed.py
  tests/unit/inference/v2/kernels/ragged_ops/test_top_k_gating.py
  tests/unit/inference/v2/model_implementations/parameters/test_contiguify.py
  tests/unit/inference/v2/model_implementations/parameters/test_layer_inheritance.py
  tests/unit/inference/v2/model_implementations/parameters/test_mapping.py
  tests/unit/inference/v2/model_implementations/parameters/test_multi_parameter_layer.py
  tests/unit/inference/v2/model_implementations/parameters/test_parameter_list.py
  tests/unit/inference/v2/model_implementations/sharding/test_attn_out_sharding.py
  tests/unit/inference/v2/model_implementations/sharding/test_mlp_sharding.py
  tests/unit/inference/v2/model_implementations/sharding/test_qkv_sharding.py
  tests/unit/inference/v2/modules/test_blas_linear_module.py
  tests/unit/inference/v2/modules/test_blocked_attn.py
  tests/unit/inference/v2/modules/test_cuda_pre_ln_module.py
  tests/unit/inference/v2/modules/test_custom_module.py
  tests/unit/inference/v2/modules/test_cutlass_moe.py
  tests/unit/inference/v2/modules/test_post_ln_module.py
  tests/unit/inference/v2/modules/test_pre_rms_module.py
  tests/unit/inference/v2/ragged/test_blocked_allocator.py
  tests/unit/inference/v2/ragged/test_manager_configs.py
  tests/unit/inference/v2/ragged/test_ragged_wrapper.py
Due: check-torchdist, check-license, check-torchcuda

bug fix in sample calculation
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

added worker_an and num_worker to kwargs
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

removed dist.initialize ()from DataAnalyzer.run_map_reduce
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

set `use_ninja` in better way
  setup.py
Due: check-torchdist, check-license

fix gradient accumulation
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

seperate buffer per rank (but will hang)
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

Add HPU accelerator support in unit tests.
  tests/unit/common.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

fix typo
  setup.py
Due: check-torchdist, check-license

Test with PyTest 8.0.0
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Pin to PyTest 8.0.0 (#5163)
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Let PyTest update to 8.0.1
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

MOE: Fix save checkpoint when TP > 1
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Use latest transformers
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Fix the way torch.float32 gets initialized
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda
