Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

AIO on ROCM (#7023)
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update setuptools min requirement
  pyproject.toml
Due: check-torchdist, check-torchcuda

Switch build to legacy
  pyproject.toml
Due: check-torchdist, check-torchcuda

Test with no build isolation
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist, check-extraindexurl

Add no-build isolation
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist, check-extraindexurl

Control trace cache warnings
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update docs
  docs/_pages/config-json.md
Due: check-torchcuda

Add deepseekV3 AutoTP
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enable safe_get/set APIs for NVMe offload
  deepspeed/runtime/swap_tensor/__init__.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
  deepspeed/runtime/swap_tensor/pipelined_optimizer_swapper.py
  deepspeed/runtime/swap_tensor/utils.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting fixes
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

disable_logger_for_pt2.6
  deepspeed/utils/logging.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update cuda compute capability for cross compile
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Fix format
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

fic typo
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Pin nv-a6000 workflow (#6938)
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Support pure meta model lm_head tp (#6812)
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove op compilation flags due to perf issue (#6944)
  op_builder/hpu/builder.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[inf] Add config var to enable keeping module on host (#6846)
  deepspeed/inference/config.py
  deepspeed/inference/engine.py
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enabled Qwen2-MoE Tensor Parallism (TP) inference
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove Duplicate Declaration of pandas in `Dockerfile` (#6959)
  docker/Dockerfile
Due: check-torchdist, check-torchcuda

`warn` to `warning` (#6952)
  accelerator/real_accelerator.py
  deepspeed/runtime/base_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/lr_schedules.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add extra_repr to Linear classes for debugging purpose (#6954)
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enabled configurable autoTP to run out-of-box and remain compatible with existing autoTP rules.
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update import for torchvision.transformers (#6958)
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enabled configurable auto Tensor Parallelism (TP) for inference of diverse models
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add the missing view operations from sequence parallel(async). (#6750)
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fixed error names
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Added the explanation of DS_REMOVED_COMMON_REDUCE_LINEAR_KEYS
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Added input examples and fixed bugs when input is None.
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Using explicit GPU upcast for ZeRO-Offload (#6962)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update `torch.norm` to `torch.linalg.norm` and `torch.linalg.vector_norm` (#6931)
  deepspeed/runtime/comm/compressed.py
  deepspeed/runtime/comm/hccl.py
  deepspeed/runtime/fp16/onebit/lamb.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.16.3 release (#6965)
  version.txt
Due: check-torchdist, check-torchcuda

Precisely track nvme optimizer offload (#6963)
  deepspeed/runtime/engine.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update build_win.bat script to exclue GDS op as it lacks Windows support. (#6971)
  build_win.bat
Due: check-torchdist, check-torchcuda

Update recommended Windows whl building versions (#6983)
  README.md
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update torch versions to support 2.6 (#6977)
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist, check-extraindexurl

generalize deepspeed linear and implement it for non cuda systems (#6932)
  csrc/fp_quantizer/fp_quantize.cpp
  deepspeed/linear/config.py
  deepspeed/linear/quantization.py
  deepspeed/ops/fp_quantizer/quantize.py
  op_builder/fp_quantizer.py
  op_builder/hpu/fp_quantizer.py
  tests/unit/linear/test_linear.py
  tests/unit/linear/test_quant_param.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Title: Fix setup_env_ranks to Properly Set Environment Variables Instead of Raising Error (#6979)
  deepspeed/launcher/multinode_runner.py
  tests/unit/launcher/test_multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add CUDA 12.8 support and comment on CUDA 12.7 (#6975)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Specify torchvision in nv-ds-chat workflow (prevents errors with torch 2.6) (#6982)
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl
