Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Disable checkout
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

formatting
  csrc/deepspeed4science/evoformer_attn/gemm/mma_from_smem.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_iterator_atomic.h
  csrc/deepspeed4science/evoformer_attn/kernel_forward.h
Due: check-torchdist, check-license, check-torchcuda

Add workflow dispatch
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Revert "Fix for when prompt contains an odd num of apostrophes (#4660)"
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

[CI] Use latest transformers
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Add more to torch version
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Update to latest torch
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Update to latest transformers
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Unpin even latest
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Update accelerate torch version
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist

Enable workflow_dispatch for transformers workflow
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

load CP with copy=True in to() instead of clone()
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

ZeroOptimizer: avoid storage sharing when flatenning params
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

mv DeepSpeedEngine param_names dict init post _configure_distributed_model
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Update unit test
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Update DeepSpeed-FastGen blog to include Falcon support
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda

Add support of Falcon models (7b, 40b, 180b) to DeepSpeed-FastGen (#4790)
  blogs/deepspeed-fastgen/README.md
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/falcon/__init__.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_containers.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_model.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_policy.py
Due: check-torchdist, check-license, check-torchcuda

Switch to single quotes
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist

Update workflows to use single quotes
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-torch-latest-cpu.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Test
  tests/unit/inference/v2/__init__.py
Due: check-torchdist, check-license, check-torchcuda

Remove no longer needed paths-ignore from nv-pre-compile-ops
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist

[NPU]Add ZeRO-Infinity feature for NPU
  csrc/aio/py_lib/deepspeed_aio_thread.cpp
  op_builder/npu/__init__.py
  op_builder/npu/async_io.py
Due: check-torchdist, check-license, check-torchcuda

NPU ZeRO Infinity feature add NPUOpBuilder import
  op_builder/npu/async_io.py
Due: check-torchdist, check-license, check-torchcuda

More " for \'
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Rename flow to unit-tests
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist

Need to add skips back in
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist

Switch paths-ignore to single quotes, update paths-ignore on nv-pre-compile-ops (#4805)
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/nv-torch-latest-cpu.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

use latest transformers
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

remove imported but unused package
  op_builder/npu/async_io.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix the repetition loop list append
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix [BUG] 'DeepSpeedGPTInference' object has no attribute 'dtype' for int8 inference #4813
  deepspeed/model_implementations/transformers/ds_transformer.py
Due: check-torchdist, check-license, check-torchcuda

Test moving to HF_HOME from TRANSFORMERS_CACHE
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-torch-latest-cpu.yml
  .github/workflows/setup-venv/action.yml
  tests/unit/inference/test_checkpoint_sharding.py
Due: check-torchdist, check-license, check-torchcuda

fixes for user arg parsing
  deepspeed/launcher/multinode_runner.py
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Transformers future deprecations
  tests/unit/inference/quantization/test_intX_quantization.py
  tests/unit/runtime/zero/test_zero_nesting_init.py
Due: check-torchdist, check-license, check-torchcuda

Update deepspeed_checkpoint.py
  deepspeed/checkpoint/deepspeed_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

add test for user args that have mixture of quotations
  tests/unit/launcher/test_user_args.py
Due: check-torchdist, check-license, check-torchcuda

skip when GPU not found
  tests/unit/launcher/test_user_args.py
Due: check-torchdist, check-license, check-torchcuda

fix skip statement
  tests/unit/launcher/test_user_args.py
Due: check-torchdist, check-license, check-torchcuda
