Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Optimize the fp-dequantizer to get high memory-BW utilization
  csrc/fp_quantizer/quantize.cu
Due: check-torchdist, check-license, check-torchcuda

Add selective-deqamtoze function for dequantizing the tensor partially
  csrc/fp_quantizer/includes/quantize.h
  csrc/fp_quantizer/quantize.cpp
  csrc/fp_quantizer/quantize.cu
  deepspeed/ops/fp_quantizer/quantize.py
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda

remove unit test from cpu_inference workflow
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Use stock PyTorch to test AutoTP
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Update and rename xpu.yml to xpu-max1100.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

Update xpu-max1100.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

Update util.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Increase HPU Gaudi2 CI coverate.
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Support MoE for pipeline models (#5338)
  deepspeed/moe/layer.py
  deepspeed/moe/mappings.py
  deepspeed/moe/sharded_moe.py
  deepspeed/ops/transformer/inference/moe_inference.py
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/bwc.py
  deepspeed/utils/groups.py
  tests/unit/utils/test_groups.py
Due: check-torchdist, check-license, check-torchcuda

Update pytest and transformers with fixes for pytest>= 8.0.0 (#5164)
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Update some code paths to use the correct provided function
  deepspeed/runtime/pipe/p2p.py
Due: check-torchdist, check-license, check-torchcuda

Move required_torch_version from deepspeed.runtime.utils to deepspeed.utils.torch
  deepspeed/elasticity/utils.py
  deepspeed/runtime/comm/nccl.py
  deepspeed/runtime/fp16/onebit/adam.py
  deepspeed/runtime/fp16/onebit/lamb.py
  deepspeed/runtime/fp16/onebit/zoadam.py
  deepspeed/runtime/pipe/p2p.py
  deepspeed/runtime/utils.py
  deepspeed/utils/torch.py
  tests/unit/alexnet_model.py
  tests/unit/checkpoint/test_mics_optimizer.py
  tests/unit/checkpoint/test_moe_checkpoint.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/compression/test_compression.py
  tests/unit/inference/quantization/test_intX_quantization.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
  tests/unit/moe/test_moe.py
  tests/unit/moe/test_moe_tp.py
  tests/unit/profiling/flops_profiler/test_flops_profiler.py
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
  tests/unit/runtime/compile/test_load_config.py
  tests/unit/runtime/half_precision/onebit/test_onebit.py
  tests/unit/runtime/half_precision/test_fp16.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/runtime/utils.py
  deepspeed/utils/torch.py
Due: check-torchdist, check-license, check-torchcuda

Add directories that weren't updated with sed command before
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/fp16/unfused_optimizer.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

A
  deepspeed/runtime/fp16/unfused_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Switch old references in deepsped/comm/torch.py
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda

Move ordering
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Increase CI coverage for Gaudi2 accelerator. (#5358)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Update names to match GPU or torch names of parameters. TODO: needs to add support for backwards compat
  deepspeed/ops/adagrad/cpu_adagrad.py
  deepspeed/ops/adam/cpu_adam.py
  deepspeed/ops/lion/cpu_lion.py
Due: check-torchdist, check-license, check-torchcuda

Update remaining instances of TRANSFORMERS_CACHE to HF_HOME
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Test fixes on auto stage3-prefetch-bucket-size config
  deepspeed/autotuning/autotuner.py
Due: check-torchdist, check-license, check-torchcuda

set scope for xpu CI
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

Refine the guards of FP6 kernels compilation.
  deepspeed/inference/v2/kernels/core_ops/core_ops.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_matmul.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_reduction.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_cp.async.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_mma.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_core.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_gmem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_paralleldequant.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/weight_prepacking.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels_cuda.cu
  deepspeed/inference/v2/modules/heuristics.py
  op_builder/inference_core_ops.py
Due: check-torchdist, check-license, check-torchcuda

Fix rocm checking.
  deepspeed/inference/v2/modules/heuristics.py
Due: check-torchdist, check-license, check-torchcuda

Add the header file ignored due to .gitignore
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels_cuda.h
Due: check-torchdist, check-license, check-torchcuda

Remove unnecessary guards.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_gmem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels_cuda.h
Due: check-torchdist, check-license, check-torchcuda

Reduce the tests of FP6 kernel.
  tests/unit/inference/v2/modules/test_quantized_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

support shm based allreduce when torchCCL is not installed
  accelerator/cpu_accelerator.py
  csrc/cpu/comm/ccl.cpp
  csrc/cpu/comm/shm_interface.cpp
  deepspeed/comm/ccl.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  op_builder/cpu/__init__.py
  op_builder/cpu/comm.py
Due: check-torchdist, check-license, check-torchcuda

keep deepspeed.comm.inference_all_reduce interface not changed
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

add env HF_HOME to point to /blob/hf_home
  .github/workflows/cpu-inference.yml
Due: check-torchdist

add logic for not divisible
  deepspeed/runtime/comm/coalesced_collectives.py
Due: check-license, check-torchcuda

Add XPU test
  .github/workflows/xpu-max1100.yml
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Add CI for Intel XPU/Max1100 (#5376)
  .github/workflows/xpu-max1100.yml
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Update Gaudi2 workflow
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Update path name on xpu-max110.yml, add badge in README
  .github/workflows/xpu-max1100.yml
  README.md
Due: check-torchdist, check-torchcuda

Missing 0
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

Set specific branch
  README.md
Due: check-torchdist, check-torchcuda

Print linux verison
  .github/workflows/python.yml
Due: check-torchdist

Update path name on xpu-max1100.yml, add badge in README (#5386)
  .github/workflows/xpu-max1100.yml
  README.md
Due: check-torchdist, check-torchcuda
