Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Update torch version in cpu-torch-latest tests
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist

Update other tests that also relied on specific torch versions
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist

Update other workflows to run on Ubuntu 22.04
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/formatting.yml
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist

Update release flow to run on Ubuntu 22.04
  .github/workflows/release.yml
Due: check-torchdist

Update torch version in cpu-torch-latest and nv-torch-latest-v100 tests to 2.4 (#5797)
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist

move is_checkpointable call reducing torch.compile Graph breaks (#5759)
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

gds macro
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda

Unpin transformers version (#5650)
  .github/workflows/nv-mii.yml
Due: check-torchdist

Update other workflows to run on Ubuntu 22.04 (#5798)
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/formatting.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/release.yml
Due: check-torchdist

fix format
  docs/_tutorials/onebit-adam.md
  docs/_tutorials/onebit-lamb.md
  docs/_tutorials/zero-one-adam.md
Due: check-torchcuda

add version check to fp quant op builder
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda

fix error after auto merge
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

small fix for fp16 quantization
  deepspeed/ops/fp_quantizer/fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda

simple gds+cpu swapper integration
  csrc/aio/py_lib/deepspeed_gds_op.cpp
  deepspeed/runtime/swap_tensor/partitioned_param_swapper.py
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda

fix formatting issues
  deepspeed/ops/fp_quantizer/quantize.py
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda

only import matmul_fp8 if triton is available
  deepspeed/ops/fp_quantizer/__init__.py
Due: check-torchdist, check-license, check-torchcuda

delay import in test until after skip check
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda

Test adding torchvision to get the correct version
  .github/workflows/nv-mii.yml
Due: check-torchdist

allow 2.3.0 and 2.3.1
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda

working pytest
  csrc/aio/py_lib/deepspeed_gds_op.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  tests/unit/ops/aio/test_aio.py
Due: check-torchdist, check-license, check-torchcuda

[XPU]Use host time to replace xpu time when IPEX version slower than 2.5. (#5796)
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

fix: handle exception when loading cache file in test_inference.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

fix issue with workflows that don't have pkg_version
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda

Fix circular import in ds_transformer.py
  deepspeed/model_implementations/transformers/ds_transformer.py
Due: check-torchdist, check-license, check-torchcuda

Fix cuda compilation issue
  csrc/transformer/inference/csrc/pt_binding.cpp
Due: check-torchdist, check-license, check-torchcuda

add new tutorial for accelerator setup guide
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Update MII tests to pull correct torchvision (#5800)
  .github/workflows/nv-mii.yml
Due: check-torchdist

Add fp8-fused gemm kernel (#5764)
  csrc/fp_quantizer/fp_quantize.cpp
  deepspeed/linear/quantization.py
  deepspeed/ops/__init__.py
  deepspeed/ops/fp_quantizer/__init__.py
  deepspeed/ops/fp_quantizer/fp8_gemm.py
  deepspeed/ops/fp_quantizer/quantize.py
  op_builder/fp_quantizer.py
  tests/unit/linear/test_quant_param.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda

Add doc of compressed backend in Onebit optimizers (#5782)
  docs/_tutorials/onebit-adam.md
  docs/_tutorials/onebit-lamb.md
  docs/_tutorials/zero-one-adam.md
Due: check-torchcuda

Fix op_builder for CUDA 12.5
  op_builder/builder.py
Due: check-torchdist, check-license

Try pinning transformers
  .github/workflows/nv-mii.yml
Due: check-torchdist

fix: handle exception when loading cache file in test_inference.py (#5802)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Fix sp in ds engine to align with new (latest) HF transformer flash_attn
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Addressing comments
  op_builder/builder.py
Due: check-torchdist, check-license

Fix formatting
  op_builder/builder.py
Due: check-torchdist, check-license

Pin transformers version for MII tests (#5807)
  .github/workflows/nv-mii.yml
Due: check-torchdist

tests and precommit
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_unwrap_model.py
Due: check-torchdist, check-license, check-torchcuda

first gds blog
  blogs/deepspeed-gds/README.md
  blogs/deepspeed-gds/media/figure1.png
  blogs/deepspeed-gds/media/figure2.png
  blogs/deepspeed-gds/media/figure3.png
  blogs/deepspeed-gds/media/table1.png
Due: check-torchdist, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
