Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

Fix torch include in `op_builder/mlu/fused_adam.py` and update no-torch workflow triggers (#6584)
  .github/workflows/no-torch.yml
  op_builder/mlu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[ROCm] Fix subprocess error
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

add Huawei Ascend NPU Pipeline Status
  .github/workflows/huawei-ascend-npu.yml
  requirements/requirements-npu.txt
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add missing call to allocate_workspace
  deepspeed/model_implementations/transformers/ds_transformer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add API for updating ZeRO gradients
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/__init__.py
  deepspeed/utils/mixed_precision_linkage.py
  deepspeed/utils/tensor_fragment.py
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update docs
  docs/code-docs/source/zero3.rst
Due: check-torchcuda

print graph log
  .github/workflows/xpu-compile.yml
Due: check-torchdist, check-extraindexurl

add more logging code in the test
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

force torch dynamo dump more logs
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update README.md
  README.md
Due: check-torchdist, check-torchcuda

print detaild counters
  .github/workflows/xpu-compile.yml
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add try catch for import
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix typo
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

no print 'graph_breaks' in dynamo_stats
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

avoid grep graph breaks in the workflow
  .github/workflows/xpu-compile.yml
Due: check-torchdist, check-extraindexurl

don't substract
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Format fix
  docs/code-docs/source/zero3.rst
Due: check-torchcuda

fixed functionality of cpu locked tensor
  csrc/aio/common/deepspeed_aio_utils.cpp
  csrc/aio/common/deepspeed_aio_utils.h
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_pin_tensor.cpp
  csrc/aio/py_lib/deepspeed_pin_tensor.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
Due: check-torchdist, check-license, check-torchcuda

add retake workspace func
  deepspeed/ops/transformer/inference/op_binding/workspace.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix comment
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

enabling cpu locked in unittests, and fixing compilation errors
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

adding lr init in schedulers
  deepspeed/runtime/lr_schedules.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add module forward hooks
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

passing gds tests
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

renaming all instances of num_threads
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  csrc/gds/py_lib/py_ds_gds.cpp
Due: check-torchdist, check-license, check-torchcuda

updating function names to match
  csrc/aio/py_lib/deepspeed_aio_thread.cpp
  csrc/aio/py_lib/deepspeed_aio_thread.h
  csrc/aio/py_lib/deepspeed_py_aio_handle.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  csrc/gds/py_lib/py_ds_gds.cpp
  docs/_tutorials/deepnvme.md
Due: check-torchdist, check-license, check-torchcuda

fix formatting
  csrc/aio/py_lib/deepspeed_aio_thread.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_pin_tensor.cpp
  csrc/aio/py_lib/deepspeed_pin_tensor.h
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  tests/unit/ops/aio/test_aio.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

adding step init check to unittest
  deepspeed/runtime/lr_schedules.py
  tests/unit/runtime/test_lr_schedulers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

run pre-commit for formatting
  deepspeed/runtime/lr_schedules.py
  tests/unit/runtime/test_lr_schedulers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

variable name change to fix compilation
  csrc/aio/py_lib/deepspeed_aio_thread.cpp
  csrc/aio/py_lib/deepspeed_aio_thread.h
  csrc/aio/py_lib/deepspeed_py_aio_handle.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
Due: check-torchdist, check-license, check-torchcuda

formatting
  csrc/aio/py_lib/deepspeed_aio_thread.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
Due: check-torchdist, check-license, check-torchcuda

update references in tutorial
  docs/_tutorials/deepnvme.md
Due: check-torchcuda

clean gathered parameters. see also #6557
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[ROCm] Fix subprocess error (#6587)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Update CODEOWNERS
  CODEOWNERS
Due: check-torchdist, check-torchcuda

disable assertions
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix formatting
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

print summary in markdown table format
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

output to git summary file
  .github/workflows/xpu-compile.yml
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
