Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

exclude failing tests
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

fix for tests using torch<2.1
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda

Update deepspeed/launcher/runner.py
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Update tests/unit/alexnet_model.py
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda

fix for tests using torch<2.1 (#4818)
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda

Update .github/workflows/nv-transformers-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

bring in fix for accelerate from #4769
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist

add option to run torch.compile
  deepspeed/runtime/compile_helper.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Kernel changes, cleanup still necessary
  deepspeed/inference/v2/kernels/ragged_ops/__init__.py
  deepspeed/inference/v2/kernels/ragged_ops/moe_gather/moe_gather.cpp
  deepspeed/inference/v2/kernels/ragged_ops/moe_gather/moe_gather.cu
  deepspeed/inference/v2/kernels/ragged_ops/moe_gather/moe_gather.cuh
  deepspeed/inference/v2/kernels/ragged_ops/moe_gather/moe_gather.h
  deepspeed/inference/v2/kernels/ragged_ops/moe_gather/moe_gather.py
  deepspeed/inference/v2/kernels/ragged_ops/moe_scatter/moe_scatter.cpp
  deepspeed/inference/v2/kernels/ragged_ops/moe_scatter/moe_scatter.cu
  deepspeed/inference/v2/kernels/ragged_ops/moe_scatter/moe_scatter.cuh
  deepspeed/inference/v2/kernels/ragged_ops/moe_scatter/moe_scatter.py
  deepspeed/inference/v2/kernels/ragged_ops/ragged_ops.cpp
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/__init__.py
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating.cpp
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating.cu
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating.cuh
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating.h
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating.py
  deepspeed/inference/v2/modules/configs/moe_config.py
  deepspeed/inference/v2/modules/implementations/moe/cutlass_multi_gemm.py
  op_builder/ragged_ops.py
  tests/unit/inference/v2/kernels/ragged_ops/test_moe_gather.py
  tests/unit/inference/v2/kernels/ragged_ops/test_moe_scatter.py
  tests/unit/inference/v2/kernels/ragged_ops/test_top_1_gating.py
  tests/unit/inference/v2/kernels/ragged_ops/test_top_k_gating.py
  tests/unit/inference/v2/modules/test_cutlass_moe.py
Due: check-torchdist, check-license, check-torchcuda

Enable starcode autotp (#38)
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda

Universal Checkpoint for Sequence Parallelism (#4752)
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/reshape_3d_utils.py
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Accelerate CI fix (#4819)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist

update broken link
  docs/_tutorials/getting-started.md
Due: check-torchcuda

Add minimum transformers version to the requirements to correspond to the import changes
  requirements/requirements-dev.txt
  requirements/requirements-inf.txt
Due: check-torchdist, check-torchcuda

fix [BUG] 'DeepSpeedGPTInference' object has no attribute 'dtype' for… (#4814)
  deepspeed/model_implementations/transformers/ds_transformer.py
Due: check-torchdist, check-license, check-torchcuda

Update broken link in docs (#4822)
  docs/_tutorials/getting-started.md
Due: check-torchcuda

Update imports from Transformers (#4817)
  requirements/requirements-dev.txt
  requirements/requirements-inf.txt
  tests/unit/inference/quantization/test_intX_quantization.py
  tests/unit/runtime/zero/test_zero_nesting_init.py
Due: check-torchdist, check-license, check-torchcuda

rename to unit-tests
  .github/workflows/formatting.yml
  .github/workflows/python.yml
Due: check-torchdist

remove old workflow files
  .github/workflows/amd-mi100.yml
  .github/workflows/auto-sync.yml
Due: check-torchdist

Minor updates to CI workflows (#4823)
  .github/workflows/amd-mi100.yml
  .github/workflows/auto-sync.yml
  .github/workflows/formatting.yml
  .github/workflows/python.yml
Due: check-torchdist

refactor user arg parsing and add unit tests
  deepspeed/launcher/multinode_runner.py
  deepspeed/launcher/runner.py
  tests/unit/launcher/test_user_args.py
Due: check-torchdist, check-license, check-torchcuda

fix falcon model load from_config meta_data error (#4783)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

mv DeepSpeedEngine param_names dict init post _configure_distributed_model (#4803)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Refactor launcher user arg parsing (#4824)
  deepspeed/launcher/multinode_runner.py
  deepspeed/launcher/runner.py
  tests/unit/launcher/test_user_args.py
Due: check-torchdist, check-license, check-torchcuda

Fix 4649 (#4650)
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Add explicit theta to rotary embeddings
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cpp
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cuh
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.h
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/model_implementations/llama_v2/llama_v2_model.py
  deepspeed/inference/v2/model_implementations/mistral/model.py
  deepspeed/inference/v2/modules/configs/__init__.py
  deepspeed/inference/v2/modules/configs/attention_configs.py
  deepspeed/inference/v2/modules/implementations/attention/dense_blocked_attention.py
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.12.5 release (#4826)
  version.txt
Due: check-torchdist, check-torchcuda

Mixtral model implementation
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/common_parameters/moe_parameters.py
  deepspeed/inference/v2/model_implementations/falcon/container.py
  deepspeed/inference/v2/model_implementations/falcon/model.py
  deepspeed/inference/v2/model_implementations/falcon/policy.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/model_implementations/llama_v2/container.py
  deepspeed/inference/v2/model_implementations/llama_v2/model.py
  deepspeed/inference/v2/model_implementations/llama_v2/policy.py
  deepspeed/inference/v2/model_implementations/mistral/policy.py
  deepspeed/inference/v2/model_implementations/mixtral/__init__.py
  deepspeed/inference/v2/model_implementations/mixtral/container.py
  deepspeed/inference/v2/model_implementations/mixtral/model.py
  deepspeed/inference/v2/model_implementations/mixtral/policy.py
  deepspeed/inference/v2/model_implementations/opt/container.py
  deepspeed/inference/v2/model_implementations/opt/model.py
  deepspeed/inference/v2/model_implementations/opt/policy.py
Due: check-torchdist, check-license, check-torchcuda

Commit the unsaved files
  deepspeed/inference/v2/model_implementations/falcon/__init__.py
  deepspeed/inference/v2/model_implementations/llama_v2/__init__.py
  deepspeed/inference/v2/model_implementations/llama_v2/container.py
  deepspeed/inference/v2/model_implementations/llama_v2/model.py
  deepspeed/inference/v2/model_implementations/mixtral/__init__.py
Due: check-torchdist, check-license, check-torchcuda

Minor fixes
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
  deepspeed/inference/v2/model_implementations/mixtral/container.py
  deepspeed/inference/v2/model_implementations/mixtral/policy.py
Due: check-torchdist, check-license, check-torchcuda

Missing engine factor, rope theta fixes
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/llama_v2/model.py
  deepspeed/inference/v2/model_implementations/mistral/model.py
  deepspeed/inference/v2/model_implementations/mixtral/model.py
Due: check-torchdist, check-license, check-torchcuda

MoE type mismatches
  deepspeed/inference/v2/model_implementations/common_parameters/moe_parameters.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
Due: check-torchdist, check-license, check-torchcuda

Misnamed mapping
  deepspeed/inference/v2/model_implementations/mixtral/container.py
Due: check-torchdist, check-license, check-torchcuda

Clear output
  deepspeed/inference/v2/model_implementations/common_parameters/moe_parameters.py
  deepspeed/inference/v2/model_implementations/mixtral/container.py
Due: check-torchdist, check-license, check-torchcuda

ckpt: add scr checkpoint engine
  deepspeed/runtime/checkpoint_engine/scr_checkpoint_engine.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

load EXPORT_ENV based on different accelerators
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

inference engine: check if accelerator supports FP16
  deepspeed/inference/engine.py
Due: check-torchdist, check-license

Update zeropp.md
  docs/_tutorials/zeropp.md
Due: check-torchcuda

Checkpointing: Avoid assigning tensor storage with different device
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
