Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

bf16_optimizer: add support for bf16 grad acc
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Communication Optimization for Large-Scale Training (#4695)
  blogs/comm-opt/README.md
  blogs/comm-opt/assets/images/e+d.png
  blogs/comm-opt/assets/images/sp+fp.png
  blogs/comm-opt/assets/images/sp-conv.png
  deepspeed/moe/layer.py
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/sequence/layer.py
  deepspeed/utils/groups.py
Due: check-torchdist, check-license, check-torchcuda

safetensor support
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

Update huggingface_engine.py
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

fix formatting
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda

revert manual typecasting
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix confusing width in simd_load
  csrc/includes/simd.h
Due: check-torchdist, check-license, check-torchcuda

Baodi/support baichuan (#23)
  deepspeed/inference/engine.py
  deepspeed/module_inject/auto_tp_model_utils.py
  deepspeed/module_inject/fusedqkv_utils.py
Due: check-torchdist, check-license, check-torchcuda

use all_gather_into_tensor instead of all_gather
  deepspeed/ops/transformer/inference/moe_inference.py
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/runtime/utils/test_partition.py
Due: check-torchdist, check-license, check-torchcuda

fix Baichuan-7B qkv order error (#35)
  deepspeed/module_inject/fusedqkv_utils.py
Due: check-torchdist, check-license, check-torchcuda

support baichuan model:
  deepspeed/inference/engine.py
  deepspeed/module_inject/auto_tp_model_utils.py
  deepspeed/module_inject/fusedqkv_utils.py
Due: check-torchdist, check-license, check-torchcuda

fix baichuan lm_head replace issue (#34)
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

fix baichuan lm_head replace issue
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

preload libstdc++ from system lib path instead of conda path
  .github/workflows/cpu-inference.yml
Due: check-torchdist

params partition for skip_init
  deepspeed/runtime/zero/partition_parameters.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

remove empty line
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

update
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

Fix bug in split tensor
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix: solve the problem of different dtype of loss tensors across stages of pipeline parallel.
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Fix logger formatting for partitioning flags
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

shorten inference_all_reduce call stack (#37)
  csrc/cpu/comm/ccl.cpp
  deepspeed/comm/ccl.py
Due: check-torchdist, check-license, check-torchcuda

feat: add HcclBackend as communication backend to support onebit adam | onebit lamb | 0/1 adam
  deepspeed/runtime/comm/hccl.py
Due: check-torchdist, check-license, check-torchcuda

feat: add HcclBackend import branch for OnebitAdam
  deepspeed/runtime/fp16/onebit/adam.py
Due: check-torchdist, check-license, check-torchcuda

feat: add HcclBackend import branch for OnebitLamb
  deepspeed/runtime/fp16/onebit/lamb.py
Due: check-torchdist, check-license, check-torchcuda

feat: add HcclBackend import branch for 0/1 Adam
  deepspeed/runtime/fp16/onebit/zoadam.py
Due: check-torchdist, check-license, check-torchcuda

initial version of intel blog
  blogs/intel-inference/README.md
  blogs/intel-inference/assets/intel-results.png
  blogs/intel-inference/assets/software-arch.png
Due: check-torchdist, check-torchcuda

increase results plot size
  blogs/intel-inference/README.md
Due: check-torchdist, check-torchcuda

add intel link
  blogs/intel-inference/README.md
Due: check-torchdist, check-torchcuda

add links to blog
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

fuse query, key, and value all-2-all for better SP perforamnce
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

Install `deepspeed-kernels` only on Linux
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Re-organize `.gitignore` file to be parsed properly
  .gitignore
Due: check-torchdist, check-torchcuda

[docs] Intel inference blog (#4734)
  README.md
  blogs/intel-inference/README.md
  blogs/intel-inference/assets/intel-results.png
  blogs/intel-inference/assets/software-arch.png
  docs/index.md
Due: check-torchdist, check-torchcuda

Revert "pipe engine _aggregate_total_loss: more efficient loss concatenation (#4327)"
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
