Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Update README.md
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

add hero figure
  blogs/deepspeed-fastgen/2024-01-19/README.md
  blogs/deepspeed-fastgen/2024-01-19/assets/images/fastgen-hero-dark.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/fastgen-hero-light.png
Due: check-torchdist, check-torchcuda

update hero figure
  blogs/deepspeed-fastgen/2024-01-19/assets/images/fastgen-hero-dark.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/fastgen-hero-light.png
Due: check-torchdist, check-torchcuda

Update title
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

Add version numbers
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

Add files via upload
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_phi-2_tp1.png.png
Due: check-torchdist, check-torchcuda

rename png file
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_phi-2_tp1.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_phi-2_tp1.png.png
Due: check-torchdist, check-torchcuda

formatting
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

FastGen Jan 2024 blog (#4980)
  blogs/deepspeed-fastgen/2024-01-19/README.md
  blogs/deepspeed-fastgen/2024-01-19/assets/images/fastgen-hero-dark.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/fastgen-hero-light.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_falcon-180B_tp8.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_falcon-40b_tp2.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_mistralai-Mixtral-8x7B-v0.1_tp4_1.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_mistralai-Mixtral-8x7B-v0.1_tp4_2.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_phi-2_tp1.png
Due: check-torchdist, check-torchcuda

Update version.txt
  version.txt
Due: check-torchdist, check-torchcuda

Update README.md
  README.md
Due: check-torchdist, check-torchcuda

Update index.md
  docs/index.md
Due: check-torchcuda

Update release.yml
  .github/workflows/release.yml
Due: check-torchdist

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

formatting
  README.md
Due: check-torchdist, check-torchcuda

Update version.txt after 0.13.0 release (#4982)
  README.md
  version.txt
Due: check-torchdist, check-torchcuda

Update FastGen blog title
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

Update FastGen blog title (#4983)
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

Fix the MoE-params gradient-scaling (#4957)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

optimize clip_grad_norm_ function
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

Implement some APIs of hpu accelerator
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Use default value as initial_scale_power if FP16 scaling params not provided
  deepspeed/runtime/fp16/loss_scaler.py
Due: check-torchdist, check-license, check-torchcuda

Delete unused --deepspeed_mpi command line argument
  deepspeed/__init__.py
Due: check-torchdist, check-license, check-torchcuda

Fix error report of DSElasticAgent._set_master_addr_port
  deepspeed/elasticity/elastic_agent.py
Due: check-license, check-torchcuda

Per operator test functions.
  debug/clean.sh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Utils_ParallelDequant.cuh
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
Due: check-torchdist, check-license, check-torchcuda

Multiply scales by 1e12 according to the kernel design.
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
Due: check-torchdist, check-license, check-torchcuda

fix some typo under blogs/
  blogs/comm-opt/README.md
  blogs/deepspeed-fastgen/README.md
  blogs/deepspeed-offloadpp/README.md
  blogs/deepspeed-triton/README.md
  blogs/deepspeed-ulysses/README.md
  blogs/deepspeed-visualchat/10-03-2023/README-Japanese.md
  blogs/deepspeed-visualchat/10-03-2023/README.md
Due: check-torchdist, check-torchcuda

Use `socket` instead of `subprocess` in `deepspeed/comm/comm.py`
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

fix validation of compiler config
  deepspeed/runtime/compiler.py
Due: check-torchdist, check-license, check-torchcuda

fix access to wrapped model
  deepspeed/runtime/engine.py
  tests/unit/runtime/compile/test_config.py
  tests/unit/runtime/compile/test_wrapper.py
  tests/unit/runtime/compile/utils.py
Due: check-torchdist, check-license, check-torchcuda

add test for api to set torch compile options
  tests/unit/runtime/compile/test_config.py
Due: check-torchdist, check-license, check-torchcuda

rename util module
  tests/unit/runtime/compile/common.py
  tests/unit/runtime/compile/test_config.py
  tests/unit/runtime/compile/test_wrapper.py
Due: check-torchdist, check-license, check-torchcuda

fix import
  tests/unit/runtime/compile/test_config.py
  tests/unit/runtime/compile/test_wrapper.py
Due: check-torchdist, check-license, check-torchcuda

[format] `deepspeed/comm/comm.py`
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

fix some typo under blogs/
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda
