Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Fix rebase errors.
  deepspeed/inference/v2/kernels/core_ops/core_ops.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/GenMatrix_QuantLLM.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/GenMatrix_QuantLLM.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/Launcher.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Configs.h
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  op_builder/inference_core_ops.py
Due: check-torchdist, check-license, check-torchcuda

Add missed include.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/GenMatrix_QuantLLM.h
Due: check-torchdist, check-license, check-torchcuda

zero_to_fp32.py: Handle a case where shape doesn't have numel attr
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda

engine.py: remove unused _curr_save_path
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Retrieve CUDA available memory via `torch.cuda.mem_get_info()`
  .gitignore
  accelerator/cuda_accelerator.py
  requirements/requirements.txt
Due: check-torchdist, check-license, check-torchcuda

Add cuda_accelerator.py to triggers for A6000 test (#4848)
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Capture short kernel sequences to graph (#4318)
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  deepspeed/inference/engine.py
  deepspeed/model_implementations/diffusers/unet.py
  deepspeed/model_implementations/diffusers/vae.py
  deepspeed/model_implementations/transformers/clip_encoder.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

Checkpointing: Avoid assigning tensor storage with different device (#4836)
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

Fix unit tests
  tests/unit/inference/v2/modules/test_blocked_attn.py
  tests/unit/inference/v2/modules/test_cutlass_moe.py
Due: check-torchdist, check-license, check-torchcuda

Add cache to comm group
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

Clean up top_k support in the C++ code
  deepspeed/inference/v2/kernels/ragged_ops/includes/top_k_utils.h
  deepspeed/inference/v2/kernels/ragged_ops/moe_gather/moe_gather.cu
  deepspeed/inference/v2/kernels/ragged_ops/moe_scatter/moe_scatter.cu
  deepspeed/inference/v2/kernels/ragged_ops/top_k_gating/top_k_gating.cu
  op_builder/ragged_ops.py
Due: check-torchdist, check-license, check-torchcuda

engine.py: remove unused _curr_save_path (#4844)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.12.6 release (#4850)
  version.txt
Due: check-torchdist, check-torchcuda

Add support of Phi-2 model to DeepSpeed-FastGen
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_trained_kv_rotary.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/linear_blocked_kv_copy.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/phi/__init__.py
  deepspeed/inference/v2/model_implementations/phi/phi_containers.py
  deepspeed/inference/v2/model_implementations/phi/phi_model.py
  deepspeed/inference/v2/model_implementations/phi/phi_policy.py
  deepspeed/inference/v2/modules/implementations/unembed/ragged_unembed.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_kv_copy.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_rotary_emb.py
Due: check-torchdist, check-license, check-torchcuda

Explicit rotary dim, fixes
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cpp
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cuh
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.h
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_trained_kv_rotary.py
  deepspeed/inference/v2/model_implementations/llama_v2/model.py
  deepspeed/inference/v2/model_implementations/mistral/model.py
  deepspeed/inference/v2/model_implementations/mixtral/model.py
  deepspeed/inference/v2/model_implementations/opt/model.py
  deepspeed/inference/v2/model_implementations/phi/phi_model.py
  deepspeed/inference/v2/modules/configs/attention_configs.py
  deepspeed/inference/v2/modules/implementations/attention/dense_blocked_attention.py
  deepspeed/inference/v2/ragged/ragged_manager.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_rotary_emb.py
Due: check-torchdist, check-license, check-torchcuda

I am my own worst enemy
  deepspeed/inference/v2/model_implementations/phi/phi_model.py
Due: check-torchdist, check-license, check-torchcuda

add RLHF NPU support.
  op_builder/npu/__init__.py
  op_builder/npu/inference.py
Due: check-torchdist, check-license, check-torchcuda

Update DeepSpeed-FastGen README.md to include Phi-2 model
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda

Fix the bug that the attribute uses the weight information for mem alloc.
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
Due: check-torchdist, check-license, check-torchcuda

Avoid GPU preallocation during weight loading.
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
Due: check-torchdist, check-license, check-torchcuda

Add support of larger shapes for gated activation kernel.
  deepspeed/inference/v2/kernels/core_ops/gated_activations/gated_activation_kernels.cu
Due: check-torchdist, check-license, check-torchcuda

Remove hooks on gradient accumulation on engine/optimizer destroy
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Remove params recorded for debug when destroying engine
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Remove params recorded for debug when destroying engine
  deepspeed/utils/debug.py
Due: check-torchdist, check-license, check-torchcuda

Remove unnecessary parameter
  deepspeed/utils/debug.py
Due: check-torchdist, check-license, check-torchcuda

Update advanced-install.md
  docs/_tutorials/advanced-install.md
Due: check-torchcuda

doc corrections (#4861)
  docs/_tutorials/advanced-install.md
Due: check-torchcuda

Update blog to include Mixtra model.
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda

renaming the files and adding more unit tests
  deepspeed/inference/v2/model_implementations/phi/__init__.py
  deepspeed/inference/v2/model_implementations/phi/containers.py
  deepspeed/inference/v2/model_implementations/phi/model.py
  deepspeed/inference/v2/model_implementations/phi/policy.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_kv_copy.py
Due: check-torchdist, check-license, check-torchcuda

Update deepspeed/inference/v2/model_implementations/phi/policy.py
  deepspeed/inference/v2/model_implementations/phi/policy.py
Due: check-torchdist, check-license, check-torchcuda

Fix exception handling in get_all_ranks_from_group() function
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

Fix lint issues with yapf
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Update flops profiler to handle attn and __matmul__
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

style: update profile.py
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

Fix exception handling in get_all_ranks_from_group() function (#4862)
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

improve compile helper
  deepspeed/__init__.py
  deepspeed/runtime/compile_helper.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Fix f-string messages
  deepspeed/runtime/zero/contiguous_memory_allocator.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/runtime/test_ds_config_dict.py
Due: check-torchdist, check-license, check-torchcuda
