Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

remove unused code
  deepspeed/inference/v2/modules/implementations/moe/pytorch_multi_gemm.py
Due: check-torchdist, check-license, check-torchcuda

use accelerator abstract
  deepspeed/inference/v2/modules/heuristics.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/inference/v2/modules/heuristics.py
Due: check-torchdist, check-license, check-torchcuda

adding hooks context manager
  deepspeed/runtime/zero/__init__.py
  deepspeed/runtime/zero/utils.py
Due: check-torchdist, check-license, check-torchcuda

revert the accelerator commit
  deepspeed/inference/v2/modules/heuristics.py
Due: check-torchdist, check-license, check-torchcuda

update prefix cache at every iteration
  deepspeed/inference/v2/ragged/prefix_block_map.py
  deepspeed/inference/v2/ragged/ragged_manager.py
  deepspeed/inference/v2/ragged/sequence_descriptor.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/inference/v2/modules/heuristics.py
  deepspeed/inference/v2/modules/implementations/moe/pytorch_multi_gemm.py
Due: check-torchdist, check-license, check-torchcuda

add PaRO implement
  DS_README.md
  README.md
  deepspeed/checkpoint/constants.py
  deepspeed/comm/comm.py
  deepspeed/runtime/comm/coalesced_collectives.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/stage_IGG.py
  deepspeed/runtime/zero/stage_IIG.py
  deepspeed/runtime/zero/stage_ING.py
  deepspeed/runtime/zero/stage_NIG.py
  deepspeed/runtime/zero/stage_NII.py
  deepspeed/runtime/zero/utils.py
  deepspeed/utils/groups.py
  deepspeed/utils/timer.py
  deepspeed/utils/zero_to_fp32.py
  examples/paro/llama/data_utils.py
  examples/paro/llama/ds_config.json
  examples/paro/llama/init.rc
  examples/paro/llama/llama_pl_model.py
  examples/paro/llama/patch_utils.py
  examples/paro/llama/run.sh
  examples/paro/llama/run_auto.sh
  examples/paro/llama/run_fsdp.sh
  examples/paro/llama/stop.sh
  examples/paro/llama/train.py
Due: check-torchdist, check-license, check-torchcuda

feat :plugin compatible
  csrc/aio/plugins/nvme/deepspeed_aio_thread.cpp
  csrc/aio/plugins/nvme/deepspeed_aio_thread.h
  csrc/aio/plugins/nvme/deepspeed_pin_tensor.cpp
  csrc/aio/plugins/nvme/deepspeed_pin_tensor.h
  csrc/aio/plugins/nvme/deepspeed_py_aio.cpp
  csrc/aio/plugins/nvme/deepspeed_py_aio.h
  csrc/aio/plugins/nvme/deepspeed_py_aio_handle.cpp
  csrc/aio/plugins/nvme/deepspeed_py_aio_handle.h
  csrc/aio/plugins/nvme/deepspeed_py_copy.cpp
  csrc/aio/plugins/nvme/deepspeed_py_copy.h
  csrc/aio/plugins/nvme/nvme_device.cpp
  csrc/aio/plugins/nvme/nvme_device.h
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/aio/py_lib/py_ds_aio_trampoline.cpp
  csrc/aio/py_lib/trampoline.h
  op_builder/all_ops.py
  op_builder/plugin_manager.py
  op_builder/plugin_ops.py
Due: check-torchdist, check-license, check-torchcuda

use in-place compile()
  deepspeed/runtime/engine.py
  tests/unit/runtime/compile/test_load_config.py
Due: check-torchdist, check-license, check-torchcuda

keeping in case container delete
  csrc/aio/py_test/run_read_sweep.sh
  csrc/aio/py_test/run_write_sweep.sh
Due: check-torchdist, check-torchcuda

Update minor CUDA version compatibility
  op_builder/builder.py
Due: check-torchdist, check-license

ftd in read sweep
  csrc/aio/py_test/run_read_sweep.sh
Due: check-torchdist, check-torchcuda

Temporarily checkout PR branch in the nv-accelerate-v100 pipeline
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist

add compile() to engine
  deepspeed/runtime/compiler.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/partition_parameters.py
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
  tests/unit/runtime/compile/test_load_config.py
  tests/unit/runtime/compile/util.py
Due: check-torchdist, check-license, check-torchcuda

add fallback path of all_reduce op
  csrc/cpu/comm/shm_interface.cpp
  deepspeed/comm/torch.py
Due: check-torchdist, check-license, check-torchcuda

remove unused functions
  csrc/cpu/comm/shm_interface.cpp
Due: check-torchdist, check-license, check-torchcuda

fix typo
  csrc/cpu/comm/shm_interface.cpp
Due: check-torchdist, check-license, check-torchcuda

skip looking up cache
  deepspeed/inference/v2/engine_v2.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda

fix format
  csrc/cpu/comm/shm_interface.cpp
Due: check-torchdist, check-license, check-torchcuda

ADDED BASEAIO HEADER AND MADE CHANGES IN NVME AND TRAMPOLINE FILES
  csrc/aio/plugins/nvme/deepspeed_py_aio.cpp
  csrc/aio/plugins/nvme/deepspeed_py_aio.h
  csrc/aio/plugins/nvme/deepspeed_py_copy.cpp
  csrc/aio/plugins/nvme/deepspeed_py_copy.h
  csrc/aio/plugins/nvme/nvme_device.h
  csrc/aio/py_lib/deepspeed_aio_base.h
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/aio/py_lib/py_ds_aio_trampoline.cpp
  csrc/aio/py_lib/trampoline.h
Due: check-torchdist, check-license, check-torchcuda

Update minor CUDA version compatibility (#5591)
  op_builder/builder.py
Due: check-torchdist, check-license

Fixed the Windows build.
  build_win.bat
  csrc/includes/simd.h
  csrc/quantization/pt_binding.cpp
  setup.py
Due: check-torchdist, check-license, check-torchcuda

Fixed whitespace.
  setup.py
Due: check-torchdist, check-license

add slide deck for meetup in Japan
  docs/assets/files/DeepSpeed-Meetup-May-Japan-2024.pdf
Due: check-torchcuda

Add slide deck for meetup in Japan (#5598)
  docs/assets/files/DeepSpeed-Meetup-May-Japan-2024.pdf
Due: check-torchcuda

Fixed the Windows build. (#5596)
  build_win.bat
  csrc/includes/simd.h
  csrc/quantization/pt_binding.cpp
  setup.py
Due: check-torchdist, check-license, check-torchcuda

Phi-3 mini has no unmapped param
  deepspeed/inference/v2/model_implementations/phi3/policy.py
Due: check-torchdist, check-license, check-torchcuda

state_dict_factory: llama checkpoint - support SWIGLU
  deepspeed/runtime/state_dict_factory.py
Due: check-torchdist, check-license, check-torchcuda

fix prefix tokens to cache
  deepspeed/inference/v2/ragged/ragged_manager.py
Due: check-torchdist, check-license, check-torchcuda

support extraction and merging in parallel
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

fix issues in corner cases
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

formatting
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

change 'foo' in code into 'x'
  csrc/cpu/comm/shm_interface.cpp
Due: check-torchdist, check-license, check-torchcuda

Add missing fallback implementation for inference ops
  deepspeed/ops/transformer/inference/op_binding/gelu_gemm.py
  deepspeed/ops/transformer/inference/op_binding/mlp_gemm.py
  deepspeed/ops/transformer/inference/op_binding/qkv_gemm.py
  deepspeed/ops/transformer/inference/op_binding/residual_add.py
  deepspeed/ops/transformer/inference/op_binding/softmax.py
  deepspeed/ops/transformer/inference/op_binding/softmax_context.py
  deepspeed/ops/transformer/inference/op_binding/vector_matmul.py
Due: check-torchdist, check-license, check-torchcuda

Add missing inference ops
  deepspeed/ops/transformer/inference/op_binding/bias_add.py
  deepspeed/ops/transformer/inference/op_binding/bias_gelu.py
  deepspeed/ops/transformer/inference/op_binding/bias_relu.py
  deepspeed/ops/transformer/inference/op_binding/bias_residual.py
  deepspeed/ops/transformer/inference/op_binding/einsum_sec_sm_ecm.py
  deepspeed/ops/transformer/inference/op_binding/gated_activation.py
  deepspeed/ops/transformer/inference/op_binding/layer_norm.py
  deepspeed/ops/transformer/inference/op_binding/moe_res_matmul.py
  deepspeed/ops/transformer/inference/op_binding/pad_transform.py
  deepspeed/ops/transformer/inference/op_binding/pre_rms_norm.py
  deepspeed/ops/transformer/inference/op_binding/rms_norm.py
  deepspeed/ops/transformer/inference/op_binding/vector_add.py
  deepspeed/ops/transformer/inference/op_binding/workspace.py
Due: check-torchdist, check-license, check-torchcuda

Use ops directly, stop using builder.load to use ops
  deepspeed/inference/engine.py
  deepspeed/model_implementations/transformers/ds_llama2.py
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/ops/transformer/inference/config.py
  deepspeed/ops/transformer/inference/diffusers_attention.py
  deepspeed/ops/transformer/inference/diffusers_transformer_block.py
  deepspeed/ops/transformer/inference/ds_attention.py
  deepspeed/ops/transformer/inference/moe_inference.py
  deepspeed/ops/transformer/inference/op_binding/softmax.py
  deepspeed/ops/transformer/inference/op_binding/softmax_context.py
  deepspeed/ops/transformer/inference/triton/attention.py
  deepspeed/ops/transformer/inference/triton/ops.py
  deepspeed/runtime/hybrid_engine.py
  op_builder/hpu/__init__.py
  op_builder/hpu/transformer_inference.py
  tests/unit/ops/transformer/inference/test_bias_add.py
  tests/unit/ops/transformer/inference/test_bias_geglu.py
  tests/unit/ops/transformer/inference/test_bias_gelu.py
  tests/unit/ops/transformer/inference/test_bias_relu.py
  tests/unit/ops/transformer/inference/test_gelu.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
  tests/unit/ops/transformer/inference/test_moe_res_matmult.py
  tests/unit/ops/transformer/inference/test_residual_add.py
  tests/unit/ops/transformer/inference/test_rms_norm.py
  tests/unit/ops/transformer/inference/test_softmax.py
Due: check-torchdist, check-license, check-torchcuda

remove debug print code
  csrc/cpu/comm/shm_interface.cpp
Due: check-torchdist, check-license, check-torchcuda

pipe/_exec_backward_pass: fix immediate grad update
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
