Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

zero/mics.py: use on_accelerator instead of cuda only (#3806)
  deepspeed/runtime/zero/mics.py
Due: check-torchdist, check-license, check-torchcuda

rework zero++ unit tests
  tests/unit/runtime/zero/test_qgzero.py
  tests/unit/runtime/zero/test_qwzero.py
  tests/unit/runtime/zero/test_zeropp.py
Due: check-torchdist, check-license, check-torchcuda

Disable AMD workflows in the YML
  .github/workflows/amd-mi100.yml
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Switch from PR to nightly so we can enable the flows here
  .github/workflows/amd-mi100.yml
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Disable AMD test flows in YML (#3847)
  .github/workflows/amd-mi100.yml
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Enable AMD MI200 unit test flow to confirm AMD fixes
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Introduced is_rocm_pytorch() for ROCm
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

formatting
  tests/unit/runtime/zero/test_zeropp.py
Due: check-torchdist, check-license, check-torchcuda

Reduce Unit Test Time (Part 2) (#3838)
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
  .github/workflows/nv-transformers-v100.yml
  tests/unit/runtime/zero/test_qgzero.py
  tests/unit/runtime/zero/test_qwzero.py
  tests/unit/runtime/zero/test_zeropp.py
Due: check-torchdist, check-license, check-torchcuda

add coverage report
  .github/workflows/nv-inference.yml
  .github/workflows/nv-torch-latest-v100.yml
  requirements/requirements-dev.txt
  tests/.coveragerc
Due: check-torchdist, check-torchcuda

define env vars in shared action
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-cpu.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
  .github/workflows/nv-transformers-v100.yml
  .github/workflows/setup-venv/action.yml
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda

reduce time for longest running tests
  tests/unit/runtime/pipe/test_pipe.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

fix typo
  docs/_tutorials/comms-logging.md
Due: check-torchcuda

clean up
  accelerator/cpu_accelerator.py
  csrc/cpu/comm/ccl.cpp
  deepspeed/comm/comm.py
  deepspeed/launcher/launch.py
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda

remove oneCCL binding for pytorch from workflow, use gloo to bootstrap CCLBackend
  .github/workflows/cpu-inference.yml
  docs/_tutorials/accelerator-abstraction-interface.md
Due: check-torchdist

Fixed formatting errors
  tests/unit/common.py
  tests/unit/ops/accelerators/test_accelerator_backward.py
Due: check-torchdist, check-license, check-torchcuda

add gpt-neox autotp support
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

fallback to oneccl if input is too large
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

Fix a typo of global variable in comm.py(#3852)
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

[profiling]add show_straggler argument to log_summary() (#3579)
  deepspeed/comm/comm.py
  deepspeed/utils/comms_logging.py
  docs/_tutorials/comms-logging.md
Due: check-torchdist, check-license, check-torchcuda

clean up
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

checking process_group before merging bucket ranges (#3521) (#3577)
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/moe/test_moe.py
  tests/unit/simple_model.py
Due: check-torchdist, check-license, check-torchcuda

code clean up
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

Option to override module apply
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Avoid deprecation warnings in `CHECK_CUDA`
  csrc/lamb/fused_lamb_cuda.cpp
  csrc/transformer/ds_transformer_cuda.cpp
Due: check-torchdist, check-license, check-torchcuda

first clean up code
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

add checks for allreduce_low_latency, remove warning
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

remove redudant declaration, fix 2 ranks
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

refactor multiple if statements into a loop
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

add falcon AutoTP unit test
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

added (skipped) unit test, refactored code to be more readable
  deepspeed/module_inject/replace_module.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

fix broken shared action
  .github/workflows/setup-venv/action.yml
Due: check-torchdist

reduce test time
  tests/unit/ops/accelerators/test_accelerator_backward.py
Due: check-torchdist, check-license, check-torchcuda

scripts/check-torchcuda.py: add checking for tensor.is_cuda (#3843)
  deepspeed/ops/transformer/inference/triton/gelu.py
  deepspeed/ops/transformer/inference/triton/residual_add.py
  scripts/check-torchcuda.py
Due: check-torchdist, check-license, check-torchcuda

fix CI + fix issue in engine
  deepspeed/runtime/engine.py
  tests/unit/hybrid_engine/test_he_lora.py
Due: check-torchdist, check-license, check-torchcuda

Zero3 Fix allreduce optimization for extra large tensor
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

remove avx512f path
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

Zero3 Fix allreduce optimization for extra large tensor (#3832)
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

add torch.bfloat16 to cuda_accelerator
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

Decorator to avoid partitioning DeepSpeedEngine
  deepspeed/__init__.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
