Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Fix expert grad scaling problem with ZeRO optimizer (#6546)
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/moe/test_moe.py
  tests/unit/simple_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix init_device_mesh for torch 2.4 (#6614)
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.15.3 release (#6652)
  version.txt
Due: check-torchdist, check-torchcuda

sequence parallel for uneven heads (#6392)
  deepspeed/module_inject/tp_shard.py
  deepspeed/sequence/layer.py
  deepspeed/utils/groups.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add fallback for is_compiling (#6663)
  deepspeed/runtime/compiler.py
  deepspeed/utils/logging.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update profiler registration check (#6668)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add support for H100/sm_90 arch compilation (#6669)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Fix dynamo issue (#6527)
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update Gaudi2 docker image (#6677)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Remove packages that no longer need to be updated in the latest container (#6682)
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Fix training of pipeline based peft's lora model (#5477)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update gaudi2 docker version to latest release (1.18) (#6648)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Update base docker image for A6000 GPU tests (#6681)
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-human-eval.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update URL in README Pipeline Status for Huawei Ascend NPU (#6706)
  README.md
Due: check-torchdist, check-torchcuda

Add attribute check to support git-base autotp (#6688)
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Free memory in universal checkpointing tests (#6693)
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix memcpy issue on backward for zero-infinity (#6670)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update checkout action to latest version (#5021)
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
Due: check-torchdist, check-extraindexurl

Explictly set device when reusing dist env (#6696)
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[Bug Fix] Support threads_per_head < 64 for wavefront size of 64 (#6622)
  csrc/transformer/inference/csrc/apply_rotary_pos_emb.cu
  tests/unit/ops/transformer/inference/test_rope.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use one param coordinator for both train/inference scenarios (#6662)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update flake8 version (#6722)
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

Update yapf version (#6721)
  .pre-commit-config.yaml
  deepspeed/__init__.py
  deepspeed/autotuning/autotuner.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/config.py
  deepspeed/runtime/eigenvalue.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/utils.py
  tests/unit/runtime/zero/test_zero_context.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin transformers to 4.45.2 in nv-ds-chat workflow (#6710)
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Update GH hosted workflows to 24.04 (#6717)
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/no-torch.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

Add COMMITTER file (#6741)
  COMMITTERS.md
Due: check-torchdist, check-torchcuda

Switch what versions of python are supported (#5676)
  .github/workflows/python.yml
  docker/gh-builder/Dockerfile.py311
  docker/gh-builder/Dockerfile.py312
  docker/rocm/Dockerfile
Due: check-torchdist, check-torchcuda, check-extraindexurl

Update version.txt after 0.15.4 release (#6731)
  version.txt
Due: check-torchdist, check-torchcuda

Update AMD apex version (#6739)
  .github/workflows/amd-mi200.yml
Due: check-torchdist, check-extraindexurl

add zero3 ```module_granularity_threshold ``` to zero optimization. (#6649)
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/__init__.py
  deepspeed/utils/z3_leaf_module.py
  docs/_pages/config-json.md
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add data type check for bf16 (#6742)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add Domino code (#6733)
  deepspeed/__init__.py
  deepspeed/runtime/domino/__init__.py
  deepspeed/runtime/domino/transformer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix Type Name Inconsistency & Typo in cpu_adam (#6732)
  csrc/adagrad/cpu_adagrad.cpp
  csrc/adam/cpu_adam_impl.cpp
  csrc/includes/cpu_adagrad.h
  csrc/includes/cpu_adam.h
  csrc/includes/cpu_lion.h
  csrc/lion/cpu_lion_impl.cpp
Due: check-torchdist, check-license, check-torchcuda

Adding the governance doc (#6748)
  GOVERNANCE.md
Due: check-torchdist, check-torchcuda

Update path for BingBertSquad from DeepSpeedExamples (#6746)
  docs/_tutorials/bert-finetuning.md
  docs/_tutorials/onebit-adam.md
  tests/model/BingBertSquad/run_BingBertSquad.sh
  tests/model/BingBertSquad/run_BingBertSquad_sanity.sh
  tests/model/BingBertSquad/run_tests.sh
  tests/model/BingBertSquad/test_e2e_squad.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Sanitize inputs to eval() (#6745)
  tests/model/BingBertSquad/run_BingBertSquad.sh
Due: check-torchdist, check-torchcuda, check-extraindexurl

Add no_sync context manager (#6675)
  deepspeed/inference/v2/model_implementations/layer_container_base.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/runtime/test_no_sync_ctxt.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

AIO File Offsets (#6641)
  accelerator/cpu_accelerator.py
  csrc/aio/common/deepspeed_aio_utils.cpp
  csrc/aio/common/deepspeed_aio_utils.h
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/aio/py_test/ds_aio_handle.py
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  csrc/gds/py_lib/py_ds_gds.cpp
  deepspeed/runtime/swap_tensor/utils.py
  deepspeed/utils/numa.py
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Gaudi2 Nightly job for daily check (#6753)
  .github/workflows/hpu-gaudi2-nightly.yml
Due: check-torchdist, check-extraindexurl

make xpu ops compatible with oneapi 2025.0 (#6760)
  csrc/xpu/adam/multi_tensor_apply.dp.hpp
Due: check-torchdist, check-license, check-torchcuda
