Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Update op_builder/npu/fused_adam.py
  op_builder/npu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda

Cache metadata for TP activations and grads
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Update accelerator/npu_accelerator.py
  accelerator/npu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Fix CI problems
  csrc/transformer/inference/includes/inference_cuda_layers.h
Due: check-torchdist, check-license, check-torchcuda

add available memory check to accelerators (#4508)
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  requirements/requirements.txt
Due: check-torchdist, check-license, check-torchcuda

Enable uni_ckpt for z1
  deepspeed/inference/engine.py
  deepspeed/inference/quantization/quantization.py
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/ops/adagrad/cpu_adagrad.py
  deepspeed/ops/adam/cpu_adam.py
  deepspeed/ops/lion/cpu_lion.py
  deepspeed/ops/transformer/inference/diffusers_attention.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/module.py
  deepspeed/runtime/swap_tensor/async_swapper.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
  deepspeed/runtime/swap_tensor/utils.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/__init__.py
  deepspeed/utils/ds_logging.py
  deepspeed/utils/ds_to_universal.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda

Add reference to arxiv preprint
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

Fix formatting
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

Ulysses: add col-ai evaluation (#4517)
  blogs/deepspeed-ulysses/README.md
  blogs/deepspeed-ulysses/media/convgZ.png
  blogs/deepspeed-ulysses/media/dense1B1Mscale.png
  blogs/deepspeed-ulysses/media/dense30B.png
  blogs/deepspeed-ulysses/media/dense7B.png
  blogs/deepspeed-ulysses/media/sparse30B.png
  blogs/deepspeed-ulysses/media/sparse7B.png
Due: check-torchdist, check-torchcuda

Update README.md
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

updating autotuner optimizer_mem factor
  deepspeed/autotuning/autotuner.py
Due: check-torchdist, check-license, check-torchcuda

Update README.md (#4518)
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

make ds_adam_step_plus_copy() works for AMD gpus
  op_builder/builder.py
Due: check-torchdist, check-license

make ds_adam_step_plus_copy() works on AMD GPUs
  op_builder/builder.py
Due: check-torchdist, check-license

Remove logging fix to seperate PR. Relocate conversion script to avoid logging circular import issue
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/inference/engine.py
  deepspeed/inference/quantization/quantization.py
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/ops/adagrad/cpu_adagrad.py
  deepspeed/ops/adam/cpu_adam.py
  deepspeed/ops/lion/cpu_lion.py
  deepspeed/ops/transformer/inference/diffusers_attention.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/swap_tensor/async_swapper.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
  deepspeed/runtime/swap_tensor/utils.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/utils/__init__.py
  deepspeed/utils/logging.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda

Formatting fix
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

clear redundant parameters in zero3 bwd hook
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

fix error type in ccl.py
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda

fix replace lmhead issue when ckpt not load
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Add rope_theta to linear layer
  csrc/transformer/inference/csrc/pt_binding.cpp
  deepspeed/ops/transformer/inference/op_binding/linear.py
Due: check-torchdist, check-license, check-torchcuda

set device for small zeros tensor to avoid device misalignment
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

PR feedback
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

fix the sequence-parallelism for the dense models
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

clear redundant parameters in zero3 bwd hook (#4520)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Handle replicated params
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

turn off I_MPI_PIN for impi launcher
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda

Add NPU FusedAdam support (#4343)
  accelerator/npu_accelerator.py
  op_builder/npu/__init__.py
  op_builder/npu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda

deleting private path in aio builder (#20)
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda

Don't check overflow for bf16 data type
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

fix the gradient scale for when zero is not enabled
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix error type in ccl.py (#4521)
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda

engine.py - save_checkpoint: only rank-0 should create the save dir
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda
