Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Skip gradient-norm averaging when cpu-device is selected
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

fix formatting
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

simplify parition logic
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

only sync current stream
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

putting norm back
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

[zero++] Synchronize at the end of secondary partitioning and simplify the logic (#5216)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Add fp16 support of Qwen1.5 models (0.5B to 72B) to DeepSpeed-FastGen (#5219)
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2/container.py
  deepspeed/inference/v2/model_implementations/qwen_v2/model.py
  deepspeed/inference/v2/model_implementations/qwen_v2/policy.py
Due: check-torchdist, check-license, check-torchcuda

average the grad-norms by sending the gradients to GPU when using offload
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

fix EOF
  csrc/adam/multi_tensor_adam.cu
  csrc/adam/multi_tensor_apply.cuh
Due: check-torchdist, check-license, check-torchcuda

fix cpu-inference workflow and pre-compile workflow
  .github/workflows/nv-pre-compile-ops.yml
  accelerator/cpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

remove py-cpuinfo and psutil preinstall
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-inference.yml
Due: check-torchdist

apply reduce_scatter_coalesced op
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/runtime/comm/coalesced_collectives.py
Due: check-license, check-torchcuda

Replace the ProcessGroup from torch.distributed to deepspeed.comm
  deepspeed/moe/sharded_moe.py
  deepspeed/runtime/comm/coalesced_collectives.py
Due: check-license, check-torchcuda

fix format
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

Fix attention mask handling in the Hybrid Engine Bloom flow
  deepspeed/module_inject/containers/bloom.py
  deepspeed/ops/transformer/inference/config.py
  deepspeed/ops/transformer/inference/ds_attention.py
Due: check-torchdist, check-license, check-torchcuda

Rename nv-torch-latest-cpu workflow to cpu-torch-latest
  .github/workflows/cpu-torch-latest.yml
  README.md
Due: check-torchdist, check-torchcuda

Rename nv-torch-latest-cpu workflow to cpu-torch-latest (#5226)
  .github/workflows/cpu-torch-latest.yml
  README.md
Due: check-torchdist, check-torchcuda

Fix moe cpu offload (#5220)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

for blog
  README.md
  blogs/deepspeed-fp6/03-05-2024/README.md
  blogs/deepspeed-fp6/03-05-2024/assets/fp6-design.png
  blogs/deepspeed-fp6/03-05-2024/assets/hero-figure.png
  blogs/deepspeed-fp6/03-05-2024/assets/servingllm/100-1000.png
  blogs/deepspeed-fp6/03-05-2024/assets/servingllm/100-250.png
  blogs/deepspeed-fp6/03-05-2024/assets/servingllm/100-500.png
Due: check-torchdist, check-torchcuda

for blog typos
  blogs/deepspeed-fp6/03-05-2024/README.md
Due: check-torchdist, check-torchcuda

Use `deepspeed.comm` instead of `torch.distributed` (#5225)
  deepspeed/moe/sharded_moe.py
  deepspeed/runtime/comm/coalesced_collectives.py
Due: check-license, check-torchcuda

FP6 quantization end-to-end.
  debug/README.md
  debug/clean.sh
  debug/run_pipeline.py
  deepspeed/inference/v2/config_v2.py
  deepspeed/inference/v2/kernels/core_ops/__init__.py
  deepspeed/inference/v2/kernels/core_ops/core_ops.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/GenMatrix_QuantLLM.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/GenMatrix_QuantLLM.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/Kernel_QuantGEMM.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/Kernel_Reduction.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/Launcher.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/__init__.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/quant_gemm_api.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Configs.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/PTX_cp.async.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/PTX_mma.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Utils_Core.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Utils_GMem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Utils_ParallelDequant.cuh
  deepspeed/inference/v2/kernels/core_ops/gated_activations/gated_activation_kernels_cuda.cu
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
  deepspeed/inference/v2/modules/heuristics.py
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  op_builder/inference_core_ops.py
Due: check-torchdist, check-license, check-torchcuda

Make the quantizer on GPU.
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
Due: check-torchdist, check-license, check-torchcuda

Update CUDA kernels and clean codes.
  deepspeed/inference/v2/kernels/core_ops/core_ops.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/GenMatrix_QuantLLM.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/GenMatrix_QuantLLM.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/Kernel_QuantGEMM.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/Launcher.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/quant_gemm_api.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Utils_GMem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Utils_ParallelDequant.cuh
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  op_builder/inference_core_ops.py
Due: check-torchdist, check-license, check-torchcuda

[WIP] Fix the bug of FP16-to-FP6 data packing.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
Due: check-torchdist, check-license, check-torchcuda

Refine the FP16-to-FP6 cast logic.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
Due: check-torchdist, check-license, check-torchcuda

Add unit tests for FP6 quantizer
  deepspeed/inference/v2/modules/implementations/linear/__init__.py
  tests/unit/inference/v2/modules/test_quantizied_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

Fix FP16-FP6 cast problems.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
Due: check-torchdist, check-license, check-torchcuda

Add FP6 end-to-end unit tests
  tests/unit/inference/v2/modules/test_quantizied_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

Remove debug files.
  debug/README.md
  debug/clean.sh
  debug/run_pipeline.py
Due: check-torchdist, check-license, check-torchcuda

Fix at::nullopt and at::optional conflicts.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cu
Due: check-torchdist, check-license, check-torchcuda

pre-commit
  debug/run_pipeline.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/Configs.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/PTX_cp.async.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/PTX_mma.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/Utils_Core.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/Utils_GMem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/Utils_ParallelDequant.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_matmul.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_reduction.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/weight_prepacking.h
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
  deepspeed/inference/v2/modules/heuristics.py
  deepspeed/inference/v2/modules/implementations/linear/__init__.py
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  op_builder/inference_core_ops.py
  tests/unit/inference/v2/modules/test_quantizied_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

Only compiler the kernel body for SM >= 8.0.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/fp6_linear.cu
Due: check-torchdist, check-license, check-torchcuda

Refine split-k setting.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear.py
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
Due: check-torchdist, check-license, check-torchcuda

Fix the CI workflow problem for FP6 end-to-end.
  .github/workflows/nv-a6000.yml
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/cuda_linear_kernels.cpp
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
  requirements/requirements-inf.txt
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
