Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

Remove broken links to non-active site
  README.md
Due: check-torchdist, check-torchcuda

Fix nv-torch-nightly test by pinning transformers (#6849)
  .github/workflows/nv-torch-nightly-v100.yml
Due: check-torchdist, check-extraindexurl

Update torch-nightly-v100 workflow
  .github/workflows/nv-torch-nightly-v100.yml
Due: check-torchdist, check-extraindexurl

fix assertion for offloading states
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add arctic model support by adding w2 to all_reduce
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Added arctic model to supported models for autotp
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchcuda

Remove broken links to non-active site (#6854)
  README.md
Due: check-torchdist, check-torchcuda

Update real_accelerator.py
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

finished all ut code base
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

addllr scheduler test
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refine ut
  tests/unit/model_parallelism/test_autotp_training.py
  tests/unit/simple_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Avoid poisoning process with CUDA calls as soon as importing (#6810)
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

formate
  docs/_tutorials/domino.md
  docs/index.md
Due: check-torchcuda

fix
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update deepspeed/launcher/multinode_runner.py
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update xpu-max1100.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Update xpu-compile.yml
  .github/workflows/xpu-compile.yml
Due: check-torchdist, check-extraindexurl

change tags to training
  docs/_tutorials/domino.md
Due: check-torchcuda

Fix xpu tests workflow failure by changing pip index url (#6864)
  .github/workflows/xpu-compile.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Domino updates (#6861)
  docs/_tutorials/domino.md
  docs/index.md
Due: check-torchcuda

add domino navigation
  docs/_data/navigation.yml
Due: check-torchcuda, check-extraindexurl

add domino navigation (#6866)
  docs/_data/navigation.yml
Due: check-torchcuda, check-extraindexurl

Update TSC
  COMMITTERS.md
Due: check-torchdist, check-torchcuda

Update TSC (#6867)
  COMMITTERS.md
Due: check-torchdist, check-torchcuda

Fix model-checkpointing
  docs/code-docs/source/model-checkpointing.rst
Due: check-torchcuda

Remove warnings from autodoc and sphinx (#6788)
  deepspeed/runtime/fp16/onebit/zoadam.py
  deepspeed/runtime/lr_schedules.py
  docs/code-docs/source/monitor.rst
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update real_accelerator.py (#6845)
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Undo changes testing daemonic processes
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix bcast_objlist
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refine layers.py
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refine gather
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Stage3: Use torch grad accumulation hooks API per torch version. Reject compile on torch < 2.1.
  deepspeed/runtime/compiler.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/torch.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix: forbid repeated deepspeed.initialize on training objects
  deepspeed/__init__.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

pass codegen350M +TP2 ut
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add mode choice
  deepspeed/__init__.py
  deepspeed/inference/config.py
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix chatglm
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix chatglm2 with transformers=4.40 version
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

uneven
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
