Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Fix variable name for bf16 optimizer
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Fix logging
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

fwd optimi
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

fix1 remove linear arg, remove note
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

async qkv fwd, optimi cpu ,make fwd call fast
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

update
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

refine code
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

Revert "fix ds-sp grad scale for zero0"
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.14.4 release (#5694)
  version.txt
Due: check-torchdist, check-torchcuda

fix format
  csrc/cpu/comm/shm_interface.cpp
  deepspeed/comm/torch.py
Due: check-torchdist, check-license, check-torchcuda

format code as per ci
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Fixed Windows inference build. (#5609)
  accelerator/cuda_accelerator.py
  build_win.bat
  csrc/transformer/inference/csrc/pt_binding.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_layer_norm/layer_norm_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_matmul.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_cp.async.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_mma.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_core.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_gmem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_paralleldequant.cuh
  deepspeed/utils/timer.py
  op_builder/builder.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

adding max_partition_numel and min_partition_numel to profiler
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/partitioned_param_profiler.py
Due: check-torchdist, check-license, check-torchcuda

fix a bug
  deepspeed/runtime/zero/partitioned_param_profiler.py
Due: check-torchdist, check-license, check-torchcuda

fixing a bug
  deepspeed/runtime/zero/partitioned_param_profiler.py
Due: check-torchdist, check-license, check-torchcuda

disable nvtx decorator when compile is enabled
  deepspeed/runtime/engine.py
  deepspeed/utils/nvtx.py
Due: check-torchdist, check-license, check-torchcuda

Disable nvtx decorator to avoid graph break as in #5697
  deepspeed/inference/engine.py
Due: check-torchdist, check-license

reduce all-to-all communication volume when both expert and non-expert are tensor-parallel #5626
  deepspeed/moe/mappings.py
  deepspeed/moe/sharded_moe.py
  deepspeed/ops/transformer/inference/moe_inference.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

fix formatting
  deepspeed/runtime/engine.py
  deepspeed/utils/nvtx.py
Due: check-torchdist, check-license, check-torchcuda

Updated HPU image to 1.16.2.
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Fix typo on docker image name
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Typo part 2
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Bug fix for the "Link bit16 and fp32 parameters in partition" (#5681)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Fix memory leak from _hp_mapping (#5643)
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

[CPU] add fp16 support to shm inference_all_reduce (#5669)
  csrc/cpu/comm/shm.cpp
  csrc/cpu/comm/shm_interface.cpp
  tests/unit/comm/test_dist.py
Due: check-torchdist, check-license, check-torchcuda

Universal checkpoint for zero stage 3 (#5475)
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/checkpoint/test_universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Fix broken merge conflict
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

inference unit test injectionPolicy split world_size to multiple tests (#5687)
  tests/unit/common.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

ENV var added for recaching in INF Unit tests (#5688)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Disable nvtx decorator to avoid graph break (#5697)
  deepspeed/runtime/engine.py
  deepspeed/utils/nvtx.py
Due: check-torchdist, check-license, check-torchcuda

fix import
  deepspeed/inference/engine.py
Due: check-torchdist, check-license

Add an argument to enable the injection of missing state during the conversion of universal checkpoints (#5608)
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

Enabled dmesg logs and added hl-smi list command.
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

running precommit checks
  csrc/aio/py_lib/deepspeed_py_copy.cpp
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_access_iterator_residual_last.h
  csrc/includes/simd.h
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
  deepspeed/runtime/zero/utils.py
Due: check-torchdist, check-license, check-torchcuda

Add Windows scripts (deepspeed, ds_report).
  bin/deepspeed.bat
  bin/ds_report.bat
  build_win.bat
  deepspeed/env_report.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
