Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Update build_win.bat script to exclue GDS op as it lacks Windows support. (#6971)
  build_win.bat
Due: check-torchdist, check-torchcuda

Remove assumption that padding only occurs on last rank (#6974)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

import triton files when triton is supported and installed
  deepspeed/model_implementations/transformers/ds_transformer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

builder mod for rcom
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

import triton files when triton is supported and installed (#6989)
  deepspeed/model_implementations/transformers/ds_transformer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update CNAME
  docs/CNAME
Due: check-torchcuda

[XPU] max1100 workflow update for docker and softwares (#7003)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

autotp training(fix dco) (#7004)
  deepspeed/__init__.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/inference/engine.py
  deepspeed/module_inject/__init__.py
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/load_checkpoint.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/tensor_parallel/__init__.py
  deepspeed/runtime/tensor_parallel/config.py
  deepspeed/runtime/tensor_parallel/tp_manager.py
  deepspeed/runtime/utils.py
  deepspeed/utils/groups.py
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow NVIDIA Blackwell (#6991)
  op_builder/builder.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add Tecorigin License
  accelerator/sdaa_accelerator.py
  op_builder/sdaa/__init__.py
  op_builder/sdaa/builder.py
  op_builder/sdaa/cpu_adam.py
  op_builder/sdaa/fused_adam.py
  op_builder/sdaa/no_impl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[Accelerator] Tecorgin SDAA support
  accelerator/real_accelerator.py
  accelerator/sdaa_accelerator.py
  op_builder/sdaa/__init__.py
  op_builder/sdaa/builder.py
  op_builder/sdaa/cpu_adam.py
  op_builder/sdaa/fused_adam.py
  op_builder/sdaa/no_impl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix ds-chat CI regression
  deepspeed/module_inject/layers.py
  deepspeed/runtime/hybrid_engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix bug
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update docker image for nv-sd to latest to match others
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Pin numpy
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Add more pip list
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Pin numpy in requirements
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

Update docker version
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Try 24.04
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Reset, just update numpy?
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update A6000 tests
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update .github/workflows/nv-a6000.yml
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update torch version
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update workflows that use cuda 12.1 to use runners with 12.4
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist, check-extraindexurl

Update cuda and torch versions
  .github/workflows/nv-inference.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Avoid naming collision on partition()
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update A6000 tests transformers version (#7016)
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Fix format error
  accelerator/sdaa_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix formatting error
  op_builder/sdaa/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use new API
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

correct comment in DYNAMIC_BATCHING_SAMPLES_ORDER and DYNAMIC_BATCHING_SAMPLES_ORDER_DEFAULT
  deepspeed/runtime/data_pipeline/constants.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
