Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Revert workflows that are on 1804 and don't currently support node 20 which is required for the updated checkout action
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
  .github/workflows/python.yml
Due: check-torchdist

add custom reshaping for universal checkpoint
  deepspeed/checkpoint/__init__.py
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Update XPU workflow too
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

Revert "Update XPU workflow too"
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

Update checkout action on workflows on ubuntu 20.04 (#5387)
  .github/workflows/amd-mi200.yml
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/formatting.yml
  .github/workflows/hpu-gaudi2.yml
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/nv-sd.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
  .github/workflows/release.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

Update README.md
  README.md
Due: check-torchdist, check-torchcuda

fix formating
  csrc/fp_quantizer/quantize.cu
Due: check-torchdist, check-license, check-torchcuda

unset TRANSFORMERS_CACHE and peek tree structure
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Cleanup required_torch_version code and references. (#5370)
  deepspeed/comm/torch.py
  deepspeed/elasticity/utils.py
  deepspeed/runtime/comm/nccl.py
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/fp16/onebit/adam.py
  deepspeed/runtime/fp16/onebit/lamb.py
  deepspeed/runtime/fp16/onebit/zoadam.py
  deepspeed/runtime/fp16/unfused_optimizer.py
  deepspeed/runtime/pipe/p2p.py
  deepspeed/runtime/utils.py
  deepspeed/utils/torch.py
  tests/unit/alexnet_model.py
  tests/unit/checkpoint/test_mics_optimizer.py
  tests/unit/checkpoint/test_moe_checkpoint.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/compression/test_compression.py
  tests/unit/inference/quantization/test_intX_quantization.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
  tests/unit/moe/test_moe.py
  tests/unit/moe/test_moe_tp.py
  tests/unit/profiling/flops_profiler/test_flops_profiler.py
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
  tests/unit/runtime/compile/test_load_config.py
  tests/unit/runtime/half_precision/onebit/test_onebit.py
  tests/unit/runtime/half_precision/test_fp16.py
  tests/unit/runtime/test_ds_initialize.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Update README.md for intel XPU support (#5389)
  README.md
Due: check-torchdist, check-torchcuda

fix sorting of shard files
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

remove debug print
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

Optimize the fp-dequantizer to get high memory-BW utilization (#5373)
  csrc/fp_quantizer/quantize.cu
Due: check-torchdist, check-license, check-torchcuda

Fixed non-parallel path
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

refactor utility func for parallel work
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

fix formatting
  csrc/cpu/comm/shm_interface.cpp
Due: check-torchdist, check-license, check-torchcuda

disable baichuan autotp test
  .github/workflows/cpu-inference.yml
Due: check-torchdist

fix formatting
  csrc/fp_quantizer/includes/quantize.h
  csrc/fp_quantizer/quantize.cpp
  csrc/fp_quantizer/quantize.cu
  deepspeed/ops/fp_quantizer/quantize.py
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda

Add fp16 support of Qwen1.5MoE models (A2.7B) to DeepSpeed-FastGen
  blogs/deepspeed-fastgen/README.md
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/kernels/ragged_ops/includes/top_k_utils.h
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/container.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/model.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/policy.py
  deepspeed/inference/v2/modules/implementations/moe/cutlass_multi_gemm.py
Due: check-torchdist, check-license, check-torchcuda

fix grad norm for tp
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

refine code
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

remove unnecessary clip_gradients fun
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

Add required paths to trigger AMD tests on PRs
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Update engine.py to avoid torch warning
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

format with fix
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Add custom reshaping for universal checkpoint (#5390)
  deepspeed/checkpoint/__init__.py
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Removal of cuda hardcoded string with get_device function (#5351)
  tests/unit/hybrid_engine/test_he_lora.py
  tests/unit/inference/test_stable_diffusion.py
  tests/unit/ops/transformer/inference/test_attention.py
  tests/unit/ops/transformer/inference/test_gelu.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
  tests/unit/ops/transformer/inference/test_softmax.py
Due: check-torchdist, check-license, check-torchcuda

format
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting: remove unused import
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

fix pagable h2d memcpy (#5301)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

stage3: efficient compute of scaled_global_grad_norm (#5256)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

improve perf by loop-free implementations
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

fix the accelerator issue
  README.md
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/hpu_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  accelerator/xpu_accelerator.py
  deepspeed/launcher/launch.py
Due: check-torchdist, check-license, check-torchcuda

Change 'SHM' in op builder name into 'ShareMem'
  accelerator/cpu_accelerator.py
  deepspeed/comm/torch.py
  op_builder/cpu/__init__.py
  op_builder/cpu/comm.py
Due: check-torchdist, check-license, check-torchcuda

Modify the comments.
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

add op to inference_all_reduce
  csrc/cpu/comm/ccl.cpp
  csrc/cpu/comm/shm_interface.cpp
  deepspeed/comm/ccl.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
Due: check-torchdist, check-license, check-torchcuda

restore oneccl call parameter
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

update
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

Test xpu daemonic processes locally
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
