Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Remove coverage reports from workflows and fix for inference CI (#5028)
  .github/workflows/nv-inference.yml
  .github/workflows/nv-torch-latest-v100.yml
  requirements/requirements-dev.txt
  requirements/requirements-inf.txt
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Remove Megatron-DeepSpeed CI workflow (#5038)
  .github/workflows/nv-megatron.yml
  README.md
Due: check-torchdist, check-torchcuda

Fix P40 CI failures (#5037)
  .github/workflows/nv-torch110-p40.yml
  accelerator/cuda_accelerator.py
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

enable fds passing
  deepspeed/launcher/launcher_helper.py
Due: check-torchdist, check-license, check-torchcuda

Add type hints and improve style
  deepspeed/moe/experts.py
Due: check-torchdist, check-license, check-torchcuda

Remove extra newline character at start of code block
  docs/_tutorials/mixture-of-experts.md
Due: check-torchcuda

Add and fix type hints, improve style
  deepspeed/moe/utils.py
Due: check-torchdist, check-license, check-torchcuda

Revert "Fix P40 CI failures (#5037)"
  .github/workflows/nv-torch110-p40.yml
  accelerator/cuda_accelerator.py
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

refactor compile config
  deepspeed/runtime/compiler.py
Due: check-torchdist, check-license, check-torchcuda

Update to latest torch
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

lift is_compile_supported up to use as `deepspeed.is_compile_supported()`
  deepspeed/__init__.py
  tests/unit/runtime/compile/test_config.py
  tests/unit/runtime/compile/test_wrapper.py
Due: check-torchdist, check-license, check-torchcuda

Revert "Update to latest torch"
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

Revert "Revert "Fix P40 CI failures (#5037)""
  .github/workflows/nv-torch110-p40.yml
  accelerator/cuda_accelerator.py
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Test with more supported_dtypes
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

Test changes in util.py
  accelerator/cuda_accelerator.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Revert "Test changes in util.py"
  accelerator/cuda_accelerator.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Test
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

add check for cuda available
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

avoid overwriting backend fn in validator
  deepspeed/runtime/compiler.py
  tests/unit/runtime/compile/test_load_config.py
Due: check-torchdist, check-license, check-torchcuda

Update torch version
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

update doc to migrate `init_inference` from `mp_size` to `tensor_parallel` arg to use TP
  deepspeed/__init__.py
  docs/_tutorials/inference-tutorial.md
Due: check-torchdist, check-license, check-torchcuda

add tests combining compile and zero
  tests/unit/runtime/compile/common.py
  tests/unit/runtime/compile/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

rename test modules
  tests/unit/runtime/compile/common.py
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
Due: check-torchdist, check-license, check-torchcuda

change npu log level to debug
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

launcher_helper: enable fds passing (#5042)
  deepspeed/launcher/launcher_helper.py
Due: check-torchdist, check-license, check-torchcuda

Fix nv-torch-latest-cpu CI (#5045)
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

fix broken model names
  .github/workflows/nv-inference.yml
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

fix filtering for invalid tests
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

[NPU] Add NPU to support hybrid engine (#4831)
  op_builder/npu/__init__.py
  op_builder/npu/inference.py
Due: check-torchdist, check-license, check-torchcuda

MoE type hints (#5043)
  deepspeed/moe/experts.py
  deepspeed/moe/utils.py
  docs/_tutorials/mixture-of-experts.md
Due: check-torchdist, check-license, check-torchcuda

[doc] update inference related docs from `mp_size` to `tensor_parallel` for TP (#5048)
  deepspeed/__init__.py
  docs/_tutorials/inference-tutorial.md
Due: check-torchdist, check-license, check-torchcuda

Initial HIP work
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/Makefile
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/bias_activation_cu_hip.cpp
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/bias_activations.cpp
  deepspeed/inference/v2/kernels/core_ops/hip_ops/bias_activations/bias_activation_cpp_hip.cpp
  deepspeed/inference/v2/kernels/core_ops/hip_ops/bias_activations/bias_activation_cu_hip.cpp
Due: check-torchdist, check-license, check-torchcuda

HIP-ify headers
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/Makefile.old
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/bias_activations.cpp
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/activation_type.h
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/activation_type.h.prehip
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/conversion_utils.h
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/conversion_utils.h.prehip
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/ds_kernel_utils.h
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/ds_kernel_utils.h.prehip
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/memory_access_utils.h
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/memory_access_utils.h.prehip
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/reduction_utils.h
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/includes/reduction_utils.h.prehip
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/vectoradd_hip.cpp
Due: check-torchdist, check-license, check-torchcuda

Fix compilation errors
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/Makefile
  deepspeed/inference/v2/kernels/core_ops/bias_activations/hip/bias_activations.cpp
Due: check-torchdist, check-license, check-torchcuda

Further refactor split_params_into_different_moe_groups_for_optimizer
  deepspeed/moe/utils.py
Due: check-torchdist, check-license, check-torchcuda

Improve deepspeed.moe.layer type hints, style
  deepspeed/moe/layer.py
Due: check-torchdist, check-license, check-torchcuda

Allow max_group_size to be a float so users can pass float("inf")
  deepspeed/moe/utils.py
Due: check-torchdist, check-license, check-torchcuda

fix zeroPP convergence test
  tests/unit/runtime/zero/test_zeropp.py
Due: check-torchdist, check-license, check-torchcuda

Update load_checkpoint.py with review comments for all linear layers
  deepspeed/module_inject/load_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Update load_checkpoint.py
  deepspeed/module_inject/load_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
