Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

Add the missing view operations and refactor the code.
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix building on Windows with presence of Triton
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

rename function
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update for DynamicCache() use
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/ops/transformer/inference/ds_attention.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add no_sync context manager (#6675)
  deepspeed/inference/v2/model_implementations/layer_container_base.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/runtime/test_no_sync_ctxt.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Adding the governance doc (#6748)
  GOVERNANCE.md
Due: check-torchdist, check-torchcuda

Add weights_only=True to all tests
  tests/unit/checkpoint/common.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

pipe cache_position, additional debugging
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/ops/transformer/inference/ds_attention.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Replace all DeepSpeed calls in deepspeed/ with weights_only=False
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/checkpoint/zero_checkpoint.py
  deepspeed/inference/engine.py
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
  deepspeed/inference/v2/model_implementations/inference_policy_base.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/base_optimizer.py
  deepspeed/runtime/checkpoint_engine/nebula_checkpoint_engine.py
  deepspeed/runtime/checkpoint_engine/torch_checkpoint_engine.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting
  deepspeed/checkpoint/deepspeed_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Gaudi2 Nightly job for daily check
  .github/workflows/hpu-gaudi2-nightly.yml
Due: check-torchdist, check-extraindexurl

add brief introduction
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update tests that fail on HPU
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pre-commit formatting
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting
  csrc/includes/quantization_utils.h
  csrc/quantization/pt_binding.cpp
  csrc/quantization/quant_reduce.cu
  csrc/quantization/swizzled_quantize.cu
  deepspeed/runtime/comm/coalesced_collectives.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Trigger on only this YML, otherwise cron jobs
  .github/workflows/hpu-gaudi2-nightly.yml
Due: check-torchdist, check-extraindexurl

Gaudi2 Nightly job for daily check (#6753)
  .github/workflows/hpu-gaudi2-nightly.yml
Due: check-torchdist, check-extraindexurl

Add support for Phi-3 small to FastGen (#5614)
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/phi3small/__init__.py
  deepspeed/inference/v2/model_implementations/phi3small/containers.py
  deepspeed/inference/v2/model_implementations/phi3small/model.py
  deepspeed/inference/v2/model_implementations/phi3small/policy.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix: add support for einops.einsum in FlopsProfiler
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Set "__n_available_params" to 0 in release_and_reset_all()
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Set "ds_grads_remaining" to 0 when module doesn't have this variable
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add unit stage3 test for running model twice in one step
  tests/unit/runtime/zero/test_zero_multiple_run.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update to all weights only False
  tests/unit/checkpoint/common.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Disable failing python tests
  .github/workflows/python.yml
Due: check-torchdist, check-extraindexurl

format precommit and edit requirements
  bin/deepspeed
  bin/deepspeed.pt
  bin/dsr
  deepspeed/accelerator
  deepspeed/ops/csrc
  deepspeed/ops/op_builder
  deepspeed/profiling/flops_profiler/profiler.py
  requirements/requirements.txt
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Disable failing python tests (#6758)
  .github/workflows/python.yml
Due: check-torchdist, check-extraindexurl

A faster and more memory-efficient implementation of `zero_to_fp32` (#6658)
  deepspeed/utils/zero_to_fp32.py
  tests/unit/checkpoint/test_convert_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin transformers somewhat in A6000 workflow
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Remove depth 1
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update again
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update to 1ef6c5f1c5b96af27d569fd7520c8884898125c1
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update to 20142ab5422fbafcd10e221e37e95f8aaf1bde3c
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update transformers to latest stable version
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Update to pass tests
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

make xpu ops compatible with oneapi 2025.0
  csrc/xpu/adam/multi_tensor_apply.dp.hpp
Due: check-torchdist, check-license, check-torchcuda

Formatting
  csrc/xpu/adam/multi_tensor_apply.dp.hpp
Due: check-torchdist, check-license, check-torchcuda

Pin transformers version to work around latest torch requirements (#6759)
  .github/workflows/hpu-gaudi2.yml
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

Removes unnecessary cloning
  deepspeed/checkpoint/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
