Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Pydantic fp16 config
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/precision_config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix more typos
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/partition_parameters.py
  tests/unit/runtime/test_ds_config_dict.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

generalize deepspeed linear and implement it for non cuda systems (#6932)
  csrc/fp_quantizer/fp_quantize.cpp
  deepspeed/linear/config.py
  deepspeed/linear/quantization.py
  deepspeed/ops/fp_quantizer/quantize.py
  op_builder/fp_quantizer.py
  op_builder/hpu/fp_quantizer.py
  tests/unit/linear/test_linear.py
  tests/unit/linear/test_quant_param.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Address #4986
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/fp16/loss_scaler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin torch in nv-ds-chat workflow
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Turn off NCCL debug
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Update recommended Windows whl building versions
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Update Windows build instructions
  README.md
Due: check-torchdist, check-torchcuda

Clarify and link to blog
  README.md
Due: check-torchdist, check-torchcuda

Ensure we get torch+cu vs torch+cpu
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Update recommended Windows whl building versions (#6983)
  README.md
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix typo
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Title: Fix setup_env_ranks to Properly Set Environment Variables Instead of Raising Error (#6979)
  deepspeed/launcher/multinode_runner.py
  tests/unit/launcher/test_multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update torch
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Add pip list
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Install torchvision too
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Add torchvision at same install time as torch
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Specify torchvision in nv-ds-chat workflow (prevents errors with torch 2.6) (#6982)
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Fix typo
  deepspeed/runtime/hybrid_engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove assumption that padding only occurs on last rank (#6974)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use ds-specific module id to avoid conflicts (#6847)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update to 24.06
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update nv-sd version
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Specify torch version correctly
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update back to original version
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

add autocast support and ds_config item
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update A6000 workflows to use newer docker container - 24.09 vs 24.03 (#6967)
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-flash-attn.yml
  .github/workflows/nv-human-eval.yml
Due: check-torchdist, check-extraindexurl

prepare ipg buckets for multiple dtypes
  deepspeed/runtime/torch_autocast.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix hostname -I for macOS #6497
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda, check-extraindexurl

switch communication data type
  deepspeed/runtime/engine.py
  deepspeed/runtime/torch_autocast.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add gradscaler
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/common.py
  tests/unit/runtime/compile/util.py
  tests/unit/runtime/zero/test_zero_autocast.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix import and formatting
  tests/unit/runtime/zero/test_zero_autocast.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow NVIDIA Blackwell
  op_builder/builder.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow NVIDIA Blackwell (#6991)
  op_builder/builder.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix GH repo ref
  .github/ISSUE_TEMPLATE/inference_bug_report.md
Due: check-torchdist, check-torchcuda

Update xpu-max1100.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl
