Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

allow codegen test for bf16
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Loading Falcon to meta
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

allow tensor, list or tuple as layer input
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

simpler implementation
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

Add initial Human Eval PyTest
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Resolve any '..' in the file paths using os.path.abspath() (#4709)
  op_builder/builder.py
Due: check-torchdist, check-license

Generate and save samples in PyTest
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

fix typo in LmHeadLinearAllreduce initialization
  deepspeed/inference/quantization/layers.py
  deepspeed/inference/quantization/quantization.py
Due: check-torchdist, check-license, check-torchcuda

Test runsc docker on a6000
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Add A6000 to trigger
  .github/workflows/nv-a6000.yml
Due: check-torchdist

test without the runtime
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Run workflows when they are edited
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist

Update dockerfile with updated versions
  docker/Dockerfile
Due: check-torchdist, check-torchcuda

Whitespace - formatting
  docker/Dockerfile
Due: check-torchdist, check-torchcuda

fix: type mismatch for judging if current accelerator is in SUPPORTED_ACCELERATOR_LIST
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

refactor: improve the way to decide whether a variable is None
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  deepspeed/inference/quantization/layers.py
  deepspeed/inference/v2/modules/implementations/embedding/ragged_embedding.py
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/tp_shard.py
  deepspeed/runtime/zero/stage3.py
  op_builder/cpu/comm.py
  tests/unit/launcher/test_ds_arguments.py
  tests/unit/runtime/zero/test_zero_config.py
Due: check-torchdist, check-license, check-torchcuda

fix falcon model load from_config meta_data error
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

disable codegen bf16
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Update dockerfile with updated versions (#4780)
  docker/Dockerfile
Due: check-torchdist, check-torchcuda

Run workflows when they are edited (#4779)
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist

refactor: solve yapf problems
  deepspeed/runtime/comm/hccl.py
  deepspeed/runtime/fp16/onebit/lamb.py
Due: check-torchdist, check-license, check-torchcuda

fix: use deepspeed.comm as dist
  deepspeed/runtime/comm/hccl.py
Due: check-torchdist, check-license, check-torchcuda

fix autoTP issue for mpt (trust_remote_code=True)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Fix Hybrid Engine metrics printing
  deepspeed/runtime/hybrid_engine.py
Due: check-torchdist, check-license, check-torchcuda

Update check
  deepspeed/runtime/hybrid_engine.py
Due: check-torchdist, check-license, check-torchcuda

Fix Hybrid Engine metrics printing (#4789)
  deepspeed/runtime/hybrid_engine.py
Due: check-torchdist, check-license, check-torchcuda

fix autoTP issue for mpt (trust_remote_code=True) (#4787)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

BF16_Optimizer: add support for bf16 grad acc (#4713)
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

[BUG] partition_balanced return wrong result. (#4312)
  deepspeed/runtime/utils.py
  tests/unit/utils/test_partition_balanced.py
Due: check-torchdist, check-license, check-torchcuda

improve the way to determine whether a variable is None (#4782)
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  accelerator/real_accelerator.py
  deepspeed/inference/quantization/layers.py
  deepspeed/inference/v2/modules/implementations/embedding/ragged_embedding.py
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/tp_shard.py
  deepspeed/runtime/zero/stage3.py
  op_builder/cpu/comm.py
  tests/unit/launcher/test_ds_arguments.py
  tests/unit/runtime/zero/test_zero_config.py
Due: check-torchdist, check-license, check-torchcuda

Add support of Falcon 7b model
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/falcon/__init__.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_containers.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_model.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_policy.py
Due: check-torchdist, check-license, check-torchcuda

Add TP support for Falcon 7b model
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_containers.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_model.py
Due: check-torchdist, check-license, check-torchcuda

Add support of Falcon new decoder arch (40b and 180b models)
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_containers.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_model.py
  deepspeed/inference/v2/model_implementations/falcon/falcon_policy.py
Due: check-torchdist, check-license, check-torchcuda

Fix kv rotary kernels of Falcon 180b model for 8-way sharding
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
Due: check-torchdist, check-license, check-torchcuda

[NPU] Add HcclBackend for 1-bit adam, 1-bit lamb, 0/1 adam (#4733)
  deepspeed/runtime/comm/hccl.py
  deepspeed/runtime/fp16/onebit/adam.py
  deepspeed/runtime/fp16/onebit/lamb.py
  deepspeed/runtime/fp16/onebit/zoadam.py
Due: check-torchdist, check-license, check-torchcuda

add three tests
  deepspeed/runtime/zero/mics.py
  tests/unit/runtime/zero/test_zero.py
  tests/unit/runtime/zero/test_zero_context.py
  tests/unit/runtime/zero/test_zero_offloadpp.py
Due: check-torchdist, check-license, check-torchcuda

fix format error
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Remove pipeline_parallel flag
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

Fix for stage3 when setting different communication data type (#4540)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting
  csrc/deepspeed4science/evoformer_attn/gemm/mma_from_smem.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_iterator_atomic.h
  csrc/deepspeed4science/evoformer_attn/kernel_forward.h
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
