Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Change the scales from attributes to new tensors. Provide the end-to-end script given HuggingFace model id.
  conversion.py
  debug/mii_test.py
  debug/run_pipeline.py
  debug/test_mii.py
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
  deepspeed/inference/v2/engine_v2.py
  deepspeed/inference/v2/model_implementations/common_parameters/attn_output_parameters.py
  deepspeed/inference/v2/model_implementations/common_parameters/mlp_parameters.py
  deepspeed/inference/v2/model_implementations/common_parameters/qkv_parameters.py
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
  deepspeed/inference/v2/model_implementations/inference_policy_base.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/model_implementations/layer_container_base.py
  deepspeed/inference/v2/model_implementations/llama_v2/llama_v2_containers.py
  deepspeed/inference/v2/model_implementations/opt/container.py
  deepspeed/inference/v2/modules/implementations/linear/quantized_linear.py
Due: check-torchdist, check-license, check-torchcuda

Hard-coded commented out the scales in the kernel to workaround the bug.
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Utils_ParallelDequant.cuh
Due: check-torchdist, check-license, check-torchcuda

add convergence test
  tests/unit/runtime/zero/test_zeropp.py
Due: check-torchdist, check-license, check-torchcuda

tmp change to workflow for test
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist

Add missing op_builder.hpu component for HPU accelerator (#4963)
  op_builder/hpu/__init__.py
  op_builder/hpu/builder.py
  op_builder/hpu/cpu_adam.py
  op_builder/hpu/fused_adam.py
  op_builder/hpu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda

Stage_1_and_2.py: fix assert for reduce_scatter configurations combinations (#4964)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

[MiCS]Add the path to support sequence_data_parallel on MiCS (#4926)
  deepspeed/runtime/zero/mics.py
Due: check-torchdist, check-license, check-torchcuda

Update the DeepSpeed Phi-2 impl. to work with the HF latest changes (#4950)
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/phi/containers.py
  deepspeed/inference/v2/model_implementations/phi/model.py
  deepspeed/inference/v2/model_implementations/phi/policy.py
Due: check-torchdist, check-license, check-torchcuda

Prevent infinite recursion when DS_ACCELERATOR is set to cuda (#4962)
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Update phi-2 InferenceV2 model type
  deepspeed/inference/v2/engine_factory.py
Due: check-torchdist, check-license, check-torchcuda

add Phi-2 description
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
Due: check-torchdist, check-torchcuda

Fixes for training models with bf16 + freshly initialized optimizer via `load_module_only` (#4141)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

add Falcon description
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
Due: check-torchdist, check-torchcuda

rename apis and add test
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/utils/__init__.py
  deepspeed/utils/tensor_fragment.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda

Support the user config for quantization. Fix kernel bug.
  debug/run_pipeline.py
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/utils/Utils_ParallelDequant.cuh
  deepspeed/inference/v2/modules/heuristics.py
Due: check-torchdist, check-license, check-torchcuda

add default z3 leaf module class
  deepspeed/runtime/engine.py
  deepspeed/utils/__init__.py
  deepspeed/utils/tensor_fragment.py
  deepspeed/utils/z3_leaf_module.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/utils/z3_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda

BF16 optimizer: Improve device utilization by immediate grad update
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

params partition for skip_init (#4722)
  deepspeed/runtime/zero/partition_parameters.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

add docstring and comment
  deepspeed/inference/v2/engine_v2.py
  deepspeed/inference/v2/ragged/sequence_descriptor.py
Due: check-torchdist, check-license, check-torchcuda

Extend Mixtral model intro
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
Due: check-torchdist, check-torchcuda

Enhance query APIs for text generation (#4965)
  deepspeed/inference/v2/engine_v2.py
  deepspeed/inference/v2/model_implementations/inference_model_base.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/ragged/kv_cache.py
  deepspeed/inference/v2/ragged/sequence_descriptor.py
Due: check-torchdist, check-license, check-torchcuda

Update title, add Phi-2 plots, add Masahiros perf text
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_phi-2_tp1_p1200g128.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_phi-2_tp1_p1200g60.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_phi-2_tp1_p1900g128.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_phi-2_tp1_p1900g60.png
Due: check-torchdist, check-torchcuda

Update title
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
Due: check-torchdist, check-torchcuda

Add mixtral and phi results
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_mistralai-Mixtral-8x7B-v0.1_tp4_1.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_mistralai-Mixtral-8x7B-v0.1_tp4_2.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_phi-2_tp1.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_phi-2_tp1_p1200g128.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_phi-2_tp1_p1200g60.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_phi-2_tp1_p1900g128.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_phi-2_tp1_p1900g60.png
Due: check-torchdist, check-torchcuda

Falcon from Arash and text from Masahiro
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_falcon-180B_tp8.png
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/assets/images/th_lat_curve_falcon-40b_tp2.png
Due: check-torchdist, check-torchcuda

remove list of default leaf modules
  deepspeed/runtime/engine.py
  deepspeed/utils/__init__.py
  deepspeed/utils/z3_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda

Add API to set a module as a leaf node when recursively setting Z3 hooks (#4966)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/utils/__init__.py
  deepspeed/utils/z3_leaf_module.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda

skip numa membind when this capability is not available
  deepspeed/utils/numa.py
Due: check-torchdist, check-license, check-torchcuda

Add only_trainable_params argument to zero_to_fp32.py script
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda

Fix T5 and mistral model meta data error (#4958)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

change directory name
  blogs/deepspeed-fastgen/2024-01-19/README.md
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_falcon-180B_tp8.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_falcon-40b_tp2.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_mistralai-Mixtral-8x7B-v0.1_tp4_1.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_mistralai-Mixtral-8x7B-v0.1_tp4_2.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_phi-2_tp1.png
Due: check-torchdist, check-torchcuda

Update introduction
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

Update model family section
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

Update mixtral performance
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

Update README.md
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

Merge branch 'fastgen-blog-2' of https://github.com/microsoft/DeepSpeed into fastgen-blog-2
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_mistralai-Mixtral-8x7B-v0.1_tp4_1.png
Due: check-torchdist, check-torchcuda

Update th_lat_curve_phi-2_tp1.png
  blogs/deepspeed-fastgen/2024-01-19/assets/images/th_lat_curve_phi-2_tp1.png
Due: check-torchdist, check-torchcuda

add links
  blogs/deepspeed-fastgen/2024-01-19/README.md
Due: check-torchdist, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
