Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Fix the FP6 kernels compilation problem on non-Ampere GPUs. (#5333)
  deepspeed/inference/v2/kernels/core_ops/core_ops.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_matmul.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_reduction.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_cp.async.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_mma.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_core.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_gmem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_paralleldequant.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/weight_prepacking.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels_cuda.h
  deepspeed/inference/v2/modules/heuristics.py
  op_builder/inference_core_ops.py
  tests/unit/inference/v2/modules/test_quantized_linear_module.py
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.14.1 release (#5413)
  version.txt
Due: check-torchdist, check-torchcuda

Remove dtype(fp16) condition check for residual_add unit test (#5329)
  tests/unit/ops/transformer/inference/test_residual_add.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

abstract single overflow check for zero, offload, bf16_optimizer
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Update 'create-pr' action in release workflow to latest
  .github/workflows/release.yml
Due: check-torchdist

use non_daemonic_proc by default on XPU device
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

refine comments
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

init of onebitadam
  deepspeed/runtime/comm/xccl.py
  deepspeed/runtime/fp16/onebit/adam.py
Due: check-torchdist, check-license, check-torchcuda

Optimize zero3 fetch params using all_reduce
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

[XPU] Use non_daemonic_proc by default on XPU device (#5412)
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

Fix a convergence issues in TP topology caused by incorrect grad_norm. (#5411)
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

formatting
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Update 'create-pr' action in release workflow to latest (#5415)
  .github/workflows/release.yml
Due: check-torchdist

Update engine.py to avoid torch warning (#5408)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

adding capabilities api in abstract accelerator and using this API in cuda accelerator
  accelerator/abstract_accelerator.py
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Update _sidebar.scss (#5293)
  docs/_sass/minimal-mistakes/_sidebar.scss
Due: check-torchcuda

format
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

add kernel path
  accelerator/xpu_accelerator.py
  op_builder/xpu/__init__.py
  op_builder/xpu/builder.py
Due: check-torchdist, check-license, check-torchcuda

add new tests
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

fix format
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

separate op builder load
  op_builder/xpu/builder.py
  op_builder/xpu/inference.py
Due: check-torchdist, check-license, check-torchcuda

enable yuan autotp & add conv tp
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Add more tests into XPU CI (#5427)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

define symbolic constants
  accelerator/abstract_accelerator.py
  accelerator/constants.py
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

[CPU] Support SHM based inference_all_reduce in TorchBackend (#5391)
  accelerator/cpu_accelerator.py
  csrc/cpu/comm/ccl.cpp
  csrc/cpu/comm/shm_interface.cpp
  deepspeed/comm/ccl.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  op_builder/cpu/__init__.py
  op_builder/cpu/comm.py
Due: check-torchdist, check-license, check-torchcuda

some fixes to make lora training work
  deepspeed/linear/optimized_linear.py
Due: check-torchdist, check-license, check-torchcuda

clean-up
  deepspeed/linear/optimized_linear.py
Due: check-torchdist, check-license, check-torchcuda

remove no compile for torchbackend inference_all_reduce
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda

Use DeepSpeedConfigModel for timers configuration
  deepspeed/runtime/config.py
  deepspeed/utils/config.py
Due: check-torchdist, check-license, check-torchcuda

Removed constants.py, not needed anymore
  deepspeed/utils/constants.py
Due: check-torchdist, check-license, check-torchcuda

set clear_grad default to None, use foreach_zero
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

fix typo
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Add required paths to trigger AMD tests on PRs (#5406)
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Bug fix in `split_index` method (#5292)
  deepspeed/runtime/data_pipeline/data_sampling/utils.py
Due: check-torchdist, check-license, check-torchcuda

Parallel map step for `DistributedDataAnalyzer` map-reduce (#5291)
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
  deepspeed/runtime/data_pipeline/data_sampling/indexed_dataset.py
Due: check-torchdist, check-license, check-torchcuda

enable phi2 autotp
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

add myadd op
  csrc/cpu/comm/shm_interface.cpp
Due: check-torchdist, check-license, check-torchcuda

myadd -> inference_all
  csrc/cpu/comm/shm_interface.cpp
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
