Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Add trigger to nv-ds-chat workflow
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Cleanup test
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Test with commit that causes problems
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

skipping pin mem when not cuda
  accelerator/cpu_accelerator.py
  deepspeed/utils/numa.py
  tests/unit/ops/aio/test_aio.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

formatting
  accelerator/cpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin transformers to 4.45.2 in nv-ds-chat workflow (#6710)
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Set shuffle=True to test again #6531
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[Bug Fix] Support threads_per_head < 64 for wavefront size of 64 (#6622)
  csrc/transformer/inference/csrc/apply_rotary_pos_emb.cu
  tests/unit/ops/transformer/inference/test_rope.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Support latest transformers again
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Fix formatting
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Typo on variable name
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

replace is_compiling calls with wrapper
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

skip test when fa is unavailable
  deepspeed/sequence/fpdt_layer.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

formatting
  deepspeed/sequence/fpdt_layer.py
  requirements/requirements.txt
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add workflow to run a6000 tests
  .github/workflows/nv-flash-attn.yml
  requirements/requirements-flash_attn.txt
  setup.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refine code
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

remove debug code
  deepspeed/runtime/zero/parameter_offload.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

update
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

don't set leaf for container module
  deepspeed/runtime/zero/parameter_offload.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

revert world sizes for tests
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

update workflow
  .github/workflows/nv-flash-attn.yml
Due: check-torchdist, check-extraindexurl

update image version
  .github/workflows/nv-flash-attn.yml
Due: check-torchdist, check-extraindexurl

remove --no-build-isolation
  requirements/requirements-flash_attn.txt
Due: check-torchdist, check-torchcuda

remove requirements file for flash-attn
  .github/workflows/nv-flash-attn.yml
  requirements/requirements-flash_attn.txt
Due: check-torchdist, check-torchcuda, check-extraindexurl

remove flash-attn requirements from setup.py
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

fix pip command
  .github/workflows/nv-flash-attn.yml
Due: check-torchdist, check-extraindexurl

modify unit test for fpdt
  deepspeed/sequence/fpdt_layer.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

modify unit test for fpdt
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

modify unit test for fpdt
  deepspeed/sequence/fpdt_layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add condition for using fpdt offloading
  deepspeed/sequence/fpdt_layer.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add condition for using fpdt offloading
  deepspeed/sequence/fpdt_layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add flash-attn version check
  deepspeed/sequence/fpdt_layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
