Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

Grab latest actual release
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Revert "Avoid errors in DeepSpeed build on ROCm"
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

gds is not compatible with ROCM
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

change gds to 1 aio thread
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
Due: check-torchdist, check-license, check-torchcuda

replace view with reshape
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Change GDS to 1 AIO thread (#6459)
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
Due: check-torchdist, check-license, check-torchcuda

[CCL] fix condition issue in ccl.py (#6443)
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda, check-extraindexurl

Avoid gds build errors on ROCm (#6456)
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add check to uninstall torch if it is installed
  .github/workflows/no-torch.yml
Due: check-torchdist, check-extraindexurl

add FPDT
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/sequence/fpdt_layer.py
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

TestLowCpuMemUsage UT get device by device_name (#6397)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add workflow to build DS without torch to better test before releases (#6450)
  .github/workflows/no-torch.yml
Due: check-torchdist, check-extraindexurl

[Accelerator] Cambricon MLU support
  accelerator/mlu_accelerator.py
  op_builder/mlu/__init__.py
  op_builder/mlu/builder.py
  op_builder/mlu/cpu_adagrad.py
  op_builder/mlu/cpu_adam.py
  op_builder/mlu/fused_adam.py
  op_builder/mlu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Apply feedback
  docs/_tutorials/deepnvme.md
Due: check-torchcuda

Fix typo
  docs/_tutorials/deepnvme.md
Due: check-torchcuda

Remove extra line
  docs/_tutorials/deepnvme.md
Due: check-torchcuda

Ack section
  docs/_tutorials/deepnvme.md
Due: check-torchcuda

Update real_accelerator for MLU support
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add verbos flag to add prints in workflow DS mii
  .github/workflows/nv-mii.yml
Due: check-torchdist, check-extraindexurl

fix method name and enum key
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/offload_config.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

elimitate duplicated buffer for lp param
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

simplified offloding of adam states
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

validate devcies of offload states
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix pipeline eval_batch micro_batches argument for schedule
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

bf16_optimizer: fixes to different grad acc dtype
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

print warning if actual triton cache dir is on NFS, not just for default cache dir
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check if BF16 available before including the headers
  .github/workflows/nv-mii.yml
  csrc/fp_quantizer/fp_quantize.cu
  csrc/fp_quantizer/includes/fp_quantize.h
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update gds.py
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Build only compatible ops
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Safe usage of popen
  deepspeed/utils/numa.py
  op_builder/async_io.py
  op_builder/builder.py
  op_builder/npu/async_io.py
  op_builder/xpu/async_io.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

bf16_optimizer: fixes to different grad acc dtype (#6485)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

DeepNVMe tutorial (#6449)
  .pre-commit-config.yaml
  blogs/deepspeed-gds/README.md
  docs/_data/navigation.yml
  docs/_tutorials/accelerator-abstraction-interface.md
  docs/_tutorials/accelerator-setup-guide.md
  docs/_tutorials/deepnvme.md
  docs/assets/images/deepnvme_ops_report.png
Due: check-torchdist, check-torchcuda, check-extraindexurl

print warning if actual triton cache dir is on NFS, not just for default (#6487)
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix patch for parameter partitioning in zero.Init() (#6388)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

DS_BUILD_OPS should build only compatible ops (#6489)
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Add default value to "checkpoint_folder" in "load_state_dict" of bf16_optimizer (#6446)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Safe usage of popen (#6490)
  deepspeed/utils/numa.py
  op_builder/async_io.py
  op_builder/builder.py
  op_builder/npu/async_io.py
  op_builder/xpu/async_io.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Handle an edge case where `CUDA_HOME` is not defined on ROCm systems (#6488)
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add document
  deepspeed/runtime/engine.py
  docs/code-docs/source/zero3.rst
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix usage example
  docs/code-docs/source/zero3.rst
Due: check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
