Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Remove dmesg and duplicate hl-smi cmd from hpu-gaudi2 workflow.
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Fix error count of steps in NPUFusedAdam
  op_builder/npu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda

adding unwrap unittest
  tests/unit/runtime/zero/test_unwrap_model.py
  tests/unit/runtime/zero/test_zero_context.py
Due: check-torchdist, check-license, check-torchcuda

Find ROCm on Fedora
  op_builder/builder.py
Due: check-torchdist, check-license

reduce memory pressure
  deepspeed/ops/fp_quantizer/quantize.py
Due: check-torchdist, check-license, check-torchcuda

Fix CPU Adam JIT compilation
  op_builder/builder.py
Due: check-torchdist, check-license

Remove prints
  op_builder/builder.py
Due: check-torchdist, check-license

Fix formatting
  op_builder/builder.py
Due: check-torchdist, check-license

Update xpu-max1100.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

base_weight -> weight
  deepspeed/linear/optimized_linear.py
Due: check-torchdist, check-license, check-torchcuda

added condition to non-reentrant checkpointing fn
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

adding gradient clipping to TestZeroPartialOffloadConfigSweep
  tests/unit/runtime/zero/test_zero_offloadpp.py
Due: check-torchdist, check-license, check-torchcuda

use flattened tensors for BWS
  deepspeed/linear/optimized_linear.py
Due: check-torchdist, check-license, check-torchcuda

fix illegal memory corner cases with an extra condition for reading scales
  deepspeed/ops/fp_quantizer/fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda

Update onebit-adam.md
  docs/_tutorials/onebit-adam.md
Due: check-torchcuda

Update onebit-lamb.md
  docs/_tutorials/onebit-lamb.md
Due: check-torchcuda

Update zero-one-adam.md
  docs/_tutorials/zero-one-adam.md
Due: check-torchcuda

Update onebit-adam.md fix typo
  docs/_tutorials/onebit-adam.md
Due: check-torchcuda

Update Ubuntu version for running python tests
  .github/workflows/python.yml
Due: check-torchdist

Code clean up, fix where batch first in all2all
  deepspeed/__init__.py
  deepspeed/comm/comm.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

Add support for Microsoft Phi-3 model to DeepSpeed-FastGen (#5559)
  blogs/deepspeed-fastgen/README.md
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_trained_kv_rotary.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/linear_blocked_kv_copy.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/common_parameters/mlp_parameters.py
  deepspeed/inference/v2/model_implementations/phi3/__init__.py
  deepspeed/inference/v2/model_implementations/phi3/containers.py
  deepspeed/inference/v2/model_implementations/phi3/model.py
  deepspeed/inference/v2/model_implementations/phi3/policy.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_kv_copy.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_rotary_emb.py
Due: check-torchdist, check-license, check-torchcuda

Misplaced global variable `warned` (#5725)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/utils.py
Due: check-torchdist, check-license, check-torchcuda

[INF] Add Qwen2RMSNorm to loaded layers in auto_tp
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Add new autotp supported model in doc
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchcuda

Fixes for latest Huggingface_hub
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Since it just impacts our unit tests, change to match HF, modelid -> id
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Fixes for latest Huggingface_hub changes on modelId -> id (#5789)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Clear HF cache
  .github/workflows/setup-venv/action.yml
Due: check-torchdist

Delete tests/small_model_debugging/test_ulysses_hf.py
  tests/small_model_debugging/test_ulysses_hf.py
Due: check-torchdist, check-license, check-torchcuda

compile without gds
  csrc/aio/py_lib/deepspeed_gds_op.cpp
  csrc/aio/py_lib/deepspeed_gds_op.h
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_test/run_read_sweep.sh
Due: check-torchdist, check-license, check-torchcuda

reduce all-to-all communication volume when both expert and non-expert are tensor-parallel (#5626)
  deepspeed/moe/mappings.py
  deepspeed/moe/sharded_moe.py
  deepspeed/ops/transformer/inference/moe_inference.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Update Ubuntu version for running python tests (#5783)
  .github/workflows/python.yml
Due: check-torchdist

[INF] Add Qwen2RMSNorm to loaded layers in auto_tp (#5786)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

fix: quantization with DeepSpeed HE (#5624)
  deepspeed/module_inject/containers/llama.py
Due: check-torchdist, check-license, check-torchcuda

Add chatglm2 & chatglm3 autotp (#5540)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Add new autotp supported model in doc (#5785)
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchcuda

Fix accuracy error of NPUFusedAdam (#5777)
  op_builder/npu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda

more changes
  deepspeed/linear/config.py
  deepspeed/linear/optimized_linear.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

WA to use host time to replace xpu time when IPEX version slower than 2.5
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda
