Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Update xpu-max1100.yml with new config and add some tests (#5668)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

add test for dynamic shape support
  tests/unit/runtime/pipe/test_pipe.py
Due: check-torchdist, check-license, check-torchcuda

refactor duplicated code
  tests/unit/alexnet_model.py
  tests/unit/runtime/pipe/test_pipe.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

remove unreachable code
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

add assertions
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

add comments and remove unused method
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

ignore test_init_on_device.py for gaudi2 workflow
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Allow accelerator to instantiate the device (#5255)
  .github/workflows/hpu-gaudi2.yml
  accelerator/hpu_accelerator.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/utils.py
Due: check-torchdist, check-license, check-torchcuda

Avoid passing class member num_threads
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
Due: check-torchdist, check-license, check-torchcuda

Create abstract base class
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda

Remove pdb
  csrc/gds/py_test/validate_gds.py
Due: check-torchdist, check-license, check-torchcuda

move pynvml install to setup.py (#5840)
  requirements/requirements.txt
  setup.py
Due: check-torchdist, check-license, check-torchcuda

add moe topk(k>2) gate support (#5881)
  deepspeed/moe/sharded_moe.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.14.5 release (#5982)
  version.txt
Due: check-torchdist, check-torchcuda

Formatting
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
Due: check-torchdist, check-license, check-torchcuda

updating sweep script with gds
  csrc/aio/py_test/aio_bench_perf_sweep.py
  csrc/aio/py_test/ds_aio_handle.py
Due: check-torchdist, check-license, check-torchcuda

formatting fixes
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Test fixes for nv-nightly
  .github/workflows/nv-nightly.yml
Due: check-torchdist

Move inf_or_nan_tracker to cpu for cpu offload (#5826)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  csrc/aio/py_test/ds_aio_handle.py
Due: check-torchdist, check-license, check-torchcuda

cpp std based on torch version
  op_builder/builder.py
Due: check-torchdist, check-license

moving torch check to aio only
  op_builder/async_io.py
  op_builder/builder.py
Due: check-torchdist, check-license, check-torchcuda

reduce cpu host overhead when using moe
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

Usability improvements
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/aio/py_test/aio_bench_perf_sweep.py
  csrc/aio/py_test/ds_aio_args.py
  csrc/gds/py_lib/py_ds_gds.cpp
Due: check-torchdist, check-license, check-torchcuda

Enable dynamic shapes for pipeline parallel engine inputs (#5481)
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
  tests/unit/alexnet_model.py
  tests/unit/runtime/pipe/test_pipe.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Test with different docker image
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist

Test with nvidia container
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist

add apis to offload states of model, optimizer, and engine
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/offload_config.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda

Add and Remove ZeRO 3 Hooks (#5658)
  deepspeed/runtime/zero/__init__.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_unwrap_model.py
Due: check-torchdist, check-license, check-torchcuda

update api doc
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

reduce global reference to buffer
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Update torch version
  .github/workflows/nv-nightly.yml
Due: check-torchdist

Update torch version and cuda version
  .github/workflows/nv-nightly.yml
Due: check-torchdist

Modify to trigger when this file is touched on a PR
  .github/workflows/nv-nightly.yml
Due: check-torchdist

loosen type hint
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda

fix Qwen2 serial model to DeepSpeed-FastGen
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
  deepspeed/inference/v2/kernels/ragged_ops/includes/top_k_utils.h
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary_cuda.cu
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/container.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/model.py
  deepspeed/inference/v2/modules/implementations/moe/cutlass_multi_gemm.py
Due: check-torchdist, check-license, check-torchcuda

set is_compatible verbose to False
  op_builder/async_io.py
  op_builder/builder.py
  op_builder/cpu/comm.py
  op_builder/evoformer_attn.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/npu/async_io.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/sparse_attn.py
  op_builder/spatial_inference.py
  op_builder/transformer_inference.py
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda

add verbose judgement before warning
  op_builder/evoformer_attn.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/sparse_attn.py
  op_builder/spatial_inference.py
  op_builder/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda

add weights_only=True in torch.load
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/checkpoint/zero_checkpoint.py
  deepspeed/inference/engine.py
  deepspeed/inference/v2/model_implementations/inference_policy_base.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/base_optimizer.py
  deepspeed/runtime/checkpoint_engine/nebula_checkpoint_engine.py
  deepspeed/runtime/checkpoint_engine/torch_checkpoint_engine.py
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/fp16/unfused_optimizer.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/zero_to_fp32.py
  tests/unit/checkpoint/common.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
