Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Monitored Loss Calculations (#4030)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix(pipe): `strict` parameter of method `PipelineModule.load_state_dir` is not work (#4020)
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

more changes for inference config fixes
  deepspeed/inference/config.py
  deepspeed/runtime/config_utils.py
Due: check-torchdist, check-license, check-torchcuda

add pip update to workflow
  .github/workflows/python.yml
Due: check-torchdist

remove py3.6 support
  .github/workflows/python.yml
Due: check-torchdist

Merge f3943cf
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Refactor autoTP inference for HE
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Add accelerate
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Formatting
  deepspeed/module_inject/auto_tp.py
  deepspeed/runtime/hybrid_engine.py
Due: check-torchdist, check-license, check-torchcuda

Move redundant functions to autotp
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Remove self from loading class
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

test run
  .github/workflows/amd-mi100.yml
  .github/workflows/amd-mi200.yml
  .github/workflows/auto-sync.yml
  .github/workflows/cpu-inference.yml
  .github/workflows/formatting.yml
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/nv-torch-latest-cpu.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
  .github/workflows/nv-transformers-v100.yml
  .github/workflows/python.yml
Due: check-torchdist

fix error
  .github/workflows/nv-h100.yml
Due: check-torchdist

fix error pt 2
  .github/workflows/nv-h100.yml
Due: check-torchdist

test 2
  .github/workflows/nv-h100.yml
Due: check-torchdist

nv testing
  .github/workflows/nv-h100.yml
Due: check-torchdist

nv test 4
  .github/workflows/nv-h100.yml
Due: check-torchdist

nv test 6
  .github/workflows/nv-h100.yml
Due: check-torchdist

nv test 7
  .github/workflows/nv-h100.yml
Due: check-torchdist

nv test 8
  .github/workflows/nv-h100.yml
Due: check-torchdist

fix typo
  .github/workflows/nv-h100.yml
Due: check-torchdist

troubleshooting
  .github/workflows/nv-h100.yml
Due: check-torchdist

edit test
  .github/workflows/nv-h100.yml
Due: check-torchdist

continue testing
  .github/workflows/nv-h100.yml
Due: check-torchdist

running test
  .github/workflows/nv-h100.yml
Due: check-torchdist

run check
  .github/workflows/nv-h100.yml
Due: check-torchdist

testing 1.2
  .github/workflows/nv-h100.yml
Due: check-torchdist

testing 1.3
  .github/workflows/nv-h100.yml
Due: check-torchdist

attempting test
  .github/workflows/nv-h100.yml
Due: check-torchdist

running ci test
  .github/workflows/nv-h100.yml
Due: check-torchdist

running tests
  .github/workflows/nv-h100.yml
Due: check-torchdist

fix comm logging for inference
  deepspeed/utils/comms_logging.py
Due: check-torchdist, check-license, check-torchcuda

load linear layer weight with dtype from ckpt
  deepspeed/module_inject/load_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
