Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

revert PR #3611
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/autotuning/autotuner.py
Due: check-torchdist, check-license, check-torchcuda

Requires grad checking.
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

removed obsolete codes and comments
  deepspeed/ops/transformer/inference/triton/softmax.py
  deepspeed/ops/transformer/inference/triton/triton_matmul_kernel.py
Due: check-torchdist, check-license, check-torchcuda

readme
  blogs/deepspeed-triton/README.md
Due: check-torchdist, check-torchcuda

revert PR #3166, it disabled grad clip for bf16
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

ensure no loss scaling for non-fp16 dtypes
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

revert PR #3611 (#3786)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Fix apex
  .github/workflows/nv-megatron.yml
Due: check-torchdist

add save_dir to save_16bit_model checkpoint create
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

add default values for AllGatherCoalescedHandle
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

zeropp chinese blog
  blogs/zeropp/assets/images/eval1.png
  blogs/zeropp/assets/images/eval2.png
  blogs/zeropp/assets/images/eval3.png
  blogs/zeropp/assets/images/hpz-overview.png
  blogs/zeropp/assets/images/overview.png
  blogs/zeropp/assets/images/qgz-overview.gif
  blogs/zeropp/assets/images/qwz-overview.png
  blogs/zeropp/assets/images/rlhf_eval.png
  blogs/zeropp/assets/images/zero-overview.gif
  blogs/zeropp/chinese/README.md
Due: check-torchdist, check-torchcuda

remove staging trigger
  .github/workflows/amd-mi100.yml
  .github/workflows/amd-mi200.yml
  .github/workflows/cpu-inference.yml
  .github/workflows/formatting.yml
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/nv-torch-latest-cpu.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
  .github/workflows/nv-transformers-v100.yml
  .github/workflows/python.yml
Due: check-torchdist

make title larger
  blogs/zeropp/chinese/README.md
Due: check-torchdist, check-torchcuda

even larger...
  blogs/zeropp/chinese/README.md
Due: check-torchdist, check-torchcuda

Switch to recommended from apex github issues
  .github/workflows/nv-megatron.yml
Due: check-torchdist

add clean-opt baseline to old ds branch for ds-chat.
  deepspeed/model_implementations/transformers/ds_opt.py
  deepspeed/ops/transformer/inference/ds_attention.py
  deepspeed/ops/transformer/inference/ds_mlp.py
  deepspeed/utils/types.py
Due: check-torchdist, check-license, check-torchcuda

Add DS base to branch on DS Chat commit
  deepspeed/model_implementations/transformers/ds_opt.py
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/ops/transformer/inference/ds_attention.py
  deepspeed/ops/transformer/inference/ds_mlp.py
Due: check-torchdist, check-license, check-torchcuda

various fix
  blogs/zeropp/chinese/README.md
Due: check-torchdist, check-torchcuda

center captions
  blogs/zeropp/chinese/README.md
Due: check-torchdist, check-torchcuda

more fixes
  blogs/zeropp/chinese/README.md
Due: check-torchdist, check-torchcuda

fix format
  blogs/zeropp/chinese/README.md
Due: check-torchdist, check-torchcuda

remove staging trigger (#3792)
  .github/workflows/amd-mi100.yml
  .github/workflows/amd-mi200.yml
  .github/workflows/cpu-inference.yml
  .github/workflows/formatting.yml
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/nv-torch-latest-cpu.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
  .github/workflows/nv-transformers-v100.yml
  .github/workflows/python.yml
Due: check-torchdist

add ZeRO++ Japanese blog
  blogs/zeropp/japanese/README.md
Due: check-torchdist, check-torchcuda

DeepSpeed-Triton for Inference (#3748)
  .github/workflows/formatting.yml
  blogs/assets/images/triton-bert-base-latency.png
  blogs/assets/images/triton-bert-large-latency.png
  blogs/deepspeed-triton/README.md
  deepspeed/__init__.py
  deepspeed/inference/config.py
  deepspeed/inference/engine.py
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/module_inject/containers/base.py
  deepspeed/module_inject/containers/bert.py
  deepspeed/module_inject/containers/distil_bert.py
  deepspeed/ops/transformer/inference/config.py
  deepspeed/ops/transformer/inference/op_binding/gelu_gemm.py
  deepspeed/ops/transformer/inference/op_binding/linear.py
  deepspeed/ops/transformer/inference/op_binding/mlp_gemm.py
  deepspeed/ops/transformer/inference/op_binding/qkv_gemm.py
  deepspeed/ops/transformer/inference/op_binding/vector_matmul.py
  deepspeed/ops/transformer/inference/triton/__init__.py
  deepspeed/ops/transformer/inference/triton/attention.py
  deepspeed/ops/transformer/inference/triton/gelu.py
  deepspeed/ops/transformer/inference/triton/layer_norm.py
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
  deepspeed/ops/transformer/inference/triton/mlp.py
  deepspeed/ops/transformer/inference/triton/ops.py
  deepspeed/ops/transformer/inference/triton/residual_add.py
  deepspeed/ops/transformer/inference/triton/softmax.py
  deepspeed/ops/transformer/inference/triton/triton_matmul_kernel.py
  requirements/requirements-dev.txt
  requirements/requirements-inf.txt
  requirements/requirements-triton.txt
  setup.py
  tests/unit/inference/test_inference.py
  tests/unit/ops/transformer/inference/test_attention.py
  tests/unit/ops/transformer/inference/test_gelu.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
  tests/unit/ops/transformer/inference/test_matmul.py
  tests/unit/ops/transformer/inference/test_residual_add.py
  tests/unit/ops/transformer/inference/test_softmax.py
Due: check-torchdist, check-license, check-torchcuda

functional clean llama
  deepspeed/model_implementations/transformers/ds_transformer.py
  deepspeed/ops/transformer/inference/ds_attention.py
  deepspeed/ops/transformer/inference/ds_mlp.py
Due: check-torchdist, check-license, check-torchcuda

ZeRO++ (#3784)
  README.md
  csrc/includes/quantization.h
  csrc/quantization/pt_binding.cpp
  csrc/quantization/quant_reduce.cu
  csrc/quantization/swizzled_quantize.cu
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/runtime/comm/coalesced_collectives.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/partitioned_param_profiler.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/groups.py
  docs/_tutorials/zeropp.md
  docs/assets/images/zeropp/ZeRO-baseline.png
  docs/assets/images/zeropp/ZeROpp.png
  docs/index.md
  op_builder/quantizer.py
  tests/small_model_debugging/test_model.py
  tests/unit/runtime/zero/test_hpzero.py
  tests/unit/runtime/zero/test_qgzero.py
  tests/unit/runtime/zero/test_qwzero.py
Due: check-torchdist, check-license, check-torchcuda

adding zero++ to navigation panel of deepspeed.ai
  docs/_data/navigation.yml
Due: check-torchcuda

adding zero++ to navigation panel of deepspeed.ai (#3796)
  docs/_data/navigation.yml
Due: check-torchcuda

add links
  README.md
  docs/_posts/2023-06-22-zeropp-chinese.md
  docs/_posts/2023-06-22-zeropp-japanese.md
  docs/_posts/2023-06-22-zeropp.md
  docs/index.md
Due: check-torchdist, check-torchcuda

Add ZeRO++ Japanese blog (#3797)
  README.md
  blogs/zeropp/japanese/README.md
  docs/_posts/2023-06-22-zeropp-chinese.md
  docs/_posts/2023-06-22-zeropp-japanese.md
  docs/_posts/2023-06-22-zeropp.md
  docs/index.md
Due: check-torchdist, check-torchcuda

Move print statements to debug versions
  deepspeed/ops/transformer/inference/ds_attention.py
  deepspeed/ops/transformer/inference/ds_mlp.py
Due: check-torchdist, check-license, check-torchcuda

Bug Fixes for autotuner and flops profiler (#1880)
  deepspeed/autotuning/README.md
  deepspeed/autotuning/autotuner.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Missing strided copy for gated MLP (#3788)
  deepspeed/module_inject/containers/features/gated_mlp.py
Due: check-torchdist, check-license, check-torchcuda

Requires grad checking. (#3789)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

bump to 0.10.0
  version.txt
Due: check-torchdist, check-torchcuda

update how we generate inference model/task combinations to reduce number of skipped tests
  .flake8
  .pre-commit-config.yaml
  tests/pytest.ini
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

consolidate fixtures so they can be reused
  .flake8
  tests/unit/inference/__init__.py
  tests/unit/inference/fixtures.py
  tests/unit/inference/test_model_profiling.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
