Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

rename arg name&fix ut
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix error caused by all_reduce call in domino (#6880)
  deepspeed/runtime/domino/transformer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update Gaudi2 jobs to latest 1.19 build (#6905)
  .github/workflows/hpu-gaudi2-nightly.yml
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

fix ut
  deepspeed/runtime/zero/mics.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix: `ds_to_universal.py` when for large DP
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

change: do init checking and marking in one func
  deepspeed/__init__.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting fix
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Change compile for pipeline module torch.compile (#6478)
  deepspeed/runtime/pipe/module.py
  tests/unit/pipe/test_pipe_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

format
  deepspeed/inference/engine.py
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/utils/groups.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Stage3: Use new torch grad accumulation hooks API (#6773)
  deepspeed/runtime/compiler.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/torch.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Cleanup ops/transformer/inference tests (#6830)
  tests/unit/ops/transformer/inference/test_bias_add.py
  tests/unit/ops/transformer/inference/test_bias_gelu.py
  tests/unit/ops/transformer/inference/test_matmul.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update inference_test_utils
  tests/unit/ops/transformer/inference/inference_test_utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Switch tests to use allclose vs almost
  tests/unit/ops/transformer/inference/test_attention.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix `checkpointable_layers` Logic (#6881)
  deepspeed/runtime/pipe/module.py
  tests/unit/runtime/activation_checkpointing/test_activation_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update shuffle=True in data sampler
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[BUG FIX]:fix get torch.version.cuda error when cuda is None in rocm (#6909)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Add fp8_gemm fallback for non-triton systems (#6916)
  deepspeed/ops/fp_quantizer/__init__.py
  deepspeed/ops/fp_quantizer/fp8_gemm.py
  deepspeed/ops/fp_quantizer/fp8_gemm_triton.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Reduce the device bubble introduced by heavy loop synchronization in coalesced fetch/release(z3_leaf_module) (#6694)
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Set deepspeed/runtime/engine.py to shuffle=false
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Cleanup ops/transformer/inference tests (#6925)
  tests/unit/ops/transformer/inference/inference_test_utils.py
  tests/unit/ops/transformer/inference/test_attention.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update shuffle=True to only be in deepspeed/runtime/engine.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Check transformers version in BLOOM for inference v1 (#6766)
  deepspeed/module_inject/containers/bloom.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

code review fix part 2
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

inference: remove unused _validate_args function (#5505)
  deepspeed/inference/engine.py
Due: check-torchdist, check-license, check-extraindexurl

Updates tests to shuffle true as well, or shuffle defaults at least
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
  tests/torch_compile/test_compile.py
  tests/unit/runtime/zero/test_zeropp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use `torch.log1p`
  deepspeed/sequence/fpdt_layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use `torch.log1p` (#6930)
  deepspeed/sequence/fpdt_layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update with changes from torchfix
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update call to torch.norm as it is deprecated
  deepspeed/runtime/comm/hccl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update AutoTP default set lm_head tp
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

generalize deepspeed linear and implement it for non cuda systems
  deepspeed/linear/config.py
  deepspeed/linear/quantization.py
  deepspeed/ops/fp_quantizer/quantize.py
  op_builder/fp_quantizer.py
  op_builder/hpu/fp_quantizer.py
  tests/unit/linear/test_linear.py
  tests/unit/linear/test_quant_param.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update python version classifiers
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Update python to re-enable 3.11 and 3.12 tests
  .github/workflows/python.yml
Due: check-torchdist, check-extraindexurl

Update all instances of to
  deepspeed/runtime/comm/compressed.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update python version classifiers (#6933)
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Formatting
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix building on Windows with presence of Triton (#6749)
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix command line parameters
  blogs/windows/08-2024/README.md
Due: check-torchdist, check-torchcuda

Fix windows blog examples (#6934)
  blogs/windows/08-2024/README.md
Due: check-torchdist, check-torchcuda

Add position_ids arg to OPTEmbedding forward function
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
