Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

feat: add Lion optimizer (#4331)
  csrc/cpu/lion/fused_lion.cpp
  csrc/includes/cpu_lion.h
  csrc/includes/simd.h
  csrc/lion/cpu_lion.cpp
  csrc/lion/cpu_lion_impl.cpp
  csrc/lion/fused_lion_frontend.cpp
  csrc/lion/multi_tensor_apply.cuh
  csrc/lion/multi_tensor_lion.cu
  deepspeed/ops/__init__.py
  deepspeed/ops/lion/__init__.py
  deepspeed/ops/lion/cpu_lion.py
  deepspeed/ops/lion/fused_lion.py
  deepspeed/ops/lion/multi_tensor_apply.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/utils.py
  docs/_tutorials/advanced-install.md
  op_builder/cpu_lion.py
  op_builder/fused_lion.py
  tests/unit/ops/lion/test_cpu_lion.py
  tests/unit/ops/lion/test_lion.py
Due: check-torchdist, check-license, check-torchcuda

pipe engine eval_batch: add option to disable loss broadcast (#4326)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Copy over current working state from DeepSpeed-MII
  .github/workflows/release.yml
  release/bump_patch_version.py
  release/check_release_version.py
Due: check-torchdist, check-license, check-torchcuda

Pull over changes from MII
  .github/workflows/release.yml
  release/bump_patch_version.py
  release/check_release_version.py
Due: check-torchdist, check-license, check-torchcuda

Formatting and GH token
  .github/workflows/release.yml
  release/bump_patch_version.py
  release/check_release_version.py
Due: check-torchdist, check-license, check-torchcuda

Update secret name
  .github/workflows/release.yml
Due: check-torchdist

Update to source distribution - PR feedback
  .github/workflows/release.yml
Due: check-torchdist

Make formatting match DS
  release/bump_patch_version.py
  release/check_release_version.py
Due: check-torchdist, check-license, check-torchcuda

Update formatting
  release/bump_patch_version.py
  release/check_release_version.py
Due: check-torchdist, check-license, check-torchcuda

Add release flow (#4467)
  .github/workflows/release.yml
Due: check-torchdist

bump to 0.11.0
  version.txt
Due: check-torchdist, check-torchcuda

move torch import
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda

bump to 0.11.1
  version.txt
Due: check-torchdist, check-torchcuda

fix after the pr comments
  tests/unit/inference/quantization/test_intX_quantization.py
Due: check-torchdist, check-license, check-torchcuda

increased coverage of QuantLinear test (w/ and w/o the cuda kernels)
  tests/unit/inference/quantization/test_intX_quantization.py
Due: check-torchdist, check-license, check-torchcuda

use all_gather_into_tensor instead of all_gather
  deepspeed/ops/transformer/inference/moe_inference.py
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/runtime/utils/test_partition.py
Due: check-torchdist, check-license, check-torchcuda

Reuse hf_model list among tests to avoid slow loading (#16)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Fix bug in bfloat16 optimizer related to checkpointing (#4434)
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix load lm_head.weight name issue
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

replace all_reduce with inference_all_reduce
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda

refactor lm_head tensor parallel
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

add lm_head and embed_out tensor parallel
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Change COLUMNS to 140 to allow display of pytest skip message; Sanity check before run unit tests
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Move tensors to device if mp is not enabled (#4461)
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

move torch import (#4468)
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda

gather attention mask
  deepspeed/runtime/hybrid_engine.py
Due: check-torchdist, check-license, check-torchcuda

add option to disable pipeline partitioning
  deepspeed/runtime/config.py
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

add lm_head and embed_out tensor parallel (#3962)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Fixing the if/else block on which the optimization should take place
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Add rope_theta for llama config
  csrc/transformer/inference/csrc/apply_rotary_pos_emb.cu
  csrc/transformer/inference/csrc/pt_binding.cpp
  csrc/transformer/inference/includes/inference_cuda_layers.h
  deepspeed/module_inject/containers/llama.py
  deepspeed/ops/transformer/inference/config.py
  deepspeed/ops/transformer/inference/op_binding/softmax_context.py
Due: check-torchdist, check-license, check-torchcuda

testing build process
  .github/workflows/build.yml
Due: check-torchdist

rename test workflow
  .github/workflows/build.yml
Due: check-torchdist

setup env for build
  .github/workflows/build.yml
Due: check-torchdist

fix bad build command
  .github/workflows/build.yml
Due: check-torchdist

fix bad build command
  .github/workflows/release.yml
Due: check-torchdist

fix bad build command (#4483)
  .github/workflows/release.yml
Due: check-torchdist

formatting
  tests/unit/inference/quantization/test_intX_quantization.py
Due: check-torchdist, check-license, check-torchcuda

fix missing package
  .github/workflows/release.yml
Due: check-torchdist

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

[create-pull-request] automated change (#4484)
  version.txt
Due: check-torchdist, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
