Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

add coverage report
  .github/workflows/nv-inference.yml
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

move torch19 tests to nightly
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

prevent deadlocks
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

work on zero3 params only
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

fix coverage report
  .github/workflows/nv-inference.yml
Due: check-torchdist

fix injection policy test
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

make megatron apex install persistent on blob storage
  .github/workflows/nv-megatron.yml
Due: check-torchdist

fix broken yaml
  .github/workflows/nv-megatron.yml
Due: check-torchdist

revert moving fixtures to separate file
  .flake8
  tests/unit/inference/fixtures.py
  tests/unit/inference/test_inference.py
  tests/unit/inference/test_model_profiling.py
Due: check-torchdist, check-license, check-torchcuda

remove init
  tests/unit/inference/__init__.py
Due: check-torchdist, check-license, check-torchcuda

try to fix coverage reporting
  .github/workflows/nv-inference.yml
Due: check-torchdist

fix formatting
  deepspeed/runtime/engine.py
  tests/unit/checkpoint/test_shared_weights.py
Due: check-torchdist, check-license, check-torchcuda

init allreduce for latency without actual reduce operation
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

fix rnn flop profiler to compute flops instead of macs
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

fix retrieval of out_channels in _conv_trans_flops_compute
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

first version of SHM based direct allreduce
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

checking process_group before merging bucket ranges (#3521)
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/moe/test_moe.py
  tests/unit/simple_model.py
Due: check-torchdist, check-license, check-torchcuda

Workaround to pass unit/ops/accelerators/test_accelerator_backward.py unit tests on ROCm
  tests/unit/ops/accelerators/test_accelerator_backward.py
Due: check-torchdist, check-license, check-torchcuda

remove coverage report for now
  .github/workflows/nv-inference.yml
Due: check-torchdist

Update requirements-dev.txt
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

allow external overflow/skip support
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

change profiling model to one that support CUDA Graph
  tests/unit/inference/test_model_profiling.py
Due: check-torchdist, check-license, check-torchcuda

Reduce Unit Test Times (Part 1) (#3829)
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Re-enable GPT-J unit tests and refactor inference tests (#3618)
  .flake8
  .pre-commit-config.yaml
  tests/pytest.ini
  tests/unit/inference/test_inference.py
  tests/unit/inference/test_model_profiling.py
Due: check-torchdist, check-license, check-torchcuda

Rearranged is_rocm_pytorch()
  tests/unit/ops/accelerators/test_accelerator_backward.py
Due: check-torchdist, check-license, check-torchcuda

utilize shorter tests for MII
  .github/workflows/nv-mii.yml
Due: check-torchdist

use cached torch download
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

init commit for mixed precision lora
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Fix racing condition in GatheredParameters (#3819)
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Support cpu tensors without direct device invocation
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

tweak reduce kernel
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

autoTP for fused qkv weight
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

SHM allreduce support 2-8 ranks
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

clean up
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

scripts/check-torchcuda.py: add checking for tensor.is_cuda
  deepspeed/ops/transformer/inference/triton/gelu.py
  deepspeed/ops/transformer/inference/triton/residual_add.py
  scripts/check-torchcuda.py
Due: check-torchdist, check-license, check-torchcuda

fix "undefined symbol: curandCreateGenerator" for quantizer op
  op_builder/builder.py
Due: check-torchdist, check-license
