Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

use all_gather_into_tensor instead of all_gather (#4705)
  deepspeed/ops/transformer/inference/moe_inference.py
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/runtime/utils/test_partition.py
Due: check-torchdist, check-license, check-torchcuda

Add nv-sd badge to readme
  README.md
Due: check-torchdist, check-torchcuda

Install `deepspeed-kernels` only on Linux (#4739)
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Add nv-sd badge to README (#4747)
  README.md
Due: check-torchdist, check-torchcuda

Re-organize `.gitignore` file to be parsed properly (#4740)
  .gitignore
Due: check-torchdist, check-torchcuda

Update README.md
  README.md
Due: check-torchdist, check-torchcuda

fix mics run with offload++
  deepspeed/runtime/zero/mics.py
Due: check-torchdist, check-license, check-torchcuda

remove unnecessary change in cuda code
  csrc/transformer/inference/csrc/pt_binding.cpp
Due: check-torchdist, check-license, check-torchcuda

upstream xpu support (#36)
  .gitignore
  accelerator/xpu_accelerator.py
  csrc/xpu/adagrad/cpu_adagrad.cpp
  csrc/xpu/adam/cpu_adam.cpp
  csrc/xpu/adam/cpu_adam_impl.cpp
  csrc/xpu/adam/fused_adam_frontend.cpp
  csrc/xpu/adam/multi_tensor_adam.dp.cpp
  csrc/xpu/adam/multi_tensor_apply.dp.hpp
  csrc/xpu/common/custom_cuda_kernel.dp.cpp
  csrc/xpu/includes/compat.h
  csrc/xpu/includes/cpu_adagrad.h
  csrc/xpu/includes/cpu_adam.h
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
  op_builder/xpu/__init__.py
  op_builder/xpu/builder.py
  op_builder/xpu/cpu_adagrad.py
  op_builder/xpu/cpu_adam.py
  op_builder/xpu/fused_adam.py
  op_builder/xpu/post_process_cpu_adam.sh
  op_builder/xpu/post_process_fused_adam.sh
  op_builder/xpu/post_process_transformer_inference.sh
  op_builder/xpu/pre_process_transformer_inference.sh
  op_builder/xpu/rule.yaml
  op_builder/xpu/transformer_inference.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

prep oneCCL before running unit tests
  .github/workflows/cpu-inference.yml
Due: check-torchdist

fix format error
  deepspeed/module_inject/auto_tp_model_utils.py
Due: check-torchdist, check-license, check-torchcuda

remove tensor tuples
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

fix formats
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

support autoTP with weight quantization in DS inference path
  deepspeed/inference/quantization/layers.py
  deepspeed/inference/quantization/utils.py
  deepspeed/module_inject/__init__.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

support the wildcard * in the weight_only ds_config
  deepspeed/inference/quantization/quantization.py
  tests/unit/inference/quantization/test_intX_quantization.py
Due: check-torchdist, check-license, check-torchcuda

fix mics run with offload++ (#4749)
  deepspeed/runtime/zero/mics.py
Due: check-torchdist, check-license, check-torchcuda

Fix logger formatting for partitioning flags (#4728)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Extend universal checkpointing to support ds seq parallelism
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/reshape_3d_utils.py
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Remove debug statements
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Remove debug statements
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Human Eval Testing
  human_eval_script/HumanEvalTest.jsonl.gz
  human_eval_script/run_human_eval_inf_v2.py
  human_eval_script/run_opt.py
  human_eval_script/samples.jsonl
  human_eval_script/samples.jsonl_results.jsonl
Due: check-torchdist, check-license, check-torchcuda

LM Eval Testing
  lm_eval_script/run_inf_v2_lm_eval.py
Due: check-torchdist, check-license, check-torchcuda

Update Human Eval script
  human_eval_script/run_human_eval_inf_v2.py
  human_eval_script/samples.jsonl
  human_eval_script/samples.jsonl_results.jsonl
Due: check-torchdist, check-license, check-torchcuda

Add MII pipeline to human eval
  human_eval_script/run_human_eval_inf_v2.py
  human_eval_script/samples.jsonl
  human_eval_script/samples.jsonl_results.jsonl
Due: check-torchdist, check-license, check-torchcuda

fix: to solve #4726 (#4727)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Make test smaller
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

Declare gated_act_fn() as a device function
  deepspeed/inference/v2/kernels/core_ops/gated_activations/gated_activation_kernels.cu
Due: check-torchdist, check-license, check-torchcuda

Add safetensors support (#4659)
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

bump version to 0.12.5
  version.txt
Due: check-torchdist, check-torchcuda

prep libstdc++ in UT run
  .github/workflows/cpu-inference.yml
Due: check-torchdist

allow unfolding of inputs on multi-variable forward
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

Refactor build script for readability and maintainability
  setup.py
Due: check-torchdist, check-license

Update deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

update to newer version of cuda/torch
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist

Update nv-accelerate-v100.yml
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist

Fix DS Stable Diffusion for latest diffusers version
  deepspeed/model_implementations/diffusers/unet.py
Due: check-torchdist, check-license

Update torch version
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Support FP16 CpuAdam
  csrc/adam/cpu_adam_impl.cpp
  csrc/includes/cpu_adam.h
  csrc/includes/simd.h
  deepspeed/ops/adam/cpu_adam.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Fix DS Stable Diffusion for latest diffusers version (#4770)
  deepspeed/model_implementations/diffusers/unet.py
Due: check-torchdist, check-license

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
