Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Optimize the fp-dequantizer to get high memory-BW utilization (#5373)
  csrc/fp_quantizer/quantize.cu
Due: check-torchdist, check-license, check-torchcuda

Removal of cuda hardcoded string with get_device function (#5351)
  tests/unit/hybrid_engine/test_he_lora.py
  tests/unit/inference/test_stable_diffusion.py
  tests/unit/ops/transformer/inference/test_attention.py
  tests/unit/ops/transformer/inference/test_gelu.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
  tests/unit/ops/transformer/inference/test_softmax.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix pagable h2d memcpy (#5301)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.14.1 release (#5413)
  version.txt
Due: check-torchdist, check-torchcuda

Fix the FP6 kernels compilation problem on non-Ampere GPUs. (#5333)
  deepspeed/inference/v2/kernels/core_ops/core_ops.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_matmul.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_reduction.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_cp.async.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_mma.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_core.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_gmem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_paralleldequant.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/weight_prepacking.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels.h
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/linear_kernels_cuda.h
  deepspeed/inference/v2/modules/heuristics.py
  op_builder/inference_core_ops.py
  tests/unit/inference/v2/modules/test_quantized_linear_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove dtype(fp16) condition check for residual_add unit test (#5329)
  tests/unit/ops/transformer/inference/test_residual_add.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

stage3: efficient compute of scaled_global_grad_norm (#5256)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] Use non_daemonic_proc by default on XPU device (#5412)
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update 'create-pr' action in release workflow to latest (#5415)
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

[CPU] Support SHM based inference_all_reduce in TorchBackend (#5391)
  accelerator/cpu_accelerator.py
  csrc/cpu/comm/ccl.cpp
  csrc/cpu/comm/shm_interface.cpp
  deepspeed/comm/ccl.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  op_builder/cpu/__init__.py
  op_builder/cpu/comm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update _sidebar.scss (#5293)
  docs/_sass/minimal-mistakes/_sidebar.scss
Due: check-torchcuda

Add more tests into XPU CI (#5427)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Fix a convergence issues in TP topology caused by incorrect grad_norm. (#5411)
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update engine.py to avoid torch warning (#5408)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix sorting of shard optimizer states files for universal checkpoint (#5395)
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add device config env for the accelerator (#5396)
  README.md
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/hpu_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  accelerator/xpu_accelerator.py
  deepspeed/launcher/launch.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add required paths to trigger AMD tests on PRs (#5406)
  .github/workflows/amd-mi200.yml
Due: check-torchdist, check-extraindexurl

Bug fix in `split_index` method (#5292)
  deepspeed/runtime/data_pipeline/data_sampling/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Selective dequantization (#5375)
  csrc/fp_quantizer/includes/quantize.h
  csrc/fp_quantizer/quantize.cpp
  csrc/fp_quantizer/quantize.cu
  deepspeed/ops/fp_quantizer/quantize.py
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

set the default to use set_to_none for clearing gradients in BF16 optimizer. (#5434)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update README.md (#5453)
  README.md
Due: check-torchdist, check-torchcuda

Improve parallel process of universal checkpoint conversion (#5343)
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

OptimizedLinear implementation (#5355)
  deepspeed/linear/__init__.py
  deepspeed/linear/config.py
  deepspeed/linear/optimized_linear.py
  deepspeed/linear/quantization.py
  deepspeed/ops/fp_quantizer/__init__.py
  deepspeed/ops/fp_quantizer/quantize.py
  tests/unit/linear/test_linear.py
  tests/unit/linear/test_quant_param.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

64bit indexing fused adam (#5187)
  csrc/adam/multi_tensor_adam.cu
  csrc/adam/multi_tensor_apply.cuh
Due: check-torchdist, check-license, check-torchcuda

Update version.txt after 0.14.2 release (#5458)
  version.txt
Due: check-torchdist, check-torchcuda

Add getter and setter methods for compile_backend across accelerators. (#5299)
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/hpu_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  accelerator/xpu_accelerator.py
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
  tests/unit/runtime/compile/test_load_config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert "stage3: efficient compute of scaled_global_grad_norm (#5256)" (#5461)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix torch.compile error for PyTorch v2.3 (#5463)
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update PyTest torch version to match PyTorch latest official (2.3.0) (#5454)
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

fix: swapping order of parameters in create_dir_symlink method. (#5465)
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Update with ops not supported on Windows (#5468)
  build_win.bat
Due: check-torchdist, check-torchcuda

Update ds-chat CI workflow paths to include zero stage 1-3 files (#5462)
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Un-pin torch version in nv-torch-latest back to latest and skip test_compile_zero tests on v100 (#5459)
  .github/workflows/nv-torch-latest-v100.yml
  tests/unit/runtime/compile/test_compile_zero.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

re-introduce: stage3: efficient compute of scaled_global_grad_norm (#5493)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix crash when creating Torch tensor on NPU with device=get_accelerator().current_device() (#5464)
  deepspeed/linear/optimized_linear.py
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/utils.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

enable phi3_mini autotp (#5501)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[manifest] update mainfest to add hpp file in csrc. (#5522)
  MANIFEST.in
Due: check-torchdist, check-torchcuda

Fix compile wrapper (#5455)
  deepspeed/runtime/compiler.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fused adam for HPU (#5500)
  op_builder/hpu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

enable phi2 autotp (#5436)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
