Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

use DistributedDataAanalyzer to generate seqlen metric files if missing
  deepspeed/runtime/data_pipeline/config.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fixed Accelerate Link (#5314)
  docs/index.md
Due: check-torchcuda

flatten
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enable mixtral 8x7b autotp (#5257)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Modified regular expression (#5306)
  deepspeed/autotuning/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Docs typos fix and grammar suggestions (#5322)
  docs/_tutorials/accelerator-abstraction-interface.md
Due: none

support bf16_optimizer moe expert parallel training and moe EP grad_scale/grad_norm fix (#5259)
  deepspeed/moe/utils.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/utils.py
  tests/unit/runtime/half_precision/test_fp16.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix comms dtype (#5297)
  deepspeed/runtime/config.py
  tests/unit/runtime/half_precision/test_bf16.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add NFS path check for default deepspeed triton cache directory (#5323)
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Added Gaudi2 CI tests. (#5275)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Increase coverage for HPU (#5324)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Correct typo in checking on bf16 unit test support (#5317)
  tests/unit/checkpoint/test_lr_scheduler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Improve universal checkpoint (#5289)
  deepspeed/__init__.py
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/checkpoint/zero_checkpoint.py
  deepspeed/runtime/__init__.py
  deepspeed/runtime/base_optimizer.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/fp16/unfused_optimizer.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/checkpoint/common.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

BF16 optimizer: Clear lp grads after updating hp grads in hook (#5328)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

resolve KeyError: 'PDSH_SSH_ARGS_APPEND' (#5318)
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert "Rename test group from amd-test to unit-tests to make rrequired when enabled and running on PRs"
  .github/workflows/amd-mi200.yml
Due: check-torchdist, check-extraindexurl

Rename test group from amd-test to unit-tests to make rrequired when enabled and running on PRs
  .github/workflows/amd-mi200.yml
Due: check-torchdist, check-extraindexurl

Make NFS warning print only once (#5345)
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

logger update with torch master changes (#5346)
  deepspeed/elasticity/elastic_agent.py
Due: check-license, check-torchcuda, check-extraindexurl

Add `distributed_port` for `deepspeed.initialize` (#5260)
  deepspeed/__init__.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

compute global norm on device (#5125)
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update container version for Gaudi2 CI (#5360)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

[fix] fix typo s/simultanenously /simultaneously (#5359)
  blogs/deepspeed-fp6/03-05-2024/README.md
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

Fix sort of zero checkpoint files (#5342)
  deepspeed/checkpoint/reshape_utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update workflows that use cu116 to cu117 (#5361)
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist, check-extraindexurl

Ensure capacity does not exceed number of tokens (#5353)
  deepspeed/moe/sharded_moe.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

CPU SHM based inference_all_reduce improve (#5320)
  csrc/cpu/comm/ccl.cpp
  csrc/cpu/comm/shm.cpp
  csrc/cpu/comm/shm.h
  op_builder/cpu/comm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Auto convert moe param groups (#5354)
  deepspeed/moe/utils.py
  deepspeed/runtime/engine.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

FP [6,8,12] quantizer op (#5336)
  .github/workflows/nv-pre-compile-ops.yml
  csrc/fp_quantizer/includes/context.h
  csrc/fp_quantizer/includes/quantize.h
  csrc/fp_quantizer/quantize.cpp
  csrc/fp_quantizer/quantize.cu
  csrc/includes/memory_access_utils.h
  csrc/includes/reduction_utils.h
  deepspeed/ops/fp_quantizer/__init__.py
  deepspeed/ops/fp_quantizer/quantize.py
  op_builder/fp_quantizer.py
  requirements/requirements-dev.txt
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Support MoE for pipeline models (#5338)
  deepspeed/moe/layer.py
  deepspeed/moe/mappings.py
  deepspeed/moe/sharded_moe.py
  deepspeed/ops/transformer/inference/moe_inference.py
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/bwc.py
  deepspeed/utils/groups.py
  tests/unit/utils/test_groups.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add CI for Intel XPU/Max1100 (#5376)
  .github/workflows/xpu-max1100.yml
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update pytest and transformers with fixes for pytest>= 8.0.0 (#5164)
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Increase CI coverage for Gaudi2 accelerator. (#5358)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Update XPU workflow too
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Update checkout action on workflows on ubuntu 20.04 (#5387)
  .github/workflows/amd-mi200.yml
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/formatting.yml
  .github/workflows/hpu-gaudi2.yml
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/nv-sd.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
  .github/workflows/release.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Cleanup required_torch_version code and references. (#5370)
  deepspeed/comm/torch.py
  deepspeed/elasticity/utils.py
  deepspeed/runtime/comm/nccl.py
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/fp16/onebit/adam.py
  deepspeed/runtime/fp16/onebit/lamb.py
  deepspeed/runtime/fp16/onebit/zoadam.py
  deepspeed/runtime/fp16/unfused_optimizer.py
  deepspeed/runtime/pipe/p2p.py
  deepspeed/runtime/utils.py
  deepspeed/utils/torch.py
  tests/unit/alexnet_model.py
  tests/unit/checkpoint/test_mics_optimizer.py
  tests/unit/checkpoint/test_moe_checkpoint.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/compression/test_compression.py
  tests/unit/inference/quantization/test_intX_quantization.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
  tests/unit/moe/test_moe.py
  tests/unit/moe/test_moe_tp.py
  tests/unit/profiling/flops_profiler/test_flops_profiler.py
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
  tests/unit/runtime/compile/test_load_config.py
  tests/unit/runtime/half_precision/onebit/test_onebit.py
  tests/unit/runtime/half_precision/test_fp16.py
  tests/unit/runtime/test_ds_initialize.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update path name on xpu-max1100.yml, add badge in README (#5386)
  .github/workflows/xpu-max1100.yml
  README.md
Due: check-torchdist, check-torchcuda, check-extraindexurl

Revert "Update XPU workflow too"
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Update README.md for intel XPU support (#5389)
  README.md
Due: check-torchdist, check-torchcuda

Add custom reshaping for universal checkpoint (#5390)
  deepspeed/checkpoint/__init__.py
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
