Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

[zero] revert PR #3166, it disabled grad clip for bf16 (#3790)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

fix retrieval of out_channels in _conv_trans_flops_compute (#3834)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

check whether buffer size is divisible by 16
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

autoTP linear allreduce should go to allreduce_low_latency
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda

cleanup profile code
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

make SHM buffer larger
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

add mfence to ensure memory order before each buffer state update
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

update MMEngine support in README.md
  README.md
Due: check-torchdist, check-torchcuda

Fix LoRA Fuse/Unfuse in Hybrid Engine (#3563)
  deepspeed/module_inject/containers/bloom.py
  deepspeed/module_inject/containers/features/hybrid_engine.py
  deepspeed/module_inject/containers/gptj.py
  deepspeed/module_inject/containers/gptneo.py
  deepspeed/module_inject/containers/gptneox.py
  deepspeed/module_inject/containers/llama.py
  deepspeed/module_inject/containers/opt.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/hybrid_engine.py
  tests/unit/hybrid_engine/test_he_lora.py
Due: check-torchdist, check-license, check-torchcuda

Update test_he_lora.py (fix typo)
  tests/unit/hybrid_engine/test_he_lora.py
Due: check-torchdist, check-license, check-torchcuda

update lightning version in CI
  .github/workflows/nv-lightning-v100.yml
Due: check-torchdist

extend the test and fix fp16 typo.
  tests/unit/hybrid_engine/test_he_lora.py
Due: check-torchdist, check-license, check-torchcuda

guard reset params with z3 enabled check.
  deepspeed/runtime/hybrid_engine.py
Due: check-torchdist, check-license, check-torchcuda

patch _allgather_params & minor fixes
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

update lightning version in CI (#3882)
  .github/workflows/nv-lightning-v100.yml
Due: check-torchdist

update MMEngine support in README.md (#3879)
  README.md
Due: check-torchdist, check-torchcuda

create standalone registries for training and eval respectively
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda

Fixes bad merge
  .github/workflows/nv-megatron.yml
Due: check-torchdist

Add FALCON Auto-TP Support (#3640)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Copy over changes to test
  tests/unit/common.py
  tests/unit/ops/accelerators/test_accelerator_backward.py
Due: check-torchdist, check-license, check-torchcuda

Make it a function
  tests/unit/ops/accelerators/test_accelerator_backward.py
Due: check-torchdist, check-license, check-torchcuda

make this pr standalone
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/hybrid_engine.py
  tests/unit/hybrid_engine/test_he_lora.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

standalone v2
  README.md
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

reducing Pipeline test times
  tests/unit/alexnet_model.py
  tests/unit/runtime/half_precision/onebit/test_onebit.py
  tests/unit/runtime/half_precision/test_fp16.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

Fix BLOOM Meta Tensor loading
  deepspeed/module_inject/load_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Update apex installation to resolve apex's pyproject.toml issues. (#3745)
  .github/workflows/nv-megatron.yml
Due: check-torchdist

formatting
  deepspeed/utils/tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

Add addtional comments
  deepspeed/module_inject/load_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Removing early partitioning in override
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Extend HE-Lora test with Z3 support + Fix/add guard in HE for Z3 (#3883)
  deepspeed/runtime/hybrid_engine.py
  tests/unit/hybrid_engine/test_he_lora.py
Due: check-torchdist, check-license, check-torchcuda

avoid init for deepspeed backend first
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

Separate ZeRO3 InflightParamRegistry for train and eval (#3884)
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda

update
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Add GPTNeoX AutoTP support (#3778)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Fix Meta Tensor checkpoint load for BLOOM models (#3885)
  deepspeed/module_inject/load_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

fix typo
  deepspeed/utils/numa.py
Due: check-torchdist, check-license, check-torchcuda

add temp print cmd
  deepspeed/launcher/launch.py
Due: check-license, check-torchcuda

fix error in HBM path
  deepspeed/utils/numa.py
Due: check-torchdist, check-license, check-torchcuda
