Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

[CPU] SHM based allreduce improvement for small message size (#5571)
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Update version.txt after 0.14.3 release (#5651)
  version.txt
Due: check-torchdist, check-torchcuda

Monitor was always enabled causing performance degradation (#5633)
  deepspeed/monitor/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

assumption of torch.initial_seed function accepting seed arg in DeepSpeedAccelerator abstract class is incorrect (#5569)
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/hpu_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

pipe/_exec_backward_pass: fix immediate grad update (#5605)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix IDEX dependence in xpu accelerator (#5666)
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

_exec_forward_pass: place zeros(1) on the same device as the param (#5576)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix hpZ with zero element (#5652)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] adapt lazy_call func to different versions (#5670)
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove compile wrapper to simplify access to model attributes (#5581)
  deepspeed/runtime/compiler.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/partition_parameters.py
  tests/unit/common.py
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
  tests/unit/runtime/compile/test_load_config.py
  tests/unit/runtime/compile/util.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix latest pytorch '_get_socket_with_port' import error (#5654)
  deepspeed/elasticity/elastic_agent.py
Due: check-license, check-torchcuda, check-extraindexurl

Fixing the reshape bug in sequence parallel alltoall, which corrupted all QKV data (#5664)
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix numpy upgrade to 2.0.0 BUFSIZE import error (#5680)
  deepspeed/autotuning/scheduler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update BUFSIZE to come from autotuner's constants.py, not numpy (#5686)
  deepspeed/autotuning/scheduler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

enable yuan autotp & add conv tp (#5428)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] support op builder from intel_extension_for_pytorch kernel path (#5425)
  accelerator/xpu_accelerator.py
  deepspeed/comm/ccl.py
  op_builder/xpu/__init__.py
  op_builder/xpu/flash_attn.py
  op_builder/xpu/inference.py
  op_builder/xpu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.14.4 release (#5694)
  version.txt
Due: check-torchdist, check-torchcuda

Fixed Windows inference build. (#5609)
  accelerator/cuda_accelerator.py
  build_win.bat
  csrc/transformer/inference/csrc/pt_binding.cpp
  deepspeed/inference/v2/kernels/core_ops/cuda_layer_norm/layer_norm_cuda.cu
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/kernel_matmul.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_cp.async.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/ptx_mma.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_core.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_gmem.cuh
  deepspeed/inference/v2/kernels/core_ops/cuda_linear/include/utils_paralleldequant.cuh
  deepspeed/utils/timer.py
  op_builder/builder.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix memory leak from _hp_mapping (#5643)
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Bug fix for the "Link bit16 and fp32 parameters in partition" (#5681)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Universal checkpoint for zero stage 3 (#5475)
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/checkpoint/test_universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Disable nvtx decorator to avoid graph break (#5697)
  deepspeed/runtime/engine.py
  deepspeed/utils/nvtx.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[CPU] add fp16 support to shm inference_all_reduce (#5669)
  csrc/cpu/comm/shm.cpp
  csrc/cpu/comm/shm_interface.cpp
  tests/unit/comm/test_dist.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

inference unit test injectionPolicy split world_size to multiple tests (#5687)
  tests/unit/common.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

ENV var added for recaching in INF Unit tests (#5688)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Change source of CPUAdam for xpu accelerator (#5703)
  csrc/xpu/adam/cpu_adam.cpp
  csrc/xpu/adam/cpu_adam_impl.cpp
  op_builder/xpu/cpu_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add additional paths to trigger xpu tests (#5707)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Add an argument to enable the injection of missing state during the conversion of universal checkpoints (#5608)
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update XPU docker version (#5712)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

update xpu fusedadam opbuilder for pytorch 2.3 (#5702)
  csrc/xpu/adam/multi_tensor_apply.dp.hpp
Due: check-torchdist, check-license, check-torchcuda

Fix tutorial links (#5714)
  docs/_tutorials/universal-checkpointing.md
Due: check-torchcuda

fix the missing argument in test and typo (#5730)
  deepspeed/checkpoint/ds_to_universal.py
  tests/unit/checkpoint/test_universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

UCP Chinese Blog (#5713)
  blogs/deepspeed-ucp/chinese/README.md
Due: check-torchdist, check-torchcuda

Update node16 check on self-hosted runners and remove python 3.6 (#5756)
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
  .github/workflows/python.yml
Due: check-torchdist, check-extraindexurl

DeepSpeed Universal Checkpointing: Blog and Tutorial (#5711)
  README.md
  blogs/deepspeed-ucp/README.md
  blogs/deepspeed-ucp/japanese/README.md
  blogs/deepspeed-ucp/media/flowchart.png
  blogs/deepspeed-ucp/media/image1.png
  blogs/deepspeed-ucp/media/image2.png
  blogs/deepspeed-ucp/media/image3.png
  blogs/deepspeed-ucp/media/image4.png
  blogs/deepspeed-ucp/media/image5.png
  blogs/deepspeed-ucp/media/image6.png
  blogs/deepspeed-ucp/media/image7.png
  blogs/deepspeed-ucp/media/image8.png
  docs/_tutorials/universal-checkpointing.md
  docs/index.md
Due: check-torchdist, check-torchcuda

[INF] Enable torch compile for inference (#5612)
  deepspeed/inference/engine.py
Due: check-torchdist, check-license, check-extraindexurl

Fix memory leak for pipelined optimizer swapper (#5700)
  deepspeed/runtime/swap_tensor/pipelined_optimizer_swapper.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add Windows scripts (deepspeed, ds_report). (#5699)
  bin/deepspeed.bat
  bin/ds_report.bat
  build_win.bat
  deepspeed/env_report.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Unit Test: Add error handling for rate limit exceeded in model list (#5715)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove duplicated variable (#5727)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
