Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

[COMPILE] workflow for deepspeed + torch.compile (#6570)
  .github/workflows/xpu-compile.yml
  tests/torch_compile/ds_config.json
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add bfloat16 to inference support dtypes (#6528)
  deepspeed/inference/engine.py
Due: check-torchdist, check-license, check-extraindexurl

Add APIs to offload states of model, optimizer, and engine (#6011)
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/offload_config.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/utils.py
  docs/code-docs/source/zero3.rst
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fixes on the accelerate side mean we do not need to skip this test (#6583)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Fix torch include in `op_builder/mlu/fused_adam.py` and update no-torch workflow triggers (#6584)
  .github/workflows/no-torch.yml
  op_builder/mlu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[ROCm] Fix subprocess error (#6587)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Add SSF Best practices badge (#6604)
  README.md
Due: check-torchdist, check-torchcuda

Cleanup CODEOWNERS file to be valid (#6603)
  CODEOWNERS
Due: check-torchdist, check-torchcuda

Fix SD workflow (#6609)
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Improve DS logging control (#6602)
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add llama3.2 vision autotp (#6577)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Move V100 workflows from cuda 11.1/11.7 to 12.1 (#6607)
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist, check-extraindexurl

Pin accelerate to fix CI failures/issues (#6610)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Handle when `backend` is also in compile_kwargs (#6502)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix device selection using CUDA_VISIBLE_DEVICES (#6530)
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Unpin accelerate tests, update lightning with node16 removal. (#6611)
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-lightning-v100.yml
Due: check-torchdist, check-extraindexurl

Update version.txt after 0.15.2 release (#6615)
  version.txt
Due: check-torchdist, check-torchcuda

Enabled Qwen2-MoE Tensor Parallelism (TP) inference (#6551)
  deepspeed/module_inject/auto_tp.py
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

AIO CPU Locked Tensor (#6592)
  accelerator/cpu_accelerator.py
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/common/deepspeed_aio_common.h
  csrc/aio/common/deepspeed_aio_utils.cpp
  csrc/aio/common/deepspeed_aio_utils.h
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_pin_tensor.cpp
  csrc/aio/py_lib/deepspeed_pin_tensor.h
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  csrc/gds/py_lib/py_ds_gds.cpp
  docs/_tutorials/deepnvme.md
  op_builder/builder.py
  op_builder/cpu/__init__.py
  op_builder/cpu/async_io.py
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/aio/test_gds.py
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Clean up prefetched parameters (#6557)
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

apply fp16 autocast only to floating point values
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Ignore reuse_dist_env (#6623)
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

reduce setting global variables to reduce torch compile graph breaks (#6541)
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add API for updating ZeRO gradients (#6590)
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/__init__.py
  deepspeed/utils/mixed_precision_linkage.py
  deepspeed/utils/tensor_fragment.py
  docs/code-docs/source/zero3.rst
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add API to get devices of offload states (#6586)
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/offload_states.py
  deepspeed/runtime/zero/stage3.py
  docs/code-docs/source/zero3.rst
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[compile] Show breakdown of graph break (#6601)
  .github/workflows/xpu-compile.yml
  tests/torch_compile/ds_config_z2.json
  tests/torch_compile/ds_config_z3.json
  tests/torch_compile/test_compile.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Accept btl_tcp_if_include option through launcher_args (#6613)
  deepspeed/launcher/multinode_runner.py
  tests/unit/launcher/test_multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Support safetensors export (#6579)
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Lock cache file of HF model list (#6628)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add option to disable logger while compiling to avoid graph breaks (#6496)
  deepspeed/utils/logging.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add first Step in LR Schedulers (#6597)
  deepspeed/runtime/lr_schedules.py
  tests/unit/runtime/test_lr_schedulers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] upgrade xpu max1100 CI workflow to pytorch2.3 (#6646)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Fix Memory Leak In AIO (#6630)
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_pin_tensor.cpp
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
Due: check-torchdist, check-license, check-torchcuda

Add README Pipeline Status for Huawei Ascend NPU (#6588)
  README.md
Due: check-torchdist, check-torchcuda

Update torch version in workflows (#6631)
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Use file store for tests (#6632)
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] host timer check version from Torch 2.5 to Torch 2.6 (#6633)
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add attribute check for language_model when replace last linear module (#6650)
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] [DeepNVMe] use same cpu_op_desc_t with cuda (#6645)
  csrc/xpu/aio/deepspeed_cpu_op.cpp
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
