Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Enable AMD MI200 and H100 to run on branches for testing
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-h100.yml
Due: check-torchdist

Add TODO
  deepspeed/utils/tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

Enable AMD MI200 and H100 to run on branches for testing (#4238)
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-h100.yml
Due: check-torchdist

fix MegatronLayerPolicy to be compatible with the newest ParallelTransformerLayer (#4236)
  deepspeed/module_inject/containers/megatron_gpt.py
Due: check-torchdist, check-license, check-torchcuda

change the way to detect no_grad
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda

Enable hpz when running with torch.no_grad (#4232)
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda

use dict update
  tests/unit/modeling.py
Due: check-torchdist, check-license, check-torchcuda

use dictionary update
  tests/unit/modeling.py
Due: check-torchdist, check-license, check-torchcuda

fix ci
  tests/unit/runtime/pipe/test_pipe.py
Due: check-torchdist, check-license, check-torchcuda

Remove PR toggle after adding workflow dispatch
  .github/workflows/amd-mi200.yml
Due: check-torchdist

add mixz tutorial
  docs/_tutorials/mixed_precision_zeropp.md
Due: check-torchcuda

Ds chat stable release (#555)
  blogs/deepspeed-chat/assets/images/ds_chat_main.png
  blogs/deepspeed-chat/assets/images/ds_chat_stability_sweep.png
  blogs/deepspeed-chat/assets/images/ds_chat_zero_offload_gpu.png
  blogs/deepspeed-chat/assets/images/dschat-llama-13b-HE-perf.png
  blogs/deepspeed-chat/assets/images/dschat-llama-7b-HE-perf.png
  blogs/deepspeed-chat/assets/images/dschat-mpzero-llama.png
  blogs/deepspeed-chat/assets/images/llama2-with-he.png
  blogs/deepspeed-chat/assets/images/sweep_after_lora_fix.png
  blogs/deepspeed-chat/assets/images/sweep_before_lora_fix.png
  blogs/deepspeed-chat/assets/images/zero_offload_after_stability.png
  blogs/deepspeed-chat/ds-chat-release-8-31/README.md
Due: check-torchdist, check-torchcuda

Add check that opening issues on CI failure requires build to be scheduled
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
Due: check-torchdist

update tutorial
  docs/_tutorials/mixed_precision_zeropp.md
Due: check-torchcuda

Dschat news item in docs/index
  docs/index.md
Due: check-torchcuda

DSchat news in DS readmne
  README.md
Due: check-torchdist, check-torchcuda

update
  docs/_tutorials/mixed_precision_zeropp.md
Due: check-torchcuda

bump to 0.10.3
  version.txt
Due: check-torchdist, check-torchcuda

Add Mixed Precision ZeRO++ tutorial (#4241)
  docs/_tutorials/mixed_precision_zeropp.md
Due: check-torchcuda

add mixZ++ tutorial link.
  blogs/deepspeed-chat/ds-chat-release-8-31/README.md
Due: check-torchdist, check-torchcuda

Trim number of news items
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

dschat stability blog news items (#4243)
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

Update README.md
  blogs/deepspeed-chat/ds-chat-release-8-31/README.md
Due: check-torchdist, check-torchcuda

DeepSpeed-Chat Llama2/stability release (#4240)
  README.md
  blogs/deepspeed-chat/assets/images/ds_chat_main.png
  blogs/deepspeed-chat/assets/images/ds_chat_stability_sweep.png
  blogs/deepspeed-chat/assets/images/ds_chat_zero_offload_gpu.png
  blogs/deepspeed-chat/assets/images/dschat-llama-13b-HE-perf.png
  blogs/deepspeed-chat/assets/images/dschat-llama-7b-HE-perf.png
  blogs/deepspeed-chat/assets/images/dschat-mpzero-llama.png
  blogs/deepspeed-chat/assets/images/llama2-with-he.png
  blogs/deepspeed-chat/assets/images/sweep_after_lora_fix.png
  blogs/deepspeed-chat/assets/images/sweep_before_lora_fix.png
  blogs/deepspeed-chat/assets/images/zero_offload_after_stability.png
  blogs/deepspeed-chat/ds-chat-release-8-31/README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

Update ()
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
Due: check-torchdist

Trigger a failures
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Test failure mode
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Actually make it fail
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Tset with actual failaure mode
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Update README.md
  README.md
Due: check-torchdist, check-torchcuda

Update index.md
  docs/index.md
Due: check-torchcuda

Update README.md (#4244)
  README.md
  blogs/deepspeed-chat/ds-chat-release-8-31/README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

reduce check level for ci
  tests/unit/runtime/pipe/test_pipe.py
Due: check-torchdist, check-license, check-torchcuda

Pin Triton version to 2.0.0
  requirements/requirements-triton.txt
Due: check-torchdist, check-torchcuda

Pin Triton version to < 2.1.0
  requirements/requirements-triton.txt
Due: check-torchdist, check-torchcuda

Add >=2.0.0
  requirements/requirements-triton.txt
Due: check-torchdist, check-torchcuda
