Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

add registration mark(test)
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

fix reg mark
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

fix all registration marks
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

revise run abstract-accelerator-interface document
  docs/_tutorials/accelerator-abstraction-interface.md
Due: none

remove unnecessary link
  docs/_tutorials/accelerator-abstraction-interface.md
Due: none

change installation style for xpu (#44)
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

update link name
  docs/_tutorials/accelerator-abstraction-interface.md
Due: none

move inf_or_nan_tracker to cpu for cpu offload
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

fix typo
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Strip whitespace for formatting
  docs/README.md
Due: check-torchcuda

Fix docs building guide (#5825)
  docs/Gemfile
  docs/README.md
Due: check-torchcuda

format changes
  tests/unit/runtime/zero/test_unwrap_model.py
Due: check-torchdist, check-license, check-torchcuda

various clean-up
  deepspeed/linear/__init__.py
  deepspeed/linear/config.py
  deepspeed/linear/context_manager.py
  deepspeed/linear/optimized_linear.py
  deepspeed/runtime/engine.py
  tests/unit/linear/test_ctx.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda

Make GDS first class operator (#640)
  csrc/aio/py_lib/deepspeed_aio_thread.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_gds_op.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.h
  csrc/aio/py_lib/deepspeed_py_copy.cpp
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/aio/py_test/ds_aio_handle.py
  csrc/aio/py_test/run_read_sweep.sh
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_access_iterator_residual_last.h
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_gds_utils.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  csrc/gds/py_lib/py_ds_gds.cpp
  csrc/gds/py_test/validate_gds.py
  csrc/includes/simd.h
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
  deepspeed/elasticity/elastic_agent.py
  deepspeed/ops/gds/__init__.py
  deepspeed/runtime/swap_tensor/aio_config.py
  deepspeed/runtime/swap_tensor/constants.py
  deepspeed/runtime/swap_tensor/partitioned_param_swapper.py
  op_builder/async_io.py
  op_builder/builder.py
  op_builder/gds.py
  tests/unit/ops/aio/test_aio.py
  tests/unit/ops/aio/test_gds.py
Due: check-torchdist, check-license, check-torchcuda

Update clang-format
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

Formatting fixes for clang-format updates
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_copy.cpp
  csrc/deepspeed4science/evoformer_attn/gemm_kernel_utils.h
  csrc/includes/simd.h
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
Due: check-torchdist, check-license, check-torchcuda

move pynvml install to setup.py
  requirements/requirements.txt
  setup.py
Due: check-torchdist, check-license, check-torchcuda

Update clang-format version from 16 to 18. (#5839)
  csrc/aio/common/deepspeed_aio_common.cpp
  csrc/aio/py_lib/deepspeed_py_aio.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_copy.cpp
  csrc/deepspeed4science/evoformer_attn/gemm_kernel_utils.h
  csrc/includes/simd.h
  csrc/xpu/includes/simd.h
  csrc/xpu/includes/type_shim.h
  requirements/requirements-dev.txt
Due: check-torchdist, check-license, check-torchcuda

Update formatting
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_access_iterator_residual_last.h
Due: check-torchdist, check-license, check-torchcuda

updates for tests
  deepspeed/linear/optimized_linear.py
  tests/unit/linear/test_ctx.py
Due: check-torchdist, check-license, check-torchcuda

add japanese translation of DeepNVMe blog
  README.md
  blogs/deepspeed-gds/japanese/README.md
Due: check-torchdist, check-torchcuda

Add Japanese translation of DeepNVMe blog (#5845)
  README.md
  blogs/deepspeed-gds/japanese/README.md
Due: check-torchdist, check-torchcuda

add unit test
  deepspeed/runtime/engine.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

Formatting fix
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_access_iterator_residual_last.h
Due: check-torchdist, check-license, check-torchcuda

Disable build GDS in pre compile ops
  .github/workflows/nv-pre-compile-ops.yml
Due: check-torchdist

update unit test
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

Add support to (optionally) set device mesh config (dp_size, sp_size) in ds_config
  deepspeed/__init__.py
  deepspeed/runtime/engine.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda

replace device index with device name
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

reduce the unecessary allreduce when tensor size is 0
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

update unit test - more rigorous testing
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

apply yapf formatting
  deepspeed/__init__.py
  deepspeed/autotuning/autotuner.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/config.py
  deepspeed/runtime/eigenvalue.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/utils.py
  deepspeed/sequence/layer.py
  tests/unit/runtime/zero/test_zero_context.py
Due: check-torchdist, check-license, check-torchcuda

Formatting fixes
  deepspeed/__init__.py
  deepspeed/autotuning/autotuner.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/config.py
  deepspeed/runtime/eigenvalue.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/utils.py
  tests/unit/runtime/zero/test_zero_context.py
Due: check-torchdist, check-license, check-torchcuda

updating microbenchmark script
  csrc/aio/py_test/ds_aio_handle.py
Due: check-torchdist, check-license, check-torchcuda

Use `torch.nan_to_num` replace numpy wrapper one
  deepspeed/runtime/eigenvalue.py
Due: check-torchdist, check-license, check-torchcuda

fix environment variable export bug for MultiNodeRunner
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda

add nan check to support bfloat16
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Mingzhi/topk prob (#28)
  deepspeed/moe/sharded_moe.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

refine
  deepspeed/moe/sharded_moe.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

remove empty line
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

Fix the bug of deepspeed sequence parallel working with batch size larger than 1 (#5823)
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda
