Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Remove DS_BUILD_UTILS reference
  docs/_tutorials/advanced-install.md
Due: check-torchcuda

Remove DS_BUILD_UTILS reference (#4485)
  docs/_tutorials/advanced-install.md
Due: check-torchcuda

Introduce pydantic_v1 compatibility module for pydantic>=2.0.0 support (#4407)
  deepspeed/comm/config.py
  deepspeed/inference/config.py
  deepspeed/monitor/config.py
  deepspeed/pydantic_v1.py
  deepspeed/runtime/config_utils.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/offload_config.py
  environment.yml
  requirements/requirements-readthedocs.txt
  requirements/requirements.txt
  tests/unit/runtime/test_ds_config_model.py
Due: check-torchdist, check-license, check-torchcuda

Update ROCm verison
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Add AMD team to CI issue creation
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Test adding without CI check
  .github/workflows/amd-mi200.yml
Due: check-torchdist

support uneven sharding of lm_head tensor parallel
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda

Allow env var for timeout (#4405)
  deepspeed/constants.py
Due: check-torchdist, check-license, check-torchcuda

Update .github/workflows/amd-mi200.yml
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Update ROCm verison (#4486)
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Enable running of CI on demand if needed to debug
  .github/workflows/nv-torch-nightly-v100.yml
Due: check-torchdist

Switch to run on PR to debug
  .github/workflows/nv-torch-nightly-v100.yml
Due: check-torchdist

Revert torch version
  .github/workflows/nv-torch-nightly-v100.yml
Due: check-torchdist

add new missing accelerator interfaces
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

fix syntax error
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

adding 8bit dequantization kernel for asym fine-grained block quantization in zero-inference (#4450)
  csrc/includes/quantization.h
  csrc/quantization/pt_binding.cpp
  csrc/quantization/quantize_intX.cu
  deepspeed/inference/quantization/utils.py
  op_builder/quantizer.py
  tests/unit/inference/quantization/test_intX_quantization.py
Due: check-torchdist, check-license, check-torchcuda

Fixed deepspeed.comm.monitored_barrier call
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

feat(zero): add zero35
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/zero35_utils.py
Due: check-torchdist, check-license, check-torchcuda

Fix scale factor on flops profiler
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

Transformers skips all tests currently
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Fix scale factor on flops profiler (#4500)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

Don't use cached torch
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Set torch version
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

Update torch version?
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

add DeepSpeed4Science white paper
  README.md
  blogs/deepspeed4science/README.md
  blogs/deepspeed4science/chinese/README.md
  blogs/deepspeed4science/japanese/README.md
  docs/_pages/deepspeed4science.md
  docs/index.md
Due: check-torchdist, check-torchcuda

add DeepSpeed4Science white paper (#4502)
  README.md
  blogs/deepspeed4science/README.md
  blogs/deepspeed4science/chinese/README.md
  blogs/deepspeed4science/japanese/README.md
  docs/_pages/deepspeed4science.md
  docs/index.md
Due: check-torchdist, check-torchcuda

add aio in xpu_upstream (#17)
  accelerator/xpu_accelerator.py
  op_builder/xpu/__init__.py
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda

remove duplicate is_pinned
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

change device setting
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda

Add rope_theta to bias_add_transform_0213
  csrc/transformer/inference/csrc/pt_binding.cpp
  csrc/transformer/inference/csrc/transform.cu
Due: check-torchdist, check-license, check-torchcuda

[CCLBackend] update API (#4378)
  csrc/cpu/comm/ccl.cpp
  deepspeed/comm/ccl.py
Due: check-torchdist, check-license, check-torchcuda

add available memory check to accelerator
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

catch case where nvmlInit fails
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

add pynvml to reqs
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

fix for cpu systems
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

Update accelerator/cuda_accelerator.py
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

simplify
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

Add col-ai evaluation
  blogs/deepspeed-ulysses/README.md
  blogs/deepspeed-ulysses/media/convgZ.png
  blogs/deepspeed-ulysses/media/dense1B1Mscale.png
  blogs/deepspeed-ulysses/media/dense30B.png
  blogs/deepspeed-ulysses/media/dense7B.png
  blogs/deepspeed-ulysses/media/sparse30B.png
  blogs/deepspeed-ulysses/media/sparse7B.png
Due: check-torchdist, check-torchcuda

Update accelerator/npu_accelerator.py
  accelerator/npu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda
