Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Avoid zero-sized microbatches for incomplete minibatches when doing curriculum learning (#5118)
  deepspeed/runtime/data_pipeline/data_sampling/data_sampler.py
Due: check-torchdist, check-license, check-torchcuda

formatting
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

support megatron and user-defined use case
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

new iteration, many bug fixes
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

Update data_analyzer.py
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

remove mandatory `index` key from output of `metric_function` in `DataAnalysis` map operation (#5112)
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

bug fixes
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

fixing previous commit
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

Add dockerfile used to build cpu-inference image
  docker/Dockerfile-cpu_inference
Due: check-torchdist, check-torchcuda

Add additional 'runs-on' requirement
  .github/workflows/cpu-inference.yml
Due: check-torchdist

DeepSpeedZeroOptimizer_Stage3: remove cuda specific optimizer
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

remove bias correction
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

tensorboard logging: avoid item() outside gas to improve performance (#5135)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Check overflow on device without host synchronization for each tensor (#5115)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

TestEmptyParameterGroup: replace fusedAdam with torch.optim.AdamW
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting issues
  docker/Dockerfile-cpu_inference
Due: check-torchdist, check-torchcuda

Remove install steps that were extracted to the docker image
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Update workflow again
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Update yml
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Update nv-inference torch version (#5128)
  .github/workflows/nv-inference.yml
Due: check-torchdist

Rename and update to torch 1.13
  .github/workflows/nv-torch113-p40.yml
  .github/workflows/nv-torch113-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Update README
  README.md
Due: check-torchdist, check-torchcuda

pre-commit
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

replaced torch.distributed with deepspeed.comm
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

Method `run_map_reduce` to fix errors when running `run_map` followed by `run_reduce` (#5131)
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

recoverd master branch
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

Added missing `isinstance` check in PR 5112 (#5142)
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

write sequentially to file
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

fixes in sequential write
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

pre-commit hooks
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

TestEmptyParameterGroup: replace fusedAdam with torch.optim.AdamW (#5139)
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda

Fix UserWarning: The torch.cuda.*DtypeTensor constructors are no long… (#5018)
  accelerator/cuda_accelerator.py
Due: check-torchdist, check-license

Run tests on PR
  .github/workflows/nv-torch113-p40.yml
  .github/workflows/nv-torch113-v100.yml
Due: check-torchdist

Rename
  .github/workflows/nv-torch113-p40.yml
  .github/workflows/nv-torch113-v100.yml
Due: check-torchdist

Update both to use cuda 11.6, since the latest torch version supported with cuda 11.1 is 1.10.
  .github/workflows/nv-torch113-p40.yml
  .github/workflows/nv-torch113-v100.yml
Due: check-torchdist

Enable for packages installed in the image already
  .github/workflows/setup-venv/action.yml
Due: check-torchdist

Update flag name
  .github/workflows/setup-venv/action.yml
Due: check-torchdist

change use of deprecated HF function
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

Update deprecated HuggingFace function (#5144)
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
