Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

WA skips assertions, the loss remains exactly consistent with the low-precision version before the rebase, but the grad norm differs (display issue)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix setup.py bash cmd generation to correctly extract git info
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Unpin with latest transformers fixes
  .github/workflows/hpu-gaudi2.yml
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

make xpu ops compatible with oneapi 2025.0 (#6760)
  csrc/xpu/adam/multi_tensor_apply.dp.hpp
Due: check-torchdist, check-license, check-torchcuda

Update config.py
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add explicit parameters for torch.load (#6751)
  deepspeed/checkpoint/deepspeed_checkpoint.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/checkpoint/zero_checkpoint.py
  deepspeed/inference/engine.py
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
  deepspeed/inference/v2/model_implementations/inference_policy_base.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/base_optimizer.py
  deepspeed/runtime/checkpoint_engine/nebula_checkpoint_engine.py
  deepspeed/runtime/checkpoint_engine/torch_checkpoint_engine.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/zero_to_fp32.py
  tests/unit/checkpoint/common.py
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

adding hoooks for op parallel
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/aio/py_test/ds_aio_handle.py
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
  csrc/gds/py_lib/py_ds_gds.cpp
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update place where we missed instance of new_param not being in json_schema_extra
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add einops to requirements-dev
  requirements/requirements-dev.txt
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

remove unwanted changes
  bin/deepspeed
  bin/deepspeed.pt
  bin/dsr
  deepspeed/accelerator
  deepspeed/ops/csrc
  deepspeed/ops/op_builder
Due: check-torchdist, check-torchcuda

backtrack from __half to __half2
  csrc/includes/quantization.h
  csrc/includes/quantization_utils.h
  csrc/quantization/pt_binding.cpp
  csrc/quantization/quant_reduce.cu
  csrc/quantization/swizzled_quantize.cu
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Perform transformers version check for BLOOM before container initialization
  deepspeed/module_inject/containers/bloom.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Put super after version check
  deepspeed/module_inject/containers/bloom.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting fix
  deepspeed/module_inject/containers/bloom.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix setup.py bash cmd generation to correctly extract git info (#6762)
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Use `json_schema_extra` instead of extra keyword in `Field` (#6764)
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix dtype error
  tests/unit/runtime/zero/test_zero_multiple_run.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enable torch compile on _allgather_params
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refine loco_swizzled_quant_kernel
  csrc/quantization/swizzled_quantize.cu
Due: check-torchdist, check-license, check-torchcuda

adding thread pools
  csrc/aio/py_lib/deepspeed_aio_pool.cpp
  csrc/aio/py_lib/deepspeed_aio_pool.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Dummy commit
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Stage3: Use new torch grad accumulation hooks API
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enable torch compile on _allgather_params (#6769)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Removes unnecessary cloning (#6761)
  deepspeed/checkpoint/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix potential memory issues when use deepspeed Z3 (#6726)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  tests/unit/runtime/zero/test_zero_multiple_run.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

correct iterator use
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
Due: check-torchdist, check-license, check-torchcuda

a better approach to pools
  csrc/aio/py_lib/deepspeed_aio_pool.cpp
  csrc/aio/py_lib/deepspeed_aio_pool.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
Due: check-torchdist, check-license, check-torchcuda

Fix doc error
  docs/_tutorials/zero.md
  docs/code-docs/source/zero3.rst
Due: check-torchcuda

save/load ckpt & save/load hf model basic POC
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Unpin with latest transformers fixes (#6763)
  .github/workflows/hpu-gaudi2.yml
  .github/workflows/nv-a6000.yml
Due: check-torchdist, check-extraindexurl

format
  blogs/deepspeed-domino/README.md
  blogs/deepspeed-domino/images/design-base.png
  blogs/deepspeed-domino/images/design-column.png
  blogs/deepspeed-domino/images/design-hybrid.png
  blogs/deepspeed-domino/images/design-row.png
  blogs/deepspeed-domino/images/domino-hero.png
  blogs/deepspeed-domino/images/domino-logo.png
  blogs/deepspeed-domino/images/gpt3-scale.png
  blogs/deepspeed-domino/images/implement-bwd.png
  blogs/deepspeed-domino/images/implement-fwd.png
  blogs/deepspeed-domino/images/tp-ar.png
  blogs/deepspeed-domino/images/tp-comm-overhead.png
Due: check-torchdist, check-torchcuda

typo fix
  blogs/deepspeed-domino/README.md
Due: check-torchdist, check-torchcuda

docs: fix HF links
  README.md
  blogs/deepspeed-chat/japanese/README.md
  deepspeed/autotuning/README.md
  docs/_tutorials/getting-started.md
  docs/index.md
  examples/README.md
Due: check-torchdist, check-torchcuda

Add Ulysess offload blog
  blogs/ulysses-offload/README.md
  blogs/ulysses-offload/media/image1.png
  blogs/ulysses-offload/media/image2.png
  blogs/ulysses-offload/media/image3.png
  blogs/ulysses-offload/media/image4.png
  blogs/ulysses-offload/media/image5.png
Due: check-torchdist, check-torchcuda

Inference UTs check for trition support from accelerator
  tests/unit/ops/transformer/inference/test_attention.py
  tests/unit/ops/transformer/inference/test_gelu.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
  tests/unit/ops/transformer/inference/test_matmul.py
  tests/unit/ops/transformer/inference/test_residual_add.py
  tests/unit/ops/transformer/inference/test_softmax.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Make a pass
  blogs/deepspeed-domino/README.md
Due: check-torchdist, check-torchcuda

Fix formatting
  blogs/deepspeed-domino/README.md
Due: check-torchdist, check-torchcuda

docs: fix HF links (#6780)
  README.md
  blogs/deepspeed-chat/japanese/README.md
  deepspeed/autotuning/README.md
  docs/_tutorials/getting-started.md
  docs/index.md
  examples/README.md
Due: check-torchdist, check-torchcuda

Fix Doc Error: ZeRO Stage 2 gradient partitioning (#6775)
  docs/_tutorials/zero.md
  docs/code-docs/source/zero3.rst
Due: check-torchcuda
