Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Don't check overflow for bf16 data type (#4512)
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

remove ad-hoc running of cpu-inference
  .github/workflows/cpu-inference.yml
Due: check-torchdist

add sycl KI for InferenceBuilder by using syclomatic (#21)
  .gitignore
  accelerator/xpu_accelerator.py
  csrc/deepspeed4science/evoformer_attn/gemm/mma_from_smem.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_iterator_atomic.h
  csrc/transformer/inference/csrc/pt_binding.cpp
  csrc/xpu/adam/cpu_adam.dp.cpp
  csrc/xpu/adam/custom_sycl_kernel.dp.cpp
  csrc/xpu/adam/fused_adam_frontend.cpp
  csrc/xpu/adam/multi_tensor_adam.dp.cpp
  csrc/xpu/includes/Timer.hpp
  csrc/xpu/includes/common.hpp
  csrc/xpu/includes/context.hpp
  csrc/xpu/includes/cpu_adam.hpp
  csrc/xpu/includes/custom_sycl_layers.hpp
  csrc/xpu/includes/dropout.hpp
  csrc/xpu/includes/ds_transformer_sycl.hpp
  csrc/xpu/includes/feed_forward.hpp
  csrc/xpu/includes/gelu.hpp
  csrc/xpu/includes/gemm_test.hpp
  csrc/xpu/includes/general_kernels.hpp
  csrc/xpu/includes/multi_tensor_apply.dp.hpp
  csrc/xpu/includes/normalize_layer.hpp
  csrc/xpu/includes/onednn_wrappers.hpp
  csrc/xpu/includes/onemkl_wrappers.hpp
  csrc/xpu/includes/softmax.hpp
  csrc/xpu/includes/strided_batch_gemm.hpp
  csrc/xpu/includes/type_shim.hpp
  op_builder/builder.py
  op_builder/xpu/__init__.py
  op_builder/xpu/async_io.py
  op_builder/xpu/builder.py
  op_builder/xpu/post_process.sh
  op_builder/xpu/pre_process.sh
  op_builder/xpu/rule.yaml
  op_builder/xpu/transformer_inference.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

remove white changes
  csrc/deepspeed4science/evoformer_attn/gemm/mma_from_smem.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_iterator_atomic.h
Due: check-torchdist, check-license, check-torchcuda

update ccl.py for error type (#24)
  csrc/deepspeed4science/evoformer_attn/attention_cu.cu
  deepspeed/comm/ccl.py
  deepspeed/runtime/pipe/engine.py
  op_builder/builder.py
  op_builder/evoformer_attn.py
Due: check-torchdist, check-license, check-torchcuda

Update README.md
  README.md
Due: check-torchdist, check-torchcuda

Update index.md
  docs/index.md
Due: check-torchcuda

Public update (#4583)
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

add zquant series
  docs/assets/files/zeroquant_series.pdf
Due: check-torchcuda

updates
  README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

[docs] paper updates (#4584)
  README.md
  docs/assets/files/zeroquant_series.pdf
  docs/index.md
Due: check-torchdist, check-torchcuda

[docs] fix deepspeed.ai links
  docs/index.md
Due: check-torchcuda

Added __HIP_PLATFORM_AMD__=1 for non JIT build
  op_builder/builder.py
Due: check-torchdist, check-license

[CANN] Support moe for Ascend NPU
  deepspeed/moe/sharded_moe.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/common.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

fix uneven heads issue (#25)
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda

Update engine.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Disable CPU inference on PRs
  .github/workflows/cpu-inference.yml
Due: check-torchdist

universal-ckp: fix handling of word embedding
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Revert "Don't check overflow for bf16 data type (#4512)"
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Disable CPU inference on PRs (#4590)
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Revert "Disable CPU inference on PRs (#4590)"
  .github/workflows/cpu-inference.yml
Due: check-torchdist

add unit tests
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/simple_model.py
Due: check-torchdist, check-license, check-torchcuda

add reset for unit tests
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Fix config format
  deepspeed/runtime/activation_checkpointing/config.py
Due: check-torchdist, check-license, check-torchcuda

CI error: fix formatting
  deepspeed/runtime/comm/coalesced_collectives.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

fix: solve the problem of calling get_accelerator().random().fork_rng with non-cuda device
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda

universal-ckp: enforce pattern matching in ds_to_universal
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

universal-ckp: reconfigure model parameter rng tracker
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

universal-ckp: fix optimizer step
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/fp16/fused_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

add other test
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Unit test check environment for device_ver
  .github/workflows/nv-h100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
  accelerator/abstract_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  tests/conftest.py
Due: check-torchdist, check-license, check-torchcuda

Update ds-chat workflow to work w/ deepspeed-chat install
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

Temporarily change branch to fork
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

Revert branch to DSE
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

accelerator interface for graph API
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  deepspeed/inference/engine.py
  deepspeed/model_implementations/diffusers/unet.py
  deepspeed/model_implementations/diffusers/vae.py
  deepspeed/model_implementations/transformers/clip_encoder.py
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

fixbug get_accelerator() in validate_version
  tests/conftest.py
Due: check-torchdist, check-license, check-torchcuda

install gcc-9 in cpu workflow
  .github/workflows/cpu-inference.yml
Due: check-torchdist

add available_memory in XPU accelerator
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

add flag
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
