Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Fix docs building guide (#5825)
  docs/Gemfile
  docs/README.md
Due: check-torchcuda

Add Japanese translation of DeepNVMe blog (#5845)
  README.md
  blogs/deepspeed-gds/japanese/README.md
Due: check-torchdist, check-torchcuda

OptimizedLinear updates (#5791)
  deepspeed/linear/__init__.py
  deepspeed/linear/config.py
  deepspeed/linear/context_manager.py
  deepspeed/linear/optimized_linear.py
  deepspeed/linear/quantization.py
  deepspeed/ops/fp_quantizer/quantize.py
  deepspeed/runtime/engine.py
  tests/unit/linear/test_ctx.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix the bug of deepspeed sequence parallel working with batch size larger than 1 (#5823)
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Use `torch.nan_to_num` replace numpy wrapper one (#5877)
  deepspeed/runtime/eigenvalue.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Log operator warnings only in verbose mode (#5917)
  op_builder/evoformer_attn.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/sparse_attn.py
  op_builder/spatial_inference.py
  op_builder/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Upgrade HPU image to v1.16.2. (#5610)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

HPUAccelerator: remove support in set_visible_devices_envs (#5929)
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[Zero2] Reduce the unnecessary all-reduce when tensor size is 0. (#5868)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update container version for Gaudi2 CI (#5937)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

Update LR scheduler configuration (#5846)
  deepspeed/runtime/engine.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix missing ds_id bug (#5824)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.14.5 release (#5982)
  version.txt
Due: check-torchdist, check-torchcuda

Z3: optimizations for grad norm calculation and gradient clipping (#5504)
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero_offloadpp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update xpu-max1100.yml with new config and add some tests (#5668)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Allow accelerator to instantiate the device (#5255)
  .github/workflows/hpu-gaudi2.yml
  accelerator/hpu_accelerator.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add accelerator setup guides (#5827)
  docs/_tutorials/accelerator-abstraction-interface.md
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

add moe topk(k>2) gate support (#5881)
  deepspeed/moe/sharded_moe.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enable dynamic shapes for pipeline parallel engine inputs (#5481)
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
  tests/unit/alexnet_model.py
  tests/unit/runtime/pipe/test_pipe.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Move inf_or_nan_tracker to cpu for cpu offload (#5826)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

move pynvml install to setup.py (#5840)
  requirements/requirements.txt
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add and Remove ZeRO 3 Hooks (#5658)
  deepspeed/runtime/zero/__init__.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_unwrap_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pin transformers version on nv-nightly (#6002)
  .github/workflows/nv-nightly.yml
Due: check-torchdist, check-extraindexurl

Bug Fix 5880 (#6378)
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

DeepSpeed on Window blog (#6364)
  blogs/windows/08-2024/README.md
  blogs/windows/08-2024/media/bert_training.png
  blogs/windows/08-2024/media/cifar10_training.png
  blogs/windows/08-2024/media/ds_report.png
  blogs/windows/08-2024/media/llama2-7b_inference.png
  blogs/windows/08-2024/media/opt125m_finetuning.png
  blogs/windows/08-2024/media/win_pip_install_deepspeed.png
  docs/index.md
Due: check-torchdist, check-torchcuda

GDS Swapping Fix (#6386)
  deepspeed/runtime/swap_tensor/partitioned_param_swapper.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update linear.py compatible with torch 2.4.0 (#5811)
  deepspeed/runtime/zero/linear.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Long sequence parallelism (Ulysses) integration with HuggingFace (#5774)
  deepspeed/__init__.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/sequence/cross_entropy.py
  deepspeed/utils/groups.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

reduce cpu host overhead when using moe (#5578)
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda, check-extraindexurl

fix fp16 Qwen2 series model to DeepSpeed-FastGen (#6028)
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
  deepspeed/inference/v2/kernels/ragged_ops/includes/top_k_utils.h
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary_cuda.cu
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/container.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/model.py
  deepspeed/inference/v2/modules/implementations/moe/cutlass_multi_gemm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] API align with new intel pytorch extension release (#6395)
  op_builder/xpu/inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Correct op_builder path to xpu files for trigger XPU tests (#6398)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

add pip install cutlass version check (#6393)
  op_builder/evoformer_attn.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add Japanese translation of Windows support blog (#6394)
  README.md
  blogs/windows/08-2024/japanese/README.md
Due: check-torchdist, check-torchcuda

Update to prepare for next release
  version.txt
Due: check-torchdist, check-torchcuda

Fix redundant seq data parallel grp argument in Z3/MiCS (#5352)
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix torch check (#6402)
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix Type Mismatch (#6410)
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
Due: check-torchdist, check-license, check-torchcuda

Update version.txt after 0.15.0 release (#6403)
  version.txt
Due: check-torchdist, check-torchcuda
