Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

reuse simd.h
  csrc/cpu/adam/simd.h
  op_builder/cpu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda

pre-commit hook
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda

fix format
  op_builder/cpu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda

Switch to composite action
  .github/workflows/amd-mi200.yml
  .github/workflows/nv-h100.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/nv-torch19-v100.yml
  .github/workflows/open-issue-on-fail/action.yml
Due: check-torchdist

Fix line ending encoding issue
  .github/workflows/open-issue-on-fail/action.yml
Due: check-torchdist

Switch failure to be a variable
  .github/workflows/open-issue-on-fail/action.yml
Due: check-torchdist

Test with second workflow
  .github/workflows/nv-torch19-v100.yml
Due: check-torchdist

Format fix
  .github/workflows/nv-h100.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch19-p40.yml
  .github/workflows/open-issue-on-fail/action.yml
Due: check-torchdist

fixing flops profiler formatting, units and precision (#3927)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

pre-commit hook (#3994)
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda

Switch failure to always
  .github/workflows/open-issue-on-fail/action.yml
Due: check-torchdist

Offload correctness.
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

[CPU] Skip CPU support unimplemented error (#3633)
  .github/workflows/cpu-inference.yml
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  setup.py
  tests/unit/checkpoint/test_latest_checkpoint.py
  tests/unit/comm/test_dist.py
  tests/unit/elasticity/test_elastic.py
  tests/unit/hybrid_engine/test_he_all.py
  tests/unit/hybrid_engine/test_he_llama.py
  tests/unit/inference/test_checkpoint_sharding.py
  tests/unit/inference/test_inference.py
  tests/unit/inference/test_model_profiling.py
  tests/unit/ops/accelerators/test_accelerator_backward.py
  tests/unit/ops/accelerators/test_accelerator_forward.py
  tests/unit/ops/adam/test_adamw.py
  tests/unit/ops/quantizer/test_fake_quantization.py
  tests/unit/ops/quantizer/test_quantize.py
  tests/unit/ops/spatial/test_nhwc_bias_add.py
  tests/unit/profiling/flops_profiler/test_flops_profiler.py
Due: check-torchdist, check-license, check-torchcuda

Re-use apex builds for AMD
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Build MI200 tests on PR
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Install on /blob for the first time
  .github/workflows/amd-mi200.yml
Due: check-torchdist

ZeRO Gradient Accumulation Dtype. (#2847)
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda

Add the venv version
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Support PP training
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

Test
  .github/workflows/amd-mi200.yml
Due: check-torchdist

[CPU] Use allreduce_low_latency for AutoTP and implement low latency allreduce for CPU backend (single node) (#3919)
  csrc/cpu/comm/ccl.cpp
  deepspeed/comm/ccl.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/module_inject/layers.py
  tests/unit/comm/test_dist.py
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

Remove AMD tests from PR - were only needed for tessting.
  .github/workflows/amd-mi200.yml
Due: check-torchdist

fix for moe test memory leak
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

Re-enable skipped unit tests (#3939)
  tests/unit/checkpoint/test_moe_checkpoint.py
  tests/unit/checkpoint/test_zero_optimizer.py
  tests/unit/compression/test_compression.py
  tests/unit/model_parallelism/test_configurable_parallel_mp.py
  tests/unit/model_parallelism/test_configurable_parallel_pp.py
  tests/unit/moe/test_moe.py
  tests/unit/moe/test_moe_tp.py
  tests/unit/profiling/flops_profiler/test_flops_profiler.py
  tests/unit/runtime/half_precision/onebit/test_onebit.py
  tests/unit/runtime/half_precision/test_fp16.py
  tests/unit/runtime/test_ds_initialize.py
  tests/unit/runtime/zero/test_zero.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Make AMD/ROCm apex install to /blob to save test/compile time. (#3997)
  .github/workflows/amd-mi200.yml
Due: check-torchdist

make memory_stat return meaningful dict
  accelerator/cpu_accelerator.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

allow number of heads not divisible by number of ranks
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda

Option to exclude frozen weights for checkpoint save (#3953)
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda

Remove c++ flag
  op_builder/async_io.py
Due: check-torchdist, check-license, check-torchcuda

polishing timers and log_dist
  deepspeed/moe/sharded_moe.py
  deepspeed/profiling/flops_profiler/profiler.py
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/fp16/fused_optimizer.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/comms_logging.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda

formatting
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

arg formatting
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Allow user to select file
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Add docs
  docs/_tutorials/getting-started.md
Due: check-torchcuda

fix for single node launching with user args
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Switch environment variable name to to match other existing envvars
  deepspeed/launcher/runner.py
  docs/_tutorials/getting-started.md
Due: check-torchdist, check-license, check-torchcuda

Handle if the user enters a path or a filename
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Clarify in docs that you can enter either a file or a path
  docs/_tutorials/getting-started.md
Due: check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
