Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Fix assertion to run pipeline engine with a compiled module (#5197)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Test with updating thinc version - fixes pydantic on a6000
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Remove thinc
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Confirm uninstall of thinc
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Update container image
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Also uninstall spacy
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Reverting testing commits
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Update packages to support latest pydantic
  .github/workflows/nv-a6000.yml
Due: check-torchdist

adding Float8 support to bf16 optimizer
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Enable autotp test for Baichuan
  .github/workflows/cpu-inference.yml
Due: check-torchdist

remove opbuild-update and change nv-inference.yml only
  .github/workflows/nv-inference.yml
  .github/workflows/opbuilder-update.yml
Due: check-torchdist

make installed_ops check accelerator name consistency
  deepspeed/env_report.py
  deepspeed/git_version_info.py
  deepspeed/ops/__init__.py
  op_builder/all_ops.py
  op_builder/builder.py
  op_builder/xpu/builder.py
  setup.py
  tests/unit/ops/accelerators/test_accelerator_backward.py
Due: check-torchdist, check-license, check-torchcuda

Update expected torch version
  .github/workflows/nv-a6000.yml
Due: check-torchdist

further changes to support MII
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
  deepspeed/inference/v2/ragged/manager_configs.py
  deepspeed/runtime/config_utils.py
Due: check-torchdist, check-license, check-torchcuda

allow specifying mii branch for testing
  .github/workflows/nv-mii.yml
Due: check-torchdist

fix accelerator override name
  .github/workflows/nv-inference.yml
Due: check-torchdist

fix formatting check
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

ad dist.initialized() when judging
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda

Fix loading universal checkpoint for BF16_Optimizer
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

regenerate compatible ops every time
  deepspeed/git_version_info.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

remove ipex and oneccl_pt_binding installation in cpu-inference workflow
  .github/workflows/cpu-inference.yml
Due: check-torchdist

fix cpu-inference and nv-inference workflow
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-inference.yml
Due: check-torchdist

add missing quotation mark
  setup.py
Due: check-torchdist, check-license

import ALL_OPS in git_version_info.py
  deepspeed/git_version_info.py
Due: check-torchdist, check-license, check-torchcuda

build oneCCL with parallel make -j
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Allow specifying MII branch on MII CI (#5208)
  .github/workflows/nv-mii.yml
Due: check-torchdist

Remove unnecessary assert on sub_module.training
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda

Synchronize at the end of secondary partitioning
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

trim
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Update timeout variable for DeepSpeed tests.
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

fix fused_qkv model accuracy issue
  deepspeed/module_inject/fusedqkv_utils.py
Due: check-torchdist, check-license, check-torchcuda

adding missing package dependency
  .github/workflows/nv-inference.yml
Due: check-torchdist

fix cpu-inference workflow
  .github/workflows/cpu-inference.yml
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Add Intel Data Center GPU MAX and Intel Xeon into HW list
  README.md
Due: check-torchdist, check-torchcuda

Add Intel HW support into readme
  README.md
Due: check-torchdist, check-torchcuda

change contributed HW into a table
  README.md
Due: check-torchdist, check-torchcuda

fix table format
  README.md
Due: check-torchdist, check-torchcuda

Add fp16 support of Qwen1.5 models (0.5B to 72B) to DeepSpeed-FastGen
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2/container.py
  deepspeed/inference/v2/model_implementations/qwen_v2/model.py
  deepspeed/inference/v2/model_implementations/qwen_v2/policy.py
Due: check-torchdist, check-license, check-torchcuda

add accelerator name in contributed HW support
  README.md
Due: check-torchdist, check-torchcuda
