Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Update lamb to be more clear since it does an L2 vector norm
  deepspeed/runtime/fp16/onebit/lamb.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Explictly use the linalg.vector_norm call
  deepspeed/runtime/comm/compressed.py
  deepspeed/runtime/comm/hccl.py
  deepspeed/runtime/comm/mpi.py
  deepspeed/runtime/comm/nccl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix ci
  deepspeed/module_inject/layers.py
  deepspeed/runtime/tensor_parallel/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

using explicit GPU upcast
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Precisely track nvme optimizer offload
  deepspeed/runtime/engine.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

remove unnecessary prints
  deepspeed/__init__.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Reduced the experts allreduce number per layer to ONCE for the Qwen2-MoE and DeepSeek-V2 models.
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fixed format
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

skip overflow test
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Removed print
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix a bug about set.
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add the missing view operations from sequence parallel(async). (#6750)
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update `torch.norm` to `torch.linalg.norm` and `torch.linalg.vector_norm` (#6931)
  deepspeed/runtime/comm/compressed.py
  deepspeed/runtime/comm/hccl.py
  deepspeed/runtime/fp16/onebit/lamb.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Using explicit GPU upcast for ZeRO-Offload (#6962)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.16.3 release (#6965)
  version.txt
Due: check-torchdist, check-torchcuda

Update A6000 workflows to use newer docker container - 24.09 vs 24.03
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-flash-attn.yml
  .github/workflows/nv-human-eval.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update pytest
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-flash-attn.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Numpy 1.25.4 required for nv-sd tests
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Skip xpu tests until the ci is updated
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Precisely track nvme optimizer offload (#6963)
  deepspeed/runtime/engine.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update workflows to 24.06
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-flash-attn.yml
  .github/workflows/nv-human-eval.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update torch version
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-flash-attn.yml
  .github/workflows/nv-human-eval.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update tests
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-flash-attn.yml
  .github/workflows/nv-human-eval.yml
  .github/workflows/nv-sd.yml
Due: check-torchdist, check-extraindexurl

Update build_win.bat script to exclue ops without Windows support.
  build_win.bat
Due: check-torchdist, check-torchcuda

Update build_win.bat script to exclue GDS op as it lacks Windows support. (#6971)
  build_win.bat
Due: check-torchdist, check-torchcuda

fix: remove assumption that padding only occurs on last rank
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add: split TestNoRepeatedInitializationAllowed test into two separate ones
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix issue
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add CUDA 12.8 support and comment on CUDA 12.7
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Add CUDA 12.8 support and comment on CUDA 12.7 (#6975)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Code review fixes - change to cuda_impl instead of python_impl
  csrc/fp_quantizer/fp_quantize.cpp
  deepspeed/ops/fp_quantizer/quantize.py
  op_builder/hpu/fp_quantizer.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Improve overflow handling in ZeRO
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/fp16/loss_scaler.py
  deepspeed/runtime/hybrid_engine.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Unit test and pydantic configuration
  deepspeed/runtime/precision_config.py
  tests/unit/runtime/half_precision/test_zero_optim_overflow.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting fixes
  deepspeed/runtime/precision_config.py
  tests/unit/runtime/half_precision/test_zero_optim_overflow.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update torch versions to support 2.6
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist, check-extraindexurl

Update torch versions to support 2.6 (#6977)
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist, check-extraindexurl

added set up openmpi env vars and test
  deepspeed/launcher/multinode_runner.py
  tests/unit/launcher/test_multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove unused symbol
  deepspeed/runtime/precision_config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix typo
  deepspeed/runtime/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
