Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

alternative multi-parallel memcpy
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Fused adam for HPU (#5500)
  op_builder/hpu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda

add the hpp in csrc for deepspeed package
  MANIFEST.in
Due: check-torchdist, check-torchcuda

fix bf16 to numpy conversion in tests
  tests/unit/ops/adagrad/test_cpu_adagrad.py
  tests/unit/ops/adam/test_cpu_adam.py
  tests/unit/ops/adam/test_hybrid_adam.py
  tests/unit/ops/lion/test_cpu_lion.py
Due: check-torchdist, check-license, check-torchcuda

remove debug statement
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

fix the naming issue
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Add Ulysses DistributedAttention compatibility
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

print the progress info for ZeRO 3
  deepspeed/checkpoint/ds_to_universal.py
Due: check-torchdist, check-license, check-torchcuda

fix format issue
  op_builder/xpu/flash_attn.py
Due: check-torchdist, check-license, check-torchcuda

add no_impl builder
  op_builder/xpu/__init__.py
  op_builder/xpu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda

create mininal universal checkpoint info for client state
  deepspeed/checkpoint/utils.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

skip test_torch_adamw_equal for invalid parameter combinations
  tests/unit/ops/adam/test_cpu_adam.py
Due: check-torchdist, check-license, check-torchcuda

use double buffer
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Improve _configure_optimizer() final optimizer log
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

[manifest] update mainfest to add hpp file in csrc. (#5522)
  MANIFEST.in
Due: check-torchdist, check-torchcuda

Switch pynvml to nvidia-ml-py
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

Formatting fixes
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

enable phi2 autotp (#5436)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Switch from double quotes to match single quotes
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Switch pynvml to nvidia-ml-py (#5529)
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

Aligned to cuda accelerator
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Switch from double quotes to match single quotes (#5530)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

add the hpp file in deepspeed for deepspeed package
  MANIFEST.in
Due: check-torchdist, check-torchcuda

add hpp file in deepspeed for deepspeed package
  MANIFEST.in
Due: check-torchdist, check-torchcuda

fix comm/ccl.py return issue
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda

Warp_size issue fix on ROCm for JIT builds
  csrc/includes/ds_kernel_utils.h
  deepspeed/inference/v2/kernels/includes/ds_kernel_utils.h
  op_builder/builder.py
Due: check-torchdist, check-license, check-torchcuda

Added comments
  op_builder/builder.py
Due: check-torchdist, check-license

Set default value of rocm_wavefront_size to 32
  op_builder/builder.py
Due: check-torchdist, check-license

Support on all AMD GPUs
  csrc/transformer/inference/csrc/apply_rotary_pos_emb.cu
Due: check-torchdist, check-license, check-torchcuda

Formatting fix
  op_builder/builder.py
Due: check-torchdist, check-license

Warp_size issue fix on ROCm for non-JIT builds
  op_builder/builder.py
Due: check-torchdist, check-license

[manifest] update mainfest to add hpp file in deepspeed. (#5533)
  MANIFEST.in
Due: check-torchdist, check-torchcuda

fixing sweep scripts
  csrc/aio/py_test/run_read_sweep.sh
  csrc/aio/py_test/run_write_sweep.sh
Due: check-torchdist, check-torchcuda

apply suggestion for device type
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

change naive all reduce to symmetric
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

clean up
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

don't use coll_begin set in naive_all_reduce
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

seperate buffer for different algorithm
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

New integration - CometMonitor (#5466)
  deepspeed/monitor/comet.py
  deepspeed/monitor/config.py
  deepspeed/monitor/monitor.py
  deepspeed/monitor/utils.py
  docs/_data/navigation.yml
  docs/_pages/config-json.md
  docs/_tutorials/monitor.md
  docs/assets/images/comet_monitor.png
  docs/code-docs/source/monitor.rst
  requirements/requirements-dev.txt
  tests/unit/monitor/test_monitor.py
Due: check-torchdist, check-license, check-torchcuda

fix
  csrc/fp_quantizer/quantize.cpp
  deepspeed/ops/fp_quantizer/quantize.py
Due: check-torchdist, check-license, check-torchcuda
