Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Use get_accelerator().empty_cache() to clear GPU cache
  tests/unit/inference/test_human_eval.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting and update sed command in GH workflow
  .github/workflows/nv-human-eval.yml
  tests/unit/inference/test_human_eval.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting
  tests/unit/inference/test_human_eval.py
Due: check-torchdist, check-license, check-torchcuda

Fix path in workflow sed
  .github/workflows/nv-human-eval.yml
Due: check-torchdist

Inference V2 Human Eval (#4804)
  .github/workflows/nv-human-eval.yml
  tests/pytest.ini
  tests/unit/inference/test_human_eval.py
Due: check-torchdist, check-license, check-torchcuda

Reduce ds_id name length (#5176)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Update cpu_adam.py
  deepspeed/ops/adam/cpu_adam.py
Due: check-torchdist, check-license, check-torchcuda

Install torch again after ds-chat install
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

Switch to index-url
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Update remaining references to not use --extra-index-url
  .github/workflows/nv-inference.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

Switch cpu-inference workflow from --extra-index-url to --index-url (#5182)
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Pre-commit hook to check for --extra-index-url
  .pre-commit-config.yaml
  scripts/check-extraindexurl.py
Due: check-torchdist, check-license, check-torchcuda

Add script to check for --extra-index-url
  scripts/check-extraindexurl.py
Due: check-torchdist, check-license, check-torchcuda

Update workflows to use --index-url instead of --extra-index-url
  .github/workflows/nv-inference.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

Update version.txt after release
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after v0.13.3 release (#5185)
  version.txt
Due: check-torchdist, check-torchcuda

64bit indexing fused adam
  csrc/adam/multi_tensor_adam.cu
  csrc/adam/multi_tensor_apply.cuh
Due: check-torchdist, check-license, check-torchcuda

Fixes for `--extra-index-url` (#5183)
  .github/workflows/nv-inference.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist

64bit indexing fused adam
  csrc/adam/multi_tensor_adam.cu
Due: check-torchdist, check-license, check-torchcuda

minor fix
  csrc/adam/multi_tensor_adam.cu
Due: check-torchdist, check-license, check-torchcuda

format
  csrc/adam/multi_tensor_adam.cu
  csrc/adam/multi_tensor_apply.cuh
Due: check-torchdist, check-license, check-torchcuda

merge autotp and cpu-inference workflow
  .github/workflows/autotp.yml
  .github/workflows/cpu-inference.yml
Due: check-torchdist

more strict /blob maching
  .github/workflows/cpu-inference.yml
Due: check-torchdist

update nv-inference.yml for launch time op builder detection validation
  .github/workflows/nv-inference.yml
Due: check-torchdist

change accelerator detection logic
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

fallback to gloo when oneccl_binding_for_pytorch is not installed
  accelerator/cpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

allow debug/experimental compiler backends
  deepspeed/runtime/compiler.py
Due: check-torchdist, check-license, check-torchcuda

add a workflow to test opbuilder-update
  .github/workflows/opbuilder-update.yml
Due: check-torchdist

remove triton from dependenc
  .github/workflows/opbuilder-update.yml
Due: check-torchdist

allow debug/experimental compiler backends (#5191)
  deepspeed/runtime/compiler.py
Due: check-torchdist, check-license, check-torchcuda

make ninja compilation off by default, allow user to enable with DS_ENABLE_NINJA
  .github/workflows/nv-pre-compile-ops.yml
  setup.py
Due: check-torchdist, check-license

Update to skip this file
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda

Disable ninja by default (#5194)
  .github/workflows/nv-pre-compile-ops.yml
  setup.py
Due: check-torchdist, check-license

make script executable
  scripts/check-extraindexurl.py
Due: check-torchdist, check-license, check-torchcuda

[CPUAdam] Update full_precision_optimizer_states in docstring (#5181)
  deepspeed/ops/adam/cpu_adam.py
Due: check-torchdist, check-license, check-torchcuda

Add script to check for `--extra-index-url` (#5184)
  .pre-commit-config.yaml
  scripts/check-extraindexurl.py
Due: check-torchdist, check-license, check-torchcuda

Float8Tensor exceptions in ZeRO 1 & 2
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/mixed_precision_linkage.py
  deepspeed/utils/tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.13.4 release (#5196)
  version.txt
Due: check-torchdist, check-torchcuda

fix assertion to run pipeline engine with compiled module
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
