Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Add slide deck for meetup in Japan (#5598)
  docs/assets/files/DeepSpeed-Meetup-May-Japan-2024.pdf
Due: check-torchcuda

Fixed the Windows build. (#5596)
  build_win.bat
  csrc/includes/simd.h
  csrc/quantization/pt_binding.cpp
  setup.py
Due: check-torchdist, check-license, check-torchcuda

fix sequence parallel(Ulysses) grad scale for zero0 (#5555)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Add Compressedbackend for Onebit optimizers (#5473)
  accelerator/xpu_accelerator.py
  csrc/xpu/packbits/packing.cpp
  deepspeed/runtime/comm/compressed.py
  deepspeed/runtime/fp16/onebit/adam.py
  deepspeed/runtime/fp16/onebit/lamb.py
  deepspeed/runtime/fp16/onebit/zoadam.py
  op_builder/xpu/__init__.py
  op_builder/xpu/packbits.py
  tests/onebit/README.md
  tests/onebit/test_compressed_backend.py
  tests/onebit/test_compressed_perf.py
Due: check-torchdist, check-license, check-torchcuda

Fix cuda hardcode for inference woq (#5565)
  deepspeed/inference/quantization/utils.py
Due: check-torchdist, check-license, check-torchcuda

Pin transformers version for MII tests (#5629)
  .github/workflows/nv-mii.yml
Due: check-torchdist

Updated hpu-gaudi2 tests content. (#5622)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

WA for Torch-compile-Z3-act-apt accuracy issue from the Pytorch repo (#5590)
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

Fix overlap communication of ZeRO stage 1 and 2 (#5606)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

stage_1_and_2: optimize clip calculation to use clamp (#5632)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

remove float8 dtype
  deepspeed/linear/quantization.py
Due: check-torchdist, check-license, check-torchcuda

modify a few imports
  accelerator/cuda_accelerator.py
  op_builder/__init__.py
  op_builder/cuda/builder.py
Due: check-torchdist, check-license, check-torchcuda

Compiler test using Bert model
  tests/unit/runtime/compile/test_compiler_correctness.py
Due: check-torchdist, check-license, check-torchcuda

reduce cpu host overhead when using moe
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

fix the issues that cause the epilogue stuck
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

fixes in _partition_param_sec function (#5613)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Tie lm_head to embedding weights
  deepspeed/inference/v2/model_implementations/phi3small/containers.py
  deepspeed/inference/v2/model_implementations/phi3small/model.py
Due: check-torchdist, check-license, check-torchcuda

Add mup_embedding_multiplier
  deepspeed/inference/v2/model_implementations/phi3small/model.py
Due: check-torchdist, check-license, check-torchcuda

Add support for the Phi-3 small model
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/phi3small/__init__.py
  deepspeed/inference/v2/model_implementations/phi3small/containers.py
  deepspeed/inference/v2/model_implementations/phi3small/model.py
  deepspeed/inference/v2/model_implementations/phi3small/policy.py
Due: check-torchdist, check-license, check-torchcuda

Follow comments, remove unneeded codes and syncs.
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Fix memory leak from _hp_mapping
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

fix format
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

pipe/_exec_backward_pass: fix immediate grad update (#5605)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

assumption of torch.initial_seed function accepting seed arg in DeepSpeedAccelerator abstract class is incorrect (#5569)
  accelerator/abstract_accelerator.py
  accelerator/cpu_accelerator.py
  accelerator/cuda_accelerator.py
  accelerator/hpu_accelerator.py
  accelerator/mps_accelerator.py
  accelerator/npu_accelerator.py
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Monitor was always enabled causing performance degradation (#5633)
  deepspeed/monitor/config.py
Due: check-torchdist, check-license, check-torchcuda

Unpin transformers version
  .github/workflows/nv-mii.yml
Due: check-torchdist

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.14.3 release (#5651)
  version.txt
Due: check-torchdist, check-torchcuda

Test with user branch
  .github/workflows/nv-mii.yml
Due: check-torchdist

[CPU] SHM based allreduce improvement for small message size (#5571)
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Update partition_parameters.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Fix BF16 not being built on Win. Fixed consecutive builds on Windows failing.
  op_builder/builder.py
  setup.py
Due: check-torchdist, check-license

replace _get_socket_with_port api
  deepspeed/elasticity/elastic_agent.py
Due: check-license, check-torchcuda

fixing sequence parallel alltoall reshape bug
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

format changes
  deepspeed/runtime/zero/utils.py
Due: check-torchdist, check-license, check-torchcuda

fix idex hardcode
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Update xpu-max1100.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist

add fp16 support to shm allreduce
  csrc/cpu/comm/shm.cpp
  csrc/cpu/comm/shm_interface.cpp
Due: check-torchdist, check-license, check-torchcuda

adapt lazy_call func to different versions
  accelerator/xpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Pin DeepSpeed to a pre-2.0.0 version
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
