Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Revert "Don't check overflow for bf16 data type (#4512)"
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Skip fp16-bloom TestMPSize test
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Pin transformers
  .github/workflows/nv-inference.yml
Due: check-torchdist

fastgen blog
  README.md
  blogs/deepspeed-fastgen/README.md
  blogs/deepspeed-fastgen/assets/images/A6000_benchmark.png
  blogs/deepspeed-fastgen/assets/images/H100_benchmark.png
  blogs/deepspeed-fastgen/assets/images/effective_throughput.png
  blogs/deepspeed-fastgen/assets/images/effective_throughput_main.png
  blogs/deepspeed-fastgen/assets/images/fast-gen-overview.jpg
  blogs/deepspeed-fastgen/assets/images/fastgen-arch-dark.png
  blogs/deepspeed-fastgen/assets/images/fastgen-arch-light.png
  blogs/deepspeed-fastgen/assets/images/fastgen-hero-dark.png
  blogs/deepspeed-fastgen/assets/images/fastgen-hero-light.png
  blogs/deepspeed-fastgen/assets/images/fastgen-overview-dark.png
  blogs/deepspeed-fastgen/assets/images/fastgen-overview-light.png
  blogs/deepspeed-fastgen/assets/images/observation-prompt-v-flops.png
  blogs/deepspeed-fastgen/assets/images/observation-prompt-v-latency.png
  blogs/deepspeed-fastgen/assets/images/repl_scale_llama70b_tp4_p2600g60.png
  blogs/deepspeed-fastgen/assets/images/th_lat_curve_llama70b_tp4_p1200g128.png
  blogs/deepspeed-fastgen/assets/images/th_lat_curve_llama70b_tp4_p2600g128.png
  blogs/deepspeed-fastgen/assets/images/throughput_latency.png
  blogs/deepspeed-fastgen/assets/images/throughput_latency_13B.png
  blogs/deepspeed-fastgen/assets/images/token_latency.png
  docs/index.md
Due: check-torchdist, check-torchcuda

ckpt: add open and close methods to checkpoint engine
  deepspeed/runtime/checkpoint_engine/checkpoint_engine.py
  deepspeed/runtime/checkpoint_engine/nebula_checkpoint_engine.py
  deepspeed/runtime/checkpoint_engine/torch_checkpoint_engine.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.11.2 release (#4609)
  version.txt
Due: check-torchdist, check-torchcuda

swap colors in figures
  blogs/deepspeed-fastgen/assets/images/A6000_benchmark.png
  blogs/deepspeed-fastgen/assets/images/H100_benchmark.png
  blogs/deepspeed-fastgen/assets/images/effective_throughput.png
  blogs/deepspeed-fastgen/assets/images/repl_scale_llama70b_tp4_p2600g60.png
  blogs/deepspeed-fastgen/assets/images/throughput_latency.png
  blogs/deepspeed-fastgen/assets/images/throughput_latency_13B.png
  blogs/deepspeed-fastgen/assets/images/token_latency.png
Due: check-torchdist, check-torchcuda

Update README.md
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda

remove >
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda

Add files via upload
  blogs/deepspeed-fastgen/assets/images/fastgen-hero-dark.png
  blogs/deepspeed-fastgen/assets/images/fastgen-hero-light.png
Due: check-torchdist, check-torchcuda

minor word changes
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda

Local unit tests passing
  op_builder/inference_core_ops.py
  tests/unit/inference/v2/__init__.py
Due: check-torchdist, check-license, check-torchcuda

Pin transformers in nv-inference (#4606)
  .github/workflows/nv-inference.yml
Due: check-torchdist

DeepSpeed-FastGen blog (#4607)
  README.md
  blogs/deepspeed-fastgen/README.md
  blogs/deepspeed-fastgen/assets/images/A6000_benchmark.png
  blogs/deepspeed-fastgen/assets/images/H100_benchmark.png
  blogs/deepspeed-fastgen/assets/images/effective_throughput.png
  blogs/deepspeed-fastgen/assets/images/effective_throughput_main.png
  blogs/deepspeed-fastgen/assets/images/fast-gen-overview.jpg
  blogs/deepspeed-fastgen/assets/images/fastgen-arch-dark.png
  blogs/deepspeed-fastgen/assets/images/fastgen-arch-light.png
  blogs/deepspeed-fastgen/assets/images/fastgen-hero-dark.png
  blogs/deepspeed-fastgen/assets/images/fastgen-hero-light.png
  blogs/deepspeed-fastgen/assets/images/fastgen-overview-dark.png
  blogs/deepspeed-fastgen/assets/images/fastgen-overview-light.png
  blogs/deepspeed-fastgen/assets/images/observation-prompt-v-flops.png
  blogs/deepspeed-fastgen/assets/images/observation-prompt-v-latency.png
  blogs/deepspeed-fastgen/assets/images/repl_scale_llama70b_tp4_p2600g60.png
  blogs/deepspeed-fastgen/assets/images/th_lat_curve_llama70b_tp4_p1200g128.png
  blogs/deepspeed-fastgen/assets/images/th_lat_curve_llama70b_tp4_p2600g128.png
  blogs/deepspeed-fastgen/assets/images/throughput_latency.png
  blogs/deepspeed-fastgen/assets/images/throughput_latency_13B.png
  blogs/deepspeed-fastgen/assets/images/token_latency.png
  docs/index.md
Due: check-torchdist, check-torchcuda

bump to 0.12.0
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.12.0 release (#4611)
  version.txt
Due: check-torchdist, check-torchcuda

add number for latency comparison
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda

Add number for latency comparison (#4612)
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda

Update builder.py
  op_builder/builder.py
Due: check-torchdist, check-license

fix + formatting
  op_builder/builder.py
Due: check-torchdist, check-license

Update minor CUDA version compatibility. (#4613)
  op_builder/builder.py
Due: check-torchdist, check-license

Update version.txt after 0.12.1 release (#4615)
  version.txt
Due: check-torchdist, check-torchcuda

allow cuda mismatch exceptions to be triggered
  op_builder/builder.py
Due: check-torchdist, check-license

Update version.txt after 0.12.2 release (#4617)
  version.txt
Due: check-torchdist, check-torchcuda

set gcc/g++ default to 9 in cpu inference workflow
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Functional PoC
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/engine_v2.py
  deepspeed/inference/v2/inference_parameter.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/common_architectures/__init__.py
  deepspeed/inference/v2/model_implementations/common_parameters/embedding_parameters.py
  deepspeed/inference/v2/model_implementations/common_parameters/invfreq_parameters.py
  deepspeed/inference/v2/model_implementations/common_parameters/moe_parameters.py
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
  deepspeed/inference/v2/model_implementations/inference_model_base.py
  deepspeed/inference/v2/model_implementations/inference_policy_base.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/model_implementations/layer_container_base.py
  deepspeed/inference/v2/model_implementations/llama_v2/llama_v2_containers.py
  deepspeed/inference/v2/model_implementations/llama_v2/llama_v2_policy.py
  deepspeed/inference/v2/model_implementations/mistral/__init__.py
  deepspeed/inference/v2/model_implementations/mistral/policy.py
  deepspeed/inference/v2/model_implementations/opt/__init__.py
  deepspeed/inference/v2/model_implementations/opt/policy.py
  deepspeed/inference/v2/model_implementations/parameter_base.py
  deepspeed/inference/v2/modules/implementations/linear/__init__.py
  deepspeed/inference/v2/modules/implementations/linear/blas_fp_linear.py
  deepspeed/inference/v2/modules/implementations/linear/cutlass_fp_linear.py
  deepspeed/inference/v2/modules/implementations/moe/cutlass_multi_gemm.py
  deepspeed/inference/v2/modules/implementations/post_norm/cuda_post_ln.py
  deepspeed/inference/v2/modules/implementations/pre_norm/cuda_pre_ln.py
  deepspeed/inference/v2/modules/implementations/pre_norm/cuda_pre_rms.py
  deepspeed/inference/v2/modules/interfaces/embedding_base.py
  deepspeed/inference/v2/modules/interfaces/linear_base.py
  deepspeed/inference/v2/modules/interfaces/moe_base.py
  deepspeed/inference/v2/modules/interfaces/post_norm_base.py
  deepspeed/inference/v2/modules/interfaces/pre_norm_base.py
  deepspeed/inference/v2/ragged/csrc/ragged_ops.cpp
  tests/unit/inference/v2/model_implementations/parameters/utils.py
Due: check-torchdist, check-license, check-torchcuda

update flexgen figure
  blogs/deepspeed-fastgen/assets/images/throughput_latency_13B.png
Due: check-torchdist, check-torchcuda

update 13B fig in flexgen blog
  blogs/deepspeed-fastgen/README.md
  blogs/deepspeed-fastgen/assets/images/throughput_latency_13B_no_arrow.png
Due: check-torchdist, check-torchcuda

Fix figure in FlexGen blog (#4624)
  blogs/deepspeed-fastgen/README.md
  blogs/deepspeed-fastgen/assets/images/throughput_latency_13B.png
  blogs/deepspeed-fastgen/assets/images/throughput_latency_13B_no_arrow.png
Due: check-torchdist, check-torchcuda

fix figure for llama2 13B in flexgen blog
  blogs/deepspeed-fastgen/assets/images/throughput_latency_13B_no_arrow.png
Due: check-torchdist, check-torchcuda

Fix figure of llama2 13B in DS-FlexGen blog (#4625)
  blogs/deepspeed-fastgen/assets/images/throughput_latency_13B_no_arrow.png
Due: check-torchdist, check-torchcuda

Update .gitignore
  .gitignore
Due: check-torchdist, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
