Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Remove all other instances of shell=True
  bin/ds_bench
  csrc/aio/py_test/ds_aio_job.py
  deepspeed/comm/comm.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/launcher/multinode_runner.py
  deepspeed/launcher/runner.py
  op_builder/builder.py
  setup.py
  tests/model/BingBertSquad/BingBertSquad_test_common.py
  tests/model/Megatron_GPT2/run_checkpoint_test.py
  tests/model/Megatron_GPT2/test_common.py
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Run formatter since some line lengths changes
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add shell=True back in in order to build in setup.py
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Fix needed for unit tests
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.15.1 release (#6493)
  version.txt
Due: check-torchdist, check-torchcuda

bf16_optimizer + immediate_grad_update: skip grad acc on backward
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

HPU: add required ENV vars to acccelerator init
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix shell security issues
  bin/ds_bench
  csrc/aio/py_test/ds_aio_job.py
  deepspeed/comm/comm.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/launcher/multinode_runner.py
  deepspeed/launcher/runner.py
  op_builder/builder.py
  setup.py
  tests/model/BingBertSquad/BingBertSquad_test_common.py
  tests/model/Megatron_GPT2/run_checkpoint_test.py
  tests/model/Megatron_GPT2/test_common.py
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

HPU: add required ENV vars to acccelerator init (#6495)
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Switch to using socket rather than hostname -I
  deepspeed/comm/comm.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Test with removing instances of hostname -I
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Op_builder->is_compatible quite warning (#6093)
  op_builder/builder.py
  op_builder/cpu/comm.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/npu/async_io.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/sparse_attn.py
  op_builder/spatial_inference.py
  op_builder/transformer_inference.py
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Debug git not found error
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

fix pipeline eval_batch micro_batches argument for schedule (#6484)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix the broken url link
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Fix the broken url link (#6500)
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

fix environment variable export bug for MultiNodeRunner (#5878)
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

engine.py: remove unused get_global_grad_norm
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert "BF16 optimizer: Clear lp grads after updating hp grads in hook (#5328)"
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert "BF16 optimizer: Clear lp grads after updating hp grads in hook" (#6508)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add conditional on torch version for scaled_dot_product_attention
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Override `compile_kwargs['backend']` with `backend` in `engine.compile`
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

wrap include cuda_bf16.h with ifdef BF16_AVAILABLE
  csrc/fp_quantizer/fp_quantize.cu
  csrc/fp_quantizer/includes/fp_quantize.h
Due: check-torchdist, check-license, check-torchcuda

formatting issue
  csrc/fp_quantizer/includes/fp_quantize.h
Due: check-torchdist, check-license, check-torchcuda

wrap include cuda_bf16.h with ifdef BF16_AVAILABLE (#6520)
  csrc/fp_quantizer/fp_quantize.cu
  csrc/fp_quantizer/includes/fp_quantize.h
Due: check-torchdist, check-license, check-torchcuda

Avoid security issues of subprocess shell (#6498)
  bin/ds_bench
  csrc/aio/py_test/ds_aio_job.py
  deepspeed/comm/comm.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/launcher/multinode_runner.py
  deepspeed/launcher/runner.py
  op_builder/builder.py
  setup.py
  tests/model/BingBertSquad/BingBertSquad_test_common.py
  tests/model/Megatron_GPT2/run_checkpoint_test.py
  tests/model/Megatron_GPT2/test_common.py
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add conditional on torch version for scaled_dot_product_attention (#6517)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix dynamo issue in llama
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

cleanup
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

offset updates
  csrc/aio/common/deepspeed_aio_utils.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.cpp
Due: check-torchdist, check-license, check-torchcuda

fix parsing of included device list
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

allow duplicated hostnames
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix for python < 3.8
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Set shuffle=True by default in data_sampler
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update mlu_accelerator.py
  accelerator/mlu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update fused_adam.py
  op_builder/mlu/fused_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix xpu zero-infinity
  csrc/xpu/aio/deepspeed_cpu_op.cpp
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix format
  csrc/xpu/aio/deepspeed_cpu_op.cpp
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
