Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

Update how we install dependencies
  .github/workflows/nv-sd.yml
  requirements/requirements-sd.txt
Due: check-torchdist, check-torchcuda

Fix comparison package install
  .github/workflows/nv-sd.yml
Due: check-torchdist

fix: merge logic branch of xpu and npu
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Fix the openfold training. (#4657)
  csrc/deepspeed4science/evoformer_attn/gemm/custom_mma_multistage.h
  deepspeed/ops/deepspeed4science/evoformer_attn.py
  tests/benchmarks/DS4Sci_EvoformerAttention_bench.py
  tests/unit/ops/deepspeed4science/test_DS4Sci_EvoformerAttention.py
Due: check-torchdist, check-license, check-torchcuda

[CANN] Support cpu offload optimizer for NPU
  csrc/adagrad/cpu_adagrad.cpp
  csrc/adam/cpu_adam_impl.cpp
  csrc/includes/cpu_adagrad.h
  csrc/includes/cpu_adam.h
  csrc/includes/cpu_lion.h
  csrc/lion/cpu_lion_impl.cpp
  deepspeed/env_report.py
  op_builder/npu/__init__.py
  op_builder/npu/builder.py
  op_builder/npu/cpu_adagrad.py
  op_builder/npu/cpu_adam.py
  op_builder/npu/cpu_lion.py
  op_builder/npu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda

remove wait event in timer
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda

add safetensors support
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

Fix for when prompt contains an odd num of apostrophes
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Universal ckp fixes (#4588)
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/fp16/fused_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Explicitly upgrade opencv version
  .github/workflows/nv-sd.yml
Due: check-torchdist

change opencv-python version
  .github/workflows/nv-sd.yml
Due: check-torchdist

Use rmse function, don't save images
  tests/unit/inference/test_stable_diffusion.py
Due: check-torchdist, check-license, check-torchcuda

Update .gitignore [Adding comments , Improved documentation] (#4631)
  .gitignore
Due: check-torchdist, check-torchcuda

Typing cleanup, remove private access
  deepspeed/inference/v2/engine_v2.py
  deepspeed/inference/v2/inference_parameter.py
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
  deepspeed/inference/v2/model_implementations/inference_model_base.py
  deepspeed/inference/v2/model_implementations/layer_container_base.py
Due: check-torchdist, check-license, check-torchcuda

fix a few things with writing and loading the new checkpoint
  deepspeed/inference/v2/inference_parameter.py
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
  deepspeed/inference/v2/model_implementations/layer_container_base.py
Due: check-torchdist, check-license, check-torchcuda

Add documentation on local methods
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
Due: check-torchdist, check-license, check-torchcuda

Scope out changes in unit tests from the CI
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-megatron.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/nv-torch-latest-cpu.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

Add debug prints and -s
  .github/workflows/nv-sd.yml
  tests/unit/inference/test_stable_diffusion.py
Due: check-torchdist, check-license, check-torchcuda

refactor build_hf_engine and expose a new engine-creation
  deepspeed/inference/__init__.py
  deepspeed/inference/v2/__init__.py
  deepspeed/inference/v2/checkpoint/__init__.py
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/common_parameters/qkv_parameters.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/model_implementations/sharding/utils.py
  deepspeed/inference/v2/modules/implementations/embedding/ragged_embedding.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
Due: check-torchdist, check-license, check-torchcuda

small fix
  deepspeed/inference/v2/engine_factory.py
Due: check-torchdist, check-license, check-torchcuda

Add model download script
  .github/workflows/nv-sd.yml
  download_sd_model.py
Due: check-torchdist, check-license, check-torchcuda

Fix syntax
  download_sd_model.py
Due: check-torchdist, check-license, check-torchcuda

Fix UNET and VAE implementations for new diffusers version
  deepspeed/model_implementations/diffusers/unet.py
  deepspeed/model_implementations/diffusers/vae.py
Due: check-torchdist, check-license

Fix formatting
  deepspeed/model_implementations/diffusers/unet.py
Due: check-torchdist, check-license

Update lr_schedules.py (#4563)
  deepspeed/runtime/lr_schedules.py
  tests/unit/runtime/test_lr_schedulers.py
Due: check-torchdist, check-license, check-torchcuda

Unit test implementation
  deepspeed/inference/v2/allocator.py
  deepspeed/inference/v2/checkpoint/__init__.py
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/common_parameters/qkv_parameters.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/model_implementations/sharding/utils.py
  deepspeed/inference/v2/modules/implementations/embedding/ragged_embedding.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  tests/unit/inference/v2/model_implementations/parameters/test_contiguify.py
  tests/unit/inference/v2/model_implementations/parameters/test_layer_inheritance.py
  tests/unit/inference/v2/model_implementations/parameters/utils.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/layer_container_base.py
  tests/unit/inference/v2/model_implementations/parameters/test_contiguify.py
  tests/unit/inference/v2/model_implementations/parameters/test_mapping.py
Due: check-torchdist, check-license, check-torchcuda

Remove debug code
  deepspeed/inference/v2/model_implementations/common_parameters/embedding_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Remove unused files
  deepspeed/inference/v2/modules/implementations/moe/gate_fn.py
  deepspeed/inference/v2/modules/implementations/moe/test.py
Due: check-torchdist, check-license, check-torchcuda

Engine factor documentation
  deepspeed/inference/v2/engine_factory.py
Due: check-torchdist, check-license, check-torchcuda

Update .gitignore
  .gitignore
Due: check-torchdist, check-torchcuda

fix formatting
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

universal-ckp: support megatron-deepspeed llama model
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Fix UNET and VAE implementations for new diffusers version (#4663)
  deepspeed/model_implementations/diffusers/unet.py
  deepspeed/model_implementations/diffusers/vae.py
Due: check-torchdist, check-license

Update triton version used
  .github/workflows/nv-sd.yml
  download_sd_model.py
Due: check-torchdist, check-license, check-torchcuda

Remove debug print statements
  tests/unit/inference/test_stable_diffusion.py
Due: check-torchdist, check-license, check-torchcuda

fix num_kv_heads sharding in autoTP for the new in-repo Falcon-40B (#4654)
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

remove -s
  .github/workflows/nv-sd.yml
Due: check-torchdist

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
