Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Update linear.py compatible with torch 2.4.0
  deepspeed/runtime/zero/linear.py
Due: check-torchdist, check-license, check-torchcuda

Update linear.py fix a letter bug
  deepspeed/runtime/zero/linear.py
Due: check-torchdist, check-license, check-torchcuda

update CPU setup guide
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

finetune link
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Get rocm version from /opt/rocm/.info/version
  op_builder/builder.py
Due: check-torchdist, check-license

add cuda lib path to linker
  op_builder/builder.py
Due: check-torchdist, check-license

centering captions
  blogs/deepspeed-gds/README.md
Due: check-torchdist, check-torchcuda

Fix op_builder for CUDA 12.5 (#5806)
  op_builder/builder.py
Due: check-torchdist, check-license

Warn is backend does not support mesh device, fail fast if seq parallel group is not set
  deepspeed/comm/comm.py
  deepspeed/utils/groups.py
Due: check-torchdist, check-license, check-torchcuda

Repalce cuda with get_accelerator, set minimum torch version for device mesh
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda

Find ROCm on Fedora (#5705)
  op_builder/builder.py
Due: check-torchdist, check-license

Test with updates to autocast
  deepspeed/runtime/zero/linear.py
Due: check-torchdist, check-license, check-torchcuda

Fix CPU Adam JIT compilation (#5780)
  op_builder/builder.py
Due: check-torchdist, check-license

ds lora injection api support (#8)
  deepspeed/linear/__init__.py
  deepspeed/linear/config.py
  deepspeed/linear/context_manager.py
  deepspeed/linear/optimized_linear.py
Due: check-torchdist, check-license, check-torchcuda

Compatible with older torch
  deepspeed/runtime/zero/linear.py
Due: check-torchdist, check-license, check-torchcuda

add intel xpu (#43)
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

GDS AIO Blog (#5817)
  blogs/deepspeed-gds/README.md
  blogs/deepspeed-gds/media/figure1.png
  blogs/deepspeed-gds/media/figure2.png
  blogs/deepspeed-gds/media/figure3.png
  blogs/deepspeed-gds/media/table1.png
Due: check-torchdist, check-torchcuda

[ROCm] Get rocm version from /opt/rocm/.info/version (#5815)
  op_builder/builder.py
Due: check-torchdist, check-license

sequence parallel with communication overlap (#5691)
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

Update to ROCm6 (#5491)
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Add fp16 support of Qwen1.5MoE models (A2.7B) to DeepSpeed-FastGen (#5403)
  blogs/deepspeed-fastgen/README.md
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/kernels/ragged_ops/includes/top_k_utils.h
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/container.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/model.py
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/policy.py
  deepspeed/inference/v2/modules/implementations/moe/cutlass_multi_gemm.py
Due: check-torchdist, check-license, check-torchcuda

Link GDS blog to site
  blogs/deepspeed-gds/README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

Use accelerator to replace cuda in setup and runner (#5769)
  deepspeed/launcher/runner.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda

Link GDS blog to site (#5820)
  blogs/deepspeed-gds/README.md
  docs/index.md
Due: check-torchdist, check-torchcuda

fix CPU `art
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Fix NV references
  blogs/deepspeed-gds/README.md
Due: check-torchdist, check-torchcuda

Fix typo
  blogs/deepspeed-gds/README.md
  docs/Gemfile
Due: check-torchdist, check-torchcuda

Remove Gemfile
  docs/Gemfile
Due: check-torchcuda

Non-reentrant checkpointing hook fix (#5781)
  deepspeed/runtime/activation_checkpointing/checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

Fix NV references (#5821)
  blogs/deepspeed-gds/README.md
  docs/Gemfile
Due: check-torchdist, check-torchcuda

Add unit tests
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda

update
  deepspeed/.github/workflows/amd-mi200.yml
  deepspeed/.github/workflows/nv-mii.yml
  deepspeed/blogs/deepspeed-fastgen/README.md
  deepspeed/blogs/deepspeed-gds/README.md
  deepspeed/blogs/deepspeed-gds/media/figure1.png
  deepspeed/blogs/deepspeed-gds/media/figure2.png
  deepspeed/blogs/deepspeed-gds/media/figure3.png
  deepspeed/blogs/deepspeed-gds/media/table1.png
  deepspeed/csrc/fp_quantizer/fp_quantize.cpp
  deepspeed/deepspeed/inference/v2/model_implementations/qwen_v2_moe/__init__.py
  deepspeed/deepspeed/inference/v2/model_implementations/qwen_v2_moe/container.py
  deepspeed/deepspeed/inference/v2/model_implementations/qwen_v2_moe/model.py
  deepspeed/deepspeed/inference/v2/model_implementations/qwen_v2_moe/policy.py
  deepspeed/deepspeed/ops/fp_quantizer/fp8_gemm.py
  deepspeed/deepspeed/sequence/layer.py
  deepspeed/docs/_tutorials/onebit-adam.md
  deepspeed/docs/_tutorials/onebit-lamb.md
  deepspeed/docs/_tutorials/zero-one-adam.md
  deepspeed/docs/index.md
  deepspeed/inference/v2/model_implementations/qwen_v2_moe/__init__.py
  deepspeed/op_builder/builder.py
  deepspeed/op_builder/fp_quantizer.py
  deepspeed/setup.py
  deepspeed/tests/unit/inference/test_inference.py
  deepspeed/tests/unit/linear/test_quant_param.py
  deepspeed/tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda

fix the bug of deepspeed sequence parallel working with batch size larger than 1
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

Fix missing ds_id bug
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

DeepSpeed on Windows blog
  blogs/windows/08-2024/README.md
  blogs/windows/08-2024/media/bert_training.png
  blogs/windows/08-2024/media/cifar10_training.png
  blogs/windows/08-2024/media/ds_report.png
  blogs/windows/08-2024/media/llama2-7b_inference.png
  blogs/windows/08-2024/media/opt125m_finetuning.png
Due: check-torchdist, check-torchcuda

Fix docs building guide
  docs/Gemfile
  docs/README.md
Due: check-torchcuda

Fix typos
  blogs/windows/08-2024/README.md
  docs/Gemfile
Due: check-torchdist, check-torchcuda

update _configure_lr_scheduler to first check lr scheduler passed in then use config file defined lr scheduler
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda
