Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Pydantic v2 migration (#5167)
  .github/workflows/nv-a6000.yml
  deepspeed/comm/config.py
  deepspeed/inference/config.py
  deepspeed/inference/v2/config_v2.py
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
  deepspeed/inference/v2/ragged/manager_configs.py
  deepspeed/monitor/config.py
  deepspeed/pydantic_v1.py
  deepspeed/runtime/config_utils.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/offload_config.py
  deepspeed/runtime/zero/stage_1_and_2.py
  requirements/requirements-readthedocs.txt
  requirements/requirements.txt
  tests/unit/inference/v2/ragged/test_manager_configs.py
  tests/unit/runtime/test_ds_config_dict.py
  tests/unit/runtime/test_ds_config_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add Huawei Ascend NPU setup guide (#6445)
  .pre-commit-config.yaml
  docs/_tutorials/accelerator-abstraction-interface.md
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchdist, check-torchcuda, check-extraindexurl

Dtype support check for accelerator in UTs (#6360)
  tests/unit/inference/test_checkpoint_sharding.py
  tests/unit/inference/test_model_profiling.py
  tests/unit/ops/transformer/inference/inference_test_utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Store/Load CIFAR from local/offline (#6390)
  tests/unit/alexnet_model.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert "Revert "Fix torch check (#6402)""
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Revert "Fix torch check (#6402)"
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add documentation for launcher without SSH (#6455)
  docs/_tutorials/getting-started.md
Due: check-torchcuda

Avoid gds build errors on ROCm (#6456)
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Change GDS to 1 AIO thread (#6459)
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
Due: check-torchdist, check-license, check-torchcuda

Allow triton==3.0.x for fp_quantizer (#6447)
  op_builder/fp_quantizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

TestLowCpuMemUsage UT get device by device_name (#6397)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add the accelerator setup guide link in Getting Started page (#6452)
  docs/_tutorials/getting-started.md
Due: check-torchcuda

[CCL] fix condition issue in ccl.py (#6443)
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda, check-extraindexurl

DeepNVMe tutorial (#6449)
  .pre-commit-config.yaml
  blogs/deepspeed-gds/README.md
  docs/_data/navigation.yml
  docs/_tutorials/accelerator-abstraction-interface.md
  docs/_tutorials/accelerator-setup-guide.md
  docs/_tutorials/deepnvme.md
  docs/assets/images/deepnvme_ops_report.png
Due: check-torchdist, check-torchcuda, check-extraindexurl

print warning if actual triton cache dir is on NFS, not just for default (#6487)
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

bf16_optimizer: fixes to different grad acc dtype (#6485)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add workflow to build DS without torch to better test before releases (#6450)
  .github/workflows/no-torch.yml
Due: check-torchdist, check-extraindexurl

Fix patch for parameter partitioning in zero.Init() (#6388)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Safe usage of popen (#6490)
  deepspeed/utils/numa.py
  op_builder/async_io.py
  op_builder/builder.py
  op_builder/npu/async_io.py
  op_builder/xpu/async_io.py
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

DS_BUILD_OPS should build only compatible ops (#6489)
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

Handle an edge case where `CUDA_HOME` is not defined on ROCm systems (#6488)
  op_builder/gds.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.15.1 release (#6493)
  version.txt
Due: check-torchdist, check-torchcuda

Add default value to "checkpoint_folder" in "load_state_dict" of bf16_optimizer (#6446)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

HPU: add required ENV vars to acccelerator init (#6495)
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Op_builder->is_compatible quite warning (#6093)
  op_builder/builder.py
  op_builder/cpu/comm.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/npu/async_io.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/sparse_attn.py
  op_builder/spatial_inference.py
  op_builder/transformer_inference.py
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix environment variable export bug for MultiNodeRunner (#5878)
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix pipeline eval_batch micro_batches argument for schedule (#6484)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix the broken url link (#6500)
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Revert "BF16 optimizer: Clear lp grads after updating hp grads in hook" (#6508)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Added Intel Gaudi to Accelerator Setup Guide (#6543)
  docs/_tutorials/accelerator-setup-guide.md
Due: check-torchcuda

Add conditional on torch version for scaled_dot_product_attention (#6517)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

wrap include cuda_bf16.h with ifdef BF16_AVAILABLE (#6520)
  csrc/fp_quantizer/fp_quantize.cu
  csrc/fp_quantizer/includes/fp_quantize.h
Due: check-torchdist, check-license, check-torchcuda

Avoid security issues of subprocess shell (#6498)
  bin/ds_bench
  csrc/aio/py_test/ds_aio_job.py
  deepspeed/comm/comm.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/launcher/multinode_runner.py
  deepspeed/launcher/runner.py
  op_builder/builder.py
  setup.py
  tests/model/BingBertSquad/BingBertSquad_test_common.py
  tests/model/Megatron_GPT2/run_checkpoint_test.py
  tests/model/Megatron_GPT2/test_common.py
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix gradient accumulation for Z2+offload (#6550)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[Accelerator] Cambricon MLU support (#6472)
  accelerator/mlu_accelerator.py
  accelerator/real_accelerator.py
  op_builder/mlu/__init__.py
  op_builder/mlu/builder.py
  op_builder/mlu/cpu_adagrad.py
  op_builder/mlu/cpu_adam.py
  op_builder/mlu/fused_adam.py
  op_builder/mlu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Skip failing newly added tests in accelerate (#6574)
  .github/workflows/nv-accelerate-v100.yml
Due: check-torchdist, check-extraindexurl

Use msgpack for p2p comm (#6547)
  deepspeed/runtime/pipe/p2p.py
  requirements/requirements.txt
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

DeepNVMe perf tuning (#6560)
  bin/ds_io
  bin/ds_nvme_tune
  deepspeed/nvme/__init__.py
  deepspeed/nvme/ds_aio_args.py
  deepspeed/nvme/ds_aio_basic.py
  deepspeed/nvme/ds_aio_handle.py
  deepspeed/nvme/ds_aio_job.py
  deepspeed/nvme/parse_nvme_stats.py
  deepspeed/nvme/perf_generate_param.py
  deepspeed/nvme/perf_run_sweep.py
  deepspeed/nvme/perf_sweep_utils.py
  deepspeed/nvme/test_ds_aio.py
  deepspeed/nvme/test_ds_aio_utils.py
  deepspeed/nvme/validate_async_io.py
  docs/_tutorials/deepnvme.md
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix errors when setting zero3 leaf modules with torch.compile (#6564)
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[XPU] Support DeepNVMe new code structure (#6532)
  csrc/xpu/aio/deepspeed_cpu_op.cpp
  op_builder/xpu/async_io.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
