Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Update deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

fix multiple definition while building evoformer
  csrc/deepspeed4science/evoformer_attn/attention_cu.cu
  op_builder/evoformer_attn.py
Due: check-torchdist, check-license, check-torchcuda

Add missing RocBlas include
  csrc/includes/cublas_wrappers.h
Due: check-torchdist, check-license, check-torchcuda

Docs
  docs/code-docs/source/model-checkpointing.rst
Due: check-torchcuda

pipe engine _aggregate_total_loss: more efficient loss concatenation (#4327)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

Update .readthedocs.yml
  .readthedocs.yml
Due: check-torchdist, check-torchcuda

Update requirements-readthedocs.txt
  requirements/requirements-readthedocs.txt
Due: check-torchdist, check-torchcuda

Fix RTD builds (#4558)
  .readthedocs.yml
  requirements/requirements-readthedocs.txt
Due: check-torchdist, check-torchcuda

Add missing RocBlas include (#4557)
  csrc/includes/cublas_wrappers.h
Due: check-torchdist, check-license, check-torchcuda

add adam timer
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Gma/fix cpu inference local (#19)
  .github/workflows/cpu-inference.yml
  docs/_tutorials/accelerator-abstraction-interface.md
Due: check-torchdist

change cpu inference test to self hosted v100 runner
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Update lr_schedules.py
  deepspeed/runtime/lr_schedules.py
Due: check-torchdist, check-license, check-torchcuda

Allow users to set/override sp comm data type from ds config
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting
  deepspeed/runtime/config.py
Due: check-torchdist, check-license, check-torchcuda

Fix docs
  docs/code-docs/source/model-checkpointing.rst
Due: check-torchcuda

Enable universal checkpoint for zero stage 1 (#4516)
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
  docs/code-docs/source/model-checkpointing.rst
Due: check-torchdist, check-license, check-torchcuda

Remove specifier?
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

[AutoTP] Make AutoTP work when num_heads not divisible by number of workers (#4011)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/auto_tp_model_utils.py
  deepspeed/module_inject/fusedqkv_utils.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/tp_shard.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Test SD with updated Triton
  .github/workflows/nv-inference.yml
  deepspeed/ops/transformer/inference/triton_ops.py
  requirements/requirements-sd.txt
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Fix the sequence-parallelism for the dense model architecture (#4530)
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

engine.py - save_checkpoint: only rank-0 should create the save dir (#4536)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

feat: Add npu support for tests/unit/common.py
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

feat: Add npu support for skip_on_cuda in tests/unit/util.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

feat: Add npu support for skip_on_arch in tests/unit/util.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Added __HIP_PLATFORM_AMD__=1
  op_builder/builder.py
Due: check-torchdist, check-license

fix format, and add unit test
  deepspeed/runtime/lr_schedules.py
  tests/unit/runtime/test_lr_schedulers.py
Due: check-torchdist, check-license, check-torchcuda

Update stage3.py
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Running on self-hosted cpu rather than cuda machine.
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Remove PP Grad Tail Check (#2538)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

flash attention updated based on triton2.1
  deepspeed/ops/transformer/inference/triton_ops.py
Due: check-torchdist, check-license, check-torchcuda

Added __HIP_PLATFORM_AMD__=1 (#4570)
  op_builder/builder.py
Due: check-torchdist, check-license

upgrade triton version
  requirements/requirements-sd.txt
Due: check-torchdist, check-torchcuda

fix multiple definition while building evoformer (#4556)
  csrc/deepspeed4science/evoformer_attn/attention_cu.cu
  op_builder/evoformer_attn.py
Due: check-torchdist, check-license, check-torchcuda

fix syntax for test script
  deepspeed/runtime/lr_schedules.py
  tests/unit/runtime/test_lr_schedulers.py
Due: check-torchdist, check-license, check-torchcuda

feat: Set_device of accelerator before deepspeed.init_distributed
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

fix test instance
  deepspeed/runtime/lr_schedules.py
  tests/unit/runtime/test_lr_schedulers.py
Due: check-torchdist, check-license, check-torchcuda

Update ccl.py
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda

Add more weight only quantization algorithms into DeepSpeed inference.
  deepspeed/inference/config.py
  deepspeed/inference/quantization/quantization.py
Due: check-torchdist, check-license, check-torchcuda
