Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: python
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: python
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
        exclude: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=youn,unsupport,noe',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--config=.flake8']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: python
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-extraindexurl
        name: check-extraindexurl
        entry: ./scripts/check-extraindexurl.py
        language: python
        files: \.(yml|yaml|sh|py)$
        exclude: ^(scripts/check-extraindexurl.py)

Update code owners
  CODEOWNERS
Due: check-torchdist, check-torchcuda

Add arctic model support by adding w2 to all_reduce (#6856)
  deepspeed/module_inject/auto_tp.py
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update code owners (#6890)
  CODEOWNERS
Due: check-torchdist, check-torchcuda

Formatting fixes
  deepspeed/sequence/cross_entropy.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.16.2 release (#6893)
  version.txt
Due: check-torchdist, check-torchcuda

fix act recomp test
  tests/unit/runtime/activation_checkpointing/test_activation_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Copy #6674
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

update yuan
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

hpu_accelerator: use torch.use_deterministic_algorithms
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update xpu-max1100.yml
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

optimize usage of move function
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refine args usage
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

format
  deepspeed/__init__.py
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

zero1 compatible
  deepspeed/inference/engine.py
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/runtime/engine.py
  deepspeed/utils/groups.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow to compile collective for PT>2.3
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

Remove errant instance of torch_minor_version
  tests/unit/ops/transformer/inference/test_bias_add.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow to compile collective for PT>2.3 (#6899)
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

Remove another instance of inference_module
  tests/unit/ops/transformer/inference/test_matmul.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Test with the changes from inference_ops
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

handle callable types in init mark
  deepspeed/__init__.py
  tests/unit/runtime/test_ds_initialize.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Zero2: avoid graph breaks in torch.compile by using param_idx (#6803)
  deepspeed/runtime/zero/stage_1_and_2.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

hpu_accelerator: use torch.use_deterministic_algorithms (#6897)
  accelerator/hpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

remove wa
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix cpu device name
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix lm-head
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add detach
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix ipex intergration
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update Gaudi2 jobs to latest 1.19 build
  .github/workflows/hpu-gaudi2-nightly.yml
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist, check-extraindexurl

[BUG FIX]:fix get torch.version.cuda error when cuda is None in rocm
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Move ROCm torch branch check into get_cuda_compile_flag
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

fix tied_embedding
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Move the condition outside the loop
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

update condition&comments
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Swap the order of the conditions
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add fp8_gemm fallback for non-triton systems
  deepspeed/ops/fp_quantizer/__init__.py
  deepspeed/ops/fp_quantizer/fp8_gemm.py
  deepspeed/ops/fp_quantizer/fp8_gemm_triton.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl
