Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

fix teardown
  tests/conftest.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add condition of cleaning
  tests/conftest.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add test
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

move call to set device
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix world size
  tests/unit/comm/test_dist.py
Due: check-license, check-torchcuda, check-extraindexurl

Test clearing cache to help tests pass
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Remove clear cache
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Update checkout action to latest version (#5021)
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-lightning-v100.yml
  .github/workflows/nv-torch110-p40.yml
  .github/workflows/nv-torch110-v100.yml
Due: check-torchdist, check-extraindexurl

moving offset to last argument
  csrc/aio/py_lib/py_ds_aio.cpp
  csrc/gds/py_lib/py_ds_gds.cpp
Due: check-torchdist, check-license, check-torchcuda

add cleaning of global state
  tests/unit/checkpoint/test_universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

moving offset argumetn
  csrc/aio/py_lib/deepspeed_aio_op_desc.cpp
  csrc/aio/py_lib/deepspeed_aio_op_desc.h
  csrc/aio/py_lib/deepspeed_cpu_op.cpp
  csrc/aio/py_lib/deepspeed_cpu_op.h
  csrc/aio/py_lib/deepspeed_py_io_handle.cpp
  csrc/aio/py_lib/deepspeed_py_io_handle.h
  csrc/gds/py_lib/deepspeed_gds_op.cpp
  csrc/gds/py_lib/deepspeed_gds_op.h
  csrc/gds/py_lib/deepspeed_py_gds_handle.cpp
  csrc/gds/py_lib/deepspeed_py_gds_handle.h
Due: check-torchdist, check-license, check-torchcuda

free engine in uc tests
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add attribute check to support git-base autotp (#6688)
  deepspeed/module_inject/replace_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Switch version back to run on non-debug runners
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

fix memcpy issue on backward for zero-infinity (#6670)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove python 3.7 as transformers doesn't support it anymore
  .github/workflows/python.yml
Due: check-torchdist, check-extraindexurl

Free memory in universal checkpointing tests (#6693)
  tests/unit/checkpoint/test_universal_checkpoint.py
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Test with 4.44.0
  .github/workflows/nv-mii.yml
Due: check-torchdist, check-extraindexurl

Test with v4.43.4
  .github/workflows/nv-mii.yml
Due: check-torchdist, check-extraindexurl

explictly set device when reusing dist env
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

reuse env through session
  tests/conftest.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix issue #6671
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Explictly set device when reusing dist env (#6696)
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix after merge
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix function signature from merge conflicts
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add mpi4py
  .github/workflows/nv-torch-latest-v100.yml
Due: check-torchdist, check-extraindexurl

Update to newer version
  .github/workflows/nv-mii.yml
Due: check-torchdist, check-extraindexurl

Unpin to a certain degree
  .github/workflows/nv-mii.yml
Due: check-torchdist, check-extraindexurl

Update README.md
  README.md
Due: check-torchdist, check-torchcuda

Add test case for Rope
  tests/unit/ops/transformer/inference/test_rope.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add ut(usage)
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

use int type config
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/__init__.py
  deepspeed/utils/z3_leaf_module.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix format
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/utils/z3_leaf_module.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix note
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix formatting issues
  tests/unit/ops/transformer/inference/test_rope.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add license
  tests/unit/ops/transformer/inference/test_rope.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update URL in README Pipeline Status for Huawei Ascend NPU (#6706)
  README.md
Due: check-torchdist, check-torchcuda

Pin transformers to 4.45.2
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Test specific commit
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Update to correct commit
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
