Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Update cpu-inference and nv-inference ttriggers
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-inference.yml
Due: check-torchdist

Update .github/workflows/cpu-inference.yml
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Update nv-inference.yml
  .github/workflows/nv-inference.yml
Due: check-torchdist

Update .github/workflows/nv-inference.yml
  .github/workflows/nv-inference.yml
Due: check-torchdist

Change PR/schedule triggers for CPU-inference (#4924)
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-inference.yml
Due: check-torchdist

fix falcon-40b accuracy issue (#4895)
  deepspeed/module_inject/fusedqkv_utils.py
Due: check-torchdist, check-license, check-torchcuda

refactor config for torch.compile
  deepspeed/runtime/compiler.py
  deepspeed/runtime/engine.py
  tests/unit/runtime/compile/test_config.py
Due: check-torchdist, check-license, check-torchcuda

add support for sequence_data_parallel on MiCS
  deepspeed/runtime/zero/mics.py
Due: check-torchdist, check-license, check-torchcuda

Update to add workflow dispatch
  .github/workflows/nv-torch-nightly-v100.yml
Due: check-torchdist

Refactor the positional emebdding config code (#4920)
  deepspeed/inference/v2/model_implementations/falcon/model.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/model_implementations/llama_v2/model.py
  deepspeed/inference/v2/model_implementations/mistral/model.py
  deepspeed/inference/v2/model_implementations/mixtral/model.py
  deepspeed/inference/v2/model_implementations/opt/model.py
  deepspeed/inference/v2/model_implementations/phi/model.py
  deepspeed/inference/v2/modules/implementations/attention/dense_blocked_attention.py
Due: check-torchdist, check-license, check-torchcuda

Update to 5.7
  .github/workflows/amd-mi200.yml
Due: check-torchdist

explicit permission for GITHUB_TOKEN secret
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

Remove unneeded permissions block from A6000 YML
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Test nv-inference
  .github/workflows/nv-inference.yml
Due: check-torchdist

fix orig_group_numel: move accumulation two lines above
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Revert "Refactor the positional emebdding config code (#4920)"
  deepspeed/inference/v2/model_implementations/falcon/model.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/model_implementations/llama_v2/model.py
  deepspeed/inference/v2/model_implementations/mistral/model.py
  deepspeed/inference/v2/model_implementations/mixtral/model.py
  deepspeed/inference/v2/model_implementations/opt/model.py
  deepspeed/inference/v2/model_implementations/phi/model.py
  deepspeed/inference/v2/modules/implementations/attention/dense_blocked_attention.py
Due: check-torchdist, check-license, check-torchcuda

Triton 2.2.0 causes issues on nv-inferenc
  requirements/requirements-triton.txt
Due: check-torchdist, check-torchcuda

Pin to triton 2.1.0 to fix issues with nv-inference (#4929)
  requirements/requirements-triton.txt
Due: check-torchdist, check-torchcuda

Add support of Qwen models (7b, 14b, 72b) to DeepSpeed-FastGen (#4913)
  blogs/deepspeed-fastgen/README.md
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/qwen/__init__.py
  deepspeed/inference/v2/model_implementations/qwen/container.py
  deepspeed/inference/v2/model_implementations/qwen/model.py
  deepspeed/inference/v2/model_implementations/qwen/policy.py
Due: check-torchdist, check-license, check-torchcuda

DeepSpeedZeroOptimizer: refactor bit16 flattening to support more accelerators (#4833)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Fix confusing width in simd_load (#4714)
  csrc/includes/simd.h
Due: check-torchdist, check-license, check-torchcuda

Specify permissions for secrets.GITHUB_TOKEN (#4927)
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

Enable quantizer op on ROCm (#4114)
  op_builder/quantizer.py
Due: check-torchdist, check-license, check-torchcuda

autoTP for Qwen (#4902)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/fusedqkv_utils.py
Due: check-torchdist, check-license, check-torchcuda

fix RuntimeError: Error building extension 'ragged_device_ops'
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
Due: check-torchdist, check-license, check-torchcuda

allow specifying mii branch for testing
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Allow specifying mii branch for nv-a6000 workflow (#4936)
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Support Triton 2.2+
  requirements/requirements-triton.txt
Due: check-torchdist, check-torchcuda

don't require generation config
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

fix bug
  .github/workflows/nv-a6000.yml
Due: check-torchdist

only run MII-legacy tests for inference changes
  .github/workflows/nv-mii.yml
Due: check-torchdist

Update nv-mii.yml
  .github/workflows/nv-mii.yml
Due: check-torchdist

Only run MII CI for inference changes (#4939)
  .github/workflows/nv-mii.yml
Due: check-torchdist

InfV2 - remove generation config requirement (#4938)
  .github/workflows/nv-a6000.yml
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

cache HF model list in blob storage for CI
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

organize imports
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Update test_inference.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Cache HF model list for inference tests (#4940)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

optimize preprocess for ragged batching
  deepspeed/inference/v2/ragged/ragged_wrapper.py
Due: check-torchdist, check-license, check-torchcuda
