Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

autotp training squash merge
  deepspeed/__init__.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/inference/engine.py
  deepspeed/module_inject/__init__.py
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/load_checkpoint.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/tensor_parallel/__init__.py
  deepspeed/runtime/tensor_parallel/config.py
  deepspeed/runtime/tensor_parallel/tp_manager.py
  deepspeed/runtime/utils.py
  deepspeed/utils/groups.py
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

resolve macos hostname error; pre-commit-reqs
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda, check-extraindexurl

Test with XPU changes
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

autotp training(fix dco) (#7004)
  deepspeed/__init__.py
  deepspeed/comm/comm.py
  deepspeed/comm/torch.py
  deepspeed/inference/engine.py
  deepspeed/module_inject/__init__.py
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/load_checkpoint.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/tensor_parallel/__init__.py
  deepspeed/runtime/tensor_parallel/config.py
  deepspeed/runtime/tensor_parallel/tp_manager.py
  deepspeed/runtime/utils.py
  deepspeed/utils/groups.py
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update CNAME
  docs/CNAME
Due: check-torchcuda

[XPU] max1100 workflow update for docker and softwares (#7003)
  .github/workflows/xpu-max1100.yml
Due: check-torchdist, check-extraindexurl

Fix min loss scale
  tests/unit/runtime/half_precision/test_dynamic_loss_scale.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Enable python 3.11 and 3.12 tests
  .github/workflows/python.yml
Due: check-torchdist, check-extraindexurl

Try clearing tools dir
  .github/workflows/python.yml
Due: check-torchdist, check-extraindexurl

test new CI trigger HPU job
  op_builder/hpu/cpu_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix UTs
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow NVIDIA Blackwell (#6991)
  op_builder/builder.py
  op_builder/fp_quantizer.py
  op_builder/inference_core_ops.py
  op_builder/inference_cutlass_builder.py
  op_builder/ragged_ops.py
  op_builder/ragged_utils.py
  op_builder/transformer_inference.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix typo
  deepspeed/runtime/hybrid_engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Address #4986
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/fp16/loss_scaler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update A6000 workflows to use newer docker container - 24.09 vs 24.03 (#6967)
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-flash-attn.yml
  .github/workflows/nv-human-eval.yml
Due: check-torchdist, check-extraindexurl

generalize deepspeed linear and implement it for non cuda systems (#6932)
  csrc/fp_quantizer/fp_quantize.cpp
  deepspeed/linear/config.py
  deepspeed/linear/quantization.py
  deepspeed/ops/fp_quantizer/quantize.py
  op_builder/fp_quantizer.py
  op_builder/hpu/fp_quantizer.py
  tests/unit/linear/test_linear.py
  tests/unit/linear/test_quant_param.py
  tests/unit/ops/fp_quantizer/test_fp8_gemm.py
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add CUDA 12.8 support and comment on CUDA 12.7 (#6975)
  op_builder/builder.py
Due: check-torchdist, check-license, check-extraindexurl

Precisely track nvme optimizer offload (#6963)
  deepspeed/runtime/engine.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting fixes
  deepspeed/runtime/precision_config.py
  tests/unit/runtime/half_precision/test_zero_optim_overflow.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Using explicit GPU upcast for ZeRO-Offload (#6962)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Unit test and pydantic configuration
  deepspeed/runtime/precision_config.py
  tests/unit/runtime/half_precision/test_zero_optim_overflow.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Pydantic fp16 config
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/precision_config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update torch versions to support 2.6 (#6977)
  .github/workflows/cpu-torch-latest.yml
Due: check-torchdist, check-extraindexurl

Use ds-specific module id to avoid conflicts (#6847)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update recommended Windows whl building versions (#6983)
  README.md
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Specify torchvision in nv-ds-chat workflow (prevents errors with torch 2.6) (#6982)
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Improve overflow handling in ZeRO
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/fp16/loss_scaler.py
  deepspeed/runtime/hybrid_engine.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix typo
  deepspeed/runtime/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.16.3 release (#6965)
  version.txt
Due: check-torchdist, check-torchcuda

Title: Fix setup_env_ranks to Properly Set Environment Variables Instead of Raising Error (#6979)
  deepspeed/launcher/multinode_runner.py
  tests/unit/launcher/test_multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix more typos
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/partition_parameters.py
  tests/unit/runtime/test_ds_config_dict.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Remove unused symbol
  deepspeed/runtime/precision_config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
