Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Revert "Rename test group from amd-test to unit-tests to make rrequired when enabled and running on PRs"
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Update amd-tests to be unit-tests to require on PRs
  .github/workflows/amd-mi200.yml
Due: check-torchdist

Refactor TritonCacheDir class to print warning only once
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda

Remove unnecessary blank line in matmul_ext.py
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda

Make NFS warning print only once (#5345)
  deepspeed/ops/transformer/inference/triton/matmul_ext.py
Due: check-torchdist, check-license, check-torchcuda

resolve KeyError: 'PDSH_SSH_ARGS_APPEND' (#5318)
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda

BF16 optimizer: Clear lp grads after updating hp grads in hook (#5328)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Fix sort of zero checkpoint files (#5342)
  deepspeed/checkpoint/reshape_utils.py
Due: check-torchdist, check-license, check-torchcuda

compute global norm on device
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

code review comments
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

reuse graph code path for norm computation
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

test all
  .github/workflows/xpu.yml
Due: check-torchdist

Update xpu.yml
  .github/workflows/xpu.yml
Due: check-torchdist

Removal of cuda hardcoded string with get_device function
  tests/unit/hybrid_engine/test_he_lora.py
  tests/unit/inference/test_stable_diffusion.py
  tests/unit/ops/transformer/inference/test_attention.py
  tests/unit/ops/transformer/inference/test_gelu.py
  tests/unit/ops/transformer/inference/test_layer_norm.py
  tests/unit/ops/transformer/inference/test_softmax.py
Due: check-torchdist, check-license, check-torchcuda

Removal of cuda hardcoded string with get_device function
  tests/unit/inference/test_stable_diffusion.py
Due: check-torchdist, check-license, check-torchcuda

Fix redundant seq data parallel grp argument in Z3/MiCS
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting issues
  deepspeed/elasticity/elastic_agent.py
Due: check-license, check-torchcuda

ensure capacity does not exceed number of tokens
  deepspeed/moe/sharded_moe.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

small test fixes
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

auto convert moe param groups
  deepspeed/moe/utils.py
  deepspeed/runtime/engine.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

remove unrelated test
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

optimized linear + tests
  deepspeed/linear/__init__.py
  deepspeed/linear/config.py
  deepspeed/linear/optimized_linear.py
  deepspeed/linear/quantization.py
  tests/unit/linear/test_linear.py
Due: check-torchdist, check-license, check-torchcuda

Add `distributed_port` for `deepspeed.initialize` (#5260)
  deepspeed/__init__.py
Due: check-torchdist, check-license, check-torchcuda

Update test_moe.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

fix return value device to match input device
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

Increase CI coverage for Gaudi2 accelerator for every commit except inference v2 tests.
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

fix typo s/simultanenously /simultaneously
  blogs/deepspeed-fp6/03-05-2024/README.md
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

Remove dtype(fp16) condition check for residual_add ctest
  tests/unit/ops/transformer/inference/test_residual_add.py
Due: check-torchdist, check-license, check-torchcuda

Update container version for Gaudi2 CI
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

[fix] fix typo s/simultanenously /simultaneously (#5359)
  blogs/deepspeed-fp6/03-05-2024/README.md
  blogs/deepspeed-ulysses/README.md
Due: check-torchdist, check-torchcuda

Update container version for Gaudi2 CI (#5360)
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Update workflows that use cu116 to cu117
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

compute global norm on device (#5125)
  deepspeed/runtime/utils.py
Due: check-torchdist, check-license, check-torchcuda

Warning msg
  deepspeed/runtime/zero/mics.py
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda
