Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

fix for unit test failure
  deepspeed/inference/v2/model_implementations/layer_container_base.py
Due: check-torchdist, check-license, check-torchcuda

some minor edits
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

reduce time for cloning large repos
  .github/workflows/nv-a6000.yml
Due: check-torchdist

some more editting
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

infV2 fix for OPT size variants (#4694)
  .github/workflows/nv-a6000.yml
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/layer_container_base.py
  deepspeed/inference/v2/model_implementations/opt/container.py
  deepspeed/inference/v2/model_implementations/opt/policy.py
Due: check-torchdist, check-license, check-torchcuda

adjust fig width
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

multinode_runner.py: modify mpich runner to use launcher_helper launcher_helper.py: init script to map env variables
  deepspeed/launcher/launcher_helper.py
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda

address Tunji's comments
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

change intro to make the sections more connected
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

Remove unneeded dict reinit
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

Add get and set APIs for the ZeRO-3 partitioned parameters (#4681)
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/__init__.py
  deepspeed/utils/tensor_fragment.py
  docs/code-docs/source/zero3.rst
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

Remove unneeded dict reinit (fix for #4565) (#4702)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

remove the convergence part to be added in a following update
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

use sudo to install conda package
  .github/workflows/cpu-inference.yml
Due: check-torchdist

add some minor fixes
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

Use F.linear for LinearLayer & LinearAllreduce
  deepspeed/module_inject/layers.py
Due: check-torchdist, check-license, check-torchcuda

add simple layout for creating multi-dimensional parallelism
  deepspeed/comm/layout.py
Due: check-license, check-torchcuda

NVMe offload with checkpointing
  deepspeed/runtime/engine.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
  deepspeed/runtime/swap_tensor/pipelined_optimizer_swapper.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  deepspeed/runtime/engine.py
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

Unneeded import
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

Remove local tmpdir from test
  tests/unit/runtime/zero/test_nvme_checkpointing.py
Due: check-torchdist, check-license, check-torchcuda

Bugfix: handle no swap_optimizer case
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Resolve any '..' in the file paths using os.path.abspath()
  op_builder/builder.py
Due: check-torchdist, check-license

remove prioritize_safetensors argument; fetch .safentensors by default
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

refactor layout
  deepspeed/comm/groups.py
  deepspeed/comm/layout.py
  deepspeed/comm/test_layout.py
Due: check-license, check-torchcuda

fix a bug
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

formatting
  blogs/comm-opt/README.md
  csrc/deepspeed4science/evoformer_attn/gemm/mma_from_smem.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_iterator_atomic.h
  deepspeed/comm/torch.py
  deepspeed/moe/layer.py
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/sequence/layer.py
  deepspeed/utils/groups.py
Due: check-torchdist, check-license, check-torchcuda

judge if bias should be None when calling qkv_func in DeepSppedSelfAttention
  deepspeed/ops/transformer/inference/ds_attention.py
Due: check-torchdist, check-license, check-torchcuda

fix splt shape < 64 issue & add num_kv_heads to mp_params (#33)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/replace_module.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda

ccl issues fix (#32)
  csrc/cpu/comm/ccl.cpp
  deepspeed/comm/ccl.py
Due: check-torchdist, check-license, check-torchcuda

clean up all_reduce_caching path
  deepspeed/comm/ccl.py
Due: check-license, check-torchcuda

fix num_kv_heads sharding in uneven autoTP for Falcon-40b
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

fix uneven issue & add balance autotp
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda

Update blogs/comm-opt/README.md
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

fix clang-format
  csrc/deepspeed4science/evoformer_attn/gemm/mma_from_smem.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_iterator_atomic.h
Due: check-torchdist, check-license, check-torchcuda

Update flops profiler to recurse (#4374)
  deepspeed/profiling/flops_profiler/profiler.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
