Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

remove rank=None
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

hook impl
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

[feat] Add AimMonitor
  deepspeed/monitor/aim.py
  deepspeed/monitor/config.py
  deepspeed/monitor/monitor.py
  deepspeed/monitor/utils.py
  tests/unit/monitor/test_monitor.py
Due: check-torchdist, check-license, check-torchcuda

bring back forward flag for profiling
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
Due: check-torchdist, check-license, check-torchcuda

Fix docs inconsistency on default value for
  docs/_pages/config-json.md
Due: check-torchcuda

Fix docs inconsistency on default value for `ignore_unused_parameters` (#4949)
  docs/_pages/config-json.md
Due: check-torchcuda

Update test_inference.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

add comments to clarify the intention
  deepspeed/inference/v2/ragged/ragged_wrapper.py
Due: check-torchdist, check-license, check-torchcuda

[feat] Update Docs
  blogs/deepspeed-chat/ds-chat-release-8-31/README.md
  docs/_data/navigation.yml
  docs/_pages/config-json.md
  docs/_pages/training.md
  docs/_tutorials/monitor.md
  docs/code-docs/source/monitor.rst
  requirements/requirements-dev.txt
Due: check-torchdist, check-torchcuda

DeepSpeed-FastGen Blog 2 - January 2024
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
Due: check-torchdist, check-torchcuda

Add another TODO
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
Due: check-torchdist, check-torchcuda

Add perf eval sub-section to TOC
  blogs/deepspeed-fastgen/deepspeed-fastgen-1-12-24/README.md
Due: check-torchdist, check-torchcuda

Update the DeepSpeed Phi-2 impl. to work with the HF latest changes
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/phi/model.py
Due: check-torchdist, check-license, check-torchcuda

Fix bug in CI model caching (#4951)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

fix uneven issue & add balance autotp (#4697)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda

Update the Phi-2 weights mapping
  deepspeed/inference/v2/model_implementations/phi/containers.py
  deepspeed/inference/v2/model_implementations/phi/policy.py
Due: check-torchdist, check-license, check-torchcuda

cache kv requirements
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/ragged/sequence_descriptor.py
Due: check-torchdist, check-license, check-torchcuda

disable cache for old python
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
Due: check-torchdist, check-license, check-torchcuda

Optimize preprocess for ragged batching (#4942)
  deepspeed/inference/v2/ragged/ragged_wrapper.py
Due: check-torchdist, check-license, check-torchcuda

pass cache size to lru_cache
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
Due: check-torchdist, check-license, check-torchcuda

Fix bug where ZeRO2 never uses the reduce method. (#4946)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Refactor the Qwen positional emebdding config code
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.cu
  deepspeed/inference/v2/model_implementations/qwen/model.py
Due: check-torchdist, check-license, check-torchcuda

update unit test
  tests/unit/runtime/zero/test_zeropp.py
Due: check-torchdist, check-license, check-torchcuda

add api to get remaining capacity in block
  deepspeed/inference/v2/engine_v2.py
  deepspeed/inference/v2/model_implementations/inference_model_base.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
Due: check-torchdist, check-license, check-torchcuda

add option to skip check in put()
  deepspeed/inference/v2/engine_v2.py
Due: check-torchdist, check-license, check-torchcuda

use int values for kv cache blocks instead of torch tensors
  deepspeed/inference/v2/engine_v2.py
  deepspeed/inference/v2/model_implementations/inference_transformer_base.py
  deepspeed/inference/v2/ragged/kv_cache.py
  deepspeed/inference/v2/ragged/sequence_descriptor.py
Due: check-torchdist, check-license, check-torchcuda

fix condition to skip checking schedulability
  deepspeed/inference/v2/engine_v2.py
Due: check-torchdist, check-license, check-torchcuda

Fix the MoE-params gradient-scaling
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

fix t5 and mistral model load from config meta tensor bug
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

add new autotp supported models
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchcuda

add codellama and mistral
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchcuda

update trigger condition
  .github/workflows/autotp.yml
Due: check-torchdist

change data type to bfloat16
  .github/workflows/autotp.yml
Due: check-torchdist

add probe of runner memory capacity
  .github/workflows/autotp.yml
Due: check-torchdist

[docs] Add new autotp supported model in tutorial (#4960)
  docs/_tutorials/automatic-tensor-parallelism.md
Due: check-torchcuda

Prevent infinite recursion when setting DS_ACCELERATOR to cuda
  accelerator/real_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Add missing op_builder.hpu component
  op_builder/hpu/__init__.py
  op_builder/hpu/builder.py
  op_builder/hpu/cpu_adam.py
  op_builder/hpu/fused_adam.py
  op_builder/hpu/no_impl.py
Due: check-torchdist, check-license, check-torchcuda

fix assert for reduce_scatter configurations combinations
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

add api to stop breaking down modules for parameter fetching
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/utils/__init__.py
  deepspeed/utils/tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
