Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

add UTs for get
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

format code
  deepspeed/runtime/zero/stage3.py
  deepspeed/utils/tensor_fragment.py
  tests/unit/runtime/zero/test_zero_tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

new argument prioritize_safetensors; no more duplicate downloads
  deepspeed/inference/v2/checkpoint/huggingface_engine.py
Due: check-torchdist, check-license, check-torchcuda

Inference changes for incorporating meta loading checkpoint
  deepspeed/inference/engine.py
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

Test with Cuda 116
  .github/workflows/nv-mii.yml
Due: check-torchdist

Switch to Torch 2.1.0
  .github/workflows/nv-mii.yml
Due: check-torchdist

Specify version
  .github/workflows/nv-mii.yml
Due: check-torchdist

Move back to cu118, switch to pip
  .github/workflows/nv-mii.yml
Due: check-torchdist

Switch back to as it was
  .github/workflows/nv-mii.yml
Due: check-torchdist

Add whitespace to run this test
  .github/workflows/nv-mii.yml
Due: check-torchdist

Fix for when prompt contains an odd num of apostrophes (#4660)
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

universal-ckp: support megatron-deepspeed llama model (#4666)
  deepspeed/checkpoint/constants.py
  deepspeed/checkpoint/ds_to_universal.py
  deepspeed/checkpoint/universal_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

Ensure all parameters are aligned
  deepspeed/inference/v2/model_implementations/flat_model_helpers.py
Due: check-torchdist, check-license, check-torchcuda

Cpuinfo fix (#30)
  op_builder/xpu/__init__.py
  op_builder/xpu/builder.py
  op_builder/xpu/post_process_fused_adam.sh
Due: check-torchdist, check-license, check-torchcuda

fix imbalance autotp issue (#31)
  deepspeed/module_inject/auto_tp.py
  deepspeed/module_inject/layers.py
  deepspeed/module_inject/tp_shard.py
Due: check-torchdist, check-license, check-torchcuda

fix WarmupCosineLR inverse_log_warm_up math domain error
  deepspeed/runtime/lr_schedules.py
Due: check-torchdist, check-license, check-torchcuda

add readme for the comm-optimization blog
  blogs/comm-opt/README.md
  blogs/comm-opt/assets/images/A6000_benchmark.png
  blogs/comm-opt/assets/images/H100_benchmark.png
  blogs/comm-opt/assets/images/effective_throughput.png
  blogs/comm-opt/assets/images/effective_throughput_main.png
  blogs/comm-opt/assets/images/fast-gen-overview.jpg
  blogs/comm-opt/assets/images/fastgen-arch-dark.png
  blogs/comm-opt/assets/images/fastgen-arch-light.png
  blogs/comm-opt/assets/images/fastgen-hero-dark.png
  blogs/comm-opt/assets/images/fastgen-hero-light.png
  blogs/comm-opt/assets/images/fastgen-overview-dark.png
  blogs/comm-opt/assets/images/fastgen-overview-light.png
  blogs/comm-opt/assets/images/observation-prompt-v-flops.png
  blogs/comm-opt/assets/images/observation-prompt-v-latency.png
  blogs/comm-opt/assets/images/repl_scale_llama70b_tp4_p2600g60.png
  blogs/comm-opt/assets/images/th_lat_curve_llama70b_tp4_p1200g128.png
  blogs/comm-opt/assets/images/th_lat_curve_llama70b_tp4_p2600g128.png
  blogs/comm-opt/assets/images/throughput_latency.png
  blogs/comm-opt/assets/images/throughput_latency_13B_no_arrow.png
  blogs/comm-opt/assets/images/token_latency.png
Due: check-torchdist, check-torchcuda

remove images
  blogs/comm-opt/README.md
  blogs/comm-opt/assets/images/A6000_benchmark.png
  blogs/comm-opt/assets/images/H100_benchmark.png
  blogs/comm-opt/assets/images/effective_throughput.png
  blogs/comm-opt/assets/images/effective_throughput_main.png
  blogs/comm-opt/assets/images/fast-gen-overview.jpg
  blogs/comm-opt/assets/images/fastgen-arch-dark.png
  blogs/comm-opt/assets/images/fastgen-arch-light.png
  blogs/comm-opt/assets/images/fastgen-hero-dark.png
  blogs/comm-opt/assets/images/fastgen-hero-light.png
  blogs/comm-opt/assets/images/fastgen-overview-dark.png
  blogs/comm-opt/assets/images/fastgen-overview-light.png
  blogs/comm-opt/assets/images/observation-prompt-v-flops.png
  blogs/comm-opt/assets/images/observation-prompt-v-latency.png
  blogs/comm-opt/assets/images/repl_scale_llama70b_tp4_p2600g60.png
  blogs/comm-opt/assets/images/th_lat_curve_llama70b_tp4_p1200g128.png
  blogs/comm-opt/assets/images/th_lat_curve_llama70b_tp4_p2600g128.png
  blogs/comm-opt/assets/images/throughput_latency.png
  blogs/comm-opt/assets/images/throughput_latency_13B_no_arrow.png
  blogs/comm-opt/assets/images/token_latency.png
Due: check-torchdist, check-torchcuda

mitigation for oneCCL GLIBCXX_3.4.30 not found issue
  .github/workflows/cpu-inference.yml
Due: check-torchdist

Update requirements.txt
  requirements/requirements.txt
Due: check-torchdist, check-torchcuda

Move the graph_harvesting namespace scope to runtime
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
Due: check-torchdist, check-license, check-torchcuda

fix typo
  deepspeed/runtime/config.py
Due: check-torchdist, check-license, check-torchcuda

add get_last_lr to WarmupCosineLR
  deepspeed/runtime/lr_schedules.py
Due: check-torchdist, check-license, check-torchcuda

Inference changes for incorporating meta loading checkpoint
  deepspeed/module_inject/auto_tp.py
Due: check-torchdist, check-license, check-torchcuda

update docstring
  deepspeed/utils/tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

update the docs
  docs/code-docs/source/zero3.rst
Due: check-torchcuda

correct typo
  docs/code-docs/source/zero3.rst
Due: check-torchcuda

build engine refactor
  deepspeed/inference/v2/__init__.py
  deepspeed/inference/v2/engine_factory.py
Due: check-torchdist, check-license, check-torchcuda

add new unit tests
  .github/workflows/nv-mii.yml
Due: check-torchdist

move new unit tests to a6000 runner
  .github/workflows/nv-a6000.yml
  .github/workflows/nv-mii.yml
Due: check-torchdist

add missing figures
  blogs/comm-opt/README.md
  blogs/comm-opt/assets/images/e+d.png
  blogs/comm-opt/assets/images/sp+fp.png
  blogs/comm-opt/assets/images/sp-conv.png
Due: check-torchdist, check-torchcuda

fix convergence figure
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

fixes issues introduced in #4668
  deepspeed/inference/v2/ragged/ragged_manager.py
  deepspeed/inference/v2/ragged/sequence_descriptor.py
Due: check-torchdist, check-license, check-torchcuda

reduce fig width
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

adjust fig width
  blogs/comm-opt/README.md
Due: check-torchdist, check-torchcuda

fixes for different OPT model size variants
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/layer_container_base.py
  deepspeed/inference/v2/model_implementations/opt/container.py
  deepspeed/inference/v2/model_implementations/opt/policy.py
Due: check-torchdist, check-license, check-torchcuda

[Bug fix] WarmupCosineLR issues (#4688)
  deepspeed/runtime/lr_schedules.py
Due: check-torchdist, check-license, check-torchcuda

Add new MII unit tests (#4693)
  .github/workflows/nv-a6000.yml
Due: check-torchdist

fix format
  docs/code-docs/source/zero3.rst
Due: check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
