Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

git bisect 15ec971b8ec999c6a511debe04ba32c115fb7413
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Rename aio_thread_count
  deepspeed/runtime/swap_tensor/aio_config.py
  deepspeed/runtime/swap_tensor/constants.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
  deepspeed/runtime/swap_tensor/partitioned_param_swapper.py
  deepspeed/runtime/swap_tensor/pipelined_optimizer_swapper.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

git bisect 5f726f8b8e1badacec5a4da1df7150671100c828
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Rename aio_thread_count to intra_op_parallelism (#7056)
  deepspeed/runtime/swap_tensor/aio_config.py
  deepspeed/runtime/swap_tensor/constants.py
  deepspeed/runtime/swap_tensor/optimizer_utils.py
  deepspeed/runtime/swap_tensor/partitioned_optimizer_swapper.py
  deepspeed/runtime/swap_tensor/partitioned_param_swapper.py
  deepspeed/runtime/swap_tensor/pipelined_optimizer_swapper.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

git bisect cb586a39994ae4ca9dfca2993b8e298897fd4e5b
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

add autoTP training zero2 tests (#7049)
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/utils.py
  tests/unit/model_parallelism/test_autotp_training.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

git bisect b45cf0e90afe6273584fa5265cdda1050a6a1c4a
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Fix, bf16 with moe refresh optimizer state from bf16 ckpt errer cause loop dup
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

improve
  docs/_tutorials/getting-started.md
Due: check-torchcuda

fix an outdated doc wrt CUDA_VISIBLE_DEVICES
  docs/_tutorials/getting-started.md
Due: check-torchcuda

Avoid graph breaks caused by inner classes in the backward hooks
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix, bf16 optimizer remove dup loop (#7054)
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

refine the bugfix
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

[create-pull-request] automated change
  version.txt
Due: check-torchdist, check-torchcuda

Update version.txt after 0.16.4 release (#7063)
  version.txt
Due: check-torchdist, check-torchcuda

fix an outdated doc wrt CUDA_VISIBLE_DEVICES (#7058)
  docs/_tutorials/getting-started.md
Due: check-torchcuda

Handle special case of libuv for Windows
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

typo in varaible name
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

use_libuv is only added in torch 2.4+
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

missed not in if statement
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

Test with actual tag for 4.49.0
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Tecorigin sdaa accelerator (#6903)
  accelerator/real_accelerator.py
  accelerator/sdaa_accelerator.py
  op_builder/sdaa/__init__.py
  op_builder/sdaa/builder.py
  op_builder/sdaa/cpu_adam.py
  op_builder/sdaa/fused_adam.py
  op_builder/sdaa/no_impl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Handle special case of libuv for Windows (#7064)
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda, check-extraindexurl

git bisect 0c78ef6cd3907c6f67b073ee59beb4d6cbc57ea4
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist, check-extraindexurl

Update README with info on newest accelerator
  README.md
Due: check-torchdist, check-torchcuda

Update README with info on newest accelerator (#7065)
  README.md
Due: check-torchdist, check-torchcuda

Bug Fix for offload_states API (#7050)
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_offload_states.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix issues with TOCTOU, switch to fstat
  csrc/aio/common/deepspeed_aio_common.cpp
Due: check-torchdist, check-license, check-torchcuda

Update workflows to remove
  .github/workflows/no-torch.yml
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

Add all imports from setup.py to pyproject.toml
  pyproject.toml
Due: check-torchdist, check-torchcuda

Update to specifically build just sdist
  .github/workflows/no-torch.yml
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

Add pip install build
  .github/workflows/no-torch.yml
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

Update other non-docs instances where we call or recommend calling setup.py sdist/bdist_wheel
  build_win.bat
  install.sh
  release/release.sh
  setup.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

conditionally quote env vars
  deepspeed/launcher/multinode_runner.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
