Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

pre-commit hooks
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
Due: check-torchdist, check-license, check-torchcuda

batching config
  deepspeed/runtime/data_pipeline/config.py
  deepspeed/runtime/data_pipeline/constants.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda

Skip 1Bit Compression and sparsegrad tests for HPU. (#5270)
  tests/unit/runtime/half_precision/onebit/test_onebit.py
  tests/unit/runtime/sparse_tensor/test_averaging_sparse_gradients.py
  tests/unit/runtime/sparse_tensor/test_sparse_grads.py
Due: check-torchdist, check-license, check-torchcuda

Enabled LMCorrectness inference tests on HPU. (#5271)
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

Added HPU backend support for torch.compile tests. (#5269)
  tests/unit/runtime/compile/test_compile_wrapper.py
  tests/unit/runtime/compile/test_compile_zero.py
  tests/unit/runtime/compile/test_load_config.py
Due: check-torchdist, check-license, check-torchcuda

final polishing
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda

Test with additional HPU support
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

Enable unit tests
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

pre-commit hooks
  deepspeed/runtime/data_pipeline/config.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda

Formatting
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

Average only valid part of the ipg buffer. (#5268)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Add HPU accelerator support in unit tests. (#5162)
  tests/unit/common.py
Due: check-torchdist, check-license, check-torchcuda

Fix loading a universal checkpoint (#5263)
  deepspeed/checkpoint/universal_checkpoint.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/__init__.py
  deepspeed/utils/tensor_fragment.py
Due: check-torchdist, check-license, check-torchcuda

added line for support contact
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda

cleanup
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

per rank SHM passed
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

Using ring allreduce instead of naive allreduce
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

finetune buffer size and max number of ranks
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

Added tests in Gaudi2 CI.
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Fix pre-commit checks.
  tests/unit/runtime/half_precision/test_dynamic_loss_scale.py
Due: check-torchdist, check-license, check-torchcuda

first iteration, needs testing and debugging on num_threads>1
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
  deepspeed/runtime/data_pipeline/data_sampling/indexed_dataset.py
Due: check-torchdist, check-license, check-torchcuda

sample_seqlen_fn
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda

removed sample_seqlen_fn, should be done in parallel somewhere else
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda

run conversion script
  deepspeed/checkpoint/ds_to_universal.py
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Only run some tests
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

add no-parallel path
  deepspeed/checkpoint/ds_to_universal.py
  tests/unit/checkpoint/test_zero_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

fixed issue when model parallelization is 1 for NCCL 2.19
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

cleanup code
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

Added debug prints.
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

fix hang with >2 ranks
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

use ring_allreduce for bufsize >1MB only
  csrc/cpu/comm/ccl.cpp
Due: check-torchdist, check-license, check-torchcuda

Add more tests
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Formatting on test
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Add more tests and add autotuning requirements
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

More tests
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Add Habana Gaudi2 CI badge to the README
  README.md
Due: check-torchdist, check-torchcuda

Different tests
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

minor bug fixes
  deepspeed/runtime/config.py
  deepspeed/runtime/data_pipeline/config.py
  deepspeed/runtime/data_pipeline/constants.py
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda

read seqlens from DataAnalyzer output
  deepspeed/runtime/data_pipeline/config.py
  deepspeed/runtime/data_pipeline/constants.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
