Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: script

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: script

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: script

remove barrier which is not needed
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

cleanup
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Fix RuntimeError for moe on XPU: tensors found at least two devices (#5519)
  deepspeed/moe/sharded_moe.py
Due: check-license, check-torchcuda

Remove synchronize calls from allgather params (#5516)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

can handle > 16 rank with efficiency
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Remove REPEAT
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Avoid overwrite of compiled module wrapper attributes (#5549)
  deepspeed/runtime/compiler.py
Due: check-torchdist, check-license, check-torchcuda

Small typos in functions set_none_gradients_to_zero (#5557)
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Adapt doc for #4405 (#5552)
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

Update path
  .github/workflows/cpu-inference.yml
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/setup-venv/action.yml
Due: check-torchdist

Add link to FastGen blog
  blogs/deepspeed-fastgen/README.md
Due: check-torchdist, check-torchcuda

Fix fused GatedMLP to comply with inference v2 format
  deepspeed/inference/v2/model_implementations/common_parameters/mlp_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Rename Phi to Phi3
  deepspeed/inference/v2/model_implementations/phi3/containers.py
  deepspeed/inference/v2/model_implementations/phi3/model.py
  deepspeed/inference/v2/model_implementations/phi3/policy.py
Due: check-torchdist, check-license, check-torchcuda

Add support for Microsoft Phi-3 model to DeepSpeed-FastGen
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_kv_rotary_cuda.cu
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/blocked_trained_kv_rotary.py
  deepspeed/inference/v2/kernels/ragged_ops/linear_blocked_kv_rotary/linear_blocked_kv_copy.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/common_parameters/mlp_parameters.py
  deepspeed/inference/v2/model_implementations/phi3/__init__.py
  deepspeed/inference/v2/model_implementations/phi3/containers.py
  deepspeed/inference/v2/model_implementations/phi3/model.py
  deepspeed/inference/v2/model_implementations/phi3/policy.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_kv_copy.py
  tests/unit/inference/v2/kernels/ragged_ops/test_blocked_rotary_emb.py
Due: check-torchdist, check-license, check-torchcuda

Fix formatting
  deepspeed/inference/v2/model_implementations/common_parameters/mlp_parameters.py
  deepspeed/inference/v2/model_implementations/phi3/model.py
Due: check-torchdist, check-license, check-torchcuda

Create README.md
  tests/onebit/README.md
Due: check-torchdist, check-torchcuda

Update to HF_HOME from TRANSFORMERS_CACHE (#4816)
  .github/workflows/cpu-inference.yml
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/setup-venv/action.yml
  tests/unit/inference/test_checkpoint_sharding.py
  tests/unit/inference/test_inference.py
Due: check-torchdist, check-license, check-torchcuda

[INF] DSAttention allow input_mask to have false as value (#5546)
  deepspeed/ops/transformer/inference/ds_attention.py
Due: check-torchdist, check-license, check-torchcuda

Add throughput timer configuration (#5363)
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/utils/config.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda

Add Ulysses DistributedAttention compatibility (#5525)
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

Add hybrid_engine.py as path to trigger the DS-Chat GH workflow
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

clean up state
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

fix distributed allreduce perf
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

remove unnecessary state change
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

double buffer for distributed_naive_all_reduce
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

fix result error
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Add hybrid_engine.py as path to trigger the DS-Chat GH workflow (#5562)
  .github/workflows/nv-ds-chat.yml
Due: check-torchdist

Pre-commit formatting checks
  deepspeed/checkpoint/deepspeed_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda

setting gds block size
  csrc/aio/py_lib/deepspeed_gds_op.cpp
  csrc/aio/py_lib/deepspeed_py_aio_handle.cpp
  csrc/aio/py_test/ds_aio_handle.py
  csrc/aio/py_test/run_read_sweep.sh
Due: check-torchdist, check-license, check-torchcuda

multiparallel copy #1
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

fix readme format
  tests/onebit/README.md
Due: check-torchdist, check-torchcuda

single omp region multi parallel copy
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

fix cuda hardcode
  deepspeed/inference/quantization/utils.py
Due: check-torchdist, check-license, check-torchcuda

add alternaive path
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

remove multi-memcpy which actually cause perf drop
  csrc/cpu/comm/shm.cpp
Due: check-torchdist, check-license, check-torchcuda

Update HPU docker version
  .github/workflows/hpu-gaudi2.yml
Due: check-torchdist

Update to fix sidebar over test
  docs/_sass/minimal-mistakes/_sidebar.scss
Due: check-torchcuda

fix allocation bug
  deepspeed/inference/v2/ragged/blocked_allocator.py
  deepspeed/inference/v2/ragged/kv_cache.py
Due: check-torchdist, check-license, check-torchcuda

Update abstract_accelerator.py
  accelerator/abstract_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Update cpu_accelerator.py
  accelerator/cpu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
