Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

Skip tests on docs-only changes (#3651)
  .github/workflows/cpu-inference.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/python.yml
Due: check-torchdist

Fix local rank mismatch for heterogeneous nodes (#3409)
  deepspeed/launcher/launch.py
Due: check-license, check-torchcuda

Refactor check_enabled root validator in DeepSpeedMonitorConfig (#3616)
  deepspeed/monitor/config.py
Due: check-torchdist, check-license, check-torchcuda

Fixing bf16 test (#3551)
  tests/unit/runtime/half_precision/test_bf16.py
Due: check-torchdist, check-license, check-torchcuda

Update README to add ICS'23 paper (#3687)
  README.md
Due: check-torchdist, check-torchcuda

bump to 0.9.4
  version.txt
Due: check-torchdist, check-torchcuda

fix some typo (#3675)
  accelerator/real_accelerator.py
  blogs/deepspeed-chat/chinese/README.md
  deepspeed/autotuning/tuner/model_based_tuner.py
Due: check-torchdist, check-license, check-torchcuda

[MiCS] [Fix] saving and loading model checkpoint logic for MiCS sharding (#3440)
  deepspeed/comm/torch.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/mics.py
  tests/small_model_debugging/test_mics.sh
  tests/small_model_debugging/test_mics_config.py
  tests/unit/checkpoint/test_mics_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Update megatron.md (#3641)
  docs/_tutorials/megatron.md
Due: check-torchcuda

Expose Consecutive Hysteresis to Users (#3553)
  deepspeed/runtime/config.py
  deepspeed/runtime/constants.py
  deepspeed/runtime/fp16/loss_scaler.py
  docs/_pages/config-json.md
  docs/_pages/training.md
  docs/_tutorials/curriculum-learning.md
Due: check-torchdist, check-license, check-torchcuda

Add Ascend NPU accelerator support (#3595)
  accelerator/npu_accelerator.py
Due: check-torchdist, check-license, check-torchcuda

non-JIT build fix on ROCm (#3638)
  op_builder/builder.py
Due: check-torchdist, check-license

Fix op_builder against PyTorch nightly (#3596)
  op_builder/builder.py
Due: check-torchdist, check-license

fix typo name (#3689)
  deepspeed/module_inject/containers/features/split_qkv.py
Due: check-torchdist, check-license, check-torchcuda

Align InferenceEngine to store ms in _model_times (#3501)
  deepspeed/inference/engine.py
Due: check-torchdist, check-license

Fix incorrectly formatted f string (#3698)
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

fix typo with deepspeed/ (#3547)
  deepspeed/autotuning/autotuner.py
  deepspeed/compression/compress.py
  deepspeed/nebula/constants.py
  deepspeed/runtime/checkpoint_engine/README.md
  deepspeed/runtime/checkpoint_engine/checkpoint_engine.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

flops_profiler: add option recompute_fwd_factor for the case of activation recompute (#3362)
  deepspeed/profiling/config.py
  deepspeed/profiling/constants.py
  deepspeed/profiling/flops_profiler/README.md
  deepspeed/profiling/flops_profiler/profiler.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

allow dict datatype for checkpoints (#3007)
  deepspeed/inference/config.py
Due: check-torchdist, check-license, check-torchcuda

fix typo deepspeed/runtime (#3663)
  deepspeed/runtime/zero/partition_parameters.py
  deepspeed/runtime/zero/stage3.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda

Correct world_size/backend for mpi (#3694)
  deepspeed/comm/backend.py
Due: check-license, check-torchcuda

DS init should not broadcast or move zero.Init models (#3611)
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Typo Correction (#3621)
  docs/_pages/training.md
Due: check-torchcuda

remove deepcopy to avoid incompatible torch.jit.script modules.
  deepspeed/moe/experts.py
  deepspeed/moe/layer.py
  tests/unit/moe/test_moe.py
  tests/unit/simple_model.py
Due: check-torchdist, check-license, check-torchcuda

Fix RuntimeError when using ZeRO Stage3 with mpu: #3564 (#3565)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda

bug fix (#3609)
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda

deepspeed/comm/comm.py: fix typo of warning message (#3636)
  deepspeed/comm/comm.py
Due: check-license, check-torchcuda

he with opt-baseline impl. now works.
  deepspeed/ops/transformer/inference/ds_attention.py
Due: check-torchdist, check-license, check-torchcuda

Fix unit test typo in tests/unit/ops/transformer/inference (#3697)
  tests/unit/ops/transformer/inference/test_layer_norm.py
  tests/unit/ops/transformer/inference/test_rms_norm.py
Due: check-torchdist, check-license, check-torchcuda

single node pdsh sigkill (#3730)
  deepspeed/launcher/runner.py
Due: check-torchdist, check-license, check-torchcuda

Revert "fix typo name (#3689)" (#3702)
  deepspeed/module_inject/containers/features/split_qkv.py
Due: check-torchdist, check-license, check-torchcuda

[Bugfix][CPU] Remove C++ version in CPU OpBuilder (#3643)
  op_builder/cpu/builder.py
Due: check-torchdist, check-license, check-torchcuda

Small tweak on cuda version mismatch documentation (#3706)
  docs/_tutorials/advanced-install.md
Due: check-torchcuda

Update Dockerfile with newer cuda and torch. (#3716)
  docker/Dockerfile
Due: check-torchdist, check-torchcuda

change partititon_name to partition_name (#3700)
  deepspeed/runtime/checkpoint_engine/nebula_checkpoint_engine.py
Due: check-torchdist, check-license, check-torchcuda

DeepSpeed overview in Japanese (#3709)
  docs/_posts/2023-06-07-deepspeed-overview-japanese.md
  docs/assets/files/DeepSpeed_Overview_Japanese_2023Jun7th.pdf
Due: check-torchcuda

Increase tensor creator coverage (#3684)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda

Documentation for DeepSpeed Accelerator Abstraction Interface (#3184)
  .pre-commit-config.yaml
  docs/_tutorials/accelerator-abstraction-interface.md
Due: check-torchdist, check-torchcuda

remove workspace alloc in baseline.
  deepspeed/model_implementations/transformers/ds_opt.py
Due: check-torchdist, check-license, check-torchcuda

Fix typo in name of hybrid engine function (#3704)
  deepspeed/module_inject/containers/features/split_qkv.py
Due: check-torchdist, check-license, check-torchcuda
