Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

removed unnecessary comment
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

better comments
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fixed issue when self.steps_per_print() is None
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

cleaner code
  deepspeed/runtime/data_pipeline/constants.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

cleaner config
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

removed ruff errors on lambda expression
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

cleanup after example
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr_example.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Cleanup
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Cleanup
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Bug fix
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Prepare gradient handling in zero stage 1 & 2
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

bug fixes
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

master in line with remote
  deepspeed/runtime/data_pipeline/data_sampling/indexed_dataset.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

bug fixrs on LR scheduler reset
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

better comment
  deepspeed/runtime/data_pipeline/data_sampling/variable_batch_size_and_lr.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

recovered files from master
  deepspeed/runtime/data_pipeline/data_sampling/indexed_dataset.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix typos in blogs/ (#5172)
  blogs/deepspeed-chat/README.md
  blogs/deepspeed-chat/chinese/README.md
  blogs/deepspeed-chat/japanese/README.md
Due: check-torchdist, check-torchcuda

Write multiple items to output file at once, in distributed data analyzer. (#5169)
  deepspeed/runtime/data_pipeline/data_sampling/data_analyzer.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Switch cpu-inference workflow from --extra-index-url to --index-url (#5182)
  .github/workflows/cpu-inference.yml
Due: check-torchdist, check-extraindexurl

Inference V2 Human Eval (#4804)
  .github/workflows/nv-human-eval.yml
  tests/pytest.ini
  tests/unit/inference/test_human_eval.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Reduce ds_id name length (#5176)
  deepspeed/runtime/zero/stage3.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

allow debug/experimental compiler backends (#5191)
  deepspeed/runtime/compiler.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after v0.13.3 release (#5185)
  version.txt
Due: check-torchdist, check-torchcuda

Disable ninja by default (#5194)
  .github/workflows/nv-pre-compile-ops.yml
  setup.py
Due: check-torchdist, check-license, check-extraindexurl

[CPUAdam] Update full_precision_optimizer_states in docstring (#5181)
  deepspeed/ops/adam/cpu_adam.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Add script to check for `--extra-index-url` (#5184)
  .pre-commit-config.yaml
  scripts/check-extraindexurl.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fixes for `--extra-index-url` (#5183)
  .github/workflows/nv-inference.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-cpu.yml
Due: check-torchdist, check-extraindexurl

Add fp16 support of Qwen1.5 models (0.5B to 72B) to DeepSpeed-FastGen (#5219)
  deepspeed/inference/v2/engine_factory.py
  deepspeed/inference/v2/model_implementations/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2/__init__.py
  deepspeed/inference/v2/model_implementations/qwen_v2/container.py
  deepspeed/inference/v2/model_implementations/qwen_v2/model.py
  deepspeed/inference/v2/model_implementations/qwen_v2/policy.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix assertion to run pipeline engine with a compiled module (#5197)
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Allow specifying MII branch on MII CI (#5208)
  .github/workflows/nv-mii.yml
Due: check-torchdist, check-extraindexurl

[zero++] Synchronize at the end of secondary partitioning and simplify the logic (#5216)
  deepspeed/runtime/zero/partition_parameters.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.13.4 release (#5196)
  version.txt
Due: check-torchdist, check-torchcuda

Rename nv-torch-latest-cpu workflow to cpu-torch-latest (#5226)
  .github/workflows/cpu-torch-latest.yml
  README.md
Due: check-torchdist, check-torchcuda, check-extraindexurl

fix fused_qkv model accuracy issue (#5217)
  deepspeed/module_inject/fusedqkv_utils.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Fix moe cpu offload (#5220)
  deepspeed/runtime/zero/stage_1_and_2.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update version.txt after 0.13.5 release (#5229)
  version.txt
Due: check-torchdist, check-torchcuda

Use `deepspeed.comm` instead of `torch.distributed` (#5225)
  deepspeed/moe/sharded_moe.py
  deepspeed/runtime/comm/coalesced_collectives.py
Due: check-license, check-torchcuda, check-extraindexurl

Update version.txt
  version.txt
Due: check-torchdist, check-torchcuda

MOE gate fixes and enhancements (#5156)
  deepspeed/moe/layer.py
  deepspeed/moe/sharded_moe.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
