Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-symlinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        exclude: docs/CNAME
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf

-   repo: https://gitlab.com/daverona/pre-commit/cpp
    rev: 0.8.0
    hooks:
    -   id: clang-format  # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
        args: []

-   repo: local
    hooks:
    -   id: check-torchdist
        name: check-torchdist
        entry: ./scripts/check-torchdist.py
        language: script
        exclude: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

-   repo: local
    hooks:
    -   id: check-license
        name: check-license
        entry: ./scripts/check-license.py
        language: script
        files: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        args: [
            # Do not check files that are automatically generated
            '--skip=docs/Gemfile.lock,tests/unit/gpt2-merges.txt,tests/unit/gpt2-vocab.json',
            '--ignore-regex=\\n',  # Do not count the 'n' in an escaped newline as part of a word
            '--ignore-words-list=unsupport',  # Word used in error messages that need rewording
            --check-filenames,
            --check-hidden
        ]

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        args: ['--ignore=E,F403,F405,F541,F841,W', '--select=E9,F,W6', '--per-file-ignores=__init__.py:F401']

-   repo: local
    hooks:
    -   id: check-torchcuda
        name: check-torchcuda
        entry: ./scripts/check-torchcuda.py
        language: script
        exclude: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
        # Specific deepspeed/ files are excluded for now until we wrap ProcessGroup in deepspeed.comm

add overflow check
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Support bf16 grads reduce for pipeline
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Support display of MoE loss for Pipeline models
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Fix group for max capacity all-reduce
  deepspeed/moe/layer.py
  deepspeed/moe/sharded_moe.py
  deepspeed/ops/transformer/inference/moe_inference.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Fix loading checkpoint of Pipeline models
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Use backward compatible methods to access tp info
  deepspeed/moe/mappings.py
  deepspeed/moe/sharded_moe.py
  deepspeed/runtime/activation_checkpointing/checkpointing.py
  deepspeed/runtime/bf16_optimizer.py
  deepspeed/runtime/utils.py
  deepspeed/runtime/zero/stage_1_and_2.py
  deepspeed/utils/bwc.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Enhance expert group creation for pipeline
  deepspeed/utils/groups.py
  tests/unit/utils/test_groups.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Enable save MoE checkpoint for Pipeline models
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

MOE: Update global norm calculation for pipeline
  deepspeed/runtime/utils.py
  deepspeed/utils/bwc.py
Due: check-torchdist, check-license, check-torchcuda

Update cuda version being checked
  .github/workflows/nv-nightly.yml
Due: check-torchdist

logger update with torch master changes (#5346)
  deepspeed/elasticity/elastic_agent.py
Due: check-license, check-torchcuda

Ensure capacity does not exceed number of tokens (#5353)
  deepspeed/moe/sharded_moe.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

Add throughput timer configuration
  deepspeed/runtime/config.py
  deepspeed/runtime/engine.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/utils/config.py
  deepspeed/utils/constants.py
  deepspeed/utils/timer.py
Due: check-torchdist, check-license, check-torchcuda

Update workflows that use cu116 to cu117 (#5361)
  .github/workflows/nv-accelerate-v100.yml
  .github/workflows/nv-ds-chat.yml
  .github/workflows/nv-inference.yml
  .github/workflows/nv-mii.yml
  .github/workflows/nv-nightly.yml
  .github/workflows/nv-torch-latest-v100.yml
  .github/workflows/nv-torch-nightly-v100.yml
  .github/workflows/nv-transformers-v100.yml
Due: check-torchdist

force casting to bf16 on forward
  deepspeed/runtime/zero/linear.py
Due: check-torchdist, check-license, check-torchcuda

FP [6,8,12] quantizer op (#5336)
  .github/workflows/nv-pre-compile-ops.yml
  csrc/fp_quantizer/includes/context.h
  csrc/fp_quantizer/includes/quantize.h
  csrc/fp_quantizer/quantize.cpp
  csrc/fp_quantizer/quantize.cu
  csrc/includes/memory_access_utils.h
  csrc/includes/reduction_utils.h
  deepspeed/ops/fp_quantizer/__init__.py
  deepspeed/ops/fp_quantizer/quantize.py
  op_builder/fp_quantizer.py
  requirements/requirements-dev.txt
  tests/unit/ops/fp_quantizer/test_fp_quant.py
Due: check-torchdist, check-license, check-torchcuda

CPU SHM based inference_all_reduce improve (#5320)
  csrc/cpu/comm/ccl.cpp
  csrc/cpu/comm/shm.cpp
  csrc/cpu/comm/shm.h
  op_builder/cpu/comm.py
Due: check-torchdist, check-license, check-torchcuda

Update file that was modified in #5234
  tests/unit/inference/v2/ragged/test_manager_configs.py
Due: check-torchdist, check-license, check-torchcuda

fix dist attn reshape error
  deepspeed/sequence/layer.py
Due: check-torchdist, check-license, check-torchcuda

format fix
  csrc/deepspeed4science/evoformer_attn/gemm/mma_from_smem.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_iterator_atomic.h
  csrc/xpu/common/custom_cuda_kernel.dp.cpp
Due: check-torchdist, check-license, check-torchcuda

Add datastates init and compare with type(ckpt_engine)
  deepspeed/datastates/__init__.py
  deepspeed/runtime/pipe/module.py
Due: check-torchdist, check-license, check-torchcuda

address comments
  deepspeed/moe/utils.py
Due: check-torchdist, check-license, check-torchcuda

MOE: fix style issue in pipe load_module_state_dict
  deepspeed/runtime/pipe/engine.py
Due: check-torchdist, check-license, check-torchcuda

formatting
  deepspeed/moe/utils.py
Due: check-torchdist, check-license, check-torchcuda

Auto convert moe param groups (#5354)
  deepspeed/moe/utils.py
  deepspeed/runtime/engine.py
  tests/unit/moe/test_moe.py
Due: check-torchdist, check-license, check-torchcuda

Update container to newer version rather than updating specific packages
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Send deepspeed config to datastates checkpoint engine
  deepspeed/datastates/config.py
  deepspeed/runtime/checkpoint_engine/datastates_checkpoint_engine.py
  deepspeed/runtime/engine.py
Due: check-torchdist, check-license, check-torchcuda

Revert "Update container to newer version rather than updating specific packages"
  .github/workflows/nv-a6000.yml
Due: check-torchdist

Add comment
  .github/workflows/nv-a6000.yml
Due: check-torchdist

ascend npu visible config env is not CUDA_VISIBLE_DEVICES, it is NPU_VISIBLE_DEVICES and ASCEND_RT_VISIBLE_DEVICES
  deepspeed/launcher/launch.py
Due: check-license, check-torchcuda

Switch to shared function to check torch version
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda

Missing :
  deepspeed/comm/torch.py
Due: check-license, check-torchcuda

add inf nan check, hex printout
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

Remove unused check, was previously moved to deepspeed/runtime/utils.py
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

Remove unused import
  tests/unit/util.py
Due: check-torchdist, check-license, check-torchcuda

raw hex
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

remove group norm=-5
  deepspeed/runtime/bf16_optimizer.py
Due: check-torchdist, check-license, check-torchcuda

format
  .github/workflows/xpu.yml
Due: check-torchdist

Update xpu.yml
  .github/workflows/xpu.yml
Due: check-torchdist

Revert "format fix"
  csrc/deepspeed4science/evoformer_attn/gemm/mma_from_smem.h
  csrc/deepspeed4science/evoformer_attn/iterators/predicated_tile_iterator_atomic.h
  csrc/xpu/common/custom_cuda_kernel.dp.cpp
Due: check-torchdist, check-license, check-torchcuda
