Repository microsoft/DeepSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-torchdist, check-license, check-torchcuda, check-extraindexurl

check-torchdist:
  name: check-torchdist
  entry: ./scripts/check-torchdist.py
  language: python

check-license:
  name: check-license
  entry: ./scripts/check-license.py
  language: python

check-torchcuda:
  name: check-torchcuda
  entry: ./scripts/check-torchcuda.py
  language: python

check-extraindexurl:
  name: check-extraindexurl
  entry: ./scripts/check-extraindexurl.py
  language: python

Use one param coordinator for both train/inference scenarios (#6662)
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/partitioned_param_coordinator.py
  deepspeed/runtime/zero/stage3.py
  tests/unit/runtime/zero/test_zero.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update GH hosted workflows to 24.04
  .github/workflows/cpu-torch-latest.yml
  .github/workflows/formatting.yml
  .github/workflows/no-torch.yml
  .github/workflows/nv-pre-compile-ops.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
Due: check-torchdist, check-extraindexurl

add unit test
  deepspeed/utils/zero_to_fp32.py
  tests/unit/checkpoint/test_convert_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add comments
  tests/unit/checkpoint/test_convert_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix yapf formatting issue
  deepspeed/utils/zero_to_fp32.py
  tests/unit/checkpoint/test_convert_checkpoint.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

update ut
  deepspeed/runtime/zero/parameter_offload.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

udpate
  deepspeed/runtime/zero/parameter_offload.py
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

change config name, refine doc
  deepspeed/runtime/engine.py
  deepspeed/runtime/zero/config.py
  deepspeed/runtime/zero/parameter_offload.py
  deepspeed/runtime/zero/stage3.py
  docs/_pages/config-json.md
  tests/unit/runtime/zero/test_zero_leaf_module.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

fix rjust size
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

format
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update setuptools and yapf version
  .github/workflows/no-torch.yml
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

Update yapf version
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

Update corresponding changes to yapf
  deepspeed/__init__.py
  deepspeed/autotuning/autotuner.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/eigenvalue.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/utils.py
  tests/unit/runtime/zero/test_zero_context.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Formatting fix
  deepspeed/runtime/config.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update flake8 version
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

Actually update the flake8 version
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

add unit test directory as test trigger
  .github/workflows/nv-flash-attn.yml
Due: check-torchdist, check-extraindexurl

Update for failing test
  deepspeed/inference/v2/model_implementations/layer_container_base.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add cron for test and reporting for nightly CI failures
  .github/workflows/nv-flash-attn.yml
Due: check-torchdist, check-extraindexurl

Update yapf version (#6721)
  .pre-commit-config.yaml
  deepspeed/__init__.py
  deepspeed/autotuning/autotuner.py
  deepspeed/elasticity/elastic_agent.py
  deepspeed/module_inject/replace_module.py
  deepspeed/runtime/config.py
  deepspeed/runtime/eigenvalue.py
  deepspeed/runtime/pipe/engine.py
  deepspeed/runtime/utils.py
  tests/unit/runtime/zero/test_zero_context.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update pre-commit version of flake8
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

Revert "Update for failing test"
  deepspeed/inference/v2/model_implementations/layer_container_base.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Update Ubuntu version
  .github/workflows/python.yml
Due: check-torchdist, check-extraindexurl

Update dockerfile with python version 3.11
  docker/Dockerfile.ghrunner
Due: check-torchdist, check-torchcuda

Refactor docker folder
  docker/gh-builder/Dockerfile.py311
  docker/gh-builder/Dockerfile.py312
  docker/rocm/Dockerfile
Due: check-torchdist, check-torchcuda

Fix EOF
  docker/gh-builder/Dockerfile.py311
  docker/gh-builder/Dockerfile.py312
Due: check-torchdist, check-torchcuda

Update docker/gh-builder/Dockerfile.py312
  docker/gh-builder/Dockerfile.py312
Due: check-torchdist, check-torchcuda

Update flake8 version (#6722)
  .pre-commit-config.yaml
Due: check-torchdist, check-torchcuda, check-extraindexurl

rename lazy_mege to lazy_mode; fix Trailing Whitespace
  deepspeed/utils/zero_to_fp32.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

always print info if the config is enabled
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

update
  deepspeed/runtime/zero/parameter_offload.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Switch what versions of python are supported (#5676)
  .github/workflows/python.yml
  docker/gh-builder/Dockerfile.py311
  docker/gh-builder/Dockerfile.py312
  docker/rocm/Dockerfile
Due: check-torchdist, check-torchcuda, check-extraindexurl

add multiGPU fpdt unit test
  deepspeed/sequence/fpdt_layer.py
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

add multiGPU fpdt unit test
  tests/unit/sequence_parallelism/test_ulysses.py
Due: check-torchdist, check-license, check-torchcuda, check-extraindexurl

Path conditions:
  check-torchdist: any file but: ^(deepspeed/comm/|docs/|benchmarks/|scripts/check-torchdist.py|deepspeed/moe/sharded_moe.py|deepspeed/runtime/comm/coalesced_collectives.py|deepspeed/elasticity/elastic_agent.py|deepspeed/launcher/launch.py|tests/unit/comm/test_dist.py)
  check-license: any of: \.(py|c|cpp|cu|cc|h|hpp|cuh|hip|tr)$, but not: ^(deepspeed/inference/v2/kernels/ragged_ops/blocked_flash|deepspeed/inference/v2/kernels/cutlass_ops/grouped_gemm)
  check-torchcuda: any file but: ^(.github/workflows/|scripts/check-torchcuda.py|docs/_tutorials/accelerator-abstraction-interface.md|accelerator/cuda_accelerator.py|deepspeed/inference/engine.py|deepspeed/model_implementations/transformers/clip_encoder.py|deepspeed/model_implementations/diffusers/vae.py|deepspeed/model_implementations/diffusers/unet.py|op_builder/spatial_inference.py|op_builder/transformer_inference.py|op_builder/builder.py|setup.py|tests/unit/ops/sparse_attention/test_sparse_attention.py)
  check-extraindexurl: any of: \.(yml|yaml|sh|py)$, but not: ^(scripts/check-extraindexurl.py)
